Constraint group: Constraint_outflow_iff_needroad
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t1', 'variables': ['flow_timber_node14node2_t1', 'flow_timber_node14node6_t1', 'flow_timber_node14node5_t1', 'flow_timber_node14node10_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t1', 'variables': ['flow_timber_node15node1_t1', 'flow_timber_node15node10_t1', 'flow_timber_node15node5_t1', 'flow_timber_node15node7_t1', 'flow_timber_node15node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t2', 'variables': ['flow_timber_node14node2_t2', 'flow_timber_node14node6_t2', 'flow_timber_node14node5_t2', 'flow_timber_node14node10_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t2', 'variables': ['flow_timber_node15node1_t2', 'flow_timber_node15node10_t2', 'flow_timber_node15node5_t2', 'flow_timber_node15node7_t2', 'flow_timber_node15node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t3', 'variables': ['flow_timber_node14node2_t3', 'flow_timber_node14node6_t3', 'flow_timber_node14node5_t3', 'flow_timber_node14node10_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t3', 'variables': ['flow_timber_node15node1_t3', 'flow_timber_node15node10_t3', 'flow_timber_node15node5_t3', 'flow_timber_node15node7_t3', 'flow_timber_node15node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t4', 'variables': ['flow_timber_node14node2_t4', 'flow_timber_node14node6_t4', 'flow_timber_node14node5_t4', 'flow_timber_node14node10_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t4', 'variables': ['flow_timber_node15node1_t4', 'flow_timber_node15node10_t4', 'flow_timber_node15node5_t4', 'flow_timber_node15node7_t4', 'flow_timber_node15node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t5', 'variables': ['flow_timber_node14node2_t5', 'flow_timber_node14node6_t5', 'flow_timber_node14node5_t5', 'flow_timber_node14node10_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t5', 'variables': ['flow_timber_node15node1_t5', 'flow_timber_node15node10_t5', 'flow_timber_node15node5_t5', 'flow_timber_node15node7_t5', 'flow_timber_node15node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t1', 'variables': ['flow_wide_node14node2_t1', 'flow_wide_node14node6_t1', 'flow_wide_node14node5_t1', 'flow_wide_node14node10_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t1', 'variables': ['flow_wide_node15node1_t1', 'flow_wide_node15node10_t1', 'flow_wide_node15node5_t1', 'flow_wide_node15node7_t1', 'flow_wide_node15node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t2', 'variables': ['flow_wide_node14node2_t2', 'flow_wide_node14node6_t2', 'flow_wide_node14node5_t2', 'flow_wide_node14node10_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t2', 'variables': ['flow_wide_node15node1_t2', 'flow_wide_node15node10_t2', 'flow_wide_node15node5_t2', 'flow_wide_node15node7_t2', 'flow_wide_node15node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t3', 'variables': ['flow_wide_node14node2_t3', 'flow_wide_node14node6_t3', 'flow_wide_node14node5_t3', 'flow_wide_node14node10_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t3', 'variables': ['flow_wide_node15node1_t3', 'flow_wide_node15node10_t3', 'flow_wide_node15node5_t3', 'flow_wide_node15node7_t3', 'flow_wide_node15node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t4', 'variables': ['flow_wide_node14node2_t4', 'flow_wide_node14node6_t4', 'flow_wide_node14node5_t4', 'flow_wide_node14node10_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t4', 'variables': ['flow_wide_node15node1_t4', 'flow_wide_node15node10_t4', 'flow_wide_node15node5_t4', 'flow_wide_node15node7_t4', 'flow_wide_node15node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t5', 'variables': ['flow_wide_node14node2_t5', 'flow_wide_node14node6_t5', 'flow_wide_node14node5_t5', 'flow_wide_node14node10_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t5', 'variables': ['flow_wide_node15node1_t5', 'flow_wide_node15node10_t5', 'flow_wide_node15node5_t5', 'flow_wide_node15node7_t5', 'flow_wide_node15node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
