Constraint group: Constraint_no_inflow_source
Total in this group: 10
Expected: 10

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_959_1', 'variables': ['flow_timber_node4node18_t1', 'flow_timber_node6node18_t1', 'flow_timber_node3node18_t1', 'flow_timber_node1node18_t1', 'flow_timber_node9node18_t1', 'flow_timber_node8node18_t1', 'flow_wide_node4node18_t1', 'flow_wide_node6node18_t1', 'flow_wide_node3node18_t1', 'flow_wide_node1node18_t1', 'flow_wide_node9node18_t1', 'flow_wide_node8node18_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_960_1', 'variables': ['flow_timber_node3node19_t1', 'flow_timber_node4node19_t1', 'flow_timber_node5node19_t1', 'flow_wide_node3node19_t1', 'flow_wide_node4node19_t1', 'flow_wide_node5node19_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_959_2', 'variables': ['flow_timber_node4node18_t2', 'flow_timber_node6node18_t2', 'flow_timber_node3node18_t2', 'flow_timber_node1node18_t2', 'flow_timber_node9node18_t2', 'flow_timber_node8node18_t2', 'flow_wide_node4node18_t2', 'flow_wide_node6node18_t2', 'flow_wide_node3node18_t2', 'flow_wide_node1node18_t2', 'flow_wide_node9node18_t2', 'flow_wide_node8node18_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_960_2', 'variables': ['flow_timber_node3node19_t2', 'flow_timber_node4node19_t2', 'flow_timber_node5node19_t2', 'flow_wide_node3node19_t2', 'flow_wide_node4node19_t2', 'flow_wide_node5node19_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_959_3', 'variables': ['flow_timber_node4node18_t3', 'flow_timber_node6node18_t3', 'flow_timber_node3node18_t3', 'flow_timber_node1node18_t3', 'flow_timber_node9node18_t3', 'flow_timber_node8node18_t3', 'flow_wide_node4node18_t3', 'flow_wide_node6node18_t3', 'flow_wide_node3node18_t3', 'flow_wide_node1node18_t3', 'flow_wide_node9node18_t3', 'flow_wide_node8node18_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_960_3', 'variables': ['flow_timber_node3node19_t3', 'flow_timber_node4node19_t3', 'flow_timber_node5node19_t3', 'flow_wide_node3node19_t3', 'flow_wide_node4node19_t3', 'flow_wide_node5node19_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_959_4', 'variables': ['flow_timber_node4node18_t4', 'flow_timber_node6node18_t4', 'flow_timber_node3node18_t4', 'flow_timber_node1node18_t4', 'flow_timber_node9node18_t4', 'flow_timber_node8node18_t4', 'flow_wide_node4node18_t4', 'flow_wide_node6node18_t4', 'flow_wide_node3node18_t4', 'flow_wide_node1node18_t4', 'flow_wide_node9node18_t4', 'flow_wide_node8node18_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_960_4', 'variables': ['flow_timber_node3node19_t4', 'flow_timber_node4node19_t4', 'flow_timber_node5node19_t4', 'flow_wide_node3node19_t4', 'flow_wide_node4node19_t4', 'flow_wide_node5node19_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_959_5', 'variables': ['flow_timber_node4node18_t5', 'flow_timber_node6node18_t5', 'flow_timber_node3node18_t5', 'flow_timber_node1node18_t5', 'flow_timber_node9node18_t5', 'flow_timber_node8node18_t5', 'flow_wide_node4node18_t5', 'flow_wide_node6node18_t5', 'flow_wide_node3node18_t5', 'flow_wide_node1node18_t5', 'flow_wide_node9node18_t5', 'flow_wide_node8node18_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_960_5', 'variables': ['flow_timber_node3node19_t5', 'flow_timber_node4node19_t5', 'flow_timber_node5node19_t5', 'flow_wide_node3node19_t5', 'flow_wide_node4node19_t5', 'flow_wide_node5node19_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
