Constraint group: Constraint_maintain_upgrade
Total in this group: 70
Expected: 70

Constraints:
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node4_1', 'variables': ['M_node1node4_timber_t1', 'U_node1node4_t1', 'C_node1node4_timber_t0', 'M_node1node4_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_1', 'variables': ['M_node1node5_timber_t1', 'U_node1node5_t1', 'C_node1node5_timber_t0', 'M_node1node5_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_1', 'variables': ['M_node1node6_timber_t1', 'U_node1node6_t1', 'C_node1node6_timber_t0', 'M_node1node6_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node8_1', 'variables': ['M_node1node8_timber_t1', 'U_node1node8_t1', 'C_node1node8_timber_t0', 'M_node1node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node3_1', 'variables': ['M_node2node3_timber_t1', 'U_node2node3_t1', 'C_node2node3_timber_t0', 'M_node2node3_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node5_1', 'variables': ['M_node2node5_timber_t1', 'U_node2node5_t1', 'C_node2node5_timber_t0', 'M_node2node5_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_1', 'variables': ['M_node2node8_timber_t1', 'U_node2node8_t1', 'C_node2node8_timber_t0', 'M_node2node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node4_1', 'variables': ['M_node3node4_timber_t1', 'U_node3node4_t1', 'C_node3node4_timber_t0', 'M_node3node4_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_1', 'variables': ['M_node3node5_timber_t1', 'U_node3node5_t1', 'C_node3node5_timber_t0', 'M_node3node5_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_1', 'variables': ['M_node3node8_timber_t1', 'U_node3node8_t1', 'C_node3node8_timber_t0', 'M_node3node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_1', 'variables': ['M_node4node7_timber_t1', 'U_node4node7_t1', 'C_node4node7_timber_t0', 'M_node4node7_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node8_1', 'variables': ['M_node4node8_timber_t1', 'U_node4node8_t1', 'C_node4node8_timber_t0', 'M_node4node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node8_1', 'variables': ['M_node5node8_timber_t1', 'U_node5node8_t1', 'C_node5node8_timber_t0', 'M_node5node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_1', 'variables': ['M_node6node7_timber_t1', 'U_node6node7_t1', 'C_node6node7_timber_t0', 'M_node6node7_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node4_2', 'variables': ['M_node1node4_timber_t2', 'U_node1node4_t2', 'C_node1node4_timber_t1', 'M_node1node4_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_2', 'variables': ['M_node1node5_timber_t2', 'U_node1node5_t2', 'C_node1node5_timber_t1', 'M_node1node5_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_2', 'variables': ['M_node1node6_timber_t2', 'U_node1node6_t2', 'C_node1node6_timber_t1', 'M_node1node6_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node8_2', 'variables': ['M_node1node8_timber_t2', 'U_node1node8_t2', 'C_node1node8_timber_t1', 'M_node1node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node3_2', 'variables': ['M_node2node3_timber_t2', 'U_node2node3_t2', 'C_node2node3_timber_t1', 'M_node2node3_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node5_2', 'variables': ['M_node2node5_timber_t2', 'U_node2node5_t2', 'C_node2node5_timber_t1', 'M_node2node5_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_2', 'variables': ['M_node2node8_timber_t2', 'U_node2node8_t2', 'C_node2node8_timber_t1', 'M_node2node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node4_2', 'variables': ['M_node3node4_timber_t2', 'U_node3node4_t2', 'C_node3node4_timber_t1', 'M_node3node4_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_2', 'variables': ['M_node3node5_timber_t2', 'U_node3node5_t2', 'C_node3node5_timber_t1', 'M_node3node5_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_2', 'variables': ['M_node3node8_timber_t2', 'U_node3node8_t2', 'C_node3node8_timber_t1', 'M_node3node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_2', 'variables': ['M_node4node7_timber_t2', 'U_node4node7_t2', 'C_node4node7_timber_t1', 'M_node4node7_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node8_2', 'variables': ['M_node4node8_timber_t2', 'U_node4node8_t2', 'C_node4node8_timber_t1', 'M_node4node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node8_2', 'variables': ['M_node5node8_timber_t2', 'U_node5node8_t2', 'C_node5node8_timber_t1', 'M_node5node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_2', 'variables': ['M_node6node7_timber_t2', 'U_node6node7_t2', 'C_node6node7_timber_t1', 'M_node6node7_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node4_3', 'variables': ['M_node1node4_timber_t3', 'U_node1node4_t3', 'C_node1node4_timber_t2', 'M_node1node4_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_3', 'variables': ['M_node1node5_timber_t3', 'U_node1node5_t3', 'C_node1node5_timber_t2', 'M_node1node5_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_3', 'variables': ['M_node1node6_timber_t3', 'U_node1node6_t3', 'C_node1node6_timber_t2', 'M_node1node6_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node8_3', 'variables': ['M_node1node8_timber_t3', 'U_node1node8_t3', 'C_node1node8_timber_t2', 'M_node1node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node3_3', 'variables': ['M_node2node3_timber_t3', 'U_node2node3_t3', 'C_node2node3_timber_t2', 'M_node2node3_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node5_3', 'variables': ['M_node2node5_timber_t3', 'U_node2node5_t3', 'C_node2node5_timber_t2', 'M_node2node5_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_3', 'variables': ['M_node2node8_timber_t3', 'U_node2node8_t3', 'C_node2node8_timber_t2', 'M_node2node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node4_3', 'variables': ['M_node3node4_timber_t3', 'U_node3node4_t3', 'C_node3node4_timber_t2', 'M_node3node4_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_3', 'variables': ['M_node3node5_timber_t3', 'U_node3node5_t3', 'C_node3node5_timber_t2', 'M_node3node5_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_3', 'variables': ['M_node3node8_timber_t3', 'U_node3node8_t3', 'C_node3node8_timber_t2', 'M_node3node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_3', 'variables': ['M_node4node7_timber_t3', 'U_node4node7_t3', 'C_node4node7_timber_t2', 'M_node4node7_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node8_3', 'variables': ['M_node4node8_timber_t3', 'U_node4node8_t3', 'C_node4node8_timber_t2', 'M_node4node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node8_3', 'variables': ['M_node5node8_timber_t3', 'U_node5node8_t3', 'C_node5node8_timber_t2', 'M_node5node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_3', 'variables': ['M_node6node7_timber_t3', 'U_node6node7_t3', 'C_node6node7_timber_t2', 'M_node6node7_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node4_4', 'variables': ['M_node1node4_timber_t4', 'U_node1node4_t4', 'C_node1node4_timber_t3', 'M_node1node4_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_4', 'variables': ['M_node1node5_timber_t4', 'U_node1node5_t4', 'C_node1node5_timber_t3', 'M_node1node5_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_4', 'variables': ['M_node1node6_timber_t4', 'U_node1node6_t4', 'C_node1node6_timber_t3', 'M_node1node6_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node8_4', 'variables': ['M_node1node8_timber_t4', 'U_node1node8_t4', 'C_node1node8_timber_t3', 'M_node1node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node3_4', 'variables': ['M_node2node3_timber_t4', 'U_node2node3_t4', 'C_node2node3_timber_t3', 'M_node2node3_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node5_4', 'variables': ['M_node2node5_timber_t4', 'U_node2node5_t4', 'C_node2node5_timber_t3', 'M_node2node5_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_4', 'variables': ['M_node2node8_timber_t4', 'U_node2node8_t4', 'C_node2node8_timber_t3', 'M_node2node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node4_4', 'variables': ['M_node3node4_timber_t4', 'U_node3node4_t4', 'C_node3node4_timber_t3', 'M_node3node4_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_4', 'variables': ['M_node3node5_timber_t4', 'U_node3node5_t4', 'C_node3node5_timber_t3', 'M_node3node5_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_4', 'variables': ['M_node3node8_timber_t4', 'U_node3node8_t4', 'C_node3node8_timber_t3', 'M_node3node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_4', 'variables': ['M_node4node7_timber_t4', 'U_node4node7_t4', 'C_node4node7_timber_t3', 'M_node4node7_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node8_4', 'variables': ['M_node4node8_timber_t4', 'U_node4node8_t4', 'C_node4node8_timber_t3', 'M_node4node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node8_4', 'variables': ['M_node5node8_timber_t4', 'U_node5node8_t4', 'C_node5node8_timber_t3', 'M_node5node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_4', 'variables': ['M_node6node7_timber_t4', 'U_node6node7_t4', 'C_node6node7_timber_t3', 'M_node6node7_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node4_5', 'variables': ['M_node1node4_timber_t5', 'U_node1node4_t5', 'C_node1node4_timber_t4', 'M_node1node4_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_5', 'variables': ['M_node1node5_timber_t5', 'U_node1node5_t5', 'C_node1node5_timber_t4', 'M_node1node5_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_5', 'variables': ['M_node1node6_timber_t5', 'U_node1node6_t5', 'C_node1node6_timber_t4', 'M_node1node6_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node8_5', 'variables': ['M_node1node8_timber_t5', 'U_node1node8_t5', 'C_node1node8_timber_t4', 'M_node1node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node3_5', 'variables': ['M_node2node3_timber_t5', 'U_node2node3_t5', 'C_node2node3_timber_t4', 'M_node2node3_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node5_5', 'variables': ['M_node2node5_timber_t5', 'U_node2node5_t5', 'C_node2node5_timber_t4', 'M_node2node5_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_5', 'variables': ['M_node2node8_timber_t5', 'U_node2node8_t5', 'C_node2node8_timber_t4', 'M_node2node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node4_5', 'variables': ['M_node3node4_timber_t5', 'U_node3node4_t5', 'C_node3node4_timber_t4', 'M_node3node4_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_5', 'variables': ['M_node3node5_timber_t5', 'U_node3node5_t5', 'C_node3node5_timber_t4', 'M_node3node5_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_5', 'variables': ['M_node3node8_timber_t5', 'U_node3node8_t5', 'C_node3node8_timber_t4', 'M_node3node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_5', 'variables': ['M_node4node7_timber_t5', 'U_node4node7_t5', 'C_node4node7_timber_t4', 'M_node4node7_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node8_5', 'variables': ['M_node4node8_timber_t5', 'U_node4node8_t5', 'C_node4node8_timber_t4', 'M_node4node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node8_5', 'variables': ['M_node5node8_timber_t5', 'U_node5node8_t5', 'C_node5node8_timber_t4', 'M_node5node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_5', 'variables': ['M_node6node7_timber_t5', 'U_node6node7_t5', 'C_node6node7_timber_t4', 'M_node6node7_timber_t4'], 'coefficients': [1, 1, -1, -1]}
