Constraint group: Constraint_no_inflow_source
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1279_1', 'variables': ['flow_timber_node3node21_t1', 'flow_timber_node10node21_t1', 'flow_timber_node6node21_t1', 'flow_wide_node3node21_t1', 'flow_wide_node10node21_t1', 'flow_wide_node6node21_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1039_1', 'variables': ['flow_timber_node2node22_t1', 'flow_timber_node3node22_t1', 'flow_timber_node6node22_t1', 'flow_timber_node8node22_t1', 'flow_wide_node2node22_t1', 'flow_wide_node3node22_t1', 'flow_wide_node6node22_t1', 'flow_wide_node8node22_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_866_1', 'variables': ['flow_timber_node13node23_t1', 'flow_timber_node8node23_t1', 'flow_timber_node7node23_t1', 'flow_timber_node15node23_t1', 'flow_timber_node2node23_t1', 'flow_timber_node1node23_t1', 'flow_timber_node14node23_t1', 'flow_timber_node5node23_t1', 'flow_timber_node11node23_t1', 'flow_wide_node13node23_t1', 'flow_wide_node8node23_t1', 'flow_wide_node7node23_t1', 'flow_wide_node15node23_t1', 'flow_wide_node2node23_t1', 'flow_wide_node1node23_t1', 'flow_wide_node14node23_t1', 'flow_wide_node5node23_t1', 'flow_wide_node11node23_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1037_1', 'variables': ['flow_timber_node9node24_t1', 'flow_timber_node4node24_t1', 'flow_timber_node11node24_t1', 'flow_timber_node19node24_t1', 'flow_timber_node16node24_t1', 'flow_timber_node12node24_t1', 'flow_timber_node1node24_t1', 'flow_timber_node5node24_t1', 'flow_timber_node18node24_t1', 'flow_timber_node20node24_t1', 'flow_timber_node15node24_t1', 'flow_timber_node17node24_t1', 'flow_timber_node7node24_t1', 'flow_wide_node9node24_t1', 'flow_wide_node4node24_t1', 'flow_wide_node11node24_t1', 'flow_wide_node19node24_t1', 'flow_wide_node16node24_t1', 'flow_wide_node12node24_t1', 'flow_wide_node1node24_t1', 'flow_wide_node5node24_t1', 'flow_wide_node18node24_t1', 'flow_wide_node20node24_t1', 'flow_wide_node15node24_t1', 'flow_wide_node17node24_t1', 'flow_wide_node7node24_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1279_2', 'variables': ['flow_timber_node3node21_t2', 'flow_timber_node10node21_t2', 'flow_timber_node6node21_t2', 'flow_wide_node3node21_t2', 'flow_wide_node10node21_t2', 'flow_wide_node6node21_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1039_2', 'variables': ['flow_timber_node2node22_t2', 'flow_timber_node3node22_t2', 'flow_timber_node6node22_t2', 'flow_timber_node8node22_t2', 'flow_wide_node2node22_t2', 'flow_wide_node3node22_t2', 'flow_wide_node6node22_t2', 'flow_wide_node8node22_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_866_2', 'variables': ['flow_timber_node13node23_t2', 'flow_timber_node8node23_t2', 'flow_timber_node7node23_t2', 'flow_timber_node15node23_t2', 'flow_timber_node2node23_t2', 'flow_timber_node1node23_t2', 'flow_timber_node14node23_t2', 'flow_timber_node5node23_t2', 'flow_timber_node11node23_t2', 'flow_wide_node13node23_t2', 'flow_wide_node8node23_t2', 'flow_wide_node7node23_t2', 'flow_wide_node15node23_t2', 'flow_wide_node2node23_t2', 'flow_wide_node1node23_t2', 'flow_wide_node14node23_t2', 'flow_wide_node5node23_t2', 'flow_wide_node11node23_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1037_2', 'variables': ['flow_timber_node9node24_t2', 'flow_timber_node4node24_t2', 'flow_timber_node11node24_t2', 'flow_timber_node19node24_t2', 'flow_timber_node16node24_t2', 'flow_timber_node12node24_t2', 'flow_timber_node1node24_t2', 'flow_timber_node5node24_t2', 'flow_timber_node18node24_t2', 'flow_timber_node20node24_t2', 'flow_timber_node15node24_t2', 'flow_timber_node17node24_t2', 'flow_timber_node7node24_t2', 'flow_wide_node9node24_t2', 'flow_wide_node4node24_t2', 'flow_wide_node11node24_t2', 'flow_wide_node19node24_t2', 'flow_wide_node16node24_t2', 'flow_wide_node12node24_t2', 'flow_wide_node1node24_t2', 'flow_wide_node5node24_t2', 'flow_wide_node18node24_t2', 'flow_wide_node20node24_t2', 'flow_wide_node15node24_t2', 'flow_wide_node17node24_t2', 'flow_wide_node7node24_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1279_3', 'variables': ['flow_timber_node3node21_t3', 'flow_timber_node10node21_t3', 'flow_timber_node6node21_t3', 'flow_wide_node3node21_t3', 'flow_wide_node10node21_t3', 'flow_wide_node6node21_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1039_3', 'variables': ['flow_timber_node2node22_t3', 'flow_timber_node3node22_t3', 'flow_timber_node6node22_t3', 'flow_timber_node8node22_t3', 'flow_wide_node2node22_t3', 'flow_wide_node3node22_t3', 'flow_wide_node6node22_t3', 'flow_wide_node8node22_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_866_3', 'variables': ['flow_timber_node13node23_t3', 'flow_timber_node8node23_t3', 'flow_timber_node7node23_t3', 'flow_timber_node15node23_t3', 'flow_timber_node2node23_t3', 'flow_timber_node1node23_t3', 'flow_timber_node14node23_t3', 'flow_timber_node5node23_t3', 'flow_timber_node11node23_t3', 'flow_wide_node13node23_t3', 'flow_wide_node8node23_t3', 'flow_wide_node7node23_t3', 'flow_wide_node15node23_t3', 'flow_wide_node2node23_t3', 'flow_wide_node1node23_t3', 'flow_wide_node14node23_t3', 'flow_wide_node5node23_t3', 'flow_wide_node11node23_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1037_3', 'variables': ['flow_timber_node9node24_t3', 'flow_timber_node4node24_t3', 'flow_timber_node11node24_t3', 'flow_timber_node19node24_t3', 'flow_timber_node16node24_t3', 'flow_timber_node12node24_t3', 'flow_timber_node1node24_t3', 'flow_timber_node5node24_t3', 'flow_timber_node18node24_t3', 'flow_timber_node20node24_t3', 'flow_timber_node15node24_t3', 'flow_timber_node17node24_t3', 'flow_timber_node7node24_t3', 'flow_wide_node9node24_t3', 'flow_wide_node4node24_t3', 'flow_wide_node11node24_t3', 'flow_wide_node19node24_t3', 'flow_wide_node16node24_t3', 'flow_wide_node12node24_t3', 'flow_wide_node1node24_t3', 'flow_wide_node5node24_t3', 'flow_wide_node18node24_t3', 'flow_wide_node20node24_t3', 'flow_wide_node15node24_t3', 'flow_wide_node17node24_t3', 'flow_wide_node7node24_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1279_4', 'variables': ['flow_timber_node3node21_t4', 'flow_timber_node10node21_t4', 'flow_timber_node6node21_t4', 'flow_wide_node3node21_t4', 'flow_wide_node10node21_t4', 'flow_wide_node6node21_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1039_4', 'variables': ['flow_timber_node2node22_t4', 'flow_timber_node3node22_t4', 'flow_timber_node6node22_t4', 'flow_timber_node8node22_t4', 'flow_wide_node2node22_t4', 'flow_wide_node3node22_t4', 'flow_wide_node6node22_t4', 'flow_wide_node8node22_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_866_4', 'variables': ['flow_timber_node13node23_t4', 'flow_timber_node8node23_t4', 'flow_timber_node7node23_t4', 'flow_timber_node15node23_t4', 'flow_timber_node2node23_t4', 'flow_timber_node1node23_t4', 'flow_timber_node14node23_t4', 'flow_timber_node5node23_t4', 'flow_timber_node11node23_t4', 'flow_wide_node13node23_t4', 'flow_wide_node8node23_t4', 'flow_wide_node7node23_t4', 'flow_wide_node15node23_t4', 'flow_wide_node2node23_t4', 'flow_wide_node1node23_t4', 'flow_wide_node14node23_t4', 'flow_wide_node5node23_t4', 'flow_wide_node11node23_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1037_4', 'variables': ['flow_timber_node9node24_t4', 'flow_timber_node4node24_t4', 'flow_timber_node11node24_t4', 'flow_timber_node19node24_t4', 'flow_timber_node16node24_t4', 'flow_timber_node12node24_t4', 'flow_timber_node1node24_t4', 'flow_timber_node5node24_t4', 'flow_timber_node18node24_t4', 'flow_timber_node20node24_t4', 'flow_timber_node15node24_t4', 'flow_timber_node17node24_t4', 'flow_timber_node7node24_t4', 'flow_wide_node9node24_t4', 'flow_wide_node4node24_t4', 'flow_wide_node11node24_t4', 'flow_wide_node19node24_t4', 'flow_wide_node16node24_t4', 'flow_wide_node12node24_t4', 'flow_wide_node1node24_t4', 'flow_wide_node5node24_t4', 'flow_wide_node18node24_t4', 'flow_wide_node20node24_t4', 'flow_wide_node15node24_t4', 'flow_wide_node17node24_t4', 'flow_wide_node7node24_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1279_5', 'variables': ['flow_timber_node3node21_t5', 'flow_timber_node10node21_t5', 'flow_timber_node6node21_t5', 'flow_wide_node3node21_t5', 'flow_wide_node10node21_t5', 'flow_wide_node6node21_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1039_5', 'variables': ['flow_timber_node2node22_t5', 'flow_timber_node3node22_t5', 'flow_timber_node6node22_t5', 'flow_timber_node8node22_t5', 'flow_wide_node2node22_t5', 'flow_wide_node3node22_t5', 'flow_wide_node6node22_t5', 'flow_wide_node8node22_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_866_5', 'variables': ['flow_timber_node13node23_t5', 'flow_timber_node8node23_t5', 'flow_timber_node7node23_t5', 'flow_timber_node15node23_t5', 'flow_timber_node2node23_t5', 'flow_timber_node1node23_t5', 'flow_timber_node14node23_t5', 'flow_timber_node5node23_t5', 'flow_timber_node11node23_t5', 'flow_wide_node13node23_t5', 'flow_wide_node8node23_t5', 'flow_wide_node7node23_t5', 'flow_wide_node15node23_t5', 'flow_wide_node2node23_t5', 'flow_wide_node1node23_t5', 'flow_wide_node14node23_t5', 'flow_wide_node5node23_t5', 'flow_wide_node11node23_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1037_5', 'variables': ['flow_timber_node9node24_t5', 'flow_timber_node4node24_t5', 'flow_timber_node11node24_t5', 'flow_timber_node19node24_t5', 'flow_timber_node16node24_t5', 'flow_timber_node12node24_t5', 'flow_timber_node1node24_t5', 'flow_timber_node5node24_t5', 'flow_timber_node18node24_t5', 'flow_timber_node20node24_t5', 'flow_timber_node15node24_t5', 'flow_timber_node17node24_t5', 'flow_timber_node7node24_t5', 'flow_wide_node9node24_t5', 'flow_wide_node4node24_t5', 'flow_wide_node11node24_t5', 'flow_wide_node19node24_t5', 'flow_wide_node16node24_t5', 'flow_wide_node12node24_t5', 'flow_wide_node1node24_t5', 'flow_wide_node5node24_t5', 'flow_wide_node18node24_t5', 'flow_wide_node20node24_t5', 'flow_wide_node15node24_t5', 'flow_wide_node17node24_t5', 'flow_wide_node7node24_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
