Constraint group: Constraint_outflow_iff_needroad
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_970_t1', 'variables': ['flow_timber_node12node3_t1', 'flow_timber_node12node1_t1', 'flow_timber_node12node2_t1', 'flow_timber_node12node8_t1', 'flow_timber_node12node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1505_t1', 'variables': ['flow_timber_node13node8_t1', 'flow_timber_node13node1_t1', 'flow_timber_node13node7_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_970_t2', 'variables': ['flow_timber_node12node3_t2', 'flow_timber_node12node1_t2', 'flow_timber_node12node2_t2', 'flow_timber_node12node8_t2', 'flow_timber_node12node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1505_t2', 'variables': ['flow_timber_node13node8_t2', 'flow_timber_node13node1_t2', 'flow_timber_node13node7_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_970_t3', 'variables': ['flow_timber_node12node3_t3', 'flow_timber_node12node1_t3', 'flow_timber_node12node2_t3', 'flow_timber_node12node8_t3', 'flow_timber_node12node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1505_t3', 'variables': ['flow_timber_node13node8_t3', 'flow_timber_node13node1_t3', 'flow_timber_node13node7_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_970_t4', 'variables': ['flow_timber_node12node3_t4', 'flow_timber_node12node1_t4', 'flow_timber_node12node2_t4', 'flow_timber_node12node8_t4', 'flow_timber_node12node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1505_t4', 'variables': ['flow_timber_node13node8_t4', 'flow_timber_node13node1_t4', 'flow_timber_node13node7_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_970_t5', 'variables': ['flow_timber_node12node3_t5', 'flow_timber_node12node1_t5', 'flow_timber_node12node2_t5', 'flow_timber_node12node8_t5', 'flow_timber_node12node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1505_t5', 'variables': ['flow_timber_node13node8_t5', 'flow_timber_node13node1_t5', 'flow_timber_node13node7_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_970_t1', 'variables': ['flow_wide_node12node3_t1', 'flow_wide_node12node1_t1', 'flow_wide_node12node2_t1', 'flow_wide_node12node8_t1', 'flow_wide_node12node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1505_t1', 'variables': ['flow_wide_node13node8_t1', 'flow_wide_node13node1_t1', 'flow_wide_node13node7_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_970_t2', 'variables': ['flow_wide_node12node3_t2', 'flow_wide_node12node1_t2', 'flow_wide_node12node2_t2', 'flow_wide_node12node8_t2', 'flow_wide_node12node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1505_t2', 'variables': ['flow_wide_node13node8_t2', 'flow_wide_node13node1_t2', 'flow_wide_node13node7_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_970_t3', 'variables': ['flow_wide_node12node3_t3', 'flow_wide_node12node1_t3', 'flow_wide_node12node2_t3', 'flow_wide_node12node8_t3', 'flow_wide_node12node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1505_t3', 'variables': ['flow_wide_node13node8_t3', 'flow_wide_node13node1_t3', 'flow_wide_node13node7_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_970_t4', 'variables': ['flow_wide_node12node3_t4', 'flow_wide_node12node1_t4', 'flow_wide_node12node2_t4', 'flow_wide_node12node8_t4', 'flow_wide_node12node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1505_t4', 'variables': ['flow_wide_node13node8_t4', 'flow_wide_node13node1_t4', 'flow_wide_node13node7_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_970_t5', 'variables': ['flow_wide_node12node3_t5', 'flow_wide_node12node1_t5', 'flow_wide_node12node2_t5', 'flow_wide_node12node8_t5', 'flow_wide_node12node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1505_t5', 'variables': ['flow_wide_node13node8_t5', 'flow_wide_node13node1_t5', 'flow_wide_node13node7_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
