Constraint group: Constraint_outflow_iff_needroad
Total in this group: 40
Expected: 40

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1279_t1', 'variables': ['flow_timber_node21node10_t1', 'flow_timber_node21node3_t1', 'flow_timber_node21node6_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1039_t1', 'variables': ['flow_timber_node22node6_t1', 'flow_timber_node22node3_t1', 'flow_timber_node22node2_t1', 'flow_timber_node22node8_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_866_t1', 'variables': ['flow_timber_node23node15_t1', 'flow_timber_node23node7_t1', 'flow_timber_node23node1_t1', 'flow_timber_node23node11_t1', 'flow_timber_node23node13_t1', 'flow_timber_node23node5_t1', 'flow_timber_node23node8_t1', 'flow_timber_node23node14_t1', 'flow_timber_node23node2_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1037_t1', 'variables': ['flow_timber_node24node20_t1', 'flow_timber_node24node5_t1', 'flow_timber_node24node16_t1', 'flow_timber_node24node4_t1', 'flow_timber_node24node11_t1', 'flow_timber_node24node15_t1', 'flow_timber_node24node19_t1', 'flow_timber_node24node18_t1', 'flow_timber_node24node12_t1', 'flow_timber_node24node7_t1', 'flow_timber_node24node1_t1', 'flow_timber_node24node9_t1', 'flow_timber_node24node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1279_t2', 'variables': ['flow_timber_node21node10_t2', 'flow_timber_node21node3_t2', 'flow_timber_node21node6_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1039_t2', 'variables': ['flow_timber_node22node6_t2', 'flow_timber_node22node3_t2', 'flow_timber_node22node2_t2', 'flow_timber_node22node8_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_866_t2', 'variables': ['flow_timber_node23node15_t2', 'flow_timber_node23node7_t2', 'flow_timber_node23node1_t2', 'flow_timber_node23node11_t2', 'flow_timber_node23node13_t2', 'flow_timber_node23node5_t2', 'flow_timber_node23node8_t2', 'flow_timber_node23node14_t2', 'flow_timber_node23node2_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1037_t2', 'variables': ['flow_timber_node24node20_t2', 'flow_timber_node24node5_t2', 'flow_timber_node24node16_t2', 'flow_timber_node24node4_t2', 'flow_timber_node24node11_t2', 'flow_timber_node24node15_t2', 'flow_timber_node24node19_t2', 'flow_timber_node24node18_t2', 'flow_timber_node24node12_t2', 'flow_timber_node24node7_t2', 'flow_timber_node24node1_t2', 'flow_timber_node24node9_t2', 'flow_timber_node24node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1279_t3', 'variables': ['flow_timber_node21node10_t3', 'flow_timber_node21node3_t3', 'flow_timber_node21node6_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1039_t3', 'variables': ['flow_timber_node22node6_t3', 'flow_timber_node22node3_t3', 'flow_timber_node22node2_t3', 'flow_timber_node22node8_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_866_t3', 'variables': ['flow_timber_node23node15_t3', 'flow_timber_node23node7_t3', 'flow_timber_node23node1_t3', 'flow_timber_node23node11_t3', 'flow_timber_node23node13_t3', 'flow_timber_node23node5_t3', 'flow_timber_node23node8_t3', 'flow_timber_node23node14_t3', 'flow_timber_node23node2_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1037_t3', 'variables': ['flow_timber_node24node20_t3', 'flow_timber_node24node5_t3', 'flow_timber_node24node16_t3', 'flow_timber_node24node4_t3', 'flow_timber_node24node11_t3', 'flow_timber_node24node15_t3', 'flow_timber_node24node19_t3', 'flow_timber_node24node18_t3', 'flow_timber_node24node12_t3', 'flow_timber_node24node7_t3', 'flow_timber_node24node1_t3', 'flow_timber_node24node9_t3', 'flow_timber_node24node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1279_t4', 'variables': ['flow_timber_node21node10_t4', 'flow_timber_node21node3_t4', 'flow_timber_node21node6_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1039_t4', 'variables': ['flow_timber_node22node6_t4', 'flow_timber_node22node3_t4', 'flow_timber_node22node2_t4', 'flow_timber_node22node8_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_866_t4', 'variables': ['flow_timber_node23node15_t4', 'flow_timber_node23node7_t4', 'flow_timber_node23node1_t4', 'flow_timber_node23node11_t4', 'flow_timber_node23node13_t4', 'flow_timber_node23node5_t4', 'flow_timber_node23node8_t4', 'flow_timber_node23node14_t4', 'flow_timber_node23node2_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1037_t4', 'variables': ['flow_timber_node24node20_t4', 'flow_timber_node24node5_t4', 'flow_timber_node24node16_t4', 'flow_timber_node24node4_t4', 'flow_timber_node24node11_t4', 'flow_timber_node24node15_t4', 'flow_timber_node24node19_t4', 'flow_timber_node24node18_t4', 'flow_timber_node24node12_t4', 'flow_timber_node24node7_t4', 'flow_timber_node24node1_t4', 'flow_timber_node24node9_t4', 'flow_timber_node24node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1279_t5', 'variables': ['flow_timber_node21node10_t5', 'flow_timber_node21node3_t5', 'flow_timber_node21node6_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1039_t5', 'variables': ['flow_timber_node22node6_t5', 'flow_timber_node22node3_t5', 'flow_timber_node22node2_t5', 'flow_timber_node22node8_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_866_t5', 'variables': ['flow_timber_node23node15_t5', 'flow_timber_node23node7_t5', 'flow_timber_node23node1_t5', 'flow_timber_node23node11_t5', 'flow_timber_node23node13_t5', 'flow_timber_node23node5_t5', 'flow_timber_node23node8_t5', 'flow_timber_node23node14_t5', 'flow_timber_node23node2_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1037_t5', 'variables': ['flow_timber_node24node20_t5', 'flow_timber_node24node5_t5', 'flow_timber_node24node16_t5', 'flow_timber_node24node4_t5', 'flow_timber_node24node11_t5', 'flow_timber_node24node15_t5', 'flow_timber_node24node19_t5', 'flow_timber_node24node18_t5', 'flow_timber_node24node12_t5', 'flow_timber_node24node7_t5', 'flow_timber_node24node1_t5', 'flow_timber_node24node9_t5', 'flow_timber_node24node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1279_t1', 'variables': ['flow_wide_node21node10_t1', 'flow_wide_node21node3_t1', 'flow_wide_node21node6_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1039_t1', 'variables': ['flow_wide_node22node6_t1', 'flow_wide_node22node3_t1', 'flow_wide_node22node2_t1', 'flow_wide_node22node8_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_866_t1', 'variables': ['flow_wide_node23node15_t1', 'flow_wide_node23node7_t1', 'flow_wide_node23node1_t1', 'flow_wide_node23node11_t1', 'flow_wide_node23node13_t1', 'flow_wide_node23node5_t1', 'flow_wide_node23node8_t1', 'flow_wide_node23node14_t1', 'flow_wide_node23node2_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1037_t1', 'variables': ['flow_wide_node24node20_t1', 'flow_wide_node24node5_t1', 'flow_wide_node24node16_t1', 'flow_wide_node24node4_t1', 'flow_wide_node24node11_t1', 'flow_wide_node24node15_t1', 'flow_wide_node24node19_t1', 'flow_wide_node24node18_t1', 'flow_wide_node24node12_t1', 'flow_wide_node24node7_t1', 'flow_wide_node24node1_t1', 'flow_wide_node24node9_t1', 'flow_wide_node24node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1279_t2', 'variables': ['flow_wide_node21node10_t2', 'flow_wide_node21node3_t2', 'flow_wide_node21node6_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1039_t2', 'variables': ['flow_wide_node22node6_t2', 'flow_wide_node22node3_t2', 'flow_wide_node22node2_t2', 'flow_wide_node22node8_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_866_t2', 'variables': ['flow_wide_node23node15_t2', 'flow_wide_node23node7_t2', 'flow_wide_node23node1_t2', 'flow_wide_node23node11_t2', 'flow_wide_node23node13_t2', 'flow_wide_node23node5_t2', 'flow_wide_node23node8_t2', 'flow_wide_node23node14_t2', 'flow_wide_node23node2_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1037_t2', 'variables': ['flow_wide_node24node20_t2', 'flow_wide_node24node5_t2', 'flow_wide_node24node16_t2', 'flow_wide_node24node4_t2', 'flow_wide_node24node11_t2', 'flow_wide_node24node15_t2', 'flow_wide_node24node19_t2', 'flow_wide_node24node18_t2', 'flow_wide_node24node12_t2', 'flow_wide_node24node7_t2', 'flow_wide_node24node1_t2', 'flow_wide_node24node9_t2', 'flow_wide_node24node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1279_t3', 'variables': ['flow_wide_node21node10_t3', 'flow_wide_node21node3_t3', 'flow_wide_node21node6_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1039_t3', 'variables': ['flow_wide_node22node6_t3', 'flow_wide_node22node3_t3', 'flow_wide_node22node2_t3', 'flow_wide_node22node8_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_866_t3', 'variables': ['flow_wide_node23node15_t3', 'flow_wide_node23node7_t3', 'flow_wide_node23node1_t3', 'flow_wide_node23node11_t3', 'flow_wide_node23node13_t3', 'flow_wide_node23node5_t3', 'flow_wide_node23node8_t3', 'flow_wide_node23node14_t3', 'flow_wide_node23node2_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1037_t3', 'variables': ['flow_wide_node24node20_t3', 'flow_wide_node24node5_t3', 'flow_wide_node24node16_t3', 'flow_wide_node24node4_t3', 'flow_wide_node24node11_t3', 'flow_wide_node24node15_t3', 'flow_wide_node24node19_t3', 'flow_wide_node24node18_t3', 'flow_wide_node24node12_t3', 'flow_wide_node24node7_t3', 'flow_wide_node24node1_t3', 'flow_wide_node24node9_t3', 'flow_wide_node24node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1279_t4', 'variables': ['flow_wide_node21node10_t4', 'flow_wide_node21node3_t4', 'flow_wide_node21node6_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1039_t4', 'variables': ['flow_wide_node22node6_t4', 'flow_wide_node22node3_t4', 'flow_wide_node22node2_t4', 'flow_wide_node22node8_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_866_t4', 'variables': ['flow_wide_node23node15_t4', 'flow_wide_node23node7_t4', 'flow_wide_node23node1_t4', 'flow_wide_node23node11_t4', 'flow_wide_node23node13_t4', 'flow_wide_node23node5_t4', 'flow_wide_node23node8_t4', 'flow_wide_node23node14_t4', 'flow_wide_node23node2_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1037_t4', 'variables': ['flow_wide_node24node20_t4', 'flow_wide_node24node5_t4', 'flow_wide_node24node16_t4', 'flow_wide_node24node4_t4', 'flow_wide_node24node11_t4', 'flow_wide_node24node15_t4', 'flow_wide_node24node19_t4', 'flow_wide_node24node18_t4', 'flow_wide_node24node12_t4', 'flow_wide_node24node7_t4', 'flow_wide_node24node1_t4', 'flow_wide_node24node9_t4', 'flow_wide_node24node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1279_t5', 'variables': ['flow_wide_node21node10_t5', 'flow_wide_node21node3_t5', 'flow_wide_node21node6_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1039_t5', 'variables': ['flow_wide_node22node6_t5', 'flow_wide_node22node3_t5', 'flow_wide_node22node2_t5', 'flow_wide_node22node8_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_866_t5', 'variables': ['flow_wide_node23node15_t5', 'flow_wide_node23node7_t5', 'flow_wide_node23node1_t5', 'flow_wide_node23node11_t5', 'flow_wide_node23node13_t5', 'flow_wide_node23node5_t5', 'flow_wide_node23node8_t5', 'flow_wide_node23node14_t5', 'flow_wide_node23node2_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1037_t5', 'variables': ['flow_wide_node24node20_t5', 'flow_wide_node24node5_t5', 'flow_wide_node24node16_t5', 'flow_wide_node24node4_t5', 'flow_wide_node24node11_t5', 'flow_wide_node24node15_t5', 'flow_wide_node24node19_t5', 'flow_wide_node24node18_t5', 'flow_wide_node24node12_t5', 'flow_wide_node24node7_t5', 'flow_wide_node24node1_t5', 'flow_wide_node24node9_t5', 'flow_wide_node24node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
