Constraint group: Constraint_no_inflow_source
Total in this group: 10
Expected: 10

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_928_1', 'variables': ['flow_timber_node7node10_t1', 'flow_timber_node4node10_t1', 'flow_timber_node6node10_t1', 'flow_wide_node7node10_t1', 'flow_wide_node4node10_t1', 'flow_wide_node6node10_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_929_1', 'variables': ['flow_timber_node7node11_t1', 'flow_timber_node3node11_t1', 'flow_timber_node5node11_t1', 'flow_timber_node4node11_t1', 'flow_timber_node9node11_t1', 'flow_wide_node7node11_t1', 'flow_wide_node3node11_t1', 'flow_wide_node5node11_t1', 'flow_wide_node4node11_t1', 'flow_wide_node9node11_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_928_2', 'variables': ['flow_timber_node7node10_t2', 'flow_timber_node4node10_t2', 'flow_timber_node6node10_t2', 'flow_wide_node7node10_t2', 'flow_wide_node4node10_t2', 'flow_wide_node6node10_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_929_2', 'variables': ['flow_timber_node7node11_t2', 'flow_timber_node3node11_t2', 'flow_timber_node5node11_t2', 'flow_timber_node4node11_t2', 'flow_timber_node9node11_t2', 'flow_wide_node7node11_t2', 'flow_wide_node3node11_t2', 'flow_wide_node5node11_t2', 'flow_wide_node4node11_t2', 'flow_wide_node9node11_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_928_3', 'variables': ['flow_timber_node7node10_t3', 'flow_timber_node4node10_t3', 'flow_timber_node6node10_t3', 'flow_wide_node7node10_t3', 'flow_wide_node4node10_t3', 'flow_wide_node6node10_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_929_3', 'variables': ['flow_timber_node7node11_t3', 'flow_timber_node3node11_t3', 'flow_timber_node5node11_t3', 'flow_timber_node4node11_t3', 'flow_timber_node9node11_t3', 'flow_wide_node7node11_t3', 'flow_wide_node3node11_t3', 'flow_wide_node5node11_t3', 'flow_wide_node4node11_t3', 'flow_wide_node9node11_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_928_4', 'variables': ['flow_timber_node7node10_t4', 'flow_timber_node4node10_t4', 'flow_timber_node6node10_t4', 'flow_wide_node7node10_t4', 'flow_wide_node4node10_t4', 'flow_wide_node6node10_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_929_4', 'variables': ['flow_timber_node7node11_t4', 'flow_timber_node3node11_t4', 'flow_timber_node5node11_t4', 'flow_timber_node4node11_t4', 'flow_timber_node9node11_t4', 'flow_wide_node7node11_t4', 'flow_wide_node3node11_t4', 'flow_wide_node5node11_t4', 'flow_wide_node4node11_t4', 'flow_wide_node9node11_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_928_5', 'variables': ['flow_timber_node7node10_t5', 'flow_timber_node4node10_t5', 'flow_timber_node6node10_t5', 'flow_wide_node7node10_t5', 'flow_wide_node4node10_t5', 'flow_wide_node6node10_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_929_5', 'variables': ['flow_timber_node7node11_t5', 'flow_timber_node3node11_t5', 'flow_timber_node5node11_t5', 'flow_timber_node4node11_t5', 'flow_timber_node9node11_t5', 'flow_wide_node7node11_t5', 'flow_wide_node3node11_t5', 'flow_wide_node5node11_t5', 'flow_wide_node4node11_t5', 'flow_wide_node9node11_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
