Constraint group: Constraint_outflow_iff_needroad
Total in this group: 70
Expected: 70

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1221_t1', 'variables': ['flow_timber_node37node1_t1', 'flow_timber_node37node5_t1', 'flow_timber_node37node22_t1', 'flow_timber_node37node23_t1', 'flow_timber_node37node21_t1', 'flow_timber_node37node14_t1', 'flow_timber_node37node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_842_t1', 'variables': ['flow_timber_node38node24_t1', 'flow_timber_node38node5_t1', 'flow_timber_node38node12_t1', 'flow_timber_node38node1_t1', 'flow_timber_node38node25_t1', 'flow_timber_node38node11_t1', 'flow_timber_node38node4_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_840_t1', 'variables': ['flow_timber_node39node8_t1', 'flow_timber_node39node11_t1', 'flow_timber_node39node12_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1420_t1', 'variables': ['flow_timber_node40node9_t1', 'flow_timber_node40node26_t1', 'flow_timber_node40node7_t1', 'flow_timber_node40node6_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1155_t1', 'variables': ['flow_timber_node41node3_t1', 'flow_timber_node41node14_t1', 'flow_timber_node41node31_t1', 'flow_timber_node41node5_t1', 'flow_timber_node41node18_t1', 'flow_timber_node41node17_t1', 'flow_timber_node41node16_t1', 'flow_timber_node41node15_t1', 'flow_timber_node41node25_t1', 'flow_timber_node41node4_t1', 'flow_timber_node41node30_t1', 'flow_timber_node41node28_t1', 'flow_timber_node41node8_t1', 'flow_timber_node41node11_t1', 'flow_timber_node41node27_t1', 'flow_timber_node41node13_t1', 'flow_timber_node41node6_t1', 'flow_timber_node41node7_t1', 'flow_timber_node41node9_t1', 'flow_timber_node41node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_838_t1', 'variables': ['flow_timber_node42node32_t1', 'flow_timber_node42node16_t1', 'flow_timber_node42node19_t1', 'flow_timber_node42node17_t1', 'flow_timber_node42node10_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_837_t1', 'variables': ['flow_timber_node43node34_t1', 'flow_timber_node43node10_t1', 'flow_timber_node43node33_t1', 'flow_timber_node43node36_t1', 'flow_timber_node43node17_t1', 'flow_timber_node43node19_t1', 'flow_timber_node43node15_t1', 'flow_timber_node43node2_t1', 'flow_timber_node43node35_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1221_t2', 'variables': ['flow_timber_node37node1_t2', 'flow_timber_node37node5_t2', 'flow_timber_node37node22_t2', 'flow_timber_node37node23_t2', 'flow_timber_node37node21_t2', 'flow_timber_node37node14_t2', 'flow_timber_node37node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_842_t2', 'variables': ['flow_timber_node38node24_t2', 'flow_timber_node38node5_t2', 'flow_timber_node38node12_t2', 'flow_timber_node38node1_t2', 'flow_timber_node38node25_t2', 'flow_timber_node38node11_t2', 'flow_timber_node38node4_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_840_t2', 'variables': ['flow_timber_node39node8_t2', 'flow_timber_node39node11_t2', 'flow_timber_node39node12_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1420_t2', 'variables': ['flow_timber_node40node9_t2', 'flow_timber_node40node26_t2', 'flow_timber_node40node7_t2', 'flow_timber_node40node6_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1155_t2', 'variables': ['flow_timber_node41node3_t2', 'flow_timber_node41node14_t2', 'flow_timber_node41node31_t2', 'flow_timber_node41node5_t2', 'flow_timber_node41node18_t2', 'flow_timber_node41node17_t2', 'flow_timber_node41node16_t2', 'flow_timber_node41node15_t2', 'flow_timber_node41node25_t2', 'flow_timber_node41node4_t2', 'flow_timber_node41node30_t2', 'flow_timber_node41node28_t2', 'flow_timber_node41node8_t2', 'flow_timber_node41node11_t2', 'flow_timber_node41node27_t2', 'flow_timber_node41node13_t2', 'flow_timber_node41node6_t2', 'flow_timber_node41node7_t2', 'flow_timber_node41node9_t2', 'flow_timber_node41node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_838_t2', 'variables': ['flow_timber_node42node32_t2', 'flow_timber_node42node16_t2', 'flow_timber_node42node19_t2', 'flow_timber_node42node17_t2', 'flow_timber_node42node10_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_837_t2', 'variables': ['flow_timber_node43node34_t2', 'flow_timber_node43node10_t2', 'flow_timber_node43node33_t2', 'flow_timber_node43node36_t2', 'flow_timber_node43node17_t2', 'flow_timber_node43node19_t2', 'flow_timber_node43node15_t2', 'flow_timber_node43node2_t2', 'flow_timber_node43node35_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1221_t3', 'variables': ['flow_timber_node37node1_t3', 'flow_timber_node37node5_t3', 'flow_timber_node37node22_t3', 'flow_timber_node37node23_t3', 'flow_timber_node37node21_t3', 'flow_timber_node37node14_t3', 'flow_timber_node37node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_842_t3', 'variables': ['flow_timber_node38node24_t3', 'flow_timber_node38node5_t3', 'flow_timber_node38node12_t3', 'flow_timber_node38node1_t3', 'flow_timber_node38node25_t3', 'flow_timber_node38node11_t3', 'flow_timber_node38node4_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_840_t3', 'variables': ['flow_timber_node39node8_t3', 'flow_timber_node39node11_t3', 'flow_timber_node39node12_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1420_t3', 'variables': ['flow_timber_node40node9_t3', 'flow_timber_node40node26_t3', 'flow_timber_node40node7_t3', 'flow_timber_node40node6_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1155_t3', 'variables': ['flow_timber_node41node3_t3', 'flow_timber_node41node14_t3', 'flow_timber_node41node31_t3', 'flow_timber_node41node5_t3', 'flow_timber_node41node18_t3', 'flow_timber_node41node17_t3', 'flow_timber_node41node16_t3', 'flow_timber_node41node15_t3', 'flow_timber_node41node25_t3', 'flow_timber_node41node4_t3', 'flow_timber_node41node30_t3', 'flow_timber_node41node28_t3', 'flow_timber_node41node8_t3', 'flow_timber_node41node11_t3', 'flow_timber_node41node27_t3', 'flow_timber_node41node13_t3', 'flow_timber_node41node6_t3', 'flow_timber_node41node7_t3', 'flow_timber_node41node9_t3', 'flow_timber_node41node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_838_t3', 'variables': ['flow_timber_node42node32_t3', 'flow_timber_node42node16_t3', 'flow_timber_node42node19_t3', 'flow_timber_node42node17_t3', 'flow_timber_node42node10_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_837_t3', 'variables': ['flow_timber_node43node34_t3', 'flow_timber_node43node10_t3', 'flow_timber_node43node33_t3', 'flow_timber_node43node36_t3', 'flow_timber_node43node17_t3', 'flow_timber_node43node19_t3', 'flow_timber_node43node15_t3', 'flow_timber_node43node2_t3', 'flow_timber_node43node35_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1221_t4', 'variables': ['flow_timber_node37node1_t4', 'flow_timber_node37node5_t4', 'flow_timber_node37node22_t4', 'flow_timber_node37node23_t4', 'flow_timber_node37node21_t4', 'flow_timber_node37node14_t4', 'flow_timber_node37node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_842_t4', 'variables': ['flow_timber_node38node24_t4', 'flow_timber_node38node5_t4', 'flow_timber_node38node12_t4', 'flow_timber_node38node1_t4', 'flow_timber_node38node25_t4', 'flow_timber_node38node11_t4', 'flow_timber_node38node4_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_840_t4', 'variables': ['flow_timber_node39node8_t4', 'flow_timber_node39node11_t4', 'flow_timber_node39node12_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1420_t4', 'variables': ['flow_timber_node40node9_t4', 'flow_timber_node40node26_t4', 'flow_timber_node40node7_t4', 'flow_timber_node40node6_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1155_t4', 'variables': ['flow_timber_node41node3_t4', 'flow_timber_node41node14_t4', 'flow_timber_node41node31_t4', 'flow_timber_node41node5_t4', 'flow_timber_node41node18_t4', 'flow_timber_node41node17_t4', 'flow_timber_node41node16_t4', 'flow_timber_node41node15_t4', 'flow_timber_node41node25_t4', 'flow_timber_node41node4_t4', 'flow_timber_node41node30_t4', 'flow_timber_node41node28_t4', 'flow_timber_node41node8_t4', 'flow_timber_node41node11_t4', 'flow_timber_node41node27_t4', 'flow_timber_node41node13_t4', 'flow_timber_node41node6_t4', 'flow_timber_node41node7_t4', 'flow_timber_node41node9_t4', 'flow_timber_node41node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_838_t4', 'variables': ['flow_timber_node42node32_t4', 'flow_timber_node42node16_t4', 'flow_timber_node42node19_t4', 'flow_timber_node42node17_t4', 'flow_timber_node42node10_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_837_t4', 'variables': ['flow_timber_node43node34_t4', 'flow_timber_node43node10_t4', 'flow_timber_node43node33_t4', 'flow_timber_node43node36_t4', 'flow_timber_node43node17_t4', 'flow_timber_node43node19_t4', 'flow_timber_node43node15_t4', 'flow_timber_node43node2_t4', 'flow_timber_node43node35_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1221_t5', 'variables': ['flow_timber_node37node1_t5', 'flow_timber_node37node5_t5', 'flow_timber_node37node22_t5', 'flow_timber_node37node23_t5', 'flow_timber_node37node21_t5', 'flow_timber_node37node14_t5', 'flow_timber_node37node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_842_t5', 'variables': ['flow_timber_node38node24_t5', 'flow_timber_node38node5_t5', 'flow_timber_node38node12_t5', 'flow_timber_node38node1_t5', 'flow_timber_node38node25_t5', 'flow_timber_node38node11_t5', 'flow_timber_node38node4_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_840_t5', 'variables': ['flow_timber_node39node8_t5', 'flow_timber_node39node11_t5', 'flow_timber_node39node12_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1420_t5', 'variables': ['flow_timber_node40node9_t5', 'flow_timber_node40node26_t5', 'flow_timber_node40node7_t5', 'flow_timber_node40node6_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1155_t5', 'variables': ['flow_timber_node41node3_t5', 'flow_timber_node41node14_t5', 'flow_timber_node41node31_t5', 'flow_timber_node41node5_t5', 'flow_timber_node41node18_t5', 'flow_timber_node41node17_t5', 'flow_timber_node41node16_t5', 'flow_timber_node41node15_t5', 'flow_timber_node41node25_t5', 'flow_timber_node41node4_t5', 'flow_timber_node41node30_t5', 'flow_timber_node41node28_t5', 'flow_timber_node41node8_t5', 'flow_timber_node41node11_t5', 'flow_timber_node41node27_t5', 'flow_timber_node41node13_t5', 'flow_timber_node41node6_t5', 'flow_timber_node41node7_t5', 'flow_timber_node41node9_t5', 'flow_timber_node41node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_838_t5', 'variables': ['flow_timber_node42node32_t5', 'flow_timber_node42node16_t5', 'flow_timber_node42node19_t5', 'flow_timber_node42node17_t5', 'flow_timber_node42node10_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_837_t5', 'variables': ['flow_timber_node43node34_t5', 'flow_timber_node43node10_t5', 'flow_timber_node43node33_t5', 'flow_timber_node43node36_t5', 'flow_timber_node43node17_t5', 'flow_timber_node43node19_t5', 'flow_timber_node43node15_t5', 'flow_timber_node43node2_t5', 'flow_timber_node43node35_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1221_t1', 'variables': ['flow_wide_node37node1_t1', 'flow_wide_node37node5_t1', 'flow_wide_node37node22_t1', 'flow_wide_node37node23_t1', 'flow_wide_node37node21_t1', 'flow_wide_node37node14_t1', 'flow_wide_node37node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_842_t1', 'variables': ['flow_wide_node38node24_t1', 'flow_wide_node38node5_t1', 'flow_wide_node38node12_t1', 'flow_wide_node38node1_t1', 'flow_wide_node38node25_t1', 'flow_wide_node38node11_t1', 'flow_wide_node38node4_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_840_t1', 'variables': ['flow_wide_node39node8_t1', 'flow_wide_node39node11_t1', 'flow_wide_node39node12_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1420_t1', 'variables': ['flow_wide_node40node9_t1', 'flow_wide_node40node26_t1', 'flow_wide_node40node7_t1', 'flow_wide_node40node6_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1155_t1', 'variables': ['flow_wide_node41node3_t1', 'flow_wide_node41node14_t1', 'flow_wide_node41node31_t1', 'flow_wide_node41node5_t1', 'flow_wide_node41node18_t1', 'flow_wide_node41node17_t1', 'flow_wide_node41node16_t1', 'flow_wide_node41node15_t1', 'flow_wide_node41node25_t1', 'flow_wide_node41node4_t1', 'flow_wide_node41node30_t1', 'flow_wide_node41node28_t1', 'flow_wide_node41node8_t1', 'flow_wide_node41node11_t1', 'flow_wide_node41node27_t1', 'flow_wide_node41node13_t1', 'flow_wide_node41node6_t1', 'flow_wide_node41node7_t1', 'flow_wide_node41node9_t1', 'flow_wide_node41node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_838_t1', 'variables': ['flow_wide_node42node32_t1', 'flow_wide_node42node16_t1', 'flow_wide_node42node19_t1', 'flow_wide_node42node17_t1', 'flow_wide_node42node10_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_837_t1', 'variables': ['flow_wide_node43node34_t1', 'flow_wide_node43node10_t1', 'flow_wide_node43node33_t1', 'flow_wide_node43node36_t1', 'flow_wide_node43node17_t1', 'flow_wide_node43node19_t1', 'flow_wide_node43node15_t1', 'flow_wide_node43node2_t1', 'flow_wide_node43node35_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1221_t2', 'variables': ['flow_wide_node37node1_t2', 'flow_wide_node37node5_t2', 'flow_wide_node37node22_t2', 'flow_wide_node37node23_t2', 'flow_wide_node37node21_t2', 'flow_wide_node37node14_t2', 'flow_wide_node37node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_842_t2', 'variables': ['flow_wide_node38node24_t2', 'flow_wide_node38node5_t2', 'flow_wide_node38node12_t2', 'flow_wide_node38node1_t2', 'flow_wide_node38node25_t2', 'flow_wide_node38node11_t2', 'flow_wide_node38node4_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_840_t2', 'variables': ['flow_wide_node39node8_t2', 'flow_wide_node39node11_t2', 'flow_wide_node39node12_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1420_t2', 'variables': ['flow_wide_node40node9_t2', 'flow_wide_node40node26_t2', 'flow_wide_node40node7_t2', 'flow_wide_node40node6_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1155_t2', 'variables': ['flow_wide_node41node3_t2', 'flow_wide_node41node14_t2', 'flow_wide_node41node31_t2', 'flow_wide_node41node5_t2', 'flow_wide_node41node18_t2', 'flow_wide_node41node17_t2', 'flow_wide_node41node16_t2', 'flow_wide_node41node15_t2', 'flow_wide_node41node25_t2', 'flow_wide_node41node4_t2', 'flow_wide_node41node30_t2', 'flow_wide_node41node28_t2', 'flow_wide_node41node8_t2', 'flow_wide_node41node11_t2', 'flow_wide_node41node27_t2', 'flow_wide_node41node13_t2', 'flow_wide_node41node6_t2', 'flow_wide_node41node7_t2', 'flow_wide_node41node9_t2', 'flow_wide_node41node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_838_t2', 'variables': ['flow_wide_node42node32_t2', 'flow_wide_node42node16_t2', 'flow_wide_node42node19_t2', 'flow_wide_node42node17_t2', 'flow_wide_node42node10_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_837_t2', 'variables': ['flow_wide_node43node34_t2', 'flow_wide_node43node10_t2', 'flow_wide_node43node33_t2', 'flow_wide_node43node36_t2', 'flow_wide_node43node17_t2', 'flow_wide_node43node19_t2', 'flow_wide_node43node15_t2', 'flow_wide_node43node2_t2', 'flow_wide_node43node35_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1221_t3', 'variables': ['flow_wide_node37node1_t3', 'flow_wide_node37node5_t3', 'flow_wide_node37node22_t3', 'flow_wide_node37node23_t3', 'flow_wide_node37node21_t3', 'flow_wide_node37node14_t3', 'flow_wide_node37node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_842_t3', 'variables': ['flow_wide_node38node24_t3', 'flow_wide_node38node5_t3', 'flow_wide_node38node12_t3', 'flow_wide_node38node1_t3', 'flow_wide_node38node25_t3', 'flow_wide_node38node11_t3', 'flow_wide_node38node4_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_840_t3', 'variables': ['flow_wide_node39node8_t3', 'flow_wide_node39node11_t3', 'flow_wide_node39node12_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1420_t3', 'variables': ['flow_wide_node40node9_t3', 'flow_wide_node40node26_t3', 'flow_wide_node40node7_t3', 'flow_wide_node40node6_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1155_t3', 'variables': ['flow_wide_node41node3_t3', 'flow_wide_node41node14_t3', 'flow_wide_node41node31_t3', 'flow_wide_node41node5_t3', 'flow_wide_node41node18_t3', 'flow_wide_node41node17_t3', 'flow_wide_node41node16_t3', 'flow_wide_node41node15_t3', 'flow_wide_node41node25_t3', 'flow_wide_node41node4_t3', 'flow_wide_node41node30_t3', 'flow_wide_node41node28_t3', 'flow_wide_node41node8_t3', 'flow_wide_node41node11_t3', 'flow_wide_node41node27_t3', 'flow_wide_node41node13_t3', 'flow_wide_node41node6_t3', 'flow_wide_node41node7_t3', 'flow_wide_node41node9_t3', 'flow_wide_node41node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_838_t3', 'variables': ['flow_wide_node42node32_t3', 'flow_wide_node42node16_t3', 'flow_wide_node42node19_t3', 'flow_wide_node42node17_t3', 'flow_wide_node42node10_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_837_t3', 'variables': ['flow_wide_node43node34_t3', 'flow_wide_node43node10_t3', 'flow_wide_node43node33_t3', 'flow_wide_node43node36_t3', 'flow_wide_node43node17_t3', 'flow_wide_node43node19_t3', 'flow_wide_node43node15_t3', 'flow_wide_node43node2_t3', 'flow_wide_node43node35_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1221_t4', 'variables': ['flow_wide_node37node1_t4', 'flow_wide_node37node5_t4', 'flow_wide_node37node22_t4', 'flow_wide_node37node23_t4', 'flow_wide_node37node21_t4', 'flow_wide_node37node14_t4', 'flow_wide_node37node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_842_t4', 'variables': ['flow_wide_node38node24_t4', 'flow_wide_node38node5_t4', 'flow_wide_node38node12_t4', 'flow_wide_node38node1_t4', 'flow_wide_node38node25_t4', 'flow_wide_node38node11_t4', 'flow_wide_node38node4_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_840_t4', 'variables': ['flow_wide_node39node8_t4', 'flow_wide_node39node11_t4', 'flow_wide_node39node12_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1420_t4', 'variables': ['flow_wide_node40node9_t4', 'flow_wide_node40node26_t4', 'flow_wide_node40node7_t4', 'flow_wide_node40node6_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1155_t4', 'variables': ['flow_wide_node41node3_t4', 'flow_wide_node41node14_t4', 'flow_wide_node41node31_t4', 'flow_wide_node41node5_t4', 'flow_wide_node41node18_t4', 'flow_wide_node41node17_t4', 'flow_wide_node41node16_t4', 'flow_wide_node41node15_t4', 'flow_wide_node41node25_t4', 'flow_wide_node41node4_t4', 'flow_wide_node41node30_t4', 'flow_wide_node41node28_t4', 'flow_wide_node41node8_t4', 'flow_wide_node41node11_t4', 'flow_wide_node41node27_t4', 'flow_wide_node41node13_t4', 'flow_wide_node41node6_t4', 'flow_wide_node41node7_t4', 'flow_wide_node41node9_t4', 'flow_wide_node41node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_838_t4', 'variables': ['flow_wide_node42node32_t4', 'flow_wide_node42node16_t4', 'flow_wide_node42node19_t4', 'flow_wide_node42node17_t4', 'flow_wide_node42node10_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_837_t4', 'variables': ['flow_wide_node43node34_t4', 'flow_wide_node43node10_t4', 'flow_wide_node43node33_t4', 'flow_wide_node43node36_t4', 'flow_wide_node43node17_t4', 'flow_wide_node43node19_t4', 'flow_wide_node43node15_t4', 'flow_wide_node43node2_t4', 'flow_wide_node43node35_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1221_t5', 'variables': ['flow_wide_node37node1_t5', 'flow_wide_node37node5_t5', 'flow_wide_node37node22_t5', 'flow_wide_node37node23_t5', 'flow_wide_node37node21_t5', 'flow_wide_node37node14_t5', 'flow_wide_node37node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_842_t5', 'variables': ['flow_wide_node38node24_t5', 'flow_wide_node38node5_t5', 'flow_wide_node38node12_t5', 'flow_wide_node38node1_t5', 'flow_wide_node38node25_t5', 'flow_wide_node38node11_t5', 'flow_wide_node38node4_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_840_t5', 'variables': ['flow_wide_node39node8_t5', 'flow_wide_node39node11_t5', 'flow_wide_node39node12_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1420_t5', 'variables': ['flow_wide_node40node9_t5', 'flow_wide_node40node26_t5', 'flow_wide_node40node7_t5', 'flow_wide_node40node6_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1155_t5', 'variables': ['flow_wide_node41node3_t5', 'flow_wide_node41node14_t5', 'flow_wide_node41node31_t5', 'flow_wide_node41node5_t5', 'flow_wide_node41node18_t5', 'flow_wide_node41node17_t5', 'flow_wide_node41node16_t5', 'flow_wide_node41node15_t5', 'flow_wide_node41node25_t5', 'flow_wide_node41node4_t5', 'flow_wide_node41node30_t5', 'flow_wide_node41node28_t5', 'flow_wide_node41node8_t5', 'flow_wide_node41node11_t5', 'flow_wide_node41node27_t5', 'flow_wide_node41node13_t5', 'flow_wide_node41node6_t5', 'flow_wide_node41node7_t5', 'flow_wide_node41node9_t5', 'flow_wide_node41node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_838_t5', 'variables': ['flow_wide_node42node32_t5', 'flow_wide_node42node16_t5', 'flow_wide_node42node19_t5', 'flow_wide_node42node17_t5', 'flow_wide_node42node10_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_837_t5', 'variables': ['flow_wide_node43node34_t5', 'flow_wide_node43node10_t5', 'flow_wide_node43node33_t5', 'flow_wide_node43node36_t5', 'flow_wide_node43node17_t5', 'flow_wide_node43node19_t5', 'flow_wide_node43node15_t5', 'flow_wide_node43node2_t5', 'flow_wide_node43node35_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
