Constraint group: Constraint_no_inflow_source
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_970_1', 'variables': ['flow_timber_node2node13_t1', 'flow_timber_node4node13_t1', 'flow_timber_node5node13_t1', 'flow_timber_node1node13_t1', 'flow_timber_node9node13_t1', 'flow_wide_node2node13_t1', 'flow_wide_node4node13_t1', 'flow_wide_node5node13_t1', 'flow_wide_node1node13_t1', 'flow_wide_node9node13_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_971_1', 'variables': ['flow_timber_node6node14_t1', 'flow_timber_node3node14_t1', 'flow_timber_node5node14_t1', 'flow_timber_node11node14_t1', 'flow_timber_node2node14_t1', 'flow_timber_node10node14_t1', 'flow_wide_node6node14_t1', 'flow_wide_node3node14_t1', 'flow_wide_node5node14_t1', 'flow_wide_node11node14_t1', 'flow_wide_node2node14_t1', 'flow_wide_node10node14_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1505_1', 'variables': ['flow_timber_node9node15_t1', 'flow_timber_node8node15_t1', 'flow_timber_node1node15_t1', 'flow_wide_node9node15_t1', 'flow_wide_node8node15_t1', 'flow_wide_node1node15_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_969_1', 'variables': ['flow_timber_node8node16_t1', 'flow_timber_node2node16_t1', 'flow_timber_node9node16_t1', 'flow_timber_node1node16_t1', 'flow_timber_node4node16_t1', 'flow_timber_node7node16_t1', 'flow_timber_node12node16_t1', 'flow_timber_node6node16_t1', 'flow_wide_node8node16_t1', 'flow_wide_node2node16_t1', 'flow_wide_node9node16_t1', 'flow_wide_node1node16_t1', 'flow_wide_node4node16_t1', 'flow_wide_node7node16_t1', 'flow_wide_node12node16_t1', 'flow_wide_node6node16_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_970_2', 'variables': ['flow_timber_node2node13_t2', 'flow_timber_node4node13_t2', 'flow_timber_node5node13_t2', 'flow_timber_node1node13_t2', 'flow_timber_node9node13_t2', 'flow_wide_node2node13_t2', 'flow_wide_node4node13_t2', 'flow_wide_node5node13_t2', 'flow_wide_node1node13_t2', 'flow_wide_node9node13_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_971_2', 'variables': ['flow_timber_node6node14_t2', 'flow_timber_node3node14_t2', 'flow_timber_node5node14_t2', 'flow_timber_node11node14_t2', 'flow_timber_node2node14_t2', 'flow_timber_node10node14_t2', 'flow_wide_node6node14_t2', 'flow_wide_node3node14_t2', 'flow_wide_node5node14_t2', 'flow_wide_node11node14_t2', 'flow_wide_node2node14_t2', 'flow_wide_node10node14_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1505_2', 'variables': ['flow_timber_node9node15_t2', 'flow_timber_node8node15_t2', 'flow_timber_node1node15_t2', 'flow_wide_node9node15_t2', 'flow_wide_node8node15_t2', 'flow_wide_node1node15_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_969_2', 'variables': ['flow_timber_node8node16_t2', 'flow_timber_node2node16_t2', 'flow_timber_node9node16_t2', 'flow_timber_node1node16_t2', 'flow_timber_node4node16_t2', 'flow_timber_node7node16_t2', 'flow_timber_node12node16_t2', 'flow_timber_node6node16_t2', 'flow_wide_node8node16_t2', 'flow_wide_node2node16_t2', 'flow_wide_node9node16_t2', 'flow_wide_node1node16_t2', 'flow_wide_node4node16_t2', 'flow_wide_node7node16_t2', 'flow_wide_node12node16_t2', 'flow_wide_node6node16_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_970_3', 'variables': ['flow_timber_node2node13_t3', 'flow_timber_node4node13_t3', 'flow_timber_node5node13_t3', 'flow_timber_node1node13_t3', 'flow_timber_node9node13_t3', 'flow_wide_node2node13_t3', 'flow_wide_node4node13_t3', 'flow_wide_node5node13_t3', 'flow_wide_node1node13_t3', 'flow_wide_node9node13_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_971_3', 'variables': ['flow_timber_node6node14_t3', 'flow_timber_node3node14_t3', 'flow_timber_node5node14_t3', 'flow_timber_node11node14_t3', 'flow_timber_node2node14_t3', 'flow_timber_node10node14_t3', 'flow_wide_node6node14_t3', 'flow_wide_node3node14_t3', 'flow_wide_node5node14_t3', 'flow_wide_node11node14_t3', 'flow_wide_node2node14_t3', 'flow_wide_node10node14_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1505_3', 'variables': ['flow_timber_node9node15_t3', 'flow_timber_node8node15_t3', 'flow_timber_node1node15_t3', 'flow_wide_node9node15_t3', 'flow_wide_node8node15_t3', 'flow_wide_node1node15_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_969_3', 'variables': ['flow_timber_node8node16_t3', 'flow_timber_node2node16_t3', 'flow_timber_node9node16_t3', 'flow_timber_node1node16_t3', 'flow_timber_node4node16_t3', 'flow_timber_node7node16_t3', 'flow_timber_node12node16_t3', 'flow_timber_node6node16_t3', 'flow_wide_node8node16_t3', 'flow_wide_node2node16_t3', 'flow_wide_node9node16_t3', 'flow_wide_node1node16_t3', 'flow_wide_node4node16_t3', 'flow_wide_node7node16_t3', 'flow_wide_node12node16_t3', 'flow_wide_node6node16_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_970_4', 'variables': ['flow_timber_node2node13_t4', 'flow_timber_node4node13_t4', 'flow_timber_node5node13_t4', 'flow_timber_node1node13_t4', 'flow_timber_node9node13_t4', 'flow_wide_node2node13_t4', 'flow_wide_node4node13_t4', 'flow_wide_node5node13_t4', 'flow_wide_node1node13_t4', 'flow_wide_node9node13_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_971_4', 'variables': ['flow_timber_node6node14_t4', 'flow_timber_node3node14_t4', 'flow_timber_node5node14_t4', 'flow_timber_node11node14_t4', 'flow_timber_node2node14_t4', 'flow_timber_node10node14_t4', 'flow_wide_node6node14_t4', 'flow_wide_node3node14_t4', 'flow_wide_node5node14_t4', 'flow_wide_node11node14_t4', 'flow_wide_node2node14_t4', 'flow_wide_node10node14_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1505_4', 'variables': ['flow_timber_node9node15_t4', 'flow_timber_node8node15_t4', 'flow_timber_node1node15_t4', 'flow_wide_node9node15_t4', 'flow_wide_node8node15_t4', 'flow_wide_node1node15_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_969_4', 'variables': ['flow_timber_node8node16_t4', 'flow_timber_node2node16_t4', 'flow_timber_node9node16_t4', 'flow_timber_node1node16_t4', 'flow_timber_node4node16_t4', 'flow_timber_node7node16_t4', 'flow_timber_node12node16_t4', 'flow_timber_node6node16_t4', 'flow_wide_node8node16_t4', 'flow_wide_node2node16_t4', 'flow_wide_node9node16_t4', 'flow_wide_node1node16_t4', 'flow_wide_node4node16_t4', 'flow_wide_node7node16_t4', 'flow_wide_node12node16_t4', 'flow_wide_node6node16_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_970_5', 'variables': ['flow_timber_node2node13_t5', 'flow_timber_node4node13_t5', 'flow_timber_node5node13_t5', 'flow_timber_node1node13_t5', 'flow_timber_node9node13_t5', 'flow_wide_node2node13_t5', 'flow_wide_node4node13_t5', 'flow_wide_node5node13_t5', 'flow_wide_node1node13_t5', 'flow_wide_node9node13_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_971_5', 'variables': ['flow_timber_node6node14_t5', 'flow_timber_node3node14_t5', 'flow_timber_node5node14_t5', 'flow_timber_node11node14_t5', 'flow_timber_node2node14_t5', 'flow_timber_node10node14_t5', 'flow_wide_node6node14_t5', 'flow_wide_node3node14_t5', 'flow_wide_node5node14_t5', 'flow_wide_node11node14_t5', 'flow_wide_node2node14_t5', 'flow_wide_node10node14_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1505_5', 'variables': ['flow_timber_node9node15_t5', 'flow_timber_node8node15_t5', 'flow_timber_node1node15_t5', 'flow_wide_node9node15_t5', 'flow_wide_node8node15_t5', 'flow_wide_node1node15_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_969_5', 'variables': ['flow_timber_node8node16_t5', 'flow_timber_node2node16_t5', 'flow_timber_node9node16_t5', 'flow_timber_node1node16_t5', 'flow_timber_node4node16_t5', 'flow_timber_node7node16_t5', 'flow_timber_node12node16_t5', 'flow_timber_node6node16_t5', 'flow_wide_node8node16_t5', 'flow_wide_node2node16_t5', 'flow_wide_node9node16_t5', 'flow_wide_node1node16_t5', 'flow_wide_node4node16_t5', 'flow_wide_node7node16_t5', 'flow_wide_node12node16_t5', 'flow_wide_node6node16_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
