Constraint group: Constraint_single_activity
Total in this group: 60
Expected: 60

Constraints:
{'constraint_name': 'Constraint_single_activity_node1node4_1', 'variables': ['C_node1node4_wide_t1', 'M_node1node4_wide_t1', 'C_node1node4_timber_t1', 'M_node1node4_timber_t1', 'U_node1node4_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node3_1', 'variables': ['C_node1node3_wide_t1', 'M_node1node3_wide_t1', 'C_node1node3_timber_t1', 'M_node1node3_timber_t1', 'U_node1node3_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node5_1', 'variables': ['C_node2node5_wide_t1', 'M_node2node5_wide_t1', 'C_node2node5_timber_t1', 'M_node2node5_timber_t1', 'U_node2node5_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node4_1', 'variables': ['C_node2node4_wide_t1', 'M_node2node4_wide_t1', 'C_node2node4_timber_t1', 'M_node2node4_timber_t1', 'U_node2node4_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node6_1', 'variables': ['C_node2node6_wide_t1', 'M_node2node6_wide_t1', 'C_node2node6_timber_t1', 'M_node2node6_timber_t1', 'U_node2node6_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node8_1', 'variables': ['C_node2node8_wide_t1', 'M_node2node8_wide_t1', 'C_node2node8_timber_t1', 'M_node2node8_timber_t1', 'U_node2node8_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node7_1', 'variables': ['C_node3node7_wide_t1', 'M_node3node7_wide_t1', 'C_node3node7_timber_t1', 'M_node3node7_timber_t1', 'U_node3node7_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node5_1', 'variables': ['C_node3node5_wide_t1', 'M_node3node5_wide_t1', 'C_node3node5_timber_t1', 'M_node3node5_timber_t1', 'U_node3node5_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node5_1', 'variables': ['C_node4node5_wide_t1', 'M_node4node5_wide_t1', 'C_node4node5_timber_t1', 'M_node4node5_timber_t1', 'U_node4node5_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node8_1', 'variables': ['C_node4node8_wide_t1', 'M_node4node8_wide_t1', 'C_node4node8_timber_t1', 'M_node4node8_timber_t1', 'U_node4node8_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node5node8_1', 'variables': ['C_node5node8_wide_t1', 'M_node5node8_wide_t1', 'C_node5node8_timber_t1', 'M_node5node8_timber_t1', 'U_node5node8_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node6node7_1', 'variables': ['C_node6node7_wide_t1', 'M_node6node7_wide_t1', 'C_node6node7_timber_t1', 'M_node6node7_timber_t1', 'U_node6node7_t1'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node4_2', 'variables': ['C_node1node4_wide_t2', 'M_node1node4_wide_t2', 'C_node1node4_timber_t2', 'M_node1node4_timber_t2', 'U_node1node4_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node3_2', 'variables': ['C_node1node3_wide_t2', 'M_node1node3_wide_t2', 'C_node1node3_timber_t2', 'M_node1node3_timber_t2', 'U_node1node3_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node5_2', 'variables': ['C_node2node5_wide_t2', 'M_node2node5_wide_t2', 'C_node2node5_timber_t2', 'M_node2node5_timber_t2', 'U_node2node5_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node4_2', 'variables': ['C_node2node4_wide_t2', 'M_node2node4_wide_t2', 'C_node2node4_timber_t2', 'M_node2node4_timber_t2', 'U_node2node4_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node6_2', 'variables': ['C_node2node6_wide_t2', 'M_node2node6_wide_t2', 'C_node2node6_timber_t2', 'M_node2node6_timber_t2', 'U_node2node6_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node8_2', 'variables': ['C_node2node8_wide_t2', 'M_node2node8_wide_t2', 'C_node2node8_timber_t2', 'M_node2node8_timber_t2', 'U_node2node8_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node7_2', 'variables': ['C_node3node7_wide_t2', 'M_node3node7_wide_t2', 'C_node3node7_timber_t2', 'M_node3node7_timber_t2', 'U_node3node7_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node5_2', 'variables': ['C_node3node5_wide_t2', 'M_node3node5_wide_t2', 'C_node3node5_timber_t2', 'M_node3node5_timber_t2', 'U_node3node5_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node5_2', 'variables': ['C_node4node5_wide_t2', 'M_node4node5_wide_t2', 'C_node4node5_timber_t2', 'M_node4node5_timber_t2', 'U_node4node5_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node8_2', 'variables': ['C_node4node8_wide_t2', 'M_node4node8_wide_t2', 'C_node4node8_timber_t2', 'M_node4node8_timber_t2', 'U_node4node8_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node5node8_2', 'variables': ['C_node5node8_wide_t2', 'M_node5node8_wide_t2', 'C_node5node8_timber_t2', 'M_node5node8_timber_t2', 'U_node5node8_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node6node7_2', 'variables': ['C_node6node7_wide_t2', 'M_node6node7_wide_t2', 'C_node6node7_timber_t2', 'M_node6node7_timber_t2', 'U_node6node7_t2'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node4_3', 'variables': ['C_node1node4_wide_t3', 'M_node1node4_wide_t3', 'C_node1node4_timber_t3', 'M_node1node4_timber_t3', 'U_node1node4_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node3_3', 'variables': ['C_node1node3_wide_t3', 'M_node1node3_wide_t3', 'C_node1node3_timber_t3', 'M_node1node3_timber_t3', 'U_node1node3_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node5_3', 'variables': ['C_node2node5_wide_t3', 'M_node2node5_wide_t3', 'C_node2node5_timber_t3', 'M_node2node5_timber_t3', 'U_node2node5_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node4_3', 'variables': ['C_node2node4_wide_t3', 'M_node2node4_wide_t3', 'C_node2node4_timber_t3', 'M_node2node4_timber_t3', 'U_node2node4_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node6_3', 'variables': ['C_node2node6_wide_t3', 'M_node2node6_wide_t3', 'C_node2node6_timber_t3', 'M_node2node6_timber_t3', 'U_node2node6_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node8_3', 'variables': ['C_node2node8_wide_t3', 'M_node2node8_wide_t3', 'C_node2node8_timber_t3', 'M_node2node8_timber_t3', 'U_node2node8_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node7_3', 'variables': ['C_node3node7_wide_t3', 'M_node3node7_wide_t3', 'C_node3node7_timber_t3', 'M_node3node7_timber_t3', 'U_node3node7_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node5_3', 'variables': ['C_node3node5_wide_t3', 'M_node3node5_wide_t3', 'C_node3node5_timber_t3', 'M_node3node5_timber_t3', 'U_node3node5_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node5_3', 'variables': ['C_node4node5_wide_t3', 'M_node4node5_wide_t3', 'C_node4node5_timber_t3', 'M_node4node5_timber_t3', 'U_node4node5_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node8_3', 'variables': ['C_node4node8_wide_t3', 'M_node4node8_wide_t3', 'C_node4node8_timber_t3', 'M_node4node8_timber_t3', 'U_node4node8_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node5node8_3', 'variables': ['C_node5node8_wide_t3', 'M_node5node8_wide_t3', 'C_node5node8_timber_t3', 'M_node5node8_timber_t3', 'U_node5node8_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node6node7_3', 'variables': ['C_node6node7_wide_t3', 'M_node6node7_wide_t3', 'C_node6node7_timber_t3', 'M_node6node7_timber_t3', 'U_node6node7_t3'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node4_4', 'variables': ['C_node1node4_wide_t4', 'M_node1node4_wide_t4', 'C_node1node4_timber_t4', 'M_node1node4_timber_t4', 'U_node1node4_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node3_4', 'variables': ['C_node1node3_wide_t4', 'M_node1node3_wide_t4', 'C_node1node3_timber_t4', 'M_node1node3_timber_t4', 'U_node1node3_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node5_4', 'variables': ['C_node2node5_wide_t4', 'M_node2node5_wide_t4', 'C_node2node5_timber_t4', 'M_node2node5_timber_t4', 'U_node2node5_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node4_4', 'variables': ['C_node2node4_wide_t4', 'M_node2node4_wide_t4', 'C_node2node4_timber_t4', 'M_node2node4_timber_t4', 'U_node2node4_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node6_4', 'variables': ['C_node2node6_wide_t4', 'M_node2node6_wide_t4', 'C_node2node6_timber_t4', 'M_node2node6_timber_t4', 'U_node2node6_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node8_4', 'variables': ['C_node2node8_wide_t4', 'M_node2node8_wide_t4', 'C_node2node8_timber_t4', 'M_node2node8_timber_t4', 'U_node2node8_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node7_4', 'variables': ['C_node3node7_wide_t4', 'M_node3node7_wide_t4', 'C_node3node7_timber_t4', 'M_node3node7_timber_t4', 'U_node3node7_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node5_4', 'variables': ['C_node3node5_wide_t4', 'M_node3node5_wide_t4', 'C_node3node5_timber_t4', 'M_node3node5_timber_t4', 'U_node3node5_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node5_4', 'variables': ['C_node4node5_wide_t4', 'M_node4node5_wide_t4', 'C_node4node5_timber_t4', 'M_node4node5_timber_t4', 'U_node4node5_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node8_4', 'variables': ['C_node4node8_wide_t4', 'M_node4node8_wide_t4', 'C_node4node8_timber_t4', 'M_node4node8_timber_t4', 'U_node4node8_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node5node8_4', 'variables': ['C_node5node8_wide_t4', 'M_node5node8_wide_t4', 'C_node5node8_timber_t4', 'M_node5node8_timber_t4', 'U_node5node8_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node6node7_4', 'variables': ['C_node6node7_wide_t4', 'M_node6node7_wide_t4', 'C_node6node7_timber_t4', 'M_node6node7_timber_t4', 'U_node6node7_t4'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node4_5', 'variables': ['C_node1node4_wide_t5', 'M_node1node4_wide_t5', 'C_node1node4_timber_t5', 'M_node1node4_timber_t5', 'U_node1node4_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node1node3_5', 'variables': ['C_node1node3_wide_t5', 'M_node1node3_wide_t5', 'C_node1node3_timber_t5', 'M_node1node3_timber_t5', 'U_node1node3_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node5_5', 'variables': ['C_node2node5_wide_t5', 'M_node2node5_wide_t5', 'C_node2node5_timber_t5', 'M_node2node5_timber_t5', 'U_node2node5_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node4_5', 'variables': ['C_node2node4_wide_t5', 'M_node2node4_wide_t5', 'C_node2node4_timber_t5', 'M_node2node4_timber_t5', 'U_node2node4_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node6_5', 'variables': ['C_node2node6_wide_t5', 'M_node2node6_wide_t5', 'C_node2node6_timber_t5', 'M_node2node6_timber_t5', 'U_node2node6_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node2node8_5', 'variables': ['C_node2node8_wide_t5', 'M_node2node8_wide_t5', 'C_node2node8_timber_t5', 'M_node2node8_timber_t5', 'U_node2node8_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node7_5', 'variables': ['C_node3node7_wide_t5', 'M_node3node7_wide_t5', 'C_node3node7_timber_t5', 'M_node3node7_timber_t5', 'U_node3node7_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node3node5_5', 'variables': ['C_node3node5_wide_t5', 'M_node3node5_wide_t5', 'C_node3node5_timber_t5', 'M_node3node5_timber_t5', 'U_node3node5_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node5_5', 'variables': ['C_node4node5_wide_t5', 'M_node4node5_wide_t5', 'C_node4node5_timber_t5', 'M_node4node5_timber_t5', 'U_node4node5_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node4node8_5', 'variables': ['C_node4node8_wide_t5', 'M_node4node8_wide_t5', 'C_node4node8_timber_t5', 'M_node4node8_timber_t5', 'U_node4node8_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node5node8_5', 'variables': ['C_node5node8_wide_t5', 'M_node5node8_wide_t5', 'C_node5node8_timber_t5', 'M_node5node8_timber_t5', 'U_node5node8_t5'], 'coefficients': [1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_single_activity_node6node7_5', 'variables': ['C_node6node7_wide_t5', 'M_node6node7_wide_t5', 'C_node6node7_timber_t5', 'M_node6node7_timber_t5', 'U_node6node7_t5'], 'coefficients': [1, 1, 1, 1, 1]}
