Constraint group: Constraint_no_inflow_source
Total in this group: 15
Expected: 15

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_877_1', 'variables': ['flow_timber_node13node20_t1', 'flow_timber_node9node20_t1', 'flow_timber_node8node20_t1', 'flow_timber_node10node20_t1', 'flow_timber_node14node20_t1', 'flow_wide_node13node20_t1', 'flow_wide_node9node20_t1', 'flow_wide_node8node20_t1', 'flow_wide_node10node20_t1', 'flow_wide_node14node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_878_1', 'variables': ['flow_timber_node10node21_t1', 'flow_timber_node1node21_t1', 'flow_timber_node13node21_t1', 'flow_timber_node6node21_t1', 'flow_timber_node7node21_t1', 'flow_wide_node10node21_t1', 'flow_wide_node1node21_t1', 'flow_wide_node13node21_t1', 'flow_wide_node6node21_t1', 'flow_wide_node7node21_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1282_1', 'variables': ['flow_timber_node12node22_t1', 'flow_timber_node13node22_t1', 'flow_timber_node6node22_t1', 'flow_timber_node2node22_t1', 'flow_timber_node9node22_t1', 'flow_wide_node12node22_t1', 'flow_wide_node13node22_t1', 'flow_wide_node6node22_t1', 'flow_wide_node2node22_t1', 'flow_wide_node9node22_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_877_2', 'variables': ['flow_timber_node13node20_t2', 'flow_timber_node9node20_t2', 'flow_timber_node8node20_t2', 'flow_timber_node10node20_t2', 'flow_timber_node14node20_t2', 'flow_wide_node13node20_t2', 'flow_wide_node9node20_t2', 'flow_wide_node8node20_t2', 'flow_wide_node10node20_t2', 'flow_wide_node14node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_878_2', 'variables': ['flow_timber_node10node21_t2', 'flow_timber_node1node21_t2', 'flow_timber_node13node21_t2', 'flow_timber_node6node21_t2', 'flow_timber_node7node21_t2', 'flow_wide_node10node21_t2', 'flow_wide_node1node21_t2', 'flow_wide_node13node21_t2', 'flow_wide_node6node21_t2', 'flow_wide_node7node21_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1282_2', 'variables': ['flow_timber_node12node22_t2', 'flow_timber_node13node22_t2', 'flow_timber_node6node22_t2', 'flow_timber_node2node22_t2', 'flow_timber_node9node22_t2', 'flow_wide_node12node22_t2', 'flow_wide_node13node22_t2', 'flow_wide_node6node22_t2', 'flow_wide_node2node22_t2', 'flow_wide_node9node22_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_877_3', 'variables': ['flow_timber_node13node20_t3', 'flow_timber_node9node20_t3', 'flow_timber_node8node20_t3', 'flow_timber_node10node20_t3', 'flow_timber_node14node20_t3', 'flow_wide_node13node20_t3', 'flow_wide_node9node20_t3', 'flow_wide_node8node20_t3', 'flow_wide_node10node20_t3', 'flow_wide_node14node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_878_3', 'variables': ['flow_timber_node10node21_t3', 'flow_timber_node1node21_t3', 'flow_timber_node13node21_t3', 'flow_timber_node6node21_t3', 'flow_timber_node7node21_t3', 'flow_wide_node10node21_t3', 'flow_wide_node1node21_t3', 'flow_wide_node13node21_t3', 'flow_wide_node6node21_t3', 'flow_wide_node7node21_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1282_3', 'variables': ['flow_timber_node12node22_t3', 'flow_timber_node13node22_t3', 'flow_timber_node6node22_t3', 'flow_timber_node2node22_t3', 'flow_timber_node9node22_t3', 'flow_wide_node12node22_t3', 'flow_wide_node13node22_t3', 'flow_wide_node6node22_t3', 'flow_wide_node2node22_t3', 'flow_wide_node9node22_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_877_4', 'variables': ['flow_timber_node13node20_t4', 'flow_timber_node9node20_t4', 'flow_timber_node8node20_t4', 'flow_timber_node10node20_t4', 'flow_timber_node14node20_t4', 'flow_wide_node13node20_t4', 'flow_wide_node9node20_t4', 'flow_wide_node8node20_t4', 'flow_wide_node10node20_t4', 'flow_wide_node14node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_878_4', 'variables': ['flow_timber_node10node21_t4', 'flow_timber_node1node21_t4', 'flow_timber_node13node21_t4', 'flow_timber_node6node21_t4', 'flow_timber_node7node21_t4', 'flow_wide_node10node21_t4', 'flow_wide_node1node21_t4', 'flow_wide_node13node21_t4', 'flow_wide_node6node21_t4', 'flow_wide_node7node21_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1282_4', 'variables': ['flow_timber_node12node22_t4', 'flow_timber_node13node22_t4', 'flow_timber_node6node22_t4', 'flow_timber_node2node22_t4', 'flow_timber_node9node22_t4', 'flow_wide_node12node22_t4', 'flow_wide_node13node22_t4', 'flow_wide_node6node22_t4', 'flow_wide_node2node22_t4', 'flow_wide_node9node22_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_877_5', 'variables': ['flow_timber_node13node20_t5', 'flow_timber_node9node20_t5', 'flow_timber_node8node20_t5', 'flow_timber_node10node20_t5', 'flow_timber_node14node20_t5', 'flow_wide_node13node20_t5', 'flow_wide_node9node20_t5', 'flow_wide_node8node20_t5', 'flow_wide_node10node20_t5', 'flow_wide_node14node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_878_5', 'variables': ['flow_timber_node10node21_t5', 'flow_timber_node1node21_t5', 'flow_timber_node13node21_t5', 'flow_timber_node6node21_t5', 'flow_timber_node7node21_t5', 'flow_wide_node10node21_t5', 'flow_wide_node1node21_t5', 'flow_wide_node13node21_t5', 'flow_wide_node6node21_t5', 'flow_wide_node7node21_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1282_5', 'variables': ['flow_timber_node12node22_t5', 'flow_timber_node13node22_t5', 'flow_timber_node6node22_t5', 'flow_timber_node2node22_t5', 'flow_timber_node9node22_t5', 'flow_wide_node12node22_t5', 'flow_wide_node13node22_t5', 'flow_wide_node6node22_t5', 'flow_wide_node2node22_t5', 'flow_wide_node9node22_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
