Constraint group: Constraint_no_inflow_source
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_975_1', 'variables': ['flow_timber_node17node49_t1', 'flow_timber_node24node49_t1', 'flow_timber_node26node49_t1', 'flow_timber_node28node49_t1', 'flow_timber_node27node49_t1', 'flow_wide_node17node49_t1', 'flow_wide_node24node49_t1', 'flow_wide_node26node49_t1', 'flow_wide_node28node49_t1', 'flow_wide_node27node49_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1032_1', 'variables': ['flow_timber_node3node50_t1', 'flow_timber_node13node50_t1', 'flow_timber_node23node50_t1', 'flow_timber_node16node50_t1', 'flow_timber_node8node50_t1', 'flow_timber_node4node50_t1', 'flow_timber_node22node50_t1', 'flow_timber_node15node50_t1', 'flow_timber_node11node50_t1', 'flow_timber_node19node50_t1', 'flow_wide_node3node50_t1', 'flow_wide_node13node50_t1', 'flow_wide_node23node50_t1', 'flow_wide_node16node50_t1', 'flow_wide_node8node50_t1', 'flow_wide_node4node50_t1', 'flow_wide_node22node50_t1', 'flow_wide_node15node50_t1', 'flow_wide_node11node50_t1', 'flow_wide_node19node50_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1033_1', 'variables': ['flow_timber_node3node51_t1', 'flow_timber_node10node51_t1', 'flow_timber_node14node51_t1', 'flow_timber_node21node51_t1', 'flow_timber_node22node51_t1', 'flow_wide_node3node51_t1', 'flow_wide_node10node51_t1', 'flow_wide_node14node51_t1', 'flow_wide_node21node51_t1', 'flow_wide_node22node51_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1036_1', 'variables': ['flow_timber_node21node52_t1', 'flow_timber_node29node52_t1', 'flow_timber_node14node52_t1', 'flow_timber_node5node52_t1', 'flow_wide_node21node52_t1', 'flow_wide_node29node52_t1', 'flow_wide_node14node52_t1', 'flow_wide_node5node52_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1377_1', 'variables': ['flow_timber_node16node53_t1', 'flow_timber_node4node53_t1', 'flow_timber_node30node53_t1', 'flow_wide_node16node53_t1', 'flow_wide_node4node53_t1', 'flow_wide_node30node53_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1378_1', 'variables': ['flow_timber_node24node54_t1', 'flow_timber_node17node54_t1', 'flow_timber_node2node54_t1', 'flow_wide_node24node54_t1', 'flow_wide_node17node54_t1', 'flow_wide_node2node54_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_975_2', 'variables': ['flow_timber_node17node49_t2', 'flow_timber_node24node49_t2', 'flow_timber_node26node49_t2', 'flow_timber_node28node49_t2', 'flow_timber_node27node49_t2', 'flow_wide_node17node49_t2', 'flow_wide_node24node49_t2', 'flow_wide_node26node49_t2', 'flow_wide_node28node49_t2', 'flow_wide_node27node49_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1032_2', 'variables': ['flow_timber_node3node50_t2', 'flow_timber_node13node50_t2', 'flow_timber_node23node50_t2', 'flow_timber_node16node50_t2', 'flow_timber_node8node50_t2', 'flow_timber_node4node50_t2', 'flow_timber_node22node50_t2', 'flow_timber_node15node50_t2', 'flow_timber_node11node50_t2', 'flow_timber_node19node50_t2', 'flow_wide_node3node50_t2', 'flow_wide_node13node50_t2', 'flow_wide_node23node50_t2', 'flow_wide_node16node50_t2', 'flow_wide_node8node50_t2', 'flow_wide_node4node50_t2', 'flow_wide_node22node50_t2', 'flow_wide_node15node50_t2', 'flow_wide_node11node50_t2', 'flow_wide_node19node50_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1033_2', 'variables': ['flow_timber_node3node51_t2', 'flow_timber_node10node51_t2', 'flow_timber_node14node51_t2', 'flow_timber_node21node51_t2', 'flow_timber_node22node51_t2', 'flow_wide_node3node51_t2', 'flow_wide_node10node51_t2', 'flow_wide_node14node51_t2', 'flow_wide_node21node51_t2', 'flow_wide_node22node51_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1036_2', 'variables': ['flow_timber_node21node52_t2', 'flow_timber_node29node52_t2', 'flow_timber_node14node52_t2', 'flow_timber_node5node52_t2', 'flow_wide_node21node52_t2', 'flow_wide_node29node52_t2', 'flow_wide_node14node52_t2', 'flow_wide_node5node52_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1377_2', 'variables': ['flow_timber_node16node53_t2', 'flow_timber_node4node53_t2', 'flow_timber_node30node53_t2', 'flow_wide_node16node53_t2', 'flow_wide_node4node53_t2', 'flow_wide_node30node53_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1378_2', 'variables': ['flow_timber_node24node54_t2', 'flow_timber_node17node54_t2', 'flow_timber_node2node54_t2', 'flow_wide_node24node54_t2', 'flow_wide_node17node54_t2', 'flow_wide_node2node54_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_975_3', 'variables': ['flow_timber_node17node49_t3', 'flow_timber_node24node49_t3', 'flow_timber_node26node49_t3', 'flow_timber_node28node49_t3', 'flow_timber_node27node49_t3', 'flow_wide_node17node49_t3', 'flow_wide_node24node49_t3', 'flow_wide_node26node49_t3', 'flow_wide_node28node49_t3', 'flow_wide_node27node49_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1032_3', 'variables': ['flow_timber_node3node50_t3', 'flow_timber_node13node50_t3', 'flow_timber_node23node50_t3', 'flow_timber_node16node50_t3', 'flow_timber_node8node50_t3', 'flow_timber_node4node50_t3', 'flow_timber_node22node50_t3', 'flow_timber_node15node50_t3', 'flow_timber_node11node50_t3', 'flow_timber_node19node50_t3', 'flow_wide_node3node50_t3', 'flow_wide_node13node50_t3', 'flow_wide_node23node50_t3', 'flow_wide_node16node50_t3', 'flow_wide_node8node50_t3', 'flow_wide_node4node50_t3', 'flow_wide_node22node50_t3', 'flow_wide_node15node50_t3', 'flow_wide_node11node50_t3', 'flow_wide_node19node50_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1033_3', 'variables': ['flow_timber_node3node51_t3', 'flow_timber_node10node51_t3', 'flow_timber_node14node51_t3', 'flow_timber_node21node51_t3', 'flow_timber_node22node51_t3', 'flow_wide_node3node51_t3', 'flow_wide_node10node51_t3', 'flow_wide_node14node51_t3', 'flow_wide_node21node51_t3', 'flow_wide_node22node51_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1036_3', 'variables': ['flow_timber_node21node52_t3', 'flow_timber_node29node52_t3', 'flow_timber_node14node52_t3', 'flow_timber_node5node52_t3', 'flow_wide_node21node52_t3', 'flow_wide_node29node52_t3', 'flow_wide_node14node52_t3', 'flow_wide_node5node52_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1377_3', 'variables': ['flow_timber_node16node53_t3', 'flow_timber_node4node53_t3', 'flow_timber_node30node53_t3', 'flow_wide_node16node53_t3', 'flow_wide_node4node53_t3', 'flow_wide_node30node53_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1378_3', 'variables': ['flow_timber_node24node54_t3', 'flow_timber_node17node54_t3', 'flow_timber_node2node54_t3', 'flow_wide_node24node54_t3', 'flow_wide_node17node54_t3', 'flow_wide_node2node54_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_975_4', 'variables': ['flow_timber_node17node49_t4', 'flow_timber_node24node49_t4', 'flow_timber_node26node49_t4', 'flow_timber_node28node49_t4', 'flow_timber_node27node49_t4', 'flow_wide_node17node49_t4', 'flow_wide_node24node49_t4', 'flow_wide_node26node49_t4', 'flow_wide_node28node49_t4', 'flow_wide_node27node49_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1032_4', 'variables': ['flow_timber_node3node50_t4', 'flow_timber_node13node50_t4', 'flow_timber_node23node50_t4', 'flow_timber_node16node50_t4', 'flow_timber_node8node50_t4', 'flow_timber_node4node50_t4', 'flow_timber_node22node50_t4', 'flow_timber_node15node50_t4', 'flow_timber_node11node50_t4', 'flow_timber_node19node50_t4', 'flow_wide_node3node50_t4', 'flow_wide_node13node50_t4', 'flow_wide_node23node50_t4', 'flow_wide_node16node50_t4', 'flow_wide_node8node50_t4', 'flow_wide_node4node50_t4', 'flow_wide_node22node50_t4', 'flow_wide_node15node50_t4', 'flow_wide_node11node50_t4', 'flow_wide_node19node50_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1033_4', 'variables': ['flow_timber_node3node51_t4', 'flow_timber_node10node51_t4', 'flow_timber_node14node51_t4', 'flow_timber_node21node51_t4', 'flow_timber_node22node51_t4', 'flow_wide_node3node51_t4', 'flow_wide_node10node51_t4', 'flow_wide_node14node51_t4', 'flow_wide_node21node51_t4', 'flow_wide_node22node51_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1036_4', 'variables': ['flow_timber_node21node52_t4', 'flow_timber_node29node52_t4', 'flow_timber_node14node52_t4', 'flow_timber_node5node52_t4', 'flow_wide_node21node52_t4', 'flow_wide_node29node52_t4', 'flow_wide_node14node52_t4', 'flow_wide_node5node52_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1377_4', 'variables': ['flow_timber_node16node53_t4', 'flow_timber_node4node53_t4', 'flow_timber_node30node53_t4', 'flow_wide_node16node53_t4', 'flow_wide_node4node53_t4', 'flow_wide_node30node53_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1378_4', 'variables': ['flow_timber_node24node54_t4', 'flow_timber_node17node54_t4', 'flow_timber_node2node54_t4', 'flow_wide_node24node54_t4', 'flow_wide_node17node54_t4', 'flow_wide_node2node54_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_975_5', 'variables': ['flow_timber_node17node49_t5', 'flow_timber_node24node49_t5', 'flow_timber_node26node49_t5', 'flow_timber_node28node49_t5', 'flow_timber_node27node49_t5', 'flow_wide_node17node49_t5', 'flow_wide_node24node49_t5', 'flow_wide_node26node49_t5', 'flow_wide_node28node49_t5', 'flow_wide_node27node49_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1032_5', 'variables': ['flow_timber_node3node50_t5', 'flow_timber_node13node50_t5', 'flow_timber_node23node50_t5', 'flow_timber_node16node50_t5', 'flow_timber_node8node50_t5', 'flow_timber_node4node50_t5', 'flow_timber_node22node50_t5', 'flow_timber_node15node50_t5', 'flow_timber_node11node50_t5', 'flow_timber_node19node50_t5', 'flow_wide_node3node50_t5', 'flow_wide_node13node50_t5', 'flow_wide_node23node50_t5', 'flow_wide_node16node50_t5', 'flow_wide_node8node50_t5', 'flow_wide_node4node50_t5', 'flow_wide_node22node50_t5', 'flow_wide_node15node50_t5', 'flow_wide_node11node50_t5', 'flow_wide_node19node50_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1033_5', 'variables': ['flow_timber_node3node51_t5', 'flow_timber_node10node51_t5', 'flow_timber_node14node51_t5', 'flow_timber_node21node51_t5', 'flow_timber_node22node51_t5', 'flow_wide_node3node51_t5', 'flow_wide_node10node51_t5', 'flow_wide_node14node51_t5', 'flow_wide_node21node51_t5', 'flow_wide_node22node51_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1036_5', 'variables': ['flow_timber_node21node52_t5', 'flow_timber_node29node52_t5', 'flow_timber_node14node52_t5', 'flow_timber_node5node52_t5', 'flow_wide_node21node52_t5', 'flow_wide_node29node52_t5', 'flow_wide_node14node52_t5', 'flow_wide_node5node52_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1377_5', 'variables': ['flow_timber_node16node53_t5', 'flow_timber_node4node53_t5', 'flow_timber_node30node53_t5', 'flow_wide_node16node53_t5', 'flow_wide_node4node53_t5', 'flow_wide_node30node53_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1378_5', 'variables': ['flow_timber_node24node54_t5', 'flow_timber_node17node54_t5', 'flow_timber_node2node54_t5', 'flow_wide_node24node54_t5', 'flow_wide_node17node54_t5', 'flow_wide_node2node54_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
