Constraint group: Constraint_outflow_iff_needroad
Total in this group: 50
Expected: 50

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_857_t1', 'variables': ['flow_timber_node37node26_t1', 'flow_timber_node37node6_t1', 'flow_timber_node37node13_t1', 'flow_timber_node37node8_t1', 'flow_timber_node37node22_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_881_t1', 'variables': ['flow_timber_node38node13_t1', 'flow_timber_node38node20_t1', 'flow_timber_node38node16_t1', 'flow_timber_node38node26_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_882_t1', 'variables': ['flow_timber_node39node26_t1', 'flow_timber_node39node12_t1', 'flow_timber_node39node20_t1', 'flow_timber_node39node22_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1173_t1', 'variables': ['flow_timber_node40node21_t1', 'flow_timber_node40node18_t1', 'flow_timber_node40node2_t1', 'flow_timber_node40node17_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1303_t1', 'variables': ['flow_timber_node41node30_t1', 'flow_timber_node41node28_t1', 'flow_timber_node41node21_t1', 'flow_timber_node41node10_t1', 'flow_timber_node41node11_t1', 'flow_timber_node41node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_857_t2', 'variables': ['flow_timber_node37node26_t2', 'flow_timber_node37node6_t2', 'flow_timber_node37node13_t2', 'flow_timber_node37node8_t2', 'flow_timber_node37node22_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_881_t2', 'variables': ['flow_timber_node38node13_t2', 'flow_timber_node38node20_t2', 'flow_timber_node38node16_t2', 'flow_timber_node38node26_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_882_t2', 'variables': ['flow_timber_node39node26_t2', 'flow_timber_node39node12_t2', 'flow_timber_node39node20_t2', 'flow_timber_node39node22_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1173_t2', 'variables': ['flow_timber_node40node21_t2', 'flow_timber_node40node18_t2', 'flow_timber_node40node2_t2', 'flow_timber_node40node17_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1303_t2', 'variables': ['flow_timber_node41node30_t2', 'flow_timber_node41node28_t2', 'flow_timber_node41node21_t2', 'flow_timber_node41node10_t2', 'flow_timber_node41node11_t2', 'flow_timber_node41node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_857_t3', 'variables': ['flow_timber_node37node26_t3', 'flow_timber_node37node6_t3', 'flow_timber_node37node13_t3', 'flow_timber_node37node8_t3', 'flow_timber_node37node22_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_881_t3', 'variables': ['flow_timber_node38node13_t3', 'flow_timber_node38node20_t3', 'flow_timber_node38node16_t3', 'flow_timber_node38node26_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_882_t3', 'variables': ['flow_timber_node39node26_t3', 'flow_timber_node39node12_t3', 'flow_timber_node39node20_t3', 'flow_timber_node39node22_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1173_t3', 'variables': ['flow_timber_node40node21_t3', 'flow_timber_node40node18_t3', 'flow_timber_node40node2_t3', 'flow_timber_node40node17_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1303_t3', 'variables': ['flow_timber_node41node30_t3', 'flow_timber_node41node28_t3', 'flow_timber_node41node21_t3', 'flow_timber_node41node10_t3', 'flow_timber_node41node11_t3', 'flow_timber_node41node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_857_t4', 'variables': ['flow_timber_node37node26_t4', 'flow_timber_node37node6_t4', 'flow_timber_node37node13_t4', 'flow_timber_node37node8_t4', 'flow_timber_node37node22_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_881_t4', 'variables': ['flow_timber_node38node13_t4', 'flow_timber_node38node20_t4', 'flow_timber_node38node16_t4', 'flow_timber_node38node26_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_882_t4', 'variables': ['flow_timber_node39node26_t4', 'flow_timber_node39node12_t4', 'flow_timber_node39node20_t4', 'flow_timber_node39node22_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1173_t4', 'variables': ['flow_timber_node40node21_t4', 'flow_timber_node40node18_t4', 'flow_timber_node40node2_t4', 'flow_timber_node40node17_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1303_t4', 'variables': ['flow_timber_node41node30_t4', 'flow_timber_node41node28_t4', 'flow_timber_node41node21_t4', 'flow_timber_node41node10_t4', 'flow_timber_node41node11_t4', 'flow_timber_node41node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_857_t5', 'variables': ['flow_timber_node37node26_t5', 'flow_timber_node37node6_t5', 'flow_timber_node37node13_t5', 'flow_timber_node37node8_t5', 'flow_timber_node37node22_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_881_t5', 'variables': ['flow_timber_node38node13_t5', 'flow_timber_node38node20_t5', 'flow_timber_node38node16_t5', 'flow_timber_node38node26_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_882_t5', 'variables': ['flow_timber_node39node26_t5', 'flow_timber_node39node12_t5', 'flow_timber_node39node20_t5', 'flow_timber_node39node22_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1173_t5', 'variables': ['flow_timber_node40node21_t5', 'flow_timber_node40node18_t5', 'flow_timber_node40node2_t5', 'flow_timber_node40node17_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1303_t5', 'variables': ['flow_timber_node41node30_t5', 'flow_timber_node41node28_t5', 'flow_timber_node41node21_t5', 'flow_timber_node41node10_t5', 'flow_timber_node41node11_t5', 'flow_timber_node41node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_857_t1', 'variables': ['flow_wide_node37node26_t1', 'flow_wide_node37node6_t1', 'flow_wide_node37node13_t1', 'flow_wide_node37node8_t1', 'flow_wide_node37node22_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_881_t1', 'variables': ['flow_wide_node38node13_t1', 'flow_wide_node38node20_t1', 'flow_wide_node38node16_t1', 'flow_wide_node38node26_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_882_t1', 'variables': ['flow_wide_node39node26_t1', 'flow_wide_node39node12_t1', 'flow_wide_node39node20_t1', 'flow_wide_node39node22_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1173_t1', 'variables': ['flow_wide_node40node21_t1', 'flow_wide_node40node18_t1', 'flow_wide_node40node2_t1', 'flow_wide_node40node17_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1303_t1', 'variables': ['flow_wide_node41node30_t1', 'flow_wide_node41node28_t1', 'flow_wide_node41node21_t1', 'flow_wide_node41node10_t1', 'flow_wide_node41node11_t1', 'flow_wide_node41node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_857_t2', 'variables': ['flow_wide_node37node26_t2', 'flow_wide_node37node6_t2', 'flow_wide_node37node13_t2', 'flow_wide_node37node8_t2', 'flow_wide_node37node22_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_881_t2', 'variables': ['flow_wide_node38node13_t2', 'flow_wide_node38node20_t2', 'flow_wide_node38node16_t2', 'flow_wide_node38node26_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_882_t2', 'variables': ['flow_wide_node39node26_t2', 'flow_wide_node39node12_t2', 'flow_wide_node39node20_t2', 'flow_wide_node39node22_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1173_t2', 'variables': ['flow_wide_node40node21_t2', 'flow_wide_node40node18_t2', 'flow_wide_node40node2_t2', 'flow_wide_node40node17_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1303_t2', 'variables': ['flow_wide_node41node30_t2', 'flow_wide_node41node28_t2', 'flow_wide_node41node21_t2', 'flow_wide_node41node10_t2', 'flow_wide_node41node11_t2', 'flow_wide_node41node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_857_t3', 'variables': ['flow_wide_node37node26_t3', 'flow_wide_node37node6_t3', 'flow_wide_node37node13_t3', 'flow_wide_node37node8_t3', 'flow_wide_node37node22_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_881_t3', 'variables': ['flow_wide_node38node13_t3', 'flow_wide_node38node20_t3', 'flow_wide_node38node16_t3', 'flow_wide_node38node26_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_882_t3', 'variables': ['flow_wide_node39node26_t3', 'flow_wide_node39node12_t3', 'flow_wide_node39node20_t3', 'flow_wide_node39node22_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1173_t3', 'variables': ['flow_wide_node40node21_t3', 'flow_wide_node40node18_t3', 'flow_wide_node40node2_t3', 'flow_wide_node40node17_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1303_t3', 'variables': ['flow_wide_node41node30_t3', 'flow_wide_node41node28_t3', 'flow_wide_node41node21_t3', 'flow_wide_node41node10_t3', 'flow_wide_node41node11_t3', 'flow_wide_node41node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_857_t4', 'variables': ['flow_wide_node37node26_t4', 'flow_wide_node37node6_t4', 'flow_wide_node37node13_t4', 'flow_wide_node37node8_t4', 'flow_wide_node37node22_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_881_t4', 'variables': ['flow_wide_node38node13_t4', 'flow_wide_node38node20_t4', 'flow_wide_node38node16_t4', 'flow_wide_node38node26_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_882_t4', 'variables': ['flow_wide_node39node26_t4', 'flow_wide_node39node12_t4', 'flow_wide_node39node20_t4', 'flow_wide_node39node22_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1173_t4', 'variables': ['flow_wide_node40node21_t4', 'flow_wide_node40node18_t4', 'flow_wide_node40node2_t4', 'flow_wide_node40node17_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1303_t4', 'variables': ['flow_wide_node41node30_t4', 'flow_wide_node41node28_t4', 'flow_wide_node41node21_t4', 'flow_wide_node41node10_t4', 'flow_wide_node41node11_t4', 'flow_wide_node41node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_857_t5', 'variables': ['flow_wide_node37node26_t5', 'flow_wide_node37node6_t5', 'flow_wide_node37node13_t5', 'flow_wide_node37node8_t5', 'flow_wide_node37node22_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_881_t5', 'variables': ['flow_wide_node38node13_t5', 'flow_wide_node38node20_t5', 'flow_wide_node38node16_t5', 'flow_wide_node38node26_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_882_t5', 'variables': ['flow_wide_node39node26_t5', 'flow_wide_node39node12_t5', 'flow_wide_node39node20_t5', 'flow_wide_node39node22_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1173_t5', 'variables': ['flow_wide_node40node21_t5', 'flow_wide_node40node18_t5', 'flow_wide_node40node2_t5', 'flow_wide_node40node17_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1303_t5', 'variables': ['flow_wide_node41node30_t5', 'flow_wide_node41node28_t5', 'flow_wide_node41node21_t5', 'flow_wide_node41node10_t5', 'flow_wide_node41node11_t5', 'flow_wide_node41node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
