Constraint group: Constraint_maintain_upgrade
Total in this group: 100
Expected: 100

Constraints:
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_1', 'variables': ['M_node1node5_timber_t1', 'U_node1node5_t1', 'C_node1node5_timber_t0', 'M_node1node5_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_1', 'variables': ['M_node1node6_timber_t1', 'U_node1node6_t1', 'C_node1node6_timber_t0', 'M_node1node6_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node9_1', 'variables': ['M_node2node9_timber_t1', 'U_node2node9_t1', 'C_node2node9_timber_t0', 'M_node2node9_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_1', 'variables': ['M_node2node8_timber_t1', 'U_node2node8_t1', 'C_node2node8_timber_t0', 'M_node2node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_1', 'variables': ['M_node3node5_timber_t1', 'U_node3node5_t1', 'C_node3node5_timber_t0', 'M_node3node5_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_1', 'variables': ['M_node3node8_timber_t1', 'U_node3node8_t1', 'C_node3node8_timber_t0', 'M_node3node8_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node9_1', 'variables': ['M_node3node9_timber_t1', 'U_node3node9_t1', 'C_node3node9_timber_t0', 'M_node3node9_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node11_1', 'variables': ['M_node3node11_timber_t1', 'U_node3node11_t1', 'C_node3node11_timber_t0', 'M_node3node11_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node6_1', 'variables': ['M_node4node6_timber_t1', 'U_node4node6_t1', 'C_node4node6_timber_t0', 'M_node4node6_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node9_1', 'variables': ['M_node4node9_timber_t1', 'U_node4node9_t1', 'C_node4node9_timber_t0', 'M_node4node9_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_1', 'variables': ['M_node4node7_timber_t1', 'U_node4node7_t1', 'C_node4node7_timber_t0', 'M_node4node7_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node10_1', 'variables': ['M_node4node10_timber_t1', 'U_node4node10_t1', 'C_node4node10_timber_t0', 'M_node4node10_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node11_1', 'variables': ['M_node4node11_timber_t1', 'U_node4node11_t1', 'C_node4node11_timber_t0', 'M_node4node11_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node7_1', 'variables': ['M_node5node7_timber_t1', 'U_node5node7_t1', 'C_node5node7_timber_t0', 'M_node5node7_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node11_1', 'variables': ['M_node5node11_timber_t1', 'U_node5node11_t1', 'C_node5node11_timber_t0', 'M_node5node11_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_1', 'variables': ['M_node6node7_timber_t1', 'U_node6node7_t1', 'C_node6node7_timber_t0', 'M_node6node7_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node10_1', 'variables': ['M_node6node10_timber_t1', 'U_node6node10_t1', 'C_node6node10_timber_t0', 'M_node6node10_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node10_1', 'variables': ['M_node7node10_timber_t1', 'U_node7node10_t1', 'C_node7node10_timber_t0', 'M_node7node10_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node11_1', 'variables': ['M_node7node11_timber_t1', 'U_node7node11_t1', 'C_node7node11_timber_t0', 'M_node7node11_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node9node11_1', 'variables': ['M_node9node11_timber_t1', 'U_node9node11_t1', 'C_node9node11_timber_t0', 'M_node9node11_timber_t0'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_2', 'variables': ['M_node1node5_timber_t2', 'U_node1node5_t2', 'C_node1node5_timber_t1', 'M_node1node5_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_2', 'variables': ['M_node1node6_timber_t2', 'U_node1node6_t2', 'C_node1node6_timber_t1', 'M_node1node6_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node9_2', 'variables': ['M_node2node9_timber_t2', 'U_node2node9_t2', 'C_node2node9_timber_t1', 'M_node2node9_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_2', 'variables': ['M_node2node8_timber_t2', 'U_node2node8_t2', 'C_node2node8_timber_t1', 'M_node2node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_2', 'variables': ['M_node3node5_timber_t2', 'U_node3node5_t2', 'C_node3node5_timber_t1', 'M_node3node5_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_2', 'variables': ['M_node3node8_timber_t2', 'U_node3node8_t2', 'C_node3node8_timber_t1', 'M_node3node8_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node9_2', 'variables': ['M_node3node9_timber_t2', 'U_node3node9_t2', 'C_node3node9_timber_t1', 'M_node3node9_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node11_2', 'variables': ['M_node3node11_timber_t2', 'U_node3node11_t2', 'C_node3node11_timber_t1', 'M_node3node11_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node6_2', 'variables': ['M_node4node6_timber_t2', 'U_node4node6_t2', 'C_node4node6_timber_t1', 'M_node4node6_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node9_2', 'variables': ['M_node4node9_timber_t2', 'U_node4node9_t2', 'C_node4node9_timber_t1', 'M_node4node9_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_2', 'variables': ['M_node4node7_timber_t2', 'U_node4node7_t2', 'C_node4node7_timber_t1', 'M_node4node7_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node10_2', 'variables': ['M_node4node10_timber_t2', 'U_node4node10_t2', 'C_node4node10_timber_t1', 'M_node4node10_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node11_2', 'variables': ['M_node4node11_timber_t2', 'U_node4node11_t2', 'C_node4node11_timber_t1', 'M_node4node11_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node7_2', 'variables': ['M_node5node7_timber_t2', 'U_node5node7_t2', 'C_node5node7_timber_t1', 'M_node5node7_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node11_2', 'variables': ['M_node5node11_timber_t2', 'U_node5node11_t2', 'C_node5node11_timber_t1', 'M_node5node11_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_2', 'variables': ['M_node6node7_timber_t2', 'U_node6node7_t2', 'C_node6node7_timber_t1', 'M_node6node7_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node10_2', 'variables': ['M_node6node10_timber_t2', 'U_node6node10_t2', 'C_node6node10_timber_t1', 'M_node6node10_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node10_2', 'variables': ['M_node7node10_timber_t2', 'U_node7node10_t2', 'C_node7node10_timber_t1', 'M_node7node10_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node11_2', 'variables': ['M_node7node11_timber_t2', 'U_node7node11_t2', 'C_node7node11_timber_t1', 'M_node7node11_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node9node11_2', 'variables': ['M_node9node11_timber_t2', 'U_node9node11_t2', 'C_node9node11_timber_t1', 'M_node9node11_timber_t1'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_3', 'variables': ['M_node1node5_timber_t3', 'U_node1node5_t3', 'C_node1node5_timber_t2', 'M_node1node5_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_3', 'variables': ['M_node1node6_timber_t3', 'U_node1node6_t3', 'C_node1node6_timber_t2', 'M_node1node6_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node9_3', 'variables': ['M_node2node9_timber_t3', 'U_node2node9_t3', 'C_node2node9_timber_t2', 'M_node2node9_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_3', 'variables': ['M_node2node8_timber_t3', 'U_node2node8_t3', 'C_node2node8_timber_t2', 'M_node2node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_3', 'variables': ['M_node3node5_timber_t3', 'U_node3node5_t3', 'C_node3node5_timber_t2', 'M_node3node5_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_3', 'variables': ['M_node3node8_timber_t3', 'U_node3node8_t3', 'C_node3node8_timber_t2', 'M_node3node8_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node9_3', 'variables': ['M_node3node9_timber_t3', 'U_node3node9_t3', 'C_node3node9_timber_t2', 'M_node3node9_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node11_3', 'variables': ['M_node3node11_timber_t3', 'U_node3node11_t3', 'C_node3node11_timber_t2', 'M_node3node11_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node6_3', 'variables': ['M_node4node6_timber_t3', 'U_node4node6_t3', 'C_node4node6_timber_t2', 'M_node4node6_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node9_3', 'variables': ['M_node4node9_timber_t3', 'U_node4node9_t3', 'C_node4node9_timber_t2', 'M_node4node9_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_3', 'variables': ['M_node4node7_timber_t3', 'U_node4node7_t3', 'C_node4node7_timber_t2', 'M_node4node7_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node10_3', 'variables': ['M_node4node10_timber_t3', 'U_node4node10_t3', 'C_node4node10_timber_t2', 'M_node4node10_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node11_3', 'variables': ['M_node4node11_timber_t3', 'U_node4node11_t3', 'C_node4node11_timber_t2', 'M_node4node11_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node7_3', 'variables': ['M_node5node7_timber_t3', 'U_node5node7_t3', 'C_node5node7_timber_t2', 'M_node5node7_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node11_3', 'variables': ['M_node5node11_timber_t3', 'U_node5node11_t3', 'C_node5node11_timber_t2', 'M_node5node11_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_3', 'variables': ['M_node6node7_timber_t3', 'U_node6node7_t3', 'C_node6node7_timber_t2', 'M_node6node7_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node10_3', 'variables': ['M_node6node10_timber_t3', 'U_node6node10_t3', 'C_node6node10_timber_t2', 'M_node6node10_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node10_3', 'variables': ['M_node7node10_timber_t3', 'U_node7node10_t3', 'C_node7node10_timber_t2', 'M_node7node10_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node11_3', 'variables': ['M_node7node11_timber_t3', 'U_node7node11_t3', 'C_node7node11_timber_t2', 'M_node7node11_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node9node11_3', 'variables': ['M_node9node11_timber_t3', 'U_node9node11_t3', 'C_node9node11_timber_t2', 'M_node9node11_timber_t2'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_4', 'variables': ['M_node1node5_timber_t4', 'U_node1node5_t4', 'C_node1node5_timber_t3', 'M_node1node5_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_4', 'variables': ['M_node1node6_timber_t4', 'U_node1node6_t4', 'C_node1node6_timber_t3', 'M_node1node6_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node9_4', 'variables': ['M_node2node9_timber_t4', 'U_node2node9_t4', 'C_node2node9_timber_t3', 'M_node2node9_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_4', 'variables': ['M_node2node8_timber_t4', 'U_node2node8_t4', 'C_node2node8_timber_t3', 'M_node2node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_4', 'variables': ['M_node3node5_timber_t4', 'U_node3node5_t4', 'C_node3node5_timber_t3', 'M_node3node5_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_4', 'variables': ['M_node3node8_timber_t4', 'U_node3node8_t4', 'C_node3node8_timber_t3', 'M_node3node8_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node9_4', 'variables': ['M_node3node9_timber_t4', 'U_node3node9_t4', 'C_node3node9_timber_t3', 'M_node3node9_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node11_4', 'variables': ['M_node3node11_timber_t4', 'U_node3node11_t4', 'C_node3node11_timber_t3', 'M_node3node11_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node6_4', 'variables': ['M_node4node6_timber_t4', 'U_node4node6_t4', 'C_node4node6_timber_t3', 'M_node4node6_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node9_4', 'variables': ['M_node4node9_timber_t4', 'U_node4node9_t4', 'C_node4node9_timber_t3', 'M_node4node9_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_4', 'variables': ['M_node4node7_timber_t4', 'U_node4node7_t4', 'C_node4node7_timber_t3', 'M_node4node7_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node10_4', 'variables': ['M_node4node10_timber_t4', 'U_node4node10_t4', 'C_node4node10_timber_t3', 'M_node4node10_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node11_4', 'variables': ['M_node4node11_timber_t4', 'U_node4node11_t4', 'C_node4node11_timber_t3', 'M_node4node11_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node7_4', 'variables': ['M_node5node7_timber_t4', 'U_node5node7_t4', 'C_node5node7_timber_t3', 'M_node5node7_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node11_4', 'variables': ['M_node5node11_timber_t4', 'U_node5node11_t4', 'C_node5node11_timber_t3', 'M_node5node11_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_4', 'variables': ['M_node6node7_timber_t4', 'U_node6node7_t4', 'C_node6node7_timber_t3', 'M_node6node7_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node10_4', 'variables': ['M_node6node10_timber_t4', 'U_node6node10_t4', 'C_node6node10_timber_t3', 'M_node6node10_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node10_4', 'variables': ['M_node7node10_timber_t4', 'U_node7node10_t4', 'C_node7node10_timber_t3', 'M_node7node10_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node11_4', 'variables': ['M_node7node11_timber_t4', 'U_node7node11_t4', 'C_node7node11_timber_t3', 'M_node7node11_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node9node11_4', 'variables': ['M_node9node11_timber_t4', 'U_node9node11_t4', 'C_node9node11_timber_t3', 'M_node9node11_timber_t3'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node5_5', 'variables': ['M_node1node5_timber_t5', 'U_node1node5_t5', 'C_node1node5_timber_t4', 'M_node1node5_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node1node6_5', 'variables': ['M_node1node6_timber_t5', 'U_node1node6_t5', 'C_node1node6_timber_t4', 'M_node1node6_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node9_5', 'variables': ['M_node2node9_timber_t5', 'U_node2node9_t5', 'C_node2node9_timber_t4', 'M_node2node9_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node2node8_5', 'variables': ['M_node2node8_timber_t5', 'U_node2node8_t5', 'C_node2node8_timber_t4', 'M_node2node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node5_5', 'variables': ['M_node3node5_timber_t5', 'U_node3node5_t5', 'C_node3node5_timber_t4', 'M_node3node5_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node8_5', 'variables': ['M_node3node8_timber_t5', 'U_node3node8_t5', 'C_node3node8_timber_t4', 'M_node3node8_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node9_5', 'variables': ['M_node3node9_timber_t5', 'U_node3node9_t5', 'C_node3node9_timber_t4', 'M_node3node9_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node3node11_5', 'variables': ['M_node3node11_timber_t5', 'U_node3node11_t5', 'C_node3node11_timber_t4', 'M_node3node11_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node6_5', 'variables': ['M_node4node6_timber_t5', 'U_node4node6_t5', 'C_node4node6_timber_t4', 'M_node4node6_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node9_5', 'variables': ['M_node4node9_timber_t5', 'U_node4node9_t5', 'C_node4node9_timber_t4', 'M_node4node9_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node7_5', 'variables': ['M_node4node7_timber_t5', 'U_node4node7_t5', 'C_node4node7_timber_t4', 'M_node4node7_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node10_5', 'variables': ['M_node4node10_timber_t5', 'U_node4node10_t5', 'C_node4node10_timber_t4', 'M_node4node10_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node4node11_5', 'variables': ['M_node4node11_timber_t5', 'U_node4node11_t5', 'C_node4node11_timber_t4', 'M_node4node11_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node7_5', 'variables': ['M_node5node7_timber_t5', 'U_node5node7_t5', 'C_node5node7_timber_t4', 'M_node5node7_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node5node11_5', 'variables': ['M_node5node11_timber_t5', 'U_node5node11_t5', 'C_node5node11_timber_t4', 'M_node5node11_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node7_5', 'variables': ['M_node6node7_timber_t5', 'U_node6node7_t5', 'C_node6node7_timber_t4', 'M_node6node7_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node6node10_5', 'variables': ['M_node6node10_timber_t5', 'U_node6node10_t5', 'C_node6node10_timber_t4', 'M_node6node10_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node10_5', 'variables': ['M_node7node10_timber_t5', 'U_node7node10_t5', 'C_node7node10_timber_t4', 'M_node7node10_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node7node11_5', 'variables': ['M_node7node11_timber_t5', 'U_node7node11_t5', 'C_node7node11_timber_t4', 'M_node7node11_timber_t4'], 'coefficients': [1, 1, -1, -1]}
{'constraint_name': 'Constraint_maintain_upgrade_timber_node9node11_5', 'variables': ['M_node9node11_timber_t5', 'U_node9node11_t5', 'C_node9node11_timber_t4', 'M_node9node11_timber_t4'], 'coefficients': [1, 1, -1, -1]}
