Constraint group: Constraint_outflow_iff_needroad
Total in this group: 60
Expected: 60

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1412_t1', 'variables': ['flow_timber_node63node19_t1', 'flow_timber_node63node17_t1', 'flow_timber_node63node45_t1', 'flow_timber_node63node22_t1', 'flow_timber_node63node8_t1', 'flow_timber_node63node34_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1413_t1', 'variables': ['flow_timber_node64node6_t1', 'flow_timber_node64node31_t1', 'flow_timber_node64node27_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1061_t1', 'variables': ['flow_timber_node65node31_t1', 'flow_timber_node65node13_t1', 'flow_timber_node65node47_t1', 'flow_timber_node65node12_t1', 'flow_timber_node65node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1176_t1', 'variables': ['flow_timber_node66node32_t1', 'flow_timber_node66node35_t1', 'flow_timber_node66node34_t1', 'flow_timber_node66node10_t1', 'flow_timber_node66node9_t1', 'flow_timber_node66node45_t1', 'flow_timber_node66node2_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1359_t1', 'variables': ['flow_timber_node67node14_t1', 'flow_timber_node67node32_t1', 'flow_timber_node67node6_t1', 'flow_timber_node67node1_t1', 'flow_timber_node67node37_t1', 'flow_timber_node67node8_t1', 'flow_timber_node67node16_t1', 'flow_timber_node67node27_t1', 'flow_timber_node67node7_t1', 'flow_timber_node67node34_t1', 'flow_timber_node67node12_t1', 'flow_timber_node67node24_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1360_t1', 'variables': ['flow_timber_node68node22_t1', 'flow_timber_node68node8_t1', 'flow_timber_node68node24_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1412_t2', 'variables': ['flow_timber_node63node19_t2', 'flow_timber_node63node17_t2', 'flow_timber_node63node45_t2', 'flow_timber_node63node22_t2', 'flow_timber_node63node8_t2', 'flow_timber_node63node34_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1413_t2', 'variables': ['flow_timber_node64node6_t2', 'flow_timber_node64node31_t2', 'flow_timber_node64node27_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1061_t2', 'variables': ['flow_timber_node65node31_t2', 'flow_timber_node65node13_t2', 'flow_timber_node65node47_t2', 'flow_timber_node65node12_t2', 'flow_timber_node65node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1176_t2', 'variables': ['flow_timber_node66node32_t2', 'flow_timber_node66node35_t2', 'flow_timber_node66node34_t2', 'flow_timber_node66node10_t2', 'flow_timber_node66node9_t2', 'flow_timber_node66node45_t2', 'flow_timber_node66node2_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1359_t2', 'variables': ['flow_timber_node67node14_t2', 'flow_timber_node67node32_t2', 'flow_timber_node67node6_t2', 'flow_timber_node67node1_t2', 'flow_timber_node67node37_t2', 'flow_timber_node67node8_t2', 'flow_timber_node67node16_t2', 'flow_timber_node67node27_t2', 'flow_timber_node67node7_t2', 'flow_timber_node67node34_t2', 'flow_timber_node67node12_t2', 'flow_timber_node67node24_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1360_t2', 'variables': ['flow_timber_node68node22_t2', 'flow_timber_node68node8_t2', 'flow_timber_node68node24_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1412_t3', 'variables': ['flow_timber_node63node19_t3', 'flow_timber_node63node17_t3', 'flow_timber_node63node45_t3', 'flow_timber_node63node22_t3', 'flow_timber_node63node8_t3', 'flow_timber_node63node34_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1413_t3', 'variables': ['flow_timber_node64node6_t3', 'flow_timber_node64node31_t3', 'flow_timber_node64node27_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1061_t3', 'variables': ['flow_timber_node65node31_t3', 'flow_timber_node65node13_t3', 'flow_timber_node65node47_t3', 'flow_timber_node65node12_t3', 'flow_timber_node65node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1176_t3', 'variables': ['flow_timber_node66node32_t3', 'flow_timber_node66node35_t3', 'flow_timber_node66node34_t3', 'flow_timber_node66node10_t3', 'flow_timber_node66node9_t3', 'flow_timber_node66node45_t3', 'flow_timber_node66node2_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1359_t3', 'variables': ['flow_timber_node67node14_t3', 'flow_timber_node67node32_t3', 'flow_timber_node67node6_t3', 'flow_timber_node67node1_t3', 'flow_timber_node67node37_t3', 'flow_timber_node67node8_t3', 'flow_timber_node67node16_t3', 'flow_timber_node67node27_t3', 'flow_timber_node67node7_t3', 'flow_timber_node67node34_t3', 'flow_timber_node67node12_t3', 'flow_timber_node67node24_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1360_t3', 'variables': ['flow_timber_node68node22_t3', 'flow_timber_node68node8_t3', 'flow_timber_node68node24_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1412_t4', 'variables': ['flow_timber_node63node19_t4', 'flow_timber_node63node17_t4', 'flow_timber_node63node45_t4', 'flow_timber_node63node22_t4', 'flow_timber_node63node8_t4', 'flow_timber_node63node34_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1413_t4', 'variables': ['flow_timber_node64node6_t4', 'flow_timber_node64node31_t4', 'flow_timber_node64node27_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1061_t4', 'variables': ['flow_timber_node65node31_t4', 'flow_timber_node65node13_t4', 'flow_timber_node65node47_t4', 'flow_timber_node65node12_t4', 'flow_timber_node65node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1176_t4', 'variables': ['flow_timber_node66node32_t4', 'flow_timber_node66node35_t4', 'flow_timber_node66node34_t4', 'flow_timber_node66node10_t4', 'flow_timber_node66node9_t4', 'flow_timber_node66node45_t4', 'flow_timber_node66node2_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1359_t4', 'variables': ['flow_timber_node67node14_t4', 'flow_timber_node67node32_t4', 'flow_timber_node67node6_t4', 'flow_timber_node67node1_t4', 'flow_timber_node67node37_t4', 'flow_timber_node67node8_t4', 'flow_timber_node67node16_t4', 'flow_timber_node67node27_t4', 'flow_timber_node67node7_t4', 'flow_timber_node67node34_t4', 'flow_timber_node67node12_t4', 'flow_timber_node67node24_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1360_t4', 'variables': ['flow_timber_node68node22_t4', 'flow_timber_node68node8_t4', 'flow_timber_node68node24_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1412_t5', 'variables': ['flow_timber_node63node19_t5', 'flow_timber_node63node17_t5', 'flow_timber_node63node45_t5', 'flow_timber_node63node22_t5', 'flow_timber_node63node8_t5', 'flow_timber_node63node34_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1413_t5', 'variables': ['flow_timber_node64node6_t5', 'flow_timber_node64node31_t5', 'flow_timber_node64node27_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1061_t5', 'variables': ['flow_timber_node65node31_t5', 'flow_timber_node65node13_t5', 'flow_timber_node65node47_t5', 'flow_timber_node65node12_t5', 'flow_timber_node65node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1176_t5', 'variables': ['flow_timber_node66node32_t5', 'flow_timber_node66node35_t5', 'flow_timber_node66node34_t5', 'flow_timber_node66node10_t5', 'flow_timber_node66node9_t5', 'flow_timber_node66node45_t5', 'flow_timber_node66node2_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1359_t5', 'variables': ['flow_timber_node67node14_t5', 'flow_timber_node67node32_t5', 'flow_timber_node67node6_t5', 'flow_timber_node67node1_t5', 'flow_timber_node67node37_t5', 'flow_timber_node67node8_t5', 'flow_timber_node67node16_t5', 'flow_timber_node67node27_t5', 'flow_timber_node67node7_t5', 'flow_timber_node67node34_t5', 'flow_timber_node67node12_t5', 'flow_timber_node67node24_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1360_t5', 'variables': ['flow_timber_node68node22_t5', 'flow_timber_node68node8_t5', 'flow_timber_node68node24_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1412_t1', 'variables': ['flow_wide_node63node19_t1', 'flow_wide_node63node17_t1', 'flow_wide_node63node45_t1', 'flow_wide_node63node22_t1', 'flow_wide_node63node8_t1', 'flow_wide_node63node34_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1413_t1', 'variables': ['flow_wide_node64node6_t1', 'flow_wide_node64node31_t1', 'flow_wide_node64node27_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1061_t1', 'variables': ['flow_wide_node65node31_t1', 'flow_wide_node65node13_t1', 'flow_wide_node65node47_t1', 'flow_wide_node65node12_t1', 'flow_wide_node65node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1176_t1', 'variables': ['flow_wide_node66node32_t1', 'flow_wide_node66node35_t1', 'flow_wide_node66node34_t1', 'flow_wide_node66node10_t1', 'flow_wide_node66node9_t1', 'flow_wide_node66node45_t1', 'flow_wide_node66node2_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1359_t1', 'variables': ['flow_wide_node67node14_t1', 'flow_wide_node67node32_t1', 'flow_wide_node67node6_t1', 'flow_wide_node67node1_t1', 'flow_wide_node67node37_t1', 'flow_wide_node67node8_t1', 'flow_wide_node67node16_t1', 'flow_wide_node67node27_t1', 'flow_wide_node67node7_t1', 'flow_wide_node67node34_t1', 'flow_wide_node67node12_t1', 'flow_wide_node67node24_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1360_t1', 'variables': ['flow_wide_node68node22_t1', 'flow_wide_node68node8_t1', 'flow_wide_node68node24_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1412_t2', 'variables': ['flow_wide_node63node19_t2', 'flow_wide_node63node17_t2', 'flow_wide_node63node45_t2', 'flow_wide_node63node22_t2', 'flow_wide_node63node8_t2', 'flow_wide_node63node34_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1413_t2', 'variables': ['flow_wide_node64node6_t2', 'flow_wide_node64node31_t2', 'flow_wide_node64node27_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1061_t2', 'variables': ['flow_wide_node65node31_t2', 'flow_wide_node65node13_t2', 'flow_wide_node65node47_t2', 'flow_wide_node65node12_t2', 'flow_wide_node65node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1176_t2', 'variables': ['flow_wide_node66node32_t2', 'flow_wide_node66node35_t2', 'flow_wide_node66node34_t2', 'flow_wide_node66node10_t2', 'flow_wide_node66node9_t2', 'flow_wide_node66node45_t2', 'flow_wide_node66node2_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1359_t2', 'variables': ['flow_wide_node67node14_t2', 'flow_wide_node67node32_t2', 'flow_wide_node67node6_t2', 'flow_wide_node67node1_t2', 'flow_wide_node67node37_t2', 'flow_wide_node67node8_t2', 'flow_wide_node67node16_t2', 'flow_wide_node67node27_t2', 'flow_wide_node67node7_t2', 'flow_wide_node67node34_t2', 'flow_wide_node67node12_t2', 'flow_wide_node67node24_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1360_t2', 'variables': ['flow_wide_node68node22_t2', 'flow_wide_node68node8_t2', 'flow_wide_node68node24_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1412_t3', 'variables': ['flow_wide_node63node19_t3', 'flow_wide_node63node17_t3', 'flow_wide_node63node45_t3', 'flow_wide_node63node22_t3', 'flow_wide_node63node8_t3', 'flow_wide_node63node34_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1413_t3', 'variables': ['flow_wide_node64node6_t3', 'flow_wide_node64node31_t3', 'flow_wide_node64node27_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1061_t3', 'variables': ['flow_wide_node65node31_t3', 'flow_wide_node65node13_t3', 'flow_wide_node65node47_t3', 'flow_wide_node65node12_t3', 'flow_wide_node65node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1176_t3', 'variables': ['flow_wide_node66node32_t3', 'flow_wide_node66node35_t3', 'flow_wide_node66node34_t3', 'flow_wide_node66node10_t3', 'flow_wide_node66node9_t3', 'flow_wide_node66node45_t3', 'flow_wide_node66node2_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1359_t3', 'variables': ['flow_wide_node67node14_t3', 'flow_wide_node67node32_t3', 'flow_wide_node67node6_t3', 'flow_wide_node67node1_t3', 'flow_wide_node67node37_t3', 'flow_wide_node67node8_t3', 'flow_wide_node67node16_t3', 'flow_wide_node67node27_t3', 'flow_wide_node67node7_t3', 'flow_wide_node67node34_t3', 'flow_wide_node67node12_t3', 'flow_wide_node67node24_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1360_t3', 'variables': ['flow_wide_node68node22_t3', 'flow_wide_node68node8_t3', 'flow_wide_node68node24_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1412_t4', 'variables': ['flow_wide_node63node19_t4', 'flow_wide_node63node17_t4', 'flow_wide_node63node45_t4', 'flow_wide_node63node22_t4', 'flow_wide_node63node8_t4', 'flow_wide_node63node34_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1413_t4', 'variables': ['flow_wide_node64node6_t4', 'flow_wide_node64node31_t4', 'flow_wide_node64node27_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1061_t4', 'variables': ['flow_wide_node65node31_t4', 'flow_wide_node65node13_t4', 'flow_wide_node65node47_t4', 'flow_wide_node65node12_t4', 'flow_wide_node65node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1176_t4', 'variables': ['flow_wide_node66node32_t4', 'flow_wide_node66node35_t4', 'flow_wide_node66node34_t4', 'flow_wide_node66node10_t4', 'flow_wide_node66node9_t4', 'flow_wide_node66node45_t4', 'flow_wide_node66node2_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1359_t4', 'variables': ['flow_wide_node67node14_t4', 'flow_wide_node67node32_t4', 'flow_wide_node67node6_t4', 'flow_wide_node67node1_t4', 'flow_wide_node67node37_t4', 'flow_wide_node67node8_t4', 'flow_wide_node67node16_t4', 'flow_wide_node67node27_t4', 'flow_wide_node67node7_t4', 'flow_wide_node67node34_t4', 'flow_wide_node67node12_t4', 'flow_wide_node67node24_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1360_t4', 'variables': ['flow_wide_node68node22_t4', 'flow_wide_node68node8_t4', 'flow_wide_node68node24_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1412_t5', 'variables': ['flow_wide_node63node19_t5', 'flow_wide_node63node17_t5', 'flow_wide_node63node45_t5', 'flow_wide_node63node22_t5', 'flow_wide_node63node8_t5', 'flow_wide_node63node34_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1413_t5', 'variables': ['flow_wide_node64node6_t5', 'flow_wide_node64node31_t5', 'flow_wide_node64node27_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1061_t5', 'variables': ['flow_wide_node65node31_t5', 'flow_wide_node65node13_t5', 'flow_wide_node65node47_t5', 'flow_wide_node65node12_t5', 'flow_wide_node65node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1176_t5', 'variables': ['flow_wide_node66node32_t5', 'flow_wide_node66node35_t5', 'flow_wide_node66node34_t5', 'flow_wide_node66node10_t5', 'flow_wide_node66node9_t5', 'flow_wide_node66node45_t5', 'flow_wide_node66node2_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1359_t5', 'variables': ['flow_wide_node67node14_t5', 'flow_wide_node67node32_t5', 'flow_wide_node67node6_t5', 'flow_wide_node67node1_t5', 'flow_wide_node67node37_t5', 'flow_wide_node67node8_t5', 'flow_wide_node67node16_t5', 'flow_wide_node67node27_t5', 'flow_wide_node67node7_t5', 'flow_wide_node67node34_t5', 'flow_wide_node67node12_t5', 'flow_wide_node67node24_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1360_t5', 'variables': ['flow_wide_node68node22_t5', 'flow_wide_node68node8_t5', 'flow_wide_node68node24_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
