Constraint group: Constraint_no_inflow_source
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1554_1', 'variables': ['flow_timber_node22node28_t1', 'flow_timber_node23node28_t1', 'flow_timber_node10node28_t1', 'flow_timber_node19node28_t1', 'flow_timber_node1node28_t1', 'flow_timber_node16node28_t1', 'flow_wide_node22node28_t1', 'flow_wide_node23node28_t1', 'flow_wide_node10node28_t1', 'flow_wide_node19node28_t1', 'flow_wide_node1node28_t1', 'flow_wide_node16node28_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1569_1', 'variables': ['flow_timber_node17node29_t1', 'flow_timber_node16node29_t1', 'flow_timber_node4node29_t1', 'flow_timber_node7node29_t1', 'flow_timber_node20node29_t1', 'flow_timber_node22node29_t1', 'flow_wide_node17node29_t1', 'flow_wide_node16node29_t1', 'flow_wide_node4node29_t1', 'flow_wide_node7node29_t1', 'flow_wide_node20node29_t1', 'flow_wide_node22node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1586_1', 'variables': ['flow_timber_node12node30_t1', 'flow_timber_node3node30_t1', 'flow_timber_node11node30_t1', 'flow_timber_node24node30_t1', 'flow_wide_node12node30_t1', 'flow_wide_node3node30_t1', 'flow_wide_node11node30_t1', 'flow_wide_node24node30_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1587_1', 'variables': ['flow_timber_node23node31_t1', 'flow_timber_node12node31_t1', 'flow_timber_node19node31_t1', 'flow_timber_node24node31_t1', 'flow_wide_node23node31_t1', 'flow_wide_node12node31_t1', 'flow_wide_node19node31_t1', 'flow_wide_node24node31_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1554_2', 'variables': ['flow_timber_node22node28_t2', 'flow_timber_node23node28_t2', 'flow_timber_node10node28_t2', 'flow_timber_node19node28_t2', 'flow_timber_node1node28_t2', 'flow_timber_node16node28_t2', 'flow_wide_node22node28_t2', 'flow_wide_node23node28_t2', 'flow_wide_node10node28_t2', 'flow_wide_node19node28_t2', 'flow_wide_node1node28_t2', 'flow_wide_node16node28_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1569_2', 'variables': ['flow_timber_node17node29_t2', 'flow_timber_node16node29_t2', 'flow_timber_node4node29_t2', 'flow_timber_node7node29_t2', 'flow_timber_node20node29_t2', 'flow_timber_node22node29_t2', 'flow_wide_node17node29_t2', 'flow_wide_node16node29_t2', 'flow_wide_node4node29_t2', 'flow_wide_node7node29_t2', 'flow_wide_node20node29_t2', 'flow_wide_node22node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1586_2', 'variables': ['flow_timber_node12node30_t2', 'flow_timber_node3node30_t2', 'flow_timber_node11node30_t2', 'flow_timber_node24node30_t2', 'flow_wide_node12node30_t2', 'flow_wide_node3node30_t2', 'flow_wide_node11node30_t2', 'flow_wide_node24node30_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1587_2', 'variables': ['flow_timber_node23node31_t2', 'flow_timber_node12node31_t2', 'flow_timber_node19node31_t2', 'flow_timber_node24node31_t2', 'flow_wide_node23node31_t2', 'flow_wide_node12node31_t2', 'flow_wide_node19node31_t2', 'flow_wide_node24node31_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1554_3', 'variables': ['flow_timber_node22node28_t3', 'flow_timber_node23node28_t3', 'flow_timber_node10node28_t3', 'flow_timber_node19node28_t3', 'flow_timber_node1node28_t3', 'flow_timber_node16node28_t3', 'flow_wide_node22node28_t3', 'flow_wide_node23node28_t3', 'flow_wide_node10node28_t3', 'flow_wide_node19node28_t3', 'flow_wide_node1node28_t3', 'flow_wide_node16node28_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1569_3', 'variables': ['flow_timber_node17node29_t3', 'flow_timber_node16node29_t3', 'flow_timber_node4node29_t3', 'flow_timber_node7node29_t3', 'flow_timber_node20node29_t3', 'flow_timber_node22node29_t3', 'flow_wide_node17node29_t3', 'flow_wide_node16node29_t3', 'flow_wide_node4node29_t3', 'flow_wide_node7node29_t3', 'flow_wide_node20node29_t3', 'flow_wide_node22node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1586_3', 'variables': ['flow_timber_node12node30_t3', 'flow_timber_node3node30_t3', 'flow_timber_node11node30_t3', 'flow_timber_node24node30_t3', 'flow_wide_node12node30_t3', 'flow_wide_node3node30_t3', 'flow_wide_node11node30_t3', 'flow_wide_node24node30_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1587_3', 'variables': ['flow_timber_node23node31_t3', 'flow_timber_node12node31_t3', 'flow_timber_node19node31_t3', 'flow_timber_node24node31_t3', 'flow_wide_node23node31_t3', 'flow_wide_node12node31_t3', 'flow_wide_node19node31_t3', 'flow_wide_node24node31_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1554_4', 'variables': ['flow_timber_node22node28_t4', 'flow_timber_node23node28_t4', 'flow_timber_node10node28_t4', 'flow_timber_node19node28_t4', 'flow_timber_node1node28_t4', 'flow_timber_node16node28_t4', 'flow_wide_node22node28_t4', 'flow_wide_node23node28_t4', 'flow_wide_node10node28_t4', 'flow_wide_node19node28_t4', 'flow_wide_node1node28_t4', 'flow_wide_node16node28_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1569_4', 'variables': ['flow_timber_node17node29_t4', 'flow_timber_node16node29_t4', 'flow_timber_node4node29_t4', 'flow_timber_node7node29_t4', 'flow_timber_node20node29_t4', 'flow_timber_node22node29_t4', 'flow_wide_node17node29_t4', 'flow_wide_node16node29_t4', 'flow_wide_node4node29_t4', 'flow_wide_node7node29_t4', 'flow_wide_node20node29_t4', 'flow_wide_node22node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1586_4', 'variables': ['flow_timber_node12node30_t4', 'flow_timber_node3node30_t4', 'flow_timber_node11node30_t4', 'flow_timber_node24node30_t4', 'flow_wide_node12node30_t4', 'flow_wide_node3node30_t4', 'flow_wide_node11node30_t4', 'flow_wide_node24node30_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1587_4', 'variables': ['flow_timber_node23node31_t4', 'flow_timber_node12node31_t4', 'flow_timber_node19node31_t4', 'flow_timber_node24node31_t4', 'flow_wide_node23node31_t4', 'flow_wide_node12node31_t4', 'flow_wide_node19node31_t4', 'flow_wide_node24node31_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1554_5', 'variables': ['flow_timber_node22node28_t5', 'flow_timber_node23node28_t5', 'flow_timber_node10node28_t5', 'flow_timber_node19node28_t5', 'flow_timber_node1node28_t5', 'flow_timber_node16node28_t5', 'flow_wide_node22node28_t5', 'flow_wide_node23node28_t5', 'flow_wide_node10node28_t5', 'flow_wide_node19node28_t5', 'flow_wide_node1node28_t5', 'flow_wide_node16node28_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1569_5', 'variables': ['flow_timber_node17node29_t5', 'flow_timber_node16node29_t5', 'flow_timber_node4node29_t5', 'flow_timber_node7node29_t5', 'flow_timber_node20node29_t5', 'flow_timber_node22node29_t5', 'flow_wide_node17node29_t5', 'flow_wide_node16node29_t5', 'flow_wide_node4node29_t5', 'flow_wide_node7node29_t5', 'flow_wide_node20node29_t5', 'flow_wide_node22node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1586_5', 'variables': ['flow_timber_node12node30_t5', 'flow_timber_node3node30_t5', 'flow_timber_node11node30_t5', 'flow_timber_node24node30_t5', 'flow_wide_node12node30_t5', 'flow_wide_node3node30_t5', 'flow_wide_node11node30_t5', 'flow_wide_node24node30_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1587_5', 'variables': ['flow_timber_node23node31_t5', 'flow_timber_node12node31_t5', 'flow_timber_node19node31_t5', 'flow_timber_node24node31_t5', 'flow_wide_node23node31_t5', 'flow_wide_node12node31_t5', 'flow_wide_node19node31_t5', 'flow_wide_node24node31_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
