Constraint group: Constraint_no_inflow_source
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1118_1', 'variables': ['flow_timber_node23node40_t1', 'flow_timber_node12node40_t1', 'flow_timber_node15node40_t1', 'flow_wide_node23node40_t1', 'flow_wide_node12node40_t1', 'flow_wide_node15node40_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1119_1', 'variables': ['flow_timber_node15node41_t1', 'flow_timber_node23node41_t1', 'flow_timber_node27node41_t1', 'flow_timber_node7node41_t1', 'flow_wide_node15node41_t1', 'flow_wide_node23node41_t1', 'flow_wide_node27node41_t1', 'flow_wide_node7node41_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1120_1', 'variables': ['flow_timber_node1node42_t1', 'flow_timber_node5node42_t1', 'flow_timber_node27node42_t1', 'flow_timber_node4node42_t1', 'flow_timber_node7node42_t1', 'flow_wide_node1node42_t1', 'flow_wide_node5node42_t1', 'flow_wide_node27node42_t1', 'flow_wide_node4node42_t1', 'flow_wide_node7node42_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1121_1', 'variables': ['flow_timber_node9node43_t1', 'flow_timber_node8node43_t1', 'flow_timber_node29node43_t1', 'flow_timber_node28node43_t1', 'flow_timber_node10node43_t1', 'flow_timber_node13node43_t1', 'flow_timber_node4node43_t1', 'flow_timber_node14node43_t1', 'flow_timber_node11node43_t1', 'flow_timber_node1node43_t1', 'flow_timber_node6node43_t1', 'flow_wide_node9node43_t1', 'flow_wide_node8node43_t1', 'flow_wide_node29node43_t1', 'flow_wide_node28node43_t1', 'flow_wide_node10node43_t1', 'flow_wide_node13node43_t1', 'flow_wide_node4node43_t1', 'flow_wide_node14node43_t1', 'flow_wide_node11node43_t1', 'flow_wide_node1node43_t1', 'flow_wide_node6node43_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1122_1', 'variables': ['flow_timber_node13node44_t1', 'flow_timber_node28node44_t1', 'flow_timber_node3node44_t1', 'flow_timber_node18node44_t1', 'flow_wide_node13node44_t1', 'flow_wide_node28node44_t1', 'flow_wide_node3node44_t1', 'flow_wide_node18node44_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1527_1', 'variables': ['flow_timber_node28node45_t1', 'flow_timber_node16node45_t1', 'flow_timber_node18node45_t1', 'flow_timber_node11node45_t1', 'flow_wide_node28node45_t1', 'flow_wide_node16node45_t1', 'flow_wide_node18node45_t1', 'flow_wide_node11node45_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1118_2', 'variables': ['flow_timber_node23node40_t2', 'flow_timber_node12node40_t2', 'flow_timber_node15node40_t2', 'flow_wide_node23node40_t2', 'flow_wide_node12node40_t2', 'flow_wide_node15node40_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1119_2', 'variables': ['flow_timber_node15node41_t2', 'flow_timber_node23node41_t2', 'flow_timber_node27node41_t2', 'flow_timber_node7node41_t2', 'flow_wide_node15node41_t2', 'flow_wide_node23node41_t2', 'flow_wide_node27node41_t2', 'flow_wide_node7node41_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1120_2', 'variables': ['flow_timber_node1node42_t2', 'flow_timber_node5node42_t2', 'flow_timber_node27node42_t2', 'flow_timber_node4node42_t2', 'flow_timber_node7node42_t2', 'flow_wide_node1node42_t2', 'flow_wide_node5node42_t2', 'flow_wide_node27node42_t2', 'flow_wide_node4node42_t2', 'flow_wide_node7node42_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1121_2', 'variables': ['flow_timber_node9node43_t2', 'flow_timber_node8node43_t2', 'flow_timber_node29node43_t2', 'flow_timber_node28node43_t2', 'flow_timber_node10node43_t2', 'flow_timber_node13node43_t2', 'flow_timber_node4node43_t2', 'flow_timber_node14node43_t2', 'flow_timber_node11node43_t2', 'flow_timber_node1node43_t2', 'flow_timber_node6node43_t2', 'flow_wide_node9node43_t2', 'flow_wide_node8node43_t2', 'flow_wide_node29node43_t2', 'flow_wide_node28node43_t2', 'flow_wide_node10node43_t2', 'flow_wide_node13node43_t2', 'flow_wide_node4node43_t2', 'flow_wide_node14node43_t2', 'flow_wide_node11node43_t2', 'flow_wide_node1node43_t2', 'flow_wide_node6node43_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1122_2', 'variables': ['flow_timber_node13node44_t2', 'flow_timber_node28node44_t2', 'flow_timber_node3node44_t2', 'flow_timber_node18node44_t2', 'flow_wide_node13node44_t2', 'flow_wide_node28node44_t2', 'flow_wide_node3node44_t2', 'flow_wide_node18node44_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1527_2', 'variables': ['flow_timber_node28node45_t2', 'flow_timber_node16node45_t2', 'flow_timber_node18node45_t2', 'flow_timber_node11node45_t2', 'flow_wide_node28node45_t2', 'flow_wide_node16node45_t2', 'flow_wide_node18node45_t2', 'flow_wide_node11node45_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1118_3', 'variables': ['flow_timber_node23node40_t3', 'flow_timber_node12node40_t3', 'flow_timber_node15node40_t3', 'flow_wide_node23node40_t3', 'flow_wide_node12node40_t3', 'flow_wide_node15node40_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1119_3', 'variables': ['flow_timber_node15node41_t3', 'flow_timber_node23node41_t3', 'flow_timber_node27node41_t3', 'flow_timber_node7node41_t3', 'flow_wide_node15node41_t3', 'flow_wide_node23node41_t3', 'flow_wide_node27node41_t3', 'flow_wide_node7node41_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1120_3', 'variables': ['flow_timber_node1node42_t3', 'flow_timber_node5node42_t3', 'flow_timber_node27node42_t3', 'flow_timber_node4node42_t3', 'flow_timber_node7node42_t3', 'flow_wide_node1node42_t3', 'flow_wide_node5node42_t3', 'flow_wide_node27node42_t3', 'flow_wide_node4node42_t3', 'flow_wide_node7node42_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1121_3', 'variables': ['flow_timber_node9node43_t3', 'flow_timber_node8node43_t3', 'flow_timber_node29node43_t3', 'flow_timber_node28node43_t3', 'flow_timber_node10node43_t3', 'flow_timber_node13node43_t3', 'flow_timber_node4node43_t3', 'flow_timber_node14node43_t3', 'flow_timber_node11node43_t3', 'flow_timber_node1node43_t3', 'flow_timber_node6node43_t3', 'flow_wide_node9node43_t3', 'flow_wide_node8node43_t3', 'flow_wide_node29node43_t3', 'flow_wide_node28node43_t3', 'flow_wide_node10node43_t3', 'flow_wide_node13node43_t3', 'flow_wide_node4node43_t3', 'flow_wide_node14node43_t3', 'flow_wide_node11node43_t3', 'flow_wide_node1node43_t3', 'flow_wide_node6node43_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1122_3', 'variables': ['flow_timber_node13node44_t3', 'flow_timber_node28node44_t3', 'flow_timber_node3node44_t3', 'flow_timber_node18node44_t3', 'flow_wide_node13node44_t3', 'flow_wide_node28node44_t3', 'flow_wide_node3node44_t3', 'flow_wide_node18node44_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1527_3', 'variables': ['flow_timber_node28node45_t3', 'flow_timber_node16node45_t3', 'flow_timber_node18node45_t3', 'flow_timber_node11node45_t3', 'flow_wide_node28node45_t3', 'flow_wide_node16node45_t3', 'flow_wide_node18node45_t3', 'flow_wide_node11node45_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1118_4', 'variables': ['flow_timber_node23node40_t4', 'flow_timber_node12node40_t4', 'flow_timber_node15node40_t4', 'flow_wide_node23node40_t4', 'flow_wide_node12node40_t4', 'flow_wide_node15node40_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1119_4', 'variables': ['flow_timber_node15node41_t4', 'flow_timber_node23node41_t4', 'flow_timber_node27node41_t4', 'flow_timber_node7node41_t4', 'flow_wide_node15node41_t4', 'flow_wide_node23node41_t4', 'flow_wide_node27node41_t4', 'flow_wide_node7node41_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1120_4', 'variables': ['flow_timber_node1node42_t4', 'flow_timber_node5node42_t4', 'flow_timber_node27node42_t4', 'flow_timber_node4node42_t4', 'flow_timber_node7node42_t4', 'flow_wide_node1node42_t4', 'flow_wide_node5node42_t4', 'flow_wide_node27node42_t4', 'flow_wide_node4node42_t4', 'flow_wide_node7node42_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1121_4', 'variables': ['flow_timber_node9node43_t4', 'flow_timber_node8node43_t4', 'flow_timber_node29node43_t4', 'flow_timber_node28node43_t4', 'flow_timber_node10node43_t4', 'flow_timber_node13node43_t4', 'flow_timber_node4node43_t4', 'flow_timber_node14node43_t4', 'flow_timber_node11node43_t4', 'flow_timber_node1node43_t4', 'flow_timber_node6node43_t4', 'flow_wide_node9node43_t4', 'flow_wide_node8node43_t4', 'flow_wide_node29node43_t4', 'flow_wide_node28node43_t4', 'flow_wide_node10node43_t4', 'flow_wide_node13node43_t4', 'flow_wide_node4node43_t4', 'flow_wide_node14node43_t4', 'flow_wide_node11node43_t4', 'flow_wide_node1node43_t4', 'flow_wide_node6node43_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1122_4', 'variables': ['flow_timber_node13node44_t4', 'flow_timber_node28node44_t4', 'flow_timber_node3node44_t4', 'flow_timber_node18node44_t4', 'flow_wide_node13node44_t4', 'flow_wide_node28node44_t4', 'flow_wide_node3node44_t4', 'flow_wide_node18node44_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1527_4', 'variables': ['flow_timber_node28node45_t4', 'flow_timber_node16node45_t4', 'flow_timber_node18node45_t4', 'flow_timber_node11node45_t4', 'flow_wide_node28node45_t4', 'flow_wide_node16node45_t4', 'flow_wide_node18node45_t4', 'flow_wide_node11node45_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1118_5', 'variables': ['flow_timber_node23node40_t5', 'flow_timber_node12node40_t5', 'flow_timber_node15node40_t5', 'flow_wide_node23node40_t5', 'flow_wide_node12node40_t5', 'flow_wide_node15node40_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1119_5', 'variables': ['flow_timber_node15node41_t5', 'flow_timber_node23node41_t5', 'flow_timber_node27node41_t5', 'flow_timber_node7node41_t5', 'flow_wide_node15node41_t5', 'flow_wide_node23node41_t5', 'flow_wide_node27node41_t5', 'flow_wide_node7node41_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1120_5', 'variables': ['flow_timber_node1node42_t5', 'flow_timber_node5node42_t5', 'flow_timber_node27node42_t5', 'flow_timber_node4node42_t5', 'flow_timber_node7node42_t5', 'flow_wide_node1node42_t5', 'flow_wide_node5node42_t5', 'flow_wide_node27node42_t5', 'flow_wide_node4node42_t5', 'flow_wide_node7node42_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1121_5', 'variables': ['flow_timber_node9node43_t5', 'flow_timber_node8node43_t5', 'flow_timber_node29node43_t5', 'flow_timber_node28node43_t5', 'flow_timber_node10node43_t5', 'flow_timber_node13node43_t5', 'flow_timber_node4node43_t5', 'flow_timber_node14node43_t5', 'flow_timber_node11node43_t5', 'flow_timber_node1node43_t5', 'flow_timber_node6node43_t5', 'flow_wide_node9node43_t5', 'flow_wide_node8node43_t5', 'flow_wide_node29node43_t5', 'flow_wide_node28node43_t5', 'flow_wide_node10node43_t5', 'flow_wide_node13node43_t5', 'flow_wide_node4node43_t5', 'flow_wide_node14node43_t5', 'flow_wide_node11node43_t5', 'flow_wide_node1node43_t5', 'flow_wide_node6node43_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1122_5', 'variables': ['flow_timber_node13node44_t5', 'flow_timber_node28node44_t5', 'flow_timber_node3node44_t5', 'flow_timber_node18node44_t5', 'flow_wide_node13node44_t5', 'flow_wide_node28node44_t5', 'flow_wide_node3node44_t5', 'flow_wide_node18node44_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1527_5', 'variables': ['flow_timber_node28node45_t5', 'flow_timber_node16node45_t5', 'flow_timber_node18node45_t5', 'flow_timber_node11node45_t5', 'flow_wide_node28node45_t5', 'flow_wide_node16node45_t5', 'flow_wide_node18node45_t5', 'flow_wide_node11node45_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
