Constraint group: Constraint_outflow_iff_needroad
Total in this group: 60
Expected: 60

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1118_t1', 'variables': ['flow_timber_node40node12_t1', 'flow_timber_node40node23_t1', 'flow_timber_node40node15_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1119_t1', 'variables': ['flow_timber_node41node7_t1', 'flow_timber_node41node27_t1', 'flow_timber_node41node15_t1', 'flow_timber_node41node23_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1120_t1', 'variables': ['flow_timber_node42node1_t1', 'flow_timber_node42node7_t1', 'flow_timber_node42node5_t1', 'flow_timber_node42node4_t1', 'flow_timber_node42node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1121_t1', 'variables': ['flow_timber_node43node1_t1', 'flow_timber_node43node4_t1', 'flow_timber_node43node28_t1', 'flow_timber_node43node14_t1', 'flow_timber_node43node9_t1', 'flow_timber_node43node13_t1', 'flow_timber_node43node8_t1', 'flow_timber_node43node29_t1', 'flow_timber_node43node11_t1', 'flow_timber_node43node6_t1', 'flow_timber_node43node10_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1122_t1', 'variables': ['flow_timber_node44node3_t1', 'flow_timber_node44node13_t1', 'flow_timber_node44node28_t1', 'flow_timber_node44node18_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1527_t1', 'variables': ['flow_timber_node45node16_t1', 'flow_timber_node45node11_t1', 'flow_timber_node45node28_t1', 'flow_timber_node45node18_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1118_t2', 'variables': ['flow_timber_node40node12_t2', 'flow_timber_node40node23_t2', 'flow_timber_node40node15_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1119_t2', 'variables': ['flow_timber_node41node7_t2', 'flow_timber_node41node27_t2', 'flow_timber_node41node15_t2', 'flow_timber_node41node23_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1120_t2', 'variables': ['flow_timber_node42node1_t2', 'flow_timber_node42node7_t2', 'flow_timber_node42node5_t2', 'flow_timber_node42node4_t2', 'flow_timber_node42node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1121_t2', 'variables': ['flow_timber_node43node1_t2', 'flow_timber_node43node4_t2', 'flow_timber_node43node28_t2', 'flow_timber_node43node14_t2', 'flow_timber_node43node9_t2', 'flow_timber_node43node13_t2', 'flow_timber_node43node8_t2', 'flow_timber_node43node29_t2', 'flow_timber_node43node11_t2', 'flow_timber_node43node6_t2', 'flow_timber_node43node10_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1122_t2', 'variables': ['flow_timber_node44node3_t2', 'flow_timber_node44node13_t2', 'flow_timber_node44node28_t2', 'flow_timber_node44node18_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1527_t2', 'variables': ['flow_timber_node45node16_t2', 'flow_timber_node45node11_t2', 'flow_timber_node45node28_t2', 'flow_timber_node45node18_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1118_t3', 'variables': ['flow_timber_node40node12_t3', 'flow_timber_node40node23_t3', 'flow_timber_node40node15_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1119_t3', 'variables': ['flow_timber_node41node7_t3', 'flow_timber_node41node27_t3', 'flow_timber_node41node15_t3', 'flow_timber_node41node23_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1120_t3', 'variables': ['flow_timber_node42node1_t3', 'flow_timber_node42node7_t3', 'flow_timber_node42node5_t3', 'flow_timber_node42node4_t3', 'flow_timber_node42node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1121_t3', 'variables': ['flow_timber_node43node1_t3', 'flow_timber_node43node4_t3', 'flow_timber_node43node28_t3', 'flow_timber_node43node14_t3', 'flow_timber_node43node9_t3', 'flow_timber_node43node13_t3', 'flow_timber_node43node8_t3', 'flow_timber_node43node29_t3', 'flow_timber_node43node11_t3', 'flow_timber_node43node6_t3', 'flow_timber_node43node10_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1122_t3', 'variables': ['flow_timber_node44node3_t3', 'flow_timber_node44node13_t3', 'flow_timber_node44node28_t3', 'flow_timber_node44node18_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1527_t3', 'variables': ['flow_timber_node45node16_t3', 'flow_timber_node45node11_t3', 'flow_timber_node45node28_t3', 'flow_timber_node45node18_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1118_t4', 'variables': ['flow_timber_node40node12_t4', 'flow_timber_node40node23_t4', 'flow_timber_node40node15_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1119_t4', 'variables': ['flow_timber_node41node7_t4', 'flow_timber_node41node27_t4', 'flow_timber_node41node15_t4', 'flow_timber_node41node23_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1120_t4', 'variables': ['flow_timber_node42node1_t4', 'flow_timber_node42node7_t4', 'flow_timber_node42node5_t4', 'flow_timber_node42node4_t4', 'flow_timber_node42node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1121_t4', 'variables': ['flow_timber_node43node1_t4', 'flow_timber_node43node4_t4', 'flow_timber_node43node28_t4', 'flow_timber_node43node14_t4', 'flow_timber_node43node9_t4', 'flow_timber_node43node13_t4', 'flow_timber_node43node8_t4', 'flow_timber_node43node29_t4', 'flow_timber_node43node11_t4', 'flow_timber_node43node6_t4', 'flow_timber_node43node10_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1122_t4', 'variables': ['flow_timber_node44node3_t4', 'flow_timber_node44node13_t4', 'flow_timber_node44node28_t4', 'flow_timber_node44node18_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1527_t4', 'variables': ['flow_timber_node45node16_t4', 'flow_timber_node45node11_t4', 'flow_timber_node45node28_t4', 'flow_timber_node45node18_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1118_t5', 'variables': ['flow_timber_node40node12_t5', 'flow_timber_node40node23_t5', 'flow_timber_node40node15_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1119_t5', 'variables': ['flow_timber_node41node7_t5', 'flow_timber_node41node27_t5', 'flow_timber_node41node15_t5', 'flow_timber_node41node23_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1120_t5', 'variables': ['flow_timber_node42node1_t5', 'flow_timber_node42node7_t5', 'flow_timber_node42node5_t5', 'flow_timber_node42node4_t5', 'flow_timber_node42node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1121_t5', 'variables': ['flow_timber_node43node1_t5', 'flow_timber_node43node4_t5', 'flow_timber_node43node28_t5', 'flow_timber_node43node14_t5', 'flow_timber_node43node9_t5', 'flow_timber_node43node13_t5', 'flow_timber_node43node8_t5', 'flow_timber_node43node29_t5', 'flow_timber_node43node11_t5', 'flow_timber_node43node6_t5', 'flow_timber_node43node10_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1122_t5', 'variables': ['flow_timber_node44node3_t5', 'flow_timber_node44node13_t5', 'flow_timber_node44node28_t5', 'flow_timber_node44node18_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1527_t5', 'variables': ['flow_timber_node45node16_t5', 'flow_timber_node45node11_t5', 'flow_timber_node45node28_t5', 'flow_timber_node45node18_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1118_t1', 'variables': ['flow_wide_node40node12_t1', 'flow_wide_node40node23_t1', 'flow_wide_node40node15_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1119_t1', 'variables': ['flow_wide_node41node7_t1', 'flow_wide_node41node27_t1', 'flow_wide_node41node15_t1', 'flow_wide_node41node23_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1120_t1', 'variables': ['flow_wide_node42node1_t1', 'flow_wide_node42node7_t1', 'flow_wide_node42node5_t1', 'flow_wide_node42node4_t1', 'flow_wide_node42node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1121_t1', 'variables': ['flow_wide_node43node1_t1', 'flow_wide_node43node4_t1', 'flow_wide_node43node28_t1', 'flow_wide_node43node14_t1', 'flow_wide_node43node9_t1', 'flow_wide_node43node13_t1', 'flow_wide_node43node8_t1', 'flow_wide_node43node29_t1', 'flow_wide_node43node11_t1', 'flow_wide_node43node6_t1', 'flow_wide_node43node10_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1122_t1', 'variables': ['flow_wide_node44node3_t1', 'flow_wide_node44node13_t1', 'flow_wide_node44node28_t1', 'flow_wide_node44node18_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1527_t1', 'variables': ['flow_wide_node45node16_t1', 'flow_wide_node45node11_t1', 'flow_wide_node45node28_t1', 'flow_wide_node45node18_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1118_t2', 'variables': ['flow_wide_node40node12_t2', 'flow_wide_node40node23_t2', 'flow_wide_node40node15_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1119_t2', 'variables': ['flow_wide_node41node7_t2', 'flow_wide_node41node27_t2', 'flow_wide_node41node15_t2', 'flow_wide_node41node23_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1120_t2', 'variables': ['flow_wide_node42node1_t2', 'flow_wide_node42node7_t2', 'flow_wide_node42node5_t2', 'flow_wide_node42node4_t2', 'flow_wide_node42node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1121_t2', 'variables': ['flow_wide_node43node1_t2', 'flow_wide_node43node4_t2', 'flow_wide_node43node28_t2', 'flow_wide_node43node14_t2', 'flow_wide_node43node9_t2', 'flow_wide_node43node13_t2', 'flow_wide_node43node8_t2', 'flow_wide_node43node29_t2', 'flow_wide_node43node11_t2', 'flow_wide_node43node6_t2', 'flow_wide_node43node10_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1122_t2', 'variables': ['flow_wide_node44node3_t2', 'flow_wide_node44node13_t2', 'flow_wide_node44node28_t2', 'flow_wide_node44node18_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1527_t2', 'variables': ['flow_wide_node45node16_t2', 'flow_wide_node45node11_t2', 'flow_wide_node45node28_t2', 'flow_wide_node45node18_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1118_t3', 'variables': ['flow_wide_node40node12_t3', 'flow_wide_node40node23_t3', 'flow_wide_node40node15_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1119_t3', 'variables': ['flow_wide_node41node7_t3', 'flow_wide_node41node27_t3', 'flow_wide_node41node15_t3', 'flow_wide_node41node23_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1120_t3', 'variables': ['flow_wide_node42node1_t3', 'flow_wide_node42node7_t3', 'flow_wide_node42node5_t3', 'flow_wide_node42node4_t3', 'flow_wide_node42node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1121_t3', 'variables': ['flow_wide_node43node1_t3', 'flow_wide_node43node4_t3', 'flow_wide_node43node28_t3', 'flow_wide_node43node14_t3', 'flow_wide_node43node9_t3', 'flow_wide_node43node13_t3', 'flow_wide_node43node8_t3', 'flow_wide_node43node29_t3', 'flow_wide_node43node11_t3', 'flow_wide_node43node6_t3', 'flow_wide_node43node10_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1122_t3', 'variables': ['flow_wide_node44node3_t3', 'flow_wide_node44node13_t3', 'flow_wide_node44node28_t3', 'flow_wide_node44node18_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1527_t3', 'variables': ['flow_wide_node45node16_t3', 'flow_wide_node45node11_t3', 'flow_wide_node45node28_t3', 'flow_wide_node45node18_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1118_t4', 'variables': ['flow_wide_node40node12_t4', 'flow_wide_node40node23_t4', 'flow_wide_node40node15_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1119_t4', 'variables': ['flow_wide_node41node7_t4', 'flow_wide_node41node27_t4', 'flow_wide_node41node15_t4', 'flow_wide_node41node23_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1120_t4', 'variables': ['flow_wide_node42node1_t4', 'flow_wide_node42node7_t4', 'flow_wide_node42node5_t4', 'flow_wide_node42node4_t4', 'flow_wide_node42node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1121_t4', 'variables': ['flow_wide_node43node1_t4', 'flow_wide_node43node4_t4', 'flow_wide_node43node28_t4', 'flow_wide_node43node14_t4', 'flow_wide_node43node9_t4', 'flow_wide_node43node13_t4', 'flow_wide_node43node8_t4', 'flow_wide_node43node29_t4', 'flow_wide_node43node11_t4', 'flow_wide_node43node6_t4', 'flow_wide_node43node10_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1122_t4', 'variables': ['flow_wide_node44node3_t4', 'flow_wide_node44node13_t4', 'flow_wide_node44node28_t4', 'flow_wide_node44node18_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1527_t4', 'variables': ['flow_wide_node45node16_t4', 'flow_wide_node45node11_t4', 'flow_wide_node45node28_t4', 'flow_wide_node45node18_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1118_t5', 'variables': ['flow_wide_node40node12_t5', 'flow_wide_node40node23_t5', 'flow_wide_node40node15_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1119_t5', 'variables': ['flow_wide_node41node7_t5', 'flow_wide_node41node27_t5', 'flow_wide_node41node15_t5', 'flow_wide_node41node23_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1120_t5', 'variables': ['flow_wide_node42node1_t5', 'flow_wide_node42node7_t5', 'flow_wide_node42node5_t5', 'flow_wide_node42node4_t5', 'flow_wide_node42node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1121_t5', 'variables': ['flow_wide_node43node1_t5', 'flow_wide_node43node4_t5', 'flow_wide_node43node28_t5', 'flow_wide_node43node14_t5', 'flow_wide_node43node9_t5', 'flow_wide_node43node13_t5', 'flow_wide_node43node8_t5', 'flow_wide_node43node29_t5', 'flow_wide_node43node11_t5', 'flow_wide_node43node6_t5', 'flow_wide_node43node10_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1122_t5', 'variables': ['flow_wide_node44node3_t5', 'flow_wide_node44node13_t5', 'flow_wide_node44node28_t5', 'flow_wide_node44node18_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1527_t5', 'variables': ['flow_wide_node45node16_t5', 'flow_wide_node45node11_t5', 'flow_wide_node45node28_t5', 'flow_wide_node45node18_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
