Constraint group: Constraint_no_inflow_source
Total in this group: 50
Expected: 50

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1423_1', 'variables': ['flow_timber_node40node49_t1', 'flow_timber_node11node49_t1', 'flow_timber_node30node49_t1', 'flow_timber_node12node49_t1', 'flow_wide_node40node49_t1', 'flow_wide_node11node49_t1', 'flow_wide_node30node49_t1', 'flow_wide_node12node49_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_851_1', 'variables': ['flow_timber_node16node50_t1', 'flow_timber_node4node50_t1', 'flow_timber_node39node50_t1', 'flow_timber_node12node50_t1', 'flow_timber_node11node50_t1', 'flow_wide_node16node50_t1', 'flow_wide_node4node50_t1', 'flow_wide_node39node50_t1', 'flow_wide_node12node50_t1', 'flow_wide_node11node50_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_821_1', 'variables': ['flow_timber_node25node51_t1', 'flow_timber_node5node51_t1', 'flow_timber_node10node51_t1', 'flow_wide_node25node51_t1', 'flow_wide_node5node51_t1', 'flow_wide_node10node51_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_822_1', 'variables': ['flow_timber_node40node52_t1', 'flow_timber_node33node52_t1', 'flow_timber_node23node52_t1', 'flow_timber_node25node52_t1', 'flow_timber_node10node52_t1', 'flow_timber_node16node52_t1', 'flow_timber_node11node52_t1', 'flow_wide_node40node52_t1', 'flow_wide_node33node52_t1', 'flow_wide_node23node52_t1', 'flow_wide_node25node52_t1', 'flow_wide_node10node52_t1', 'flow_wide_node16node52_t1', 'flow_wide_node11node52_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_852_1', 'variables': ['flow_timber_node4node53_t1', 'flow_timber_node19node53_t1', 'flow_timber_node18node53_t1', 'flow_timber_node2node53_t1', 'flow_timber_node39node53_t1', 'flow_timber_node13node53_t1', 'flow_timber_node14node53_t1', 'flow_wide_node4node53_t1', 'flow_wide_node19node53_t1', 'flow_wide_node18node53_t1', 'flow_wide_node2node53_t1', 'flow_wide_node39node53_t1', 'flow_wide_node13node53_t1', 'flow_wide_node14node53_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_853_1', 'variables': ['flow_timber_node13node54_t1', 'flow_timber_node41node54_t1', 'flow_timber_node24node54_t1', 'flow_timber_node2node54_t1', 'flow_wide_node13node54_t1', 'flow_wide_node41node54_t1', 'flow_wide_node24node54_t1', 'flow_wide_node2node54_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1231_1', 'variables': ['flow_timber_node40node55_t1', 'flow_timber_node30node55_t1', 'flow_timber_node10node55_t1', 'flow_timber_node17node55_t1', 'flow_wide_node40node55_t1', 'flow_wide_node30node55_t1', 'flow_wide_node10node55_t1', 'flow_wide_node17node55_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1284_1', 'variables': ['flow_timber_node19node56_t1', 'flow_timber_node9node56_t1', 'flow_timber_node34node56_t1', 'flow_timber_node18node56_t1', 'flow_timber_node3node56_t1', 'flow_wide_node19node56_t1', 'flow_wide_node9node56_t1', 'flow_wide_node34node56_t1', 'flow_wide_node18node56_t1', 'flow_wide_node3node56_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1424_1', 'variables': ['flow_timber_node10node57_t1', 'flow_timber_node5node57_t1', 'flow_timber_node17node57_t1', 'flow_wide_node10node57_t1', 'flow_wide_node5node57_t1', 'flow_wide_node17node57_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1555_1', 'variables': ['flow_timber_node25node58_t1', 'flow_timber_node28node58_t1', 'flow_timber_node7node58_t1', 'flow_wide_node25node58_t1', 'flow_wide_node28node58_t1', 'flow_wide_node7node58_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1423_2', 'variables': ['flow_timber_node40node49_t2', 'flow_timber_node11node49_t2', 'flow_timber_node30node49_t2', 'flow_timber_node12node49_t2', 'flow_wide_node40node49_t2', 'flow_wide_node11node49_t2', 'flow_wide_node30node49_t2', 'flow_wide_node12node49_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_851_2', 'variables': ['flow_timber_node16node50_t2', 'flow_timber_node4node50_t2', 'flow_timber_node39node50_t2', 'flow_timber_node12node50_t2', 'flow_timber_node11node50_t2', 'flow_wide_node16node50_t2', 'flow_wide_node4node50_t2', 'flow_wide_node39node50_t2', 'flow_wide_node12node50_t2', 'flow_wide_node11node50_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_821_2', 'variables': ['flow_timber_node25node51_t2', 'flow_timber_node5node51_t2', 'flow_timber_node10node51_t2', 'flow_wide_node25node51_t2', 'flow_wide_node5node51_t2', 'flow_wide_node10node51_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_822_2', 'variables': ['flow_timber_node40node52_t2', 'flow_timber_node33node52_t2', 'flow_timber_node23node52_t2', 'flow_timber_node25node52_t2', 'flow_timber_node10node52_t2', 'flow_timber_node16node52_t2', 'flow_timber_node11node52_t2', 'flow_wide_node40node52_t2', 'flow_wide_node33node52_t2', 'flow_wide_node23node52_t2', 'flow_wide_node25node52_t2', 'flow_wide_node10node52_t2', 'flow_wide_node16node52_t2', 'flow_wide_node11node52_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_852_2', 'variables': ['flow_timber_node4node53_t2', 'flow_timber_node19node53_t2', 'flow_timber_node18node53_t2', 'flow_timber_node2node53_t2', 'flow_timber_node39node53_t2', 'flow_timber_node13node53_t2', 'flow_timber_node14node53_t2', 'flow_wide_node4node53_t2', 'flow_wide_node19node53_t2', 'flow_wide_node18node53_t2', 'flow_wide_node2node53_t2', 'flow_wide_node39node53_t2', 'flow_wide_node13node53_t2', 'flow_wide_node14node53_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_853_2', 'variables': ['flow_timber_node13node54_t2', 'flow_timber_node41node54_t2', 'flow_timber_node24node54_t2', 'flow_timber_node2node54_t2', 'flow_wide_node13node54_t2', 'flow_wide_node41node54_t2', 'flow_wide_node24node54_t2', 'flow_wide_node2node54_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1231_2', 'variables': ['flow_timber_node40node55_t2', 'flow_timber_node30node55_t2', 'flow_timber_node10node55_t2', 'flow_timber_node17node55_t2', 'flow_wide_node40node55_t2', 'flow_wide_node30node55_t2', 'flow_wide_node10node55_t2', 'flow_wide_node17node55_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1284_2', 'variables': ['flow_timber_node19node56_t2', 'flow_timber_node9node56_t2', 'flow_timber_node34node56_t2', 'flow_timber_node18node56_t2', 'flow_timber_node3node56_t2', 'flow_wide_node19node56_t2', 'flow_wide_node9node56_t2', 'flow_wide_node34node56_t2', 'flow_wide_node18node56_t2', 'flow_wide_node3node56_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1424_2', 'variables': ['flow_timber_node10node57_t2', 'flow_timber_node5node57_t2', 'flow_timber_node17node57_t2', 'flow_wide_node10node57_t2', 'flow_wide_node5node57_t2', 'flow_wide_node17node57_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1555_2', 'variables': ['flow_timber_node25node58_t2', 'flow_timber_node28node58_t2', 'flow_timber_node7node58_t2', 'flow_wide_node25node58_t2', 'flow_wide_node28node58_t2', 'flow_wide_node7node58_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1423_3', 'variables': ['flow_timber_node40node49_t3', 'flow_timber_node11node49_t3', 'flow_timber_node30node49_t3', 'flow_timber_node12node49_t3', 'flow_wide_node40node49_t3', 'flow_wide_node11node49_t3', 'flow_wide_node30node49_t3', 'flow_wide_node12node49_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_851_3', 'variables': ['flow_timber_node16node50_t3', 'flow_timber_node4node50_t3', 'flow_timber_node39node50_t3', 'flow_timber_node12node50_t3', 'flow_timber_node11node50_t3', 'flow_wide_node16node50_t3', 'flow_wide_node4node50_t3', 'flow_wide_node39node50_t3', 'flow_wide_node12node50_t3', 'flow_wide_node11node50_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_821_3', 'variables': ['flow_timber_node25node51_t3', 'flow_timber_node5node51_t3', 'flow_timber_node10node51_t3', 'flow_wide_node25node51_t3', 'flow_wide_node5node51_t3', 'flow_wide_node10node51_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_822_3', 'variables': ['flow_timber_node40node52_t3', 'flow_timber_node33node52_t3', 'flow_timber_node23node52_t3', 'flow_timber_node25node52_t3', 'flow_timber_node10node52_t3', 'flow_timber_node16node52_t3', 'flow_timber_node11node52_t3', 'flow_wide_node40node52_t3', 'flow_wide_node33node52_t3', 'flow_wide_node23node52_t3', 'flow_wide_node25node52_t3', 'flow_wide_node10node52_t3', 'flow_wide_node16node52_t3', 'flow_wide_node11node52_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_852_3', 'variables': ['flow_timber_node4node53_t3', 'flow_timber_node19node53_t3', 'flow_timber_node18node53_t3', 'flow_timber_node2node53_t3', 'flow_timber_node39node53_t3', 'flow_timber_node13node53_t3', 'flow_timber_node14node53_t3', 'flow_wide_node4node53_t3', 'flow_wide_node19node53_t3', 'flow_wide_node18node53_t3', 'flow_wide_node2node53_t3', 'flow_wide_node39node53_t3', 'flow_wide_node13node53_t3', 'flow_wide_node14node53_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_853_3', 'variables': ['flow_timber_node13node54_t3', 'flow_timber_node41node54_t3', 'flow_timber_node24node54_t3', 'flow_timber_node2node54_t3', 'flow_wide_node13node54_t3', 'flow_wide_node41node54_t3', 'flow_wide_node24node54_t3', 'flow_wide_node2node54_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1231_3', 'variables': ['flow_timber_node40node55_t3', 'flow_timber_node30node55_t3', 'flow_timber_node10node55_t3', 'flow_timber_node17node55_t3', 'flow_wide_node40node55_t3', 'flow_wide_node30node55_t3', 'flow_wide_node10node55_t3', 'flow_wide_node17node55_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1284_3', 'variables': ['flow_timber_node19node56_t3', 'flow_timber_node9node56_t3', 'flow_timber_node34node56_t3', 'flow_timber_node18node56_t3', 'flow_timber_node3node56_t3', 'flow_wide_node19node56_t3', 'flow_wide_node9node56_t3', 'flow_wide_node34node56_t3', 'flow_wide_node18node56_t3', 'flow_wide_node3node56_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1424_3', 'variables': ['flow_timber_node10node57_t3', 'flow_timber_node5node57_t3', 'flow_timber_node17node57_t3', 'flow_wide_node10node57_t3', 'flow_wide_node5node57_t3', 'flow_wide_node17node57_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1555_3', 'variables': ['flow_timber_node25node58_t3', 'flow_timber_node28node58_t3', 'flow_timber_node7node58_t3', 'flow_wide_node25node58_t3', 'flow_wide_node28node58_t3', 'flow_wide_node7node58_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1423_4', 'variables': ['flow_timber_node40node49_t4', 'flow_timber_node11node49_t4', 'flow_timber_node30node49_t4', 'flow_timber_node12node49_t4', 'flow_wide_node40node49_t4', 'flow_wide_node11node49_t4', 'flow_wide_node30node49_t4', 'flow_wide_node12node49_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_851_4', 'variables': ['flow_timber_node16node50_t4', 'flow_timber_node4node50_t4', 'flow_timber_node39node50_t4', 'flow_timber_node12node50_t4', 'flow_timber_node11node50_t4', 'flow_wide_node16node50_t4', 'flow_wide_node4node50_t4', 'flow_wide_node39node50_t4', 'flow_wide_node12node50_t4', 'flow_wide_node11node50_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_821_4', 'variables': ['flow_timber_node25node51_t4', 'flow_timber_node5node51_t4', 'flow_timber_node10node51_t4', 'flow_wide_node25node51_t4', 'flow_wide_node5node51_t4', 'flow_wide_node10node51_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_822_4', 'variables': ['flow_timber_node40node52_t4', 'flow_timber_node33node52_t4', 'flow_timber_node23node52_t4', 'flow_timber_node25node52_t4', 'flow_timber_node10node52_t4', 'flow_timber_node16node52_t4', 'flow_timber_node11node52_t4', 'flow_wide_node40node52_t4', 'flow_wide_node33node52_t4', 'flow_wide_node23node52_t4', 'flow_wide_node25node52_t4', 'flow_wide_node10node52_t4', 'flow_wide_node16node52_t4', 'flow_wide_node11node52_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_852_4', 'variables': ['flow_timber_node4node53_t4', 'flow_timber_node19node53_t4', 'flow_timber_node18node53_t4', 'flow_timber_node2node53_t4', 'flow_timber_node39node53_t4', 'flow_timber_node13node53_t4', 'flow_timber_node14node53_t4', 'flow_wide_node4node53_t4', 'flow_wide_node19node53_t4', 'flow_wide_node18node53_t4', 'flow_wide_node2node53_t4', 'flow_wide_node39node53_t4', 'flow_wide_node13node53_t4', 'flow_wide_node14node53_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_853_4', 'variables': ['flow_timber_node13node54_t4', 'flow_timber_node41node54_t4', 'flow_timber_node24node54_t4', 'flow_timber_node2node54_t4', 'flow_wide_node13node54_t4', 'flow_wide_node41node54_t4', 'flow_wide_node24node54_t4', 'flow_wide_node2node54_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1231_4', 'variables': ['flow_timber_node40node55_t4', 'flow_timber_node30node55_t4', 'flow_timber_node10node55_t4', 'flow_timber_node17node55_t4', 'flow_wide_node40node55_t4', 'flow_wide_node30node55_t4', 'flow_wide_node10node55_t4', 'flow_wide_node17node55_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1284_4', 'variables': ['flow_timber_node19node56_t4', 'flow_timber_node9node56_t4', 'flow_timber_node34node56_t4', 'flow_timber_node18node56_t4', 'flow_timber_node3node56_t4', 'flow_wide_node19node56_t4', 'flow_wide_node9node56_t4', 'flow_wide_node34node56_t4', 'flow_wide_node18node56_t4', 'flow_wide_node3node56_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1424_4', 'variables': ['flow_timber_node10node57_t4', 'flow_timber_node5node57_t4', 'flow_timber_node17node57_t4', 'flow_wide_node10node57_t4', 'flow_wide_node5node57_t4', 'flow_wide_node17node57_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1555_4', 'variables': ['flow_timber_node25node58_t4', 'flow_timber_node28node58_t4', 'flow_timber_node7node58_t4', 'flow_wide_node25node58_t4', 'flow_wide_node28node58_t4', 'flow_wide_node7node58_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1423_5', 'variables': ['flow_timber_node40node49_t5', 'flow_timber_node11node49_t5', 'flow_timber_node30node49_t5', 'flow_timber_node12node49_t5', 'flow_wide_node40node49_t5', 'flow_wide_node11node49_t5', 'flow_wide_node30node49_t5', 'flow_wide_node12node49_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_851_5', 'variables': ['flow_timber_node16node50_t5', 'flow_timber_node4node50_t5', 'flow_timber_node39node50_t5', 'flow_timber_node12node50_t5', 'flow_timber_node11node50_t5', 'flow_wide_node16node50_t5', 'flow_wide_node4node50_t5', 'flow_wide_node39node50_t5', 'flow_wide_node12node50_t5', 'flow_wide_node11node50_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_821_5', 'variables': ['flow_timber_node25node51_t5', 'flow_timber_node5node51_t5', 'flow_timber_node10node51_t5', 'flow_wide_node25node51_t5', 'flow_wide_node5node51_t5', 'flow_wide_node10node51_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_822_5', 'variables': ['flow_timber_node40node52_t5', 'flow_timber_node33node52_t5', 'flow_timber_node23node52_t5', 'flow_timber_node25node52_t5', 'flow_timber_node10node52_t5', 'flow_timber_node16node52_t5', 'flow_timber_node11node52_t5', 'flow_wide_node40node52_t5', 'flow_wide_node33node52_t5', 'flow_wide_node23node52_t5', 'flow_wide_node25node52_t5', 'flow_wide_node10node52_t5', 'flow_wide_node16node52_t5', 'flow_wide_node11node52_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_852_5', 'variables': ['flow_timber_node4node53_t5', 'flow_timber_node19node53_t5', 'flow_timber_node18node53_t5', 'flow_timber_node2node53_t5', 'flow_timber_node39node53_t5', 'flow_timber_node13node53_t5', 'flow_timber_node14node53_t5', 'flow_wide_node4node53_t5', 'flow_wide_node19node53_t5', 'flow_wide_node18node53_t5', 'flow_wide_node2node53_t5', 'flow_wide_node39node53_t5', 'flow_wide_node13node53_t5', 'flow_wide_node14node53_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_853_5', 'variables': ['flow_timber_node13node54_t5', 'flow_timber_node41node54_t5', 'flow_timber_node24node54_t5', 'flow_timber_node2node54_t5', 'flow_wide_node13node54_t5', 'flow_wide_node41node54_t5', 'flow_wide_node24node54_t5', 'flow_wide_node2node54_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1231_5', 'variables': ['flow_timber_node40node55_t5', 'flow_timber_node30node55_t5', 'flow_timber_node10node55_t5', 'flow_timber_node17node55_t5', 'flow_wide_node40node55_t5', 'flow_wide_node30node55_t5', 'flow_wide_node10node55_t5', 'flow_wide_node17node55_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1284_5', 'variables': ['flow_timber_node19node56_t5', 'flow_timber_node9node56_t5', 'flow_timber_node34node56_t5', 'flow_timber_node18node56_t5', 'flow_timber_node3node56_t5', 'flow_wide_node19node56_t5', 'flow_wide_node9node56_t5', 'flow_wide_node34node56_t5', 'flow_wide_node18node56_t5', 'flow_wide_node3node56_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1424_5', 'variables': ['flow_timber_node10node57_t5', 'flow_timber_node5node57_t5', 'flow_timber_node17node57_t5', 'flow_wide_node10node57_t5', 'flow_wide_node5node57_t5', 'flow_wide_node17node57_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1555_5', 'variables': ['flow_timber_node25node58_t5', 'flow_timber_node28node58_t5', 'flow_timber_node7node58_t5', 'flow_wide_node25node58_t5', 'flow_wide_node28node58_t5', 'flow_wide_node7node58_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
