Constraint group: Constraint_no_inflow_source
Total in this group: 5
Expected: 5

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_984_1', 'variables': ['flow_timber_node15node28_t1', 'flow_timber_node9node28_t1', 'flow_timber_node5node28_t1', 'flow_timber_node18node28_t1', 'flow_timber_node4node28_t1', 'flow_timber_node1node28_t1', 'flow_wide_node15node28_t1', 'flow_wide_node9node28_t1', 'flow_wide_node5node28_t1', 'flow_wide_node18node28_t1', 'flow_wide_node4node28_t1', 'flow_wide_node1node28_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_984_2', 'variables': ['flow_timber_node15node28_t2', 'flow_timber_node9node28_t2', 'flow_timber_node5node28_t2', 'flow_timber_node18node28_t2', 'flow_timber_node4node28_t2', 'flow_timber_node1node28_t2', 'flow_wide_node15node28_t2', 'flow_wide_node9node28_t2', 'flow_wide_node5node28_t2', 'flow_wide_node18node28_t2', 'flow_wide_node4node28_t2', 'flow_wide_node1node28_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_984_3', 'variables': ['flow_timber_node15node28_t3', 'flow_timber_node9node28_t3', 'flow_timber_node5node28_t3', 'flow_timber_node18node28_t3', 'flow_timber_node4node28_t3', 'flow_timber_node1node28_t3', 'flow_wide_node15node28_t3', 'flow_wide_node9node28_t3', 'flow_wide_node5node28_t3', 'flow_wide_node18node28_t3', 'flow_wide_node4node28_t3', 'flow_wide_node1node28_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_984_4', 'variables': ['flow_timber_node15node28_t4', 'flow_timber_node9node28_t4', 'flow_timber_node5node28_t4', 'flow_timber_node18node28_t4', 'flow_timber_node4node28_t4', 'flow_timber_node1node28_t4', 'flow_wide_node15node28_t4', 'flow_wide_node9node28_t4', 'flow_wide_node5node28_t4', 'flow_wide_node18node28_t4', 'flow_wide_node4node28_t4', 'flow_wide_node1node28_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_984_5', 'variables': ['flow_timber_node15node28_t5', 'flow_timber_node9node28_t5', 'flow_timber_node5node28_t5', 'flow_timber_node18node28_t5', 'flow_timber_node4node28_t5', 'flow_timber_node1node28_t5', 'flow_wide_node15node28_t5', 'flow_wide_node9node28_t5', 'flow_wide_node5node28_t5', 'flow_wide_node18node28_t5', 'flow_wide_node4node28_t5', 'flow_wide_node1node28_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
