Constraint group: Constraint_no_inflow_source
Total in this group: 5
Expected: 5

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1538_1', 'variables': ['flow_timber_node2node6_t1', 'flow_timber_node1node6_t1', 'flow_timber_node3node6_t1', 'flow_wide_node2node6_t1', 'flow_wide_node1node6_t1', 'flow_wide_node3node6_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1538_2', 'variables': ['flow_timber_node2node6_t2', 'flow_timber_node1node6_t2', 'flow_timber_node3node6_t2', 'flow_wide_node2node6_t2', 'flow_wide_node1node6_t2', 'flow_wide_node3node6_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1538_3', 'variables': ['flow_timber_node2node6_t3', 'flow_timber_node1node6_t3', 'flow_timber_node3node6_t3', 'flow_wide_node2node6_t3', 'flow_wide_node1node6_t3', 'flow_wide_node3node6_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1538_4', 'variables': ['flow_timber_node2node6_t4', 'flow_timber_node1node6_t4', 'flow_timber_node3node6_t4', 'flow_wide_node2node6_t4', 'flow_wide_node1node6_t4', 'flow_wide_node3node6_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1538_5', 'variables': ['flow_timber_node2node6_t5', 'flow_timber_node1node6_t5', 'flow_timber_node3node6_t5', 'flow_wide_node2node6_t5', 'flow_wide_node1node6_t5', 'flow_wide_node3node6_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
