Constraint group: Constraint_outflow_iff_needroad
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1538_t1', 'variables': ['flow_timber_node6node3_t1', 'flow_timber_node6node2_t1', 'flow_timber_node6node1_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1610_t1', 'variables': ['flow_timber_node7node5_t1', 'flow_timber_node7node4_t1', 'flow_timber_node7node2_t1', 'flow_timber_node7node3_t1', 'flow_timber_node7node1_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1538_t2', 'variables': ['flow_timber_node6node3_t2', 'flow_timber_node6node2_t2', 'flow_timber_node6node1_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1610_t2', 'variables': ['flow_timber_node7node5_t2', 'flow_timber_node7node4_t2', 'flow_timber_node7node2_t2', 'flow_timber_node7node3_t2', 'flow_timber_node7node1_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1538_t3', 'variables': ['flow_timber_node6node3_t3', 'flow_timber_node6node2_t3', 'flow_timber_node6node1_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1610_t3', 'variables': ['flow_timber_node7node5_t3', 'flow_timber_node7node4_t3', 'flow_timber_node7node2_t3', 'flow_timber_node7node3_t3', 'flow_timber_node7node1_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1538_t4', 'variables': ['flow_timber_node6node3_t4', 'flow_timber_node6node2_t4', 'flow_timber_node6node1_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1610_t4', 'variables': ['flow_timber_node7node5_t4', 'flow_timber_node7node4_t4', 'flow_timber_node7node2_t4', 'flow_timber_node7node3_t4', 'flow_timber_node7node1_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1538_t5', 'variables': ['flow_timber_node6node3_t5', 'flow_timber_node6node2_t5', 'flow_timber_node6node1_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1610_t5', 'variables': ['flow_timber_node7node5_t5', 'flow_timber_node7node4_t5', 'flow_timber_node7node2_t5', 'flow_timber_node7node3_t5', 'flow_timber_node7node1_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1538_t1', 'variables': ['flow_wide_node6node3_t1', 'flow_wide_node6node2_t1', 'flow_wide_node6node1_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1610_t1', 'variables': ['flow_wide_node7node5_t1', 'flow_wide_node7node4_t1', 'flow_wide_node7node2_t1', 'flow_wide_node7node3_t1', 'flow_wide_node7node1_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1538_t2', 'variables': ['flow_wide_node6node3_t2', 'flow_wide_node6node2_t2', 'flow_wide_node6node1_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1610_t2', 'variables': ['flow_wide_node7node5_t2', 'flow_wide_node7node4_t2', 'flow_wide_node7node2_t2', 'flow_wide_node7node3_t2', 'flow_wide_node7node1_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1538_t3', 'variables': ['flow_wide_node6node3_t3', 'flow_wide_node6node2_t3', 'flow_wide_node6node1_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1610_t3', 'variables': ['flow_wide_node7node5_t3', 'flow_wide_node7node4_t3', 'flow_wide_node7node2_t3', 'flow_wide_node7node3_t3', 'flow_wide_node7node1_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1538_t4', 'variables': ['flow_wide_node6node3_t4', 'flow_wide_node6node2_t4', 'flow_wide_node6node1_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1610_t4', 'variables': ['flow_wide_node7node5_t4', 'flow_wide_node7node4_t4', 'flow_wide_node7node2_t4', 'flow_wide_node7node3_t4', 'flow_wide_node7node1_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1538_t5', 'variables': ['flow_wide_node6node3_t5', 'flow_wide_node6node2_t5', 'flow_wide_node6node1_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1610_t5', 'variables': ['flow_wide_node7node5_t5', 'flow_wide_node7node4_t5', 'flow_wide_node7node2_t5', 'flow_wide_node7node3_t5', 'flow_wide_node7node1_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
