Constraint group: Constraint_no_inflow_source
Total in this group: 20
Expected: 20

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1206_1', 'variables': ['flow_timber_node1node28_t1', 'flow_timber_node13node28_t1', 'flow_timber_node4node28_t1', 'flow_timber_node19node28_t1', 'flow_wide_node1node28_t1', 'flow_wide_node13node28_t1', 'flow_wide_node4node28_t1', 'flow_wide_node19node28_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_900_1', 'variables': ['flow_timber_node23node29_t1', 'flow_timber_node3node29_t1', 'flow_timber_node15node29_t1', 'flow_timber_node13node29_t1', 'flow_timber_node2node29_t1', 'flow_timber_node19node29_t1', 'flow_timber_node12node29_t1', 'flow_wide_node23node29_t1', 'flow_wide_node3node29_t1', 'flow_wide_node15node29_t1', 'flow_wide_node13node29_t1', 'flow_wide_node2node29_t1', 'flow_wide_node19node29_t1', 'flow_wide_node12node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1387_1', 'variables': ['flow_timber_node21node30_t1', 'flow_timber_node22node30_t1', 'flow_timber_node20node30_t1', 'flow_wide_node21node30_t1', 'flow_wide_node22node30_t1', 'flow_wide_node20node30_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1388_1', 'variables': ['flow_timber_node20node31_t1', 'flow_timber_node4node31_t1', 'flow_timber_node21node31_t1', 'flow_timber_node22node31_t1', 'flow_timber_node8node31_t1', 'flow_timber_node1node31_t1', 'flow_wide_node20node31_t1', 'flow_wide_node4node31_t1', 'flow_wide_node21node31_t1', 'flow_wide_node22node31_t1', 'flow_wide_node8node31_t1', 'flow_wide_node1node31_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1206_2', 'variables': ['flow_timber_node1node28_t2', 'flow_timber_node13node28_t2', 'flow_timber_node4node28_t2', 'flow_timber_node19node28_t2', 'flow_wide_node1node28_t2', 'flow_wide_node13node28_t2', 'flow_wide_node4node28_t2', 'flow_wide_node19node28_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_900_2', 'variables': ['flow_timber_node23node29_t2', 'flow_timber_node3node29_t2', 'flow_timber_node15node29_t2', 'flow_timber_node13node29_t2', 'flow_timber_node2node29_t2', 'flow_timber_node19node29_t2', 'flow_timber_node12node29_t2', 'flow_wide_node23node29_t2', 'flow_wide_node3node29_t2', 'flow_wide_node15node29_t2', 'flow_wide_node13node29_t2', 'flow_wide_node2node29_t2', 'flow_wide_node19node29_t2', 'flow_wide_node12node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1387_2', 'variables': ['flow_timber_node21node30_t2', 'flow_timber_node22node30_t2', 'flow_timber_node20node30_t2', 'flow_wide_node21node30_t2', 'flow_wide_node22node30_t2', 'flow_wide_node20node30_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1388_2', 'variables': ['flow_timber_node20node31_t2', 'flow_timber_node4node31_t2', 'flow_timber_node21node31_t2', 'flow_timber_node22node31_t2', 'flow_timber_node8node31_t2', 'flow_timber_node1node31_t2', 'flow_wide_node20node31_t2', 'flow_wide_node4node31_t2', 'flow_wide_node21node31_t2', 'flow_wide_node22node31_t2', 'flow_wide_node8node31_t2', 'flow_wide_node1node31_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1206_3', 'variables': ['flow_timber_node1node28_t3', 'flow_timber_node13node28_t3', 'flow_timber_node4node28_t3', 'flow_timber_node19node28_t3', 'flow_wide_node1node28_t3', 'flow_wide_node13node28_t3', 'flow_wide_node4node28_t3', 'flow_wide_node19node28_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_900_3', 'variables': ['flow_timber_node23node29_t3', 'flow_timber_node3node29_t3', 'flow_timber_node15node29_t3', 'flow_timber_node13node29_t3', 'flow_timber_node2node29_t3', 'flow_timber_node19node29_t3', 'flow_timber_node12node29_t3', 'flow_wide_node23node29_t3', 'flow_wide_node3node29_t3', 'flow_wide_node15node29_t3', 'flow_wide_node13node29_t3', 'flow_wide_node2node29_t3', 'flow_wide_node19node29_t3', 'flow_wide_node12node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1387_3', 'variables': ['flow_timber_node21node30_t3', 'flow_timber_node22node30_t3', 'flow_timber_node20node30_t3', 'flow_wide_node21node30_t3', 'flow_wide_node22node30_t3', 'flow_wide_node20node30_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1388_3', 'variables': ['flow_timber_node20node31_t3', 'flow_timber_node4node31_t3', 'flow_timber_node21node31_t3', 'flow_timber_node22node31_t3', 'flow_timber_node8node31_t3', 'flow_timber_node1node31_t3', 'flow_wide_node20node31_t3', 'flow_wide_node4node31_t3', 'flow_wide_node21node31_t3', 'flow_wide_node22node31_t3', 'flow_wide_node8node31_t3', 'flow_wide_node1node31_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1206_4', 'variables': ['flow_timber_node1node28_t4', 'flow_timber_node13node28_t4', 'flow_timber_node4node28_t4', 'flow_timber_node19node28_t4', 'flow_wide_node1node28_t4', 'flow_wide_node13node28_t4', 'flow_wide_node4node28_t4', 'flow_wide_node19node28_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_900_4', 'variables': ['flow_timber_node23node29_t4', 'flow_timber_node3node29_t4', 'flow_timber_node15node29_t4', 'flow_timber_node13node29_t4', 'flow_timber_node2node29_t4', 'flow_timber_node19node29_t4', 'flow_timber_node12node29_t4', 'flow_wide_node23node29_t4', 'flow_wide_node3node29_t4', 'flow_wide_node15node29_t4', 'flow_wide_node13node29_t4', 'flow_wide_node2node29_t4', 'flow_wide_node19node29_t4', 'flow_wide_node12node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1387_4', 'variables': ['flow_timber_node21node30_t4', 'flow_timber_node22node30_t4', 'flow_timber_node20node30_t4', 'flow_wide_node21node30_t4', 'flow_wide_node22node30_t4', 'flow_wide_node20node30_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1388_4', 'variables': ['flow_timber_node20node31_t4', 'flow_timber_node4node31_t4', 'flow_timber_node21node31_t4', 'flow_timber_node22node31_t4', 'flow_timber_node8node31_t4', 'flow_timber_node1node31_t4', 'flow_wide_node20node31_t4', 'flow_wide_node4node31_t4', 'flow_wide_node21node31_t4', 'flow_wide_node22node31_t4', 'flow_wide_node8node31_t4', 'flow_wide_node1node31_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1206_5', 'variables': ['flow_timber_node1node28_t5', 'flow_timber_node13node28_t5', 'flow_timber_node4node28_t5', 'flow_timber_node19node28_t5', 'flow_wide_node1node28_t5', 'flow_wide_node13node28_t5', 'flow_wide_node4node28_t5', 'flow_wide_node19node28_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_900_5', 'variables': ['flow_timber_node23node29_t5', 'flow_timber_node3node29_t5', 'flow_timber_node15node29_t5', 'flow_timber_node13node29_t5', 'flow_timber_node2node29_t5', 'flow_timber_node19node29_t5', 'flow_timber_node12node29_t5', 'flow_wide_node23node29_t5', 'flow_wide_node3node29_t5', 'flow_wide_node15node29_t5', 'flow_wide_node13node29_t5', 'flow_wide_node2node29_t5', 'flow_wide_node19node29_t5', 'flow_wide_node12node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1387_5', 'variables': ['flow_timber_node21node30_t5', 'flow_timber_node22node30_t5', 'flow_timber_node20node30_t5', 'flow_wide_node21node30_t5', 'flow_wide_node22node30_t5', 'flow_wide_node20node30_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1388_5', 'variables': ['flow_timber_node20node31_t5', 'flow_timber_node4node31_t5', 'flow_timber_node21node31_t5', 'flow_timber_node22node31_t5', 'flow_timber_node8node31_t5', 'flow_timber_node1node31_t5', 'flow_wide_node20node31_t5', 'flow_wide_node4node31_t5', 'flow_wide_node21node31_t5', 'flow_wide_node22node31_t5', 'flow_wide_node8node31_t5', 'flow_wide_node1node31_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
