Constraint group: Constraint_no_inflow_source
Total in this group: 5
Expected: 5

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_974_1', 'variables': ['flow_timber_node4node8_t1', 'flow_timber_node1node8_t1', 'flow_timber_node3node8_t1', 'flow_timber_node2node8_t1', 'flow_timber_node5node8_t1', 'flow_wide_node4node8_t1', 'flow_wide_node1node8_t1', 'flow_wide_node3node8_t1', 'flow_wide_node2node8_t1', 'flow_wide_node5node8_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_974_2', 'variables': ['flow_timber_node4node8_t2', 'flow_timber_node1node8_t2', 'flow_timber_node3node8_t2', 'flow_timber_node2node8_t2', 'flow_timber_node5node8_t2', 'flow_wide_node4node8_t2', 'flow_wide_node1node8_t2', 'flow_wide_node3node8_t2', 'flow_wide_node2node8_t2', 'flow_wide_node5node8_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_974_3', 'variables': ['flow_timber_node4node8_t3', 'flow_timber_node1node8_t3', 'flow_timber_node3node8_t3', 'flow_timber_node2node8_t3', 'flow_timber_node5node8_t3', 'flow_wide_node4node8_t3', 'flow_wide_node1node8_t3', 'flow_wide_node3node8_t3', 'flow_wide_node2node8_t3', 'flow_wide_node5node8_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_974_4', 'variables': ['flow_timber_node4node8_t4', 'flow_timber_node1node8_t4', 'flow_timber_node3node8_t4', 'flow_timber_node2node8_t4', 'flow_timber_node5node8_t4', 'flow_wide_node4node8_t4', 'flow_wide_node1node8_t4', 'flow_wide_node3node8_t4', 'flow_wide_node2node8_t4', 'flow_wide_node5node8_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_974_5', 'variables': ['flow_timber_node4node8_t5', 'flow_timber_node1node8_t5', 'flow_timber_node3node8_t5', 'flow_timber_node2node8_t5', 'flow_timber_node5node8_t5', 'flow_wide_node4node8_t5', 'flow_wide_node1node8_t5', 'flow_wide_node3node8_t5', 'flow_wide_node2node8_t5', 'flow_wide_node5node8_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
