Constraint group: Constraint_timberflow_enforcing_road
Total in this group: 70
Expected: 70

Constraints:
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node4_1', 'variables': ['flow_timber_node1node4_t1', 'flow_timber_node4node1_t1', 'C_node1node4_timber_t1', 'M_node1node4_timber_t1', 'C_node1node4_wide_t1', 'M_node1node4_wide_t1', 'U_node1node4_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node5_1', 'variables': ['flow_timber_node1node5_t1', 'flow_timber_node5node1_t1', 'C_node1node5_timber_t1', 'M_node1node5_timber_t1', 'C_node1node5_wide_t1', 'M_node1node5_wide_t1', 'U_node1node5_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node6_1', 'variables': ['flow_timber_node1node6_t1', 'flow_timber_node6node1_t1', 'C_node1node6_timber_t1', 'M_node1node6_timber_t1', 'C_node1node6_wide_t1', 'M_node1node6_wide_t1', 'U_node1node6_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node8_1', 'variables': ['flow_timber_node1node8_t1', 'flow_timber_node8node1_t1', 'C_node1node8_timber_t1', 'M_node1node8_timber_t1', 'C_node1node8_wide_t1', 'M_node1node8_wide_t1', 'U_node1node8_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node3_1', 'variables': ['flow_timber_node2node3_t1', 'flow_timber_node3node2_t1', 'C_node2node3_timber_t1', 'M_node2node3_timber_t1', 'C_node2node3_wide_t1', 'M_node2node3_wide_t1', 'U_node2node3_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node5_1', 'variables': ['flow_timber_node2node5_t1', 'flow_timber_node5node2_t1', 'C_node2node5_timber_t1', 'M_node2node5_timber_t1', 'C_node2node5_wide_t1', 'M_node2node5_wide_t1', 'U_node2node5_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node8_1', 'variables': ['flow_timber_node2node8_t1', 'flow_timber_node8node2_t1', 'C_node2node8_timber_t1', 'M_node2node8_timber_t1', 'C_node2node8_wide_t1', 'M_node2node8_wide_t1', 'U_node2node8_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node4_1', 'variables': ['flow_timber_node3node4_t1', 'flow_timber_node4node3_t1', 'C_node3node4_timber_t1', 'M_node3node4_timber_t1', 'C_node3node4_wide_t1', 'M_node3node4_wide_t1', 'U_node3node4_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node5_1', 'variables': ['flow_timber_node3node5_t1', 'flow_timber_node5node3_t1', 'C_node3node5_timber_t1', 'M_node3node5_timber_t1', 'C_node3node5_wide_t1', 'M_node3node5_wide_t1', 'U_node3node5_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node8_1', 'variables': ['flow_timber_node3node8_t1', 'flow_timber_node8node3_t1', 'C_node3node8_timber_t1', 'M_node3node8_timber_t1', 'C_node3node8_wide_t1', 'M_node3node8_wide_t1', 'U_node3node8_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node7_1', 'variables': ['flow_timber_node4node7_t1', 'flow_timber_node7node4_t1', 'C_node4node7_timber_t1', 'M_node4node7_timber_t1', 'C_node4node7_wide_t1', 'M_node4node7_wide_t1', 'U_node4node7_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node8_1', 'variables': ['flow_timber_node4node8_t1', 'flow_timber_node8node4_t1', 'C_node4node8_timber_t1', 'M_node4node8_timber_t1', 'C_node4node8_wide_t1', 'M_node4node8_wide_t1', 'U_node4node8_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node5node8_1', 'variables': ['flow_timber_node5node8_t1', 'flow_timber_node8node5_t1', 'C_node5node8_timber_t1', 'M_node5node8_timber_t1', 'C_node5node8_wide_t1', 'M_node5node8_wide_t1', 'U_node5node8_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node6node7_1', 'variables': ['flow_timber_node6node7_t1', 'flow_timber_node7node6_t1', 'C_node6node7_timber_t1', 'M_node6node7_timber_t1', 'C_node6node7_wide_t1', 'M_node6node7_wide_t1', 'U_node6node7_t1'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node4_2', 'variables': ['flow_timber_node1node4_t2', 'flow_timber_node4node1_t2', 'C_node1node4_timber_t2', 'M_node1node4_timber_t2', 'C_node1node4_wide_t2', 'M_node1node4_wide_t2', 'U_node1node4_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node5_2', 'variables': ['flow_timber_node1node5_t2', 'flow_timber_node5node1_t2', 'C_node1node5_timber_t2', 'M_node1node5_timber_t2', 'C_node1node5_wide_t2', 'M_node1node5_wide_t2', 'U_node1node5_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node6_2', 'variables': ['flow_timber_node1node6_t2', 'flow_timber_node6node1_t2', 'C_node1node6_timber_t2', 'M_node1node6_timber_t2', 'C_node1node6_wide_t2', 'M_node1node6_wide_t2', 'U_node1node6_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node8_2', 'variables': ['flow_timber_node1node8_t2', 'flow_timber_node8node1_t2', 'C_node1node8_timber_t2', 'M_node1node8_timber_t2', 'C_node1node8_wide_t2', 'M_node1node8_wide_t2', 'U_node1node8_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node3_2', 'variables': ['flow_timber_node2node3_t2', 'flow_timber_node3node2_t2', 'C_node2node3_timber_t2', 'M_node2node3_timber_t2', 'C_node2node3_wide_t2', 'M_node2node3_wide_t2', 'U_node2node3_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node5_2', 'variables': ['flow_timber_node2node5_t2', 'flow_timber_node5node2_t2', 'C_node2node5_timber_t2', 'M_node2node5_timber_t2', 'C_node2node5_wide_t2', 'M_node2node5_wide_t2', 'U_node2node5_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node8_2', 'variables': ['flow_timber_node2node8_t2', 'flow_timber_node8node2_t2', 'C_node2node8_timber_t2', 'M_node2node8_timber_t2', 'C_node2node8_wide_t2', 'M_node2node8_wide_t2', 'U_node2node8_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node4_2', 'variables': ['flow_timber_node3node4_t2', 'flow_timber_node4node3_t2', 'C_node3node4_timber_t2', 'M_node3node4_timber_t2', 'C_node3node4_wide_t2', 'M_node3node4_wide_t2', 'U_node3node4_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node5_2', 'variables': ['flow_timber_node3node5_t2', 'flow_timber_node5node3_t2', 'C_node3node5_timber_t2', 'M_node3node5_timber_t2', 'C_node3node5_wide_t2', 'M_node3node5_wide_t2', 'U_node3node5_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node8_2', 'variables': ['flow_timber_node3node8_t2', 'flow_timber_node8node3_t2', 'C_node3node8_timber_t2', 'M_node3node8_timber_t2', 'C_node3node8_wide_t2', 'M_node3node8_wide_t2', 'U_node3node8_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node7_2', 'variables': ['flow_timber_node4node7_t2', 'flow_timber_node7node4_t2', 'C_node4node7_timber_t2', 'M_node4node7_timber_t2', 'C_node4node7_wide_t2', 'M_node4node7_wide_t2', 'U_node4node7_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node8_2', 'variables': ['flow_timber_node4node8_t2', 'flow_timber_node8node4_t2', 'C_node4node8_timber_t2', 'M_node4node8_timber_t2', 'C_node4node8_wide_t2', 'M_node4node8_wide_t2', 'U_node4node8_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node5node8_2', 'variables': ['flow_timber_node5node8_t2', 'flow_timber_node8node5_t2', 'C_node5node8_timber_t2', 'M_node5node8_timber_t2', 'C_node5node8_wide_t2', 'M_node5node8_wide_t2', 'U_node5node8_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node6node7_2', 'variables': ['flow_timber_node6node7_t2', 'flow_timber_node7node6_t2', 'C_node6node7_timber_t2', 'M_node6node7_timber_t2', 'C_node6node7_wide_t2', 'M_node6node7_wide_t2', 'U_node6node7_t2'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node4_3', 'variables': ['flow_timber_node1node4_t3', 'flow_timber_node4node1_t3', 'C_node1node4_timber_t3', 'M_node1node4_timber_t3', 'C_node1node4_wide_t3', 'M_node1node4_wide_t3', 'U_node1node4_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node5_3', 'variables': ['flow_timber_node1node5_t3', 'flow_timber_node5node1_t3', 'C_node1node5_timber_t3', 'M_node1node5_timber_t3', 'C_node1node5_wide_t3', 'M_node1node5_wide_t3', 'U_node1node5_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node6_3', 'variables': ['flow_timber_node1node6_t3', 'flow_timber_node6node1_t3', 'C_node1node6_timber_t3', 'M_node1node6_timber_t3', 'C_node1node6_wide_t3', 'M_node1node6_wide_t3', 'U_node1node6_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node8_3', 'variables': ['flow_timber_node1node8_t3', 'flow_timber_node8node1_t3', 'C_node1node8_timber_t3', 'M_node1node8_timber_t3', 'C_node1node8_wide_t3', 'M_node1node8_wide_t3', 'U_node1node8_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node3_3', 'variables': ['flow_timber_node2node3_t3', 'flow_timber_node3node2_t3', 'C_node2node3_timber_t3', 'M_node2node3_timber_t3', 'C_node2node3_wide_t3', 'M_node2node3_wide_t3', 'U_node2node3_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node5_3', 'variables': ['flow_timber_node2node5_t3', 'flow_timber_node5node2_t3', 'C_node2node5_timber_t3', 'M_node2node5_timber_t3', 'C_node2node5_wide_t3', 'M_node2node5_wide_t3', 'U_node2node5_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node8_3', 'variables': ['flow_timber_node2node8_t3', 'flow_timber_node8node2_t3', 'C_node2node8_timber_t3', 'M_node2node8_timber_t3', 'C_node2node8_wide_t3', 'M_node2node8_wide_t3', 'U_node2node8_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node4_3', 'variables': ['flow_timber_node3node4_t3', 'flow_timber_node4node3_t3', 'C_node3node4_timber_t3', 'M_node3node4_timber_t3', 'C_node3node4_wide_t3', 'M_node3node4_wide_t3', 'U_node3node4_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node5_3', 'variables': ['flow_timber_node3node5_t3', 'flow_timber_node5node3_t3', 'C_node3node5_timber_t3', 'M_node3node5_timber_t3', 'C_node3node5_wide_t3', 'M_node3node5_wide_t3', 'U_node3node5_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node8_3', 'variables': ['flow_timber_node3node8_t3', 'flow_timber_node8node3_t3', 'C_node3node8_timber_t3', 'M_node3node8_timber_t3', 'C_node3node8_wide_t3', 'M_node3node8_wide_t3', 'U_node3node8_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node7_3', 'variables': ['flow_timber_node4node7_t3', 'flow_timber_node7node4_t3', 'C_node4node7_timber_t3', 'M_node4node7_timber_t3', 'C_node4node7_wide_t3', 'M_node4node7_wide_t3', 'U_node4node7_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node8_3', 'variables': ['flow_timber_node4node8_t3', 'flow_timber_node8node4_t3', 'C_node4node8_timber_t3', 'M_node4node8_timber_t3', 'C_node4node8_wide_t3', 'M_node4node8_wide_t3', 'U_node4node8_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node5node8_3', 'variables': ['flow_timber_node5node8_t3', 'flow_timber_node8node5_t3', 'C_node5node8_timber_t3', 'M_node5node8_timber_t3', 'C_node5node8_wide_t3', 'M_node5node8_wide_t3', 'U_node5node8_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node6node7_3', 'variables': ['flow_timber_node6node7_t3', 'flow_timber_node7node6_t3', 'C_node6node7_timber_t3', 'M_node6node7_timber_t3', 'C_node6node7_wide_t3', 'M_node6node7_wide_t3', 'U_node6node7_t3'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node4_4', 'variables': ['flow_timber_node1node4_t4', 'flow_timber_node4node1_t4', 'C_node1node4_timber_t4', 'M_node1node4_timber_t4', 'C_node1node4_wide_t4', 'M_node1node4_wide_t4', 'U_node1node4_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node5_4', 'variables': ['flow_timber_node1node5_t4', 'flow_timber_node5node1_t4', 'C_node1node5_timber_t4', 'M_node1node5_timber_t4', 'C_node1node5_wide_t4', 'M_node1node5_wide_t4', 'U_node1node5_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node6_4', 'variables': ['flow_timber_node1node6_t4', 'flow_timber_node6node1_t4', 'C_node1node6_timber_t4', 'M_node1node6_timber_t4', 'C_node1node6_wide_t4', 'M_node1node6_wide_t4', 'U_node1node6_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node8_4', 'variables': ['flow_timber_node1node8_t4', 'flow_timber_node8node1_t4', 'C_node1node8_timber_t4', 'M_node1node8_timber_t4', 'C_node1node8_wide_t4', 'M_node1node8_wide_t4', 'U_node1node8_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node3_4', 'variables': ['flow_timber_node2node3_t4', 'flow_timber_node3node2_t4', 'C_node2node3_timber_t4', 'M_node2node3_timber_t4', 'C_node2node3_wide_t4', 'M_node2node3_wide_t4', 'U_node2node3_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node5_4', 'variables': ['flow_timber_node2node5_t4', 'flow_timber_node5node2_t4', 'C_node2node5_timber_t4', 'M_node2node5_timber_t4', 'C_node2node5_wide_t4', 'M_node2node5_wide_t4', 'U_node2node5_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node8_4', 'variables': ['flow_timber_node2node8_t4', 'flow_timber_node8node2_t4', 'C_node2node8_timber_t4', 'M_node2node8_timber_t4', 'C_node2node8_wide_t4', 'M_node2node8_wide_t4', 'U_node2node8_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node4_4', 'variables': ['flow_timber_node3node4_t4', 'flow_timber_node4node3_t4', 'C_node3node4_timber_t4', 'M_node3node4_timber_t4', 'C_node3node4_wide_t4', 'M_node3node4_wide_t4', 'U_node3node4_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node5_4', 'variables': ['flow_timber_node3node5_t4', 'flow_timber_node5node3_t4', 'C_node3node5_timber_t4', 'M_node3node5_timber_t4', 'C_node3node5_wide_t4', 'M_node3node5_wide_t4', 'U_node3node5_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node8_4', 'variables': ['flow_timber_node3node8_t4', 'flow_timber_node8node3_t4', 'C_node3node8_timber_t4', 'M_node3node8_timber_t4', 'C_node3node8_wide_t4', 'M_node3node8_wide_t4', 'U_node3node8_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node7_4', 'variables': ['flow_timber_node4node7_t4', 'flow_timber_node7node4_t4', 'C_node4node7_timber_t4', 'M_node4node7_timber_t4', 'C_node4node7_wide_t4', 'M_node4node7_wide_t4', 'U_node4node7_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node8_4', 'variables': ['flow_timber_node4node8_t4', 'flow_timber_node8node4_t4', 'C_node4node8_timber_t4', 'M_node4node8_timber_t4', 'C_node4node8_wide_t4', 'M_node4node8_wide_t4', 'U_node4node8_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node5node8_4', 'variables': ['flow_timber_node5node8_t4', 'flow_timber_node8node5_t4', 'C_node5node8_timber_t4', 'M_node5node8_timber_t4', 'C_node5node8_wide_t4', 'M_node5node8_wide_t4', 'U_node5node8_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node6node7_4', 'variables': ['flow_timber_node6node7_t4', 'flow_timber_node7node6_t4', 'C_node6node7_timber_t4', 'M_node6node7_timber_t4', 'C_node6node7_wide_t4', 'M_node6node7_wide_t4', 'U_node6node7_t4'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node4_5', 'variables': ['flow_timber_node1node4_t5', 'flow_timber_node4node1_t5', 'C_node1node4_timber_t5', 'M_node1node4_timber_t5', 'C_node1node4_wide_t5', 'M_node1node4_wide_t5', 'U_node1node4_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node5_5', 'variables': ['flow_timber_node1node5_t5', 'flow_timber_node5node1_t5', 'C_node1node5_timber_t5', 'M_node1node5_timber_t5', 'C_node1node5_wide_t5', 'M_node1node5_wide_t5', 'U_node1node5_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node6_5', 'variables': ['flow_timber_node1node6_t5', 'flow_timber_node6node1_t5', 'C_node1node6_timber_t5', 'M_node1node6_timber_t5', 'C_node1node6_wide_t5', 'M_node1node6_wide_t5', 'U_node1node6_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node1node8_5', 'variables': ['flow_timber_node1node8_t5', 'flow_timber_node8node1_t5', 'C_node1node8_timber_t5', 'M_node1node8_timber_t5', 'C_node1node8_wide_t5', 'M_node1node8_wide_t5', 'U_node1node8_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node3_5', 'variables': ['flow_timber_node2node3_t5', 'flow_timber_node3node2_t5', 'C_node2node3_timber_t5', 'M_node2node3_timber_t5', 'C_node2node3_wide_t5', 'M_node2node3_wide_t5', 'U_node2node3_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node5_5', 'variables': ['flow_timber_node2node5_t5', 'flow_timber_node5node2_t5', 'C_node2node5_timber_t5', 'M_node2node5_timber_t5', 'C_node2node5_wide_t5', 'M_node2node5_wide_t5', 'U_node2node5_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node2node8_5', 'variables': ['flow_timber_node2node8_t5', 'flow_timber_node8node2_t5', 'C_node2node8_timber_t5', 'M_node2node8_timber_t5', 'C_node2node8_wide_t5', 'M_node2node8_wide_t5', 'U_node2node8_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node4_5', 'variables': ['flow_timber_node3node4_t5', 'flow_timber_node4node3_t5', 'C_node3node4_timber_t5', 'M_node3node4_timber_t5', 'C_node3node4_wide_t5', 'M_node3node4_wide_t5', 'U_node3node4_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node5_5', 'variables': ['flow_timber_node3node5_t5', 'flow_timber_node5node3_t5', 'C_node3node5_timber_t5', 'M_node3node5_timber_t5', 'C_node3node5_wide_t5', 'M_node3node5_wide_t5', 'U_node3node5_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node3node8_5', 'variables': ['flow_timber_node3node8_t5', 'flow_timber_node8node3_t5', 'C_node3node8_timber_t5', 'M_node3node8_timber_t5', 'C_node3node8_wide_t5', 'M_node3node8_wide_t5', 'U_node3node8_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node7_5', 'variables': ['flow_timber_node4node7_t5', 'flow_timber_node7node4_t5', 'C_node4node7_timber_t5', 'M_node4node7_timber_t5', 'C_node4node7_wide_t5', 'M_node4node7_wide_t5', 'U_node4node7_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node4node8_5', 'variables': ['flow_timber_node4node8_t5', 'flow_timber_node8node4_t5', 'C_node4node8_timber_t5', 'M_node4node8_timber_t5', 'C_node4node8_wide_t5', 'M_node4node8_wide_t5', 'U_node4node8_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node5node8_5', 'variables': ['flow_timber_node5node8_t5', 'flow_timber_node8node5_t5', 'C_node5node8_timber_t5', 'M_node5node8_timber_t5', 'C_node5node8_wide_t5', 'M_node5node8_wide_t5', 'U_node5node8_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
{'constraint_name': 'Constraint_timberflow_enforcing_road_node6node7_5', 'variables': ['flow_timber_node6node7_t5', 'flow_timber_node7node6_t5', 'C_node6node7_timber_t5', 'M_node6node7_timber_t5', 'C_node6node7_wide_t5', 'M_node6node7_wide_t5', 'U_node6node7_t5'], 'coefficients': [1, 1, -3, -3, -3, -3, -3]}
