Constraint group: Constraint_no_inflow_source
Total in this group: 45
Expected: 45

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1468_1', 'variables': ['flow_timber_node20node34_t1', 'flow_timber_node28node34_t1', 'flow_timber_node15node34_t1', 'flow_wide_node20node34_t1', 'flow_wide_node28node34_t1', 'flow_wide_node15node34_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1469_1', 'variables': ['flow_timber_node9node35_t1', 'flow_timber_node31node35_t1', 'flow_timber_node3node35_t1', 'flow_timber_node10node35_t1', 'flow_wide_node9node35_t1', 'flow_wide_node31node35_t1', 'flow_wide_node3node35_t1', 'flow_wide_node10node35_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1470_1', 'variables': ['flow_timber_node3node36_t1', 'flow_timber_node9node36_t1', 'flow_timber_node29node36_t1', 'flow_wide_node3node36_t1', 'flow_wide_node9node36_t1', 'flow_wide_node29node36_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_942_1', 'variables': ['flow_timber_node21node37_t1', 'flow_timber_node3node37_t1', 'flow_timber_node7node37_t1', 'flow_timber_node24node37_t1', 'flow_timber_node31node37_t1', 'flow_timber_node29node37_t1', 'flow_wide_node21node37_t1', 'flow_wide_node3node37_t1', 'flow_wide_node7node37_t1', 'flow_wide_node24node37_t1', 'flow_wide_node31node37_t1', 'flow_wide_node29node37_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_945_1', 'variables': ['flow_timber_node8node38_t1', 'flow_timber_node18node38_t1', 'flow_timber_node29node38_t1', 'flow_timber_node9node38_t1', 'flow_timber_node7node38_t1', 'flow_timber_node10node38_t1', 'flow_wide_node8node38_t1', 'flow_wide_node18node38_t1', 'flow_wide_node29node38_t1', 'flow_wide_node9node38_t1', 'flow_wide_node7node38_t1', 'flow_wide_node10node38_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_947_1', 'variables': ['flow_timber_node14node39_t1', 'flow_timber_node31node39_t1', 'flow_timber_node24node39_t1', 'flow_timber_node23node39_t1', 'flow_timber_node13node39_t1', 'flow_timber_node26node39_t1', 'flow_timber_node10node39_t1', 'flow_timber_node8node39_t1', 'flow_wide_node14node39_t1', 'flow_wide_node31node39_t1', 'flow_wide_node24node39_t1', 'flow_wide_node23node39_t1', 'flow_wide_node13node39_t1', 'flow_wide_node26node39_t1', 'flow_wide_node10node39_t1', 'flow_wide_node8node39_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_948_1', 'variables': ['flow_timber_node23node40_t1', 'flow_timber_node8node40_t1', 'flow_timber_node4node40_t1', 'flow_timber_node18node40_t1', 'flow_timber_node5node40_t1', 'flow_timber_node17node40_t1', 'flow_wide_node23node40_t1', 'flow_wide_node8node40_t1', 'flow_wide_node4node40_t1', 'flow_wide_node18node40_t1', 'flow_wide_node5node40_t1', 'flow_wide_node17node40_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1182_1', 'variables': ['flow_timber_node4node41_t1', 'flow_timber_node11node41_t1', 'flow_timber_node17node41_t1', 'flow_timber_node15node41_t1', 'flow_timber_node28node41_t1', 'flow_wide_node4node41_t1', 'flow_wide_node11node41_t1', 'flow_wide_node17node41_t1', 'flow_wide_node15node41_t1', 'flow_wide_node28node41_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1304_1', 'variables': ['flow_timber_node24node42_t1', 'flow_timber_node13node42_t1', 'flow_timber_node6node42_t1', 'flow_timber_node25node42_t1', 'flow_timber_node21node42_t1', 'flow_timber_node22node42_t1', 'flow_wide_node24node42_t1', 'flow_wide_node13node42_t1', 'flow_wide_node6node42_t1', 'flow_wide_node25node42_t1', 'flow_wide_node21node42_t1', 'flow_wide_node22node42_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1468_2', 'variables': ['flow_timber_node20node34_t2', 'flow_timber_node28node34_t2', 'flow_timber_node15node34_t2', 'flow_wide_node20node34_t2', 'flow_wide_node28node34_t2', 'flow_wide_node15node34_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1469_2', 'variables': ['flow_timber_node9node35_t2', 'flow_timber_node31node35_t2', 'flow_timber_node3node35_t2', 'flow_timber_node10node35_t2', 'flow_wide_node9node35_t2', 'flow_wide_node31node35_t2', 'flow_wide_node3node35_t2', 'flow_wide_node10node35_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1470_2', 'variables': ['flow_timber_node3node36_t2', 'flow_timber_node9node36_t2', 'flow_timber_node29node36_t2', 'flow_wide_node3node36_t2', 'flow_wide_node9node36_t2', 'flow_wide_node29node36_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_942_2', 'variables': ['flow_timber_node21node37_t2', 'flow_timber_node3node37_t2', 'flow_timber_node7node37_t2', 'flow_timber_node24node37_t2', 'flow_timber_node31node37_t2', 'flow_timber_node29node37_t2', 'flow_wide_node21node37_t2', 'flow_wide_node3node37_t2', 'flow_wide_node7node37_t2', 'flow_wide_node24node37_t2', 'flow_wide_node31node37_t2', 'flow_wide_node29node37_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_945_2', 'variables': ['flow_timber_node8node38_t2', 'flow_timber_node18node38_t2', 'flow_timber_node29node38_t2', 'flow_timber_node9node38_t2', 'flow_timber_node7node38_t2', 'flow_timber_node10node38_t2', 'flow_wide_node8node38_t2', 'flow_wide_node18node38_t2', 'flow_wide_node29node38_t2', 'flow_wide_node9node38_t2', 'flow_wide_node7node38_t2', 'flow_wide_node10node38_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_947_2', 'variables': ['flow_timber_node14node39_t2', 'flow_timber_node31node39_t2', 'flow_timber_node24node39_t2', 'flow_timber_node23node39_t2', 'flow_timber_node13node39_t2', 'flow_timber_node26node39_t2', 'flow_timber_node10node39_t2', 'flow_timber_node8node39_t2', 'flow_wide_node14node39_t2', 'flow_wide_node31node39_t2', 'flow_wide_node24node39_t2', 'flow_wide_node23node39_t2', 'flow_wide_node13node39_t2', 'flow_wide_node26node39_t2', 'flow_wide_node10node39_t2', 'flow_wide_node8node39_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_948_2', 'variables': ['flow_timber_node23node40_t2', 'flow_timber_node8node40_t2', 'flow_timber_node4node40_t2', 'flow_timber_node18node40_t2', 'flow_timber_node5node40_t2', 'flow_timber_node17node40_t2', 'flow_wide_node23node40_t2', 'flow_wide_node8node40_t2', 'flow_wide_node4node40_t2', 'flow_wide_node18node40_t2', 'flow_wide_node5node40_t2', 'flow_wide_node17node40_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1182_2', 'variables': ['flow_timber_node4node41_t2', 'flow_timber_node11node41_t2', 'flow_timber_node17node41_t2', 'flow_timber_node15node41_t2', 'flow_timber_node28node41_t2', 'flow_wide_node4node41_t2', 'flow_wide_node11node41_t2', 'flow_wide_node17node41_t2', 'flow_wide_node15node41_t2', 'flow_wide_node28node41_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1304_2', 'variables': ['flow_timber_node24node42_t2', 'flow_timber_node13node42_t2', 'flow_timber_node6node42_t2', 'flow_timber_node25node42_t2', 'flow_timber_node21node42_t2', 'flow_timber_node22node42_t2', 'flow_wide_node24node42_t2', 'flow_wide_node13node42_t2', 'flow_wide_node6node42_t2', 'flow_wide_node25node42_t2', 'flow_wide_node21node42_t2', 'flow_wide_node22node42_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1468_3', 'variables': ['flow_timber_node20node34_t3', 'flow_timber_node28node34_t3', 'flow_timber_node15node34_t3', 'flow_wide_node20node34_t3', 'flow_wide_node28node34_t3', 'flow_wide_node15node34_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1469_3', 'variables': ['flow_timber_node9node35_t3', 'flow_timber_node31node35_t3', 'flow_timber_node3node35_t3', 'flow_timber_node10node35_t3', 'flow_wide_node9node35_t3', 'flow_wide_node31node35_t3', 'flow_wide_node3node35_t3', 'flow_wide_node10node35_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1470_3', 'variables': ['flow_timber_node3node36_t3', 'flow_timber_node9node36_t3', 'flow_timber_node29node36_t3', 'flow_wide_node3node36_t3', 'flow_wide_node9node36_t3', 'flow_wide_node29node36_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_942_3', 'variables': ['flow_timber_node21node37_t3', 'flow_timber_node3node37_t3', 'flow_timber_node7node37_t3', 'flow_timber_node24node37_t3', 'flow_timber_node31node37_t3', 'flow_timber_node29node37_t3', 'flow_wide_node21node37_t3', 'flow_wide_node3node37_t3', 'flow_wide_node7node37_t3', 'flow_wide_node24node37_t3', 'flow_wide_node31node37_t3', 'flow_wide_node29node37_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_945_3', 'variables': ['flow_timber_node8node38_t3', 'flow_timber_node18node38_t3', 'flow_timber_node29node38_t3', 'flow_timber_node9node38_t3', 'flow_timber_node7node38_t3', 'flow_timber_node10node38_t3', 'flow_wide_node8node38_t3', 'flow_wide_node18node38_t3', 'flow_wide_node29node38_t3', 'flow_wide_node9node38_t3', 'flow_wide_node7node38_t3', 'flow_wide_node10node38_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_947_3', 'variables': ['flow_timber_node14node39_t3', 'flow_timber_node31node39_t3', 'flow_timber_node24node39_t3', 'flow_timber_node23node39_t3', 'flow_timber_node13node39_t3', 'flow_timber_node26node39_t3', 'flow_timber_node10node39_t3', 'flow_timber_node8node39_t3', 'flow_wide_node14node39_t3', 'flow_wide_node31node39_t3', 'flow_wide_node24node39_t3', 'flow_wide_node23node39_t3', 'flow_wide_node13node39_t3', 'flow_wide_node26node39_t3', 'flow_wide_node10node39_t3', 'flow_wide_node8node39_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_948_3', 'variables': ['flow_timber_node23node40_t3', 'flow_timber_node8node40_t3', 'flow_timber_node4node40_t3', 'flow_timber_node18node40_t3', 'flow_timber_node5node40_t3', 'flow_timber_node17node40_t3', 'flow_wide_node23node40_t3', 'flow_wide_node8node40_t3', 'flow_wide_node4node40_t3', 'flow_wide_node18node40_t3', 'flow_wide_node5node40_t3', 'flow_wide_node17node40_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1182_3', 'variables': ['flow_timber_node4node41_t3', 'flow_timber_node11node41_t3', 'flow_timber_node17node41_t3', 'flow_timber_node15node41_t3', 'flow_timber_node28node41_t3', 'flow_wide_node4node41_t3', 'flow_wide_node11node41_t3', 'flow_wide_node17node41_t3', 'flow_wide_node15node41_t3', 'flow_wide_node28node41_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1304_3', 'variables': ['flow_timber_node24node42_t3', 'flow_timber_node13node42_t3', 'flow_timber_node6node42_t3', 'flow_timber_node25node42_t3', 'flow_timber_node21node42_t3', 'flow_timber_node22node42_t3', 'flow_wide_node24node42_t3', 'flow_wide_node13node42_t3', 'flow_wide_node6node42_t3', 'flow_wide_node25node42_t3', 'flow_wide_node21node42_t3', 'flow_wide_node22node42_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1468_4', 'variables': ['flow_timber_node20node34_t4', 'flow_timber_node28node34_t4', 'flow_timber_node15node34_t4', 'flow_wide_node20node34_t4', 'flow_wide_node28node34_t4', 'flow_wide_node15node34_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1469_4', 'variables': ['flow_timber_node9node35_t4', 'flow_timber_node31node35_t4', 'flow_timber_node3node35_t4', 'flow_timber_node10node35_t4', 'flow_wide_node9node35_t4', 'flow_wide_node31node35_t4', 'flow_wide_node3node35_t4', 'flow_wide_node10node35_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1470_4', 'variables': ['flow_timber_node3node36_t4', 'flow_timber_node9node36_t4', 'flow_timber_node29node36_t4', 'flow_wide_node3node36_t4', 'flow_wide_node9node36_t4', 'flow_wide_node29node36_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_942_4', 'variables': ['flow_timber_node21node37_t4', 'flow_timber_node3node37_t4', 'flow_timber_node7node37_t4', 'flow_timber_node24node37_t4', 'flow_timber_node31node37_t4', 'flow_timber_node29node37_t4', 'flow_wide_node21node37_t4', 'flow_wide_node3node37_t4', 'flow_wide_node7node37_t4', 'flow_wide_node24node37_t4', 'flow_wide_node31node37_t4', 'flow_wide_node29node37_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_945_4', 'variables': ['flow_timber_node8node38_t4', 'flow_timber_node18node38_t4', 'flow_timber_node29node38_t4', 'flow_timber_node9node38_t4', 'flow_timber_node7node38_t4', 'flow_timber_node10node38_t4', 'flow_wide_node8node38_t4', 'flow_wide_node18node38_t4', 'flow_wide_node29node38_t4', 'flow_wide_node9node38_t4', 'flow_wide_node7node38_t4', 'flow_wide_node10node38_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_947_4', 'variables': ['flow_timber_node14node39_t4', 'flow_timber_node31node39_t4', 'flow_timber_node24node39_t4', 'flow_timber_node23node39_t4', 'flow_timber_node13node39_t4', 'flow_timber_node26node39_t4', 'flow_timber_node10node39_t4', 'flow_timber_node8node39_t4', 'flow_wide_node14node39_t4', 'flow_wide_node31node39_t4', 'flow_wide_node24node39_t4', 'flow_wide_node23node39_t4', 'flow_wide_node13node39_t4', 'flow_wide_node26node39_t4', 'flow_wide_node10node39_t4', 'flow_wide_node8node39_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_948_4', 'variables': ['flow_timber_node23node40_t4', 'flow_timber_node8node40_t4', 'flow_timber_node4node40_t4', 'flow_timber_node18node40_t4', 'flow_timber_node5node40_t4', 'flow_timber_node17node40_t4', 'flow_wide_node23node40_t4', 'flow_wide_node8node40_t4', 'flow_wide_node4node40_t4', 'flow_wide_node18node40_t4', 'flow_wide_node5node40_t4', 'flow_wide_node17node40_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1182_4', 'variables': ['flow_timber_node4node41_t4', 'flow_timber_node11node41_t4', 'flow_timber_node17node41_t4', 'flow_timber_node15node41_t4', 'flow_timber_node28node41_t4', 'flow_wide_node4node41_t4', 'flow_wide_node11node41_t4', 'flow_wide_node17node41_t4', 'flow_wide_node15node41_t4', 'flow_wide_node28node41_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1304_4', 'variables': ['flow_timber_node24node42_t4', 'flow_timber_node13node42_t4', 'flow_timber_node6node42_t4', 'flow_timber_node25node42_t4', 'flow_timber_node21node42_t4', 'flow_timber_node22node42_t4', 'flow_wide_node24node42_t4', 'flow_wide_node13node42_t4', 'flow_wide_node6node42_t4', 'flow_wide_node25node42_t4', 'flow_wide_node21node42_t4', 'flow_wide_node22node42_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1468_5', 'variables': ['flow_timber_node20node34_t5', 'flow_timber_node28node34_t5', 'flow_timber_node15node34_t5', 'flow_wide_node20node34_t5', 'flow_wide_node28node34_t5', 'flow_wide_node15node34_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1469_5', 'variables': ['flow_timber_node9node35_t5', 'flow_timber_node31node35_t5', 'flow_timber_node3node35_t5', 'flow_timber_node10node35_t5', 'flow_wide_node9node35_t5', 'flow_wide_node31node35_t5', 'flow_wide_node3node35_t5', 'flow_wide_node10node35_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1470_5', 'variables': ['flow_timber_node3node36_t5', 'flow_timber_node9node36_t5', 'flow_timber_node29node36_t5', 'flow_wide_node3node36_t5', 'flow_wide_node9node36_t5', 'flow_wide_node29node36_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_942_5', 'variables': ['flow_timber_node21node37_t5', 'flow_timber_node3node37_t5', 'flow_timber_node7node37_t5', 'flow_timber_node24node37_t5', 'flow_timber_node31node37_t5', 'flow_timber_node29node37_t5', 'flow_wide_node21node37_t5', 'flow_wide_node3node37_t5', 'flow_wide_node7node37_t5', 'flow_wide_node24node37_t5', 'flow_wide_node31node37_t5', 'flow_wide_node29node37_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_945_5', 'variables': ['flow_timber_node8node38_t5', 'flow_timber_node18node38_t5', 'flow_timber_node29node38_t5', 'flow_timber_node9node38_t5', 'flow_timber_node7node38_t5', 'flow_timber_node10node38_t5', 'flow_wide_node8node38_t5', 'flow_wide_node18node38_t5', 'flow_wide_node29node38_t5', 'flow_wide_node9node38_t5', 'flow_wide_node7node38_t5', 'flow_wide_node10node38_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_947_5', 'variables': ['flow_timber_node14node39_t5', 'flow_timber_node31node39_t5', 'flow_timber_node24node39_t5', 'flow_timber_node23node39_t5', 'flow_timber_node13node39_t5', 'flow_timber_node26node39_t5', 'flow_timber_node10node39_t5', 'flow_timber_node8node39_t5', 'flow_wide_node14node39_t5', 'flow_wide_node31node39_t5', 'flow_wide_node24node39_t5', 'flow_wide_node23node39_t5', 'flow_wide_node13node39_t5', 'flow_wide_node26node39_t5', 'flow_wide_node10node39_t5', 'flow_wide_node8node39_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_948_5', 'variables': ['flow_timber_node23node40_t5', 'flow_timber_node8node40_t5', 'flow_timber_node4node40_t5', 'flow_timber_node18node40_t5', 'flow_timber_node5node40_t5', 'flow_timber_node17node40_t5', 'flow_wide_node23node40_t5', 'flow_wide_node8node40_t5', 'flow_wide_node4node40_t5', 'flow_wide_node18node40_t5', 'flow_wide_node5node40_t5', 'flow_wide_node17node40_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1182_5', 'variables': ['flow_timber_node4node41_t5', 'flow_timber_node11node41_t5', 'flow_timber_node17node41_t5', 'flow_timber_node15node41_t5', 'flow_timber_node28node41_t5', 'flow_wide_node4node41_t5', 'flow_wide_node11node41_t5', 'flow_wide_node17node41_t5', 'flow_wide_node15node41_t5', 'flow_wide_node28node41_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1304_5', 'variables': ['flow_timber_node24node42_t5', 'flow_timber_node13node42_t5', 'flow_timber_node6node42_t5', 'flow_timber_node25node42_t5', 'flow_timber_node21node42_t5', 'flow_timber_node22node42_t5', 'flow_wide_node24node42_t5', 'flow_wide_node13node42_t5', 'flow_wide_node6node42_t5', 'flow_wide_node25node42_t5', 'flow_wide_node21node42_t5', 'flow_wide_node22node42_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
