Constraint group: Constraint_no_inflow_source
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_818_1', 'variables': ['flow_timber_node23node32_t1', 'flow_timber_node3node32_t1', 'flow_timber_node5node32_t1', 'flow_timber_node16node32_t1', 'flow_timber_node4node32_t1', 'flow_timber_node20node32_t1', 'flow_timber_node11node32_t1', 'flow_timber_node22node32_t1', 'flow_timber_node21node32_t1', 'flow_timber_node18node32_t1', 'flow_timber_node19node32_t1', 'flow_timber_node6node32_t1', 'flow_wide_node23node32_t1', 'flow_wide_node3node32_t1', 'flow_wide_node5node32_t1', 'flow_wide_node16node32_t1', 'flow_wide_node4node32_t1', 'flow_wide_node20node32_t1', 'flow_wide_node11node32_t1', 'flow_wide_node22node32_t1', 'flow_wide_node21node32_t1', 'flow_wide_node18node32_t1', 'flow_wide_node19node32_t1', 'flow_wide_node6node32_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1216_1', 'variables': ['flow_timber_node12node33_t1', 'flow_timber_node1node33_t1', 'flow_timber_node25node33_t1', 'flow_timber_node24node33_t1', 'flow_timber_node26node33_t1', 'flow_timber_node27node33_t1', 'flow_timber_node14node33_t1', 'flow_timber_node4node33_t1', 'flow_timber_node5node33_t1', 'flow_wide_node12node33_t1', 'flow_wide_node1node33_t1', 'flow_wide_node25node33_t1', 'flow_wide_node24node33_t1', 'flow_wide_node26node33_t1', 'flow_wide_node27node33_t1', 'flow_wide_node14node33_t1', 'flow_wide_node4node33_t1', 'flow_wide_node5node33_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1215_1', 'variables': ['flow_timber_node18node34_t1', 'flow_timber_node3node34_t1', 'flow_timber_node15node34_t1', 'flow_timber_node2node34_t1', 'flow_timber_node28node34_t1', 'flow_timber_node10node34_t1', 'flow_timber_node7node34_t1', 'flow_timber_node9node34_t1', 'flow_wide_node18node34_t1', 'flow_wide_node3node34_t1', 'flow_wide_node15node34_t1', 'flow_wide_node2node34_t1', 'flow_wide_node28node34_t1', 'flow_wide_node10node34_t1', 'flow_wide_node7node34_t1', 'flow_wide_node9node34_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1530_1', 'variables': ['flow_timber_node9node35_t1', 'flow_timber_node8node35_t1', 'flow_timber_node10node35_t1', 'flow_wide_node9node35_t1', 'flow_wide_node8node35_t1', 'flow_wide_node10node35_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_839_1', 'variables': ['flow_timber_node7node36_t1', 'flow_timber_node13node36_t1', 'flow_timber_node28node36_t1', 'flow_timber_node14node36_t1', 'flow_timber_node15node36_t1', 'flow_timber_node10node36_t1', 'flow_timber_node29node36_t1', 'flow_timber_node8node36_t1', 'flow_timber_node9node36_t1', 'flow_timber_node12node36_t1', 'flow_timber_node17node36_t1', 'flow_wide_node7node36_t1', 'flow_wide_node13node36_t1', 'flow_wide_node28node36_t1', 'flow_wide_node14node36_t1', 'flow_wide_node15node36_t1', 'flow_wide_node10node36_t1', 'flow_wide_node29node36_t1', 'flow_wide_node8node36_t1', 'flow_wide_node9node36_t1', 'flow_wide_node12node36_t1', 'flow_wide_node17node36_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1536_1', 'variables': ['flow_timber_node30node37_t1', 'flow_timber_node31node37_t1', 'flow_timber_node17node37_t1', 'flow_timber_node13node37_t1', 'flow_wide_node30node37_t1', 'flow_wide_node31node37_t1', 'flow_wide_node17node37_t1', 'flow_wide_node13node37_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_818_2', 'variables': ['flow_timber_node23node32_t2', 'flow_timber_node3node32_t2', 'flow_timber_node5node32_t2', 'flow_timber_node16node32_t2', 'flow_timber_node4node32_t2', 'flow_timber_node20node32_t2', 'flow_timber_node11node32_t2', 'flow_timber_node22node32_t2', 'flow_timber_node21node32_t2', 'flow_timber_node18node32_t2', 'flow_timber_node19node32_t2', 'flow_timber_node6node32_t2', 'flow_wide_node23node32_t2', 'flow_wide_node3node32_t2', 'flow_wide_node5node32_t2', 'flow_wide_node16node32_t2', 'flow_wide_node4node32_t2', 'flow_wide_node20node32_t2', 'flow_wide_node11node32_t2', 'flow_wide_node22node32_t2', 'flow_wide_node21node32_t2', 'flow_wide_node18node32_t2', 'flow_wide_node19node32_t2', 'flow_wide_node6node32_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1216_2', 'variables': ['flow_timber_node12node33_t2', 'flow_timber_node1node33_t2', 'flow_timber_node25node33_t2', 'flow_timber_node24node33_t2', 'flow_timber_node26node33_t2', 'flow_timber_node27node33_t2', 'flow_timber_node14node33_t2', 'flow_timber_node4node33_t2', 'flow_timber_node5node33_t2', 'flow_wide_node12node33_t2', 'flow_wide_node1node33_t2', 'flow_wide_node25node33_t2', 'flow_wide_node24node33_t2', 'flow_wide_node26node33_t2', 'flow_wide_node27node33_t2', 'flow_wide_node14node33_t2', 'flow_wide_node4node33_t2', 'flow_wide_node5node33_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1215_2', 'variables': ['flow_timber_node18node34_t2', 'flow_timber_node3node34_t2', 'flow_timber_node15node34_t2', 'flow_timber_node2node34_t2', 'flow_timber_node28node34_t2', 'flow_timber_node10node34_t2', 'flow_timber_node7node34_t2', 'flow_timber_node9node34_t2', 'flow_wide_node18node34_t2', 'flow_wide_node3node34_t2', 'flow_wide_node15node34_t2', 'flow_wide_node2node34_t2', 'flow_wide_node28node34_t2', 'flow_wide_node10node34_t2', 'flow_wide_node7node34_t2', 'flow_wide_node9node34_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1530_2', 'variables': ['flow_timber_node9node35_t2', 'flow_timber_node8node35_t2', 'flow_timber_node10node35_t2', 'flow_wide_node9node35_t2', 'flow_wide_node8node35_t2', 'flow_wide_node10node35_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_839_2', 'variables': ['flow_timber_node7node36_t2', 'flow_timber_node13node36_t2', 'flow_timber_node28node36_t2', 'flow_timber_node14node36_t2', 'flow_timber_node15node36_t2', 'flow_timber_node10node36_t2', 'flow_timber_node29node36_t2', 'flow_timber_node8node36_t2', 'flow_timber_node9node36_t2', 'flow_timber_node12node36_t2', 'flow_timber_node17node36_t2', 'flow_wide_node7node36_t2', 'flow_wide_node13node36_t2', 'flow_wide_node28node36_t2', 'flow_wide_node14node36_t2', 'flow_wide_node15node36_t2', 'flow_wide_node10node36_t2', 'flow_wide_node29node36_t2', 'flow_wide_node8node36_t2', 'flow_wide_node9node36_t2', 'flow_wide_node12node36_t2', 'flow_wide_node17node36_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1536_2', 'variables': ['flow_timber_node30node37_t2', 'flow_timber_node31node37_t2', 'flow_timber_node17node37_t2', 'flow_timber_node13node37_t2', 'flow_wide_node30node37_t2', 'flow_wide_node31node37_t2', 'flow_wide_node17node37_t2', 'flow_wide_node13node37_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_818_3', 'variables': ['flow_timber_node23node32_t3', 'flow_timber_node3node32_t3', 'flow_timber_node5node32_t3', 'flow_timber_node16node32_t3', 'flow_timber_node4node32_t3', 'flow_timber_node20node32_t3', 'flow_timber_node11node32_t3', 'flow_timber_node22node32_t3', 'flow_timber_node21node32_t3', 'flow_timber_node18node32_t3', 'flow_timber_node19node32_t3', 'flow_timber_node6node32_t3', 'flow_wide_node23node32_t3', 'flow_wide_node3node32_t3', 'flow_wide_node5node32_t3', 'flow_wide_node16node32_t3', 'flow_wide_node4node32_t3', 'flow_wide_node20node32_t3', 'flow_wide_node11node32_t3', 'flow_wide_node22node32_t3', 'flow_wide_node21node32_t3', 'flow_wide_node18node32_t3', 'flow_wide_node19node32_t3', 'flow_wide_node6node32_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1216_3', 'variables': ['flow_timber_node12node33_t3', 'flow_timber_node1node33_t3', 'flow_timber_node25node33_t3', 'flow_timber_node24node33_t3', 'flow_timber_node26node33_t3', 'flow_timber_node27node33_t3', 'flow_timber_node14node33_t3', 'flow_timber_node4node33_t3', 'flow_timber_node5node33_t3', 'flow_wide_node12node33_t3', 'flow_wide_node1node33_t3', 'flow_wide_node25node33_t3', 'flow_wide_node24node33_t3', 'flow_wide_node26node33_t3', 'flow_wide_node27node33_t3', 'flow_wide_node14node33_t3', 'flow_wide_node4node33_t3', 'flow_wide_node5node33_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1215_3', 'variables': ['flow_timber_node18node34_t3', 'flow_timber_node3node34_t3', 'flow_timber_node15node34_t3', 'flow_timber_node2node34_t3', 'flow_timber_node28node34_t3', 'flow_timber_node10node34_t3', 'flow_timber_node7node34_t3', 'flow_timber_node9node34_t3', 'flow_wide_node18node34_t3', 'flow_wide_node3node34_t3', 'flow_wide_node15node34_t3', 'flow_wide_node2node34_t3', 'flow_wide_node28node34_t3', 'flow_wide_node10node34_t3', 'flow_wide_node7node34_t3', 'flow_wide_node9node34_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1530_3', 'variables': ['flow_timber_node9node35_t3', 'flow_timber_node8node35_t3', 'flow_timber_node10node35_t3', 'flow_wide_node9node35_t3', 'flow_wide_node8node35_t3', 'flow_wide_node10node35_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_839_3', 'variables': ['flow_timber_node7node36_t3', 'flow_timber_node13node36_t3', 'flow_timber_node28node36_t3', 'flow_timber_node14node36_t3', 'flow_timber_node15node36_t3', 'flow_timber_node10node36_t3', 'flow_timber_node29node36_t3', 'flow_timber_node8node36_t3', 'flow_timber_node9node36_t3', 'flow_timber_node12node36_t3', 'flow_timber_node17node36_t3', 'flow_wide_node7node36_t3', 'flow_wide_node13node36_t3', 'flow_wide_node28node36_t3', 'flow_wide_node14node36_t3', 'flow_wide_node15node36_t3', 'flow_wide_node10node36_t3', 'flow_wide_node29node36_t3', 'flow_wide_node8node36_t3', 'flow_wide_node9node36_t3', 'flow_wide_node12node36_t3', 'flow_wide_node17node36_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1536_3', 'variables': ['flow_timber_node30node37_t3', 'flow_timber_node31node37_t3', 'flow_timber_node17node37_t3', 'flow_timber_node13node37_t3', 'flow_wide_node30node37_t3', 'flow_wide_node31node37_t3', 'flow_wide_node17node37_t3', 'flow_wide_node13node37_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_818_4', 'variables': ['flow_timber_node23node32_t4', 'flow_timber_node3node32_t4', 'flow_timber_node5node32_t4', 'flow_timber_node16node32_t4', 'flow_timber_node4node32_t4', 'flow_timber_node20node32_t4', 'flow_timber_node11node32_t4', 'flow_timber_node22node32_t4', 'flow_timber_node21node32_t4', 'flow_timber_node18node32_t4', 'flow_timber_node19node32_t4', 'flow_timber_node6node32_t4', 'flow_wide_node23node32_t4', 'flow_wide_node3node32_t4', 'flow_wide_node5node32_t4', 'flow_wide_node16node32_t4', 'flow_wide_node4node32_t4', 'flow_wide_node20node32_t4', 'flow_wide_node11node32_t4', 'flow_wide_node22node32_t4', 'flow_wide_node21node32_t4', 'flow_wide_node18node32_t4', 'flow_wide_node19node32_t4', 'flow_wide_node6node32_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1216_4', 'variables': ['flow_timber_node12node33_t4', 'flow_timber_node1node33_t4', 'flow_timber_node25node33_t4', 'flow_timber_node24node33_t4', 'flow_timber_node26node33_t4', 'flow_timber_node27node33_t4', 'flow_timber_node14node33_t4', 'flow_timber_node4node33_t4', 'flow_timber_node5node33_t4', 'flow_wide_node12node33_t4', 'flow_wide_node1node33_t4', 'flow_wide_node25node33_t4', 'flow_wide_node24node33_t4', 'flow_wide_node26node33_t4', 'flow_wide_node27node33_t4', 'flow_wide_node14node33_t4', 'flow_wide_node4node33_t4', 'flow_wide_node5node33_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1215_4', 'variables': ['flow_timber_node18node34_t4', 'flow_timber_node3node34_t4', 'flow_timber_node15node34_t4', 'flow_timber_node2node34_t4', 'flow_timber_node28node34_t4', 'flow_timber_node10node34_t4', 'flow_timber_node7node34_t4', 'flow_timber_node9node34_t4', 'flow_wide_node18node34_t4', 'flow_wide_node3node34_t4', 'flow_wide_node15node34_t4', 'flow_wide_node2node34_t4', 'flow_wide_node28node34_t4', 'flow_wide_node10node34_t4', 'flow_wide_node7node34_t4', 'flow_wide_node9node34_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1530_4', 'variables': ['flow_timber_node9node35_t4', 'flow_timber_node8node35_t4', 'flow_timber_node10node35_t4', 'flow_wide_node9node35_t4', 'flow_wide_node8node35_t4', 'flow_wide_node10node35_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_839_4', 'variables': ['flow_timber_node7node36_t4', 'flow_timber_node13node36_t4', 'flow_timber_node28node36_t4', 'flow_timber_node14node36_t4', 'flow_timber_node15node36_t4', 'flow_timber_node10node36_t4', 'flow_timber_node29node36_t4', 'flow_timber_node8node36_t4', 'flow_timber_node9node36_t4', 'flow_timber_node12node36_t4', 'flow_timber_node17node36_t4', 'flow_wide_node7node36_t4', 'flow_wide_node13node36_t4', 'flow_wide_node28node36_t4', 'flow_wide_node14node36_t4', 'flow_wide_node15node36_t4', 'flow_wide_node10node36_t4', 'flow_wide_node29node36_t4', 'flow_wide_node8node36_t4', 'flow_wide_node9node36_t4', 'flow_wide_node12node36_t4', 'flow_wide_node17node36_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1536_4', 'variables': ['flow_timber_node30node37_t4', 'flow_timber_node31node37_t4', 'flow_timber_node17node37_t4', 'flow_timber_node13node37_t4', 'flow_wide_node30node37_t4', 'flow_wide_node31node37_t4', 'flow_wide_node17node37_t4', 'flow_wide_node13node37_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_818_5', 'variables': ['flow_timber_node23node32_t5', 'flow_timber_node3node32_t5', 'flow_timber_node5node32_t5', 'flow_timber_node16node32_t5', 'flow_timber_node4node32_t5', 'flow_timber_node20node32_t5', 'flow_timber_node11node32_t5', 'flow_timber_node22node32_t5', 'flow_timber_node21node32_t5', 'flow_timber_node18node32_t5', 'flow_timber_node19node32_t5', 'flow_timber_node6node32_t5', 'flow_wide_node23node32_t5', 'flow_wide_node3node32_t5', 'flow_wide_node5node32_t5', 'flow_wide_node16node32_t5', 'flow_wide_node4node32_t5', 'flow_wide_node20node32_t5', 'flow_wide_node11node32_t5', 'flow_wide_node22node32_t5', 'flow_wide_node21node32_t5', 'flow_wide_node18node32_t5', 'flow_wide_node19node32_t5', 'flow_wide_node6node32_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1216_5', 'variables': ['flow_timber_node12node33_t5', 'flow_timber_node1node33_t5', 'flow_timber_node25node33_t5', 'flow_timber_node24node33_t5', 'flow_timber_node26node33_t5', 'flow_timber_node27node33_t5', 'flow_timber_node14node33_t5', 'flow_timber_node4node33_t5', 'flow_timber_node5node33_t5', 'flow_wide_node12node33_t5', 'flow_wide_node1node33_t5', 'flow_wide_node25node33_t5', 'flow_wide_node24node33_t5', 'flow_wide_node26node33_t5', 'flow_wide_node27node33_t5', 'flow_wide_node14node33_t5', 'flow_wide_node4node33_t5', 'flow_wide_node5node33_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1215_5', 'variables': ['flow_timber_node18node34_t5', 'flow_timber_node3node34_t5', 'flow_timber_node15node34_t5', 'flow_timber_node2node34_t5', 'flow_timber_node28node34_t5', 'flow_timber_node10node34_t5', 'flow_timber_node7node34_t5', 'flow_timber_node9node34_t5', 'flow_wide_node18node34_t5', 'flow_wide_node3node34_t5', 'flow_wide_node15node34_t5', 'flow_wide_node2node34_t5', 'flow_wide_node28node34_t5', 'flow_wide_node10node34_t5', 'flow_wide_node7node34_t5', 'flow_wide_node9node34_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1530_5', 'variables': ['flow_timber_node9node35_t5', 'flow_timber_node8node35_t5', 'flow_timber_node10node35_t5', 'flow_wide_node9node35_t5', 'flow_wide_node8node35_t5', 'flow_wide_node10node35_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_839_5', 'variables': ['flow_timber_node7node36_t5', 'flow_timber_node13node36_t5', 'flow_timber_node28node36_t5', 'flow_timber_node14node36_t5', 'flow_timber_node15node36_t5', 'flow_timber_node10node36_t5', 'flow_timber_node29node36_t5', 'flow_timber_node8node36_t5', 'flow_timber_node9node36_t5', 'flow_timber_node12node36_t5', 'flow_timber_node17node36_t5', 'flow_wide_node7node36_t5', 'flow_wide_node13node36_t5', 'flow_wide_node28node36_t5', 'flow_wide_node14node36_t5', 'flow_wide_node15node36_t5', 'flow_wide_node10node36_t5', 'flow_wide_node29node36_t5', 'flow_wide_node8node36_t5', 'flow_wide_node9node36_t5', 'flow_wide_node12node36_t5', 'flow_wide_node17node36_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1536_5', 'variables': ['flow_timber_node30node37_t5', 'flow_timber_node31node37_t5', 'flow_timber_node17node37_t5', 'flow_timber_node13node37_t5', 'flow_wide_node30node37_t5', 'flow_wide_node31node37_t5', 'flow_wide_node17node37_t5', 'flow_wide_node13node37_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
