Constraint group: Constraint_outflow_iff_needroad
Total in this group: 100
Expected: 100

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1423_t1', 'variables': ['flow_timber_node49node40_t1', 'flow_timber_node49node30_t1', 'flow_timber_node49node12_t1', 'flow_timber_node49node11_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_851_t1', 'variables': ['flow_timber_node50node11_t1', 'flow_timber_node50node16_t1', 'flow_timber_node50node12_t1', 'flow_timber_node50node39_t1', 'flow_timber_node50node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_821_t1', 'variables': ['flow_timber_node51node10_t1', 'flow_timber_node51node25_t1', 'flow_timber_node51node5_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_822_t1', 'variables': ['flow_timber_node52node11_t1', 'flow_timber_node52node10_t1', 'flow_timber_node52node23_t1', 'flow_timber_node52node25_t1', 'flow_timber_node52node33_t1', 'flow_timber_node52node16_t1', 'flow_timber_node52node40_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_852_t1', 'variables': ['flow_timber_node53node39_t1', 'flow_timber_node53node19_t1', 'flow_timber_node53node4_t1', 'flow_timber_node53node2_t1', 'flow_timber_node53node18_t1', 'flow_timber_node53node13_t1', 'flow_timber_node53node14_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_853_t1', 'variables': ['flow_timber_node54node2_t1', 'flow_timber_node54node41_t1', 'flow_timber_node54node13_t1', 'flow_timber_node54node24_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1231_t1', 'variables': ['flow_timber_node55node30_t1', 'flow_timber_node55node40_t1', 'flow_timber_node55node17_t1', 'flow_timber_node55node10_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1284_t1', 'variables': ['flow_timber_node56node3_t1', 'flow_timber_node56node19_t1', 'flow_timber_node56node18_t1', 'flow_timber_node56node34_t1', 'flow_timber_node56node9_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1424_t1', 'variables': ['flow_timber_node57node5_t1', 'flow_timber_node57node10_t1', 'flow_timber_node57node17_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1555_t1', 'variables': ['flow_timber_node58node7_t1', 'flow_timber_node58node28_t1', 'flow_timber_node58node25_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1423_t2', 'variables': ['flow_timber_node49node40_t2', 'flow_timber_node49node30_t2', 'flow_timber_node49node12_t2', 'flow_timber_node49node11_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_851_t2', 'variables': ['flow_timber_node50node11_t2', 'flow_timber_node50node16_t2', 'flow_timber_node50node12_t2', 'flow_timber_node50node39_t2', 'flow_timber_node50node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_821_t2', 'variables': ['flow_timber_node51node10_t2', 'flow_timber_node51node25_t2', 'flow_timber_node51node5_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_822_t2', 'variables': ['flow_timber_node52node11_t2', 'flow_timber_node52node10_t2', 'flow_timber_node52node23_t2', 'flow_timber_node52node25_t2', 'flow_timber_node52node33_t2', 'flow_timber_node52node16_t2', 'flow_timber_node52node40_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_852_t2', 'variables': ['flow_timber_node53node39_t2', 'flow_timber_node53node19_t2', 'flow_timber_node53node4_t2', 'flow_timber_node53node2_t2', 'flow_timber_node53node18_t2', 'flow_timber_node53node13_t2', 'flow_timber_node53node14_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_853_t2', 'variables': ['flow_timber_node54node2_t2', 'flow_timber_node54node41_t2', 'flow_timber_node54node13_t2', 'flow_timber_node54node24_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1231_t2', 'variables': ['flow_timber_node55node30_t2', 'flow_timber_node55node40_t2', 'flow_timber_node55node17_t2', 'flow_timber_node55node10_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1284_t2', 'variables': ['flow_timber_node56node3_t2', 'flow_timber_node56node19_t2', 'flow_timber_node56node18_t2', 'flow_timber_node56node34_t2', 'flow_timber_node56node9_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1424_t2', 'variables': ['flow_timber_node57node5_t2', 'flow_timber_node57node10_t2', 'flow_timber_node57node17_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1555_t2', 'variables': ['flow_timber_node58node7_t2', 'flow_timber_node58node28_t2', 'flow_timber_node58node25_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1423_t3', 'variables': ['flow_timber_node49node40_t3', 'flow_timber_node49node30_t3', 'flow_timber_node49node12_t3', 'flow_timber_node49node11_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_851_t3', 'variables': ['flow_timber_node50node11_t3', 'flow_timber_node50node16_t3', 'flow_timber_node50node12_t3', 'flow_timber_node50node39_t3', 'flow_timber_node50node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_821_t3', 'variables': ['flow_timber_node51node10_t3', 'flow_timber_node51node25_t3', 'flow_timber_node51node5_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_822_t3', 'variables': ['flow_timber_node52node11_t3', 'flow_timber_node52node10_t3', 'flow_timber_node52node23_t3', 'flow_timber_node52node25_t3', 'flow_timber_node52node33_t3', 'flow_timber_node52node16_t3', 'flow_timber_node52node40_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_852_t3', 'variables': ['flow_timber_node53node39_t3', 'flow_timber_node53node19_t3', 'flow_timber_node53node4_t3', 'flow_timber_node53node2_t3', 'flow_timber_node53node18_t3', 'flow_timber_node53node13_t3', 'flow_timber_node53node14_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_853_t3', 'variables': ['flow_timber_node54node2_t3', 'flow_timber_node54node41_t3', 'flow_timber_node54node13_t3', 'flow_timber_node54node24_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1231_t3', 'variables': ['flow_timber_node55node30_t3', 'flow_timber_node55node40_t3', 'flow_timber_node55node17_t3', 'flow_timber_node55node10_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1284_t3', 'variables': ['flow_timber_node56node3_t3', 'flow_timber_node56node19_t3', 'flow_timber_node56node18_t3', 'flow_timber_node56node34_t3', 'flow_timber_node56node9_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1424_t3', 'variables': ['flow_timber_node57node5_t3', 'flow_timber_node57node10_t3', 'flow_timber_node57node17_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1555_t3', 'variables': ['flow_timber_node58node7_t3', 'flow_timber_node58node28_t3', 'flow_timber_node58node25_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1423_t4', 'variables': ['flow_timber_node49node40_t4', 'flow_timber_node49node30_t4', 'flow_timber_node49node12_t4', 'flow_timber_node49node11_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_851_t4', 'variables': ['flow_timber_node50node11_t4', 'flow_timber_node50node16_t4', 'flow_timber_node50node12_t4', 'flow_timber_node50node39_t4', 'flow_timber_node50node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_821_t4', 'variables': ['flow_timber_node51node10_t4', 'flow_timber_node51node25_t4', 'flow_timber_node51node5_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_822_t4', 'variables': ['flow_timber_node52node11_t4', 'flow_timber_node52node10_t4', 'flow_timber_node52node23_t4', 'flow_timber_node52node25_t4', 'flow_timber_node52node33_t4', 'flow_timber_node52node16_t4', 'flow_timber_node52node40_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_852_t4', 'variables': ['flow_timber_node53node39_t4', 'flow_timber_node53node19_t4', 'flow_timber_node53node4_t4', 'flow_timber_node53node2_t4', 'flow_timber_node53node18_t4', 'flow_timber_node53node13_t4', 'flow_timber_node53node14_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_853_t4', 'variables': ['flow_timber_node54node2_t4', 'flow_timber_node54node41_t4', 'flow_timber_node54node13_t4', 'flow_timber_node54node24_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1231_t4', 'variables': ['flow_timber_node55node30_t4', 'flow_timber_node55node40_t4', 'flow_timber_node55node17_t4', 'flow_timber_node55node10_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1284_t4', 'variables': ['flow_timber_node56node3_t4', 'flow_timber_node56node19_t4', 'flow_timber_node56node18_t4', 'flow_timber_node56node34_t4', 'flow_timber_node56node9_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1424_t4', 'variables': ['flow_timber_node57node5_t4', 'flow_timber_node57node10_t4', 'flow_timber_node57node17_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1555_t4', 'variables': ['flow_timber_node58node7_t4', 'flow_timber_node58node28_t4', 'flow_timber_node58node25_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1423_t5', 'variables': ['flow_timber_node49node40_t5', 'flow_timber_node49node30_t5', 'flow_timber_node49node12_t5', 'flow_timber_node49node11_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_851_t5', 'variables': ['flow_timber_node50node11_t5', 'flow_timber_node50node16_t5', 'flow_timber_node50node12_t5', 'flow_timber_node50node39_t5', 'flow_timber_node50node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_821_t5', 'variables': ['flow_timber_node51node10_t5', 'flow_timber_node51node25_t5', 'flow_timber_node51node5_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_822_t5', 'variables': ['flow_timber_node52node11_t5', 'flow_timber_node52node10_t5', 'flow_timber_node52node23_t5', 'flow_timber_node52node25_t5', 'flow_timber_node52node33_t5', 'flow_timber_node52node16_t5', 'flow_timber_node52node40_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_852_t5', 'variables': ['flow_timber_node53node39_t5', 'flow_timber_node53node19_t5', 'flow_timber_node53node4_t5', 'flow_timber_node53node2_t5', 'flow_timber_node53node18_t5', 'flow_timber_node53node13_t5', 'flow_timber_node53node14_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_853_t5', 'variables': ['flow_timber_node54node2_t5', 'flow_timber_node54node41_t5', 'flow_timber_node54node13_t5', 'flow_timber_node54node24_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1231_t5', 'variables': ['flow_timber_node55node30_t5', 'flow_timber_node55node40_t5', 'flow_timber_node55node17_t5', 'flow_timber_node55node10_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1284_t5', 'variables': ['flow_timber_node56node3_t5', 'flow_timber_node56node19_t5', 'flow_timber_node56node18_t5', 'flow_timber_node56node34_t5', 'flow_timber_node56node9_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1424_t5', 'variables': ['flow_timber_node57node5_t5', 'flow_timber_node57node10_t5', 'flow_timber_node57node17_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1555_t5', 'variables': ['flow_timber_node58node7_t5', 'flow_timber_node58node28_t5', 'flow_timber_node58node25_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1423_t1', 'variables': ['flow_wide_node49node40_t1', 'flow_wide_node49node30_t1', 'flow_wide_node49node12_t1', 'flow_wide_node49node11_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_851_t1', 'variables': ['flow_wide_node50node11_t1', 'flow_wide_node50node16_t1', 'flow_wide_node50node12_t1', 'flow_wide_node50node39_t1', 'flow_wide_node50node4_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_821_t1', 'variables': ['flow_wide_node51node10_t1', 'flow_wide_node51node25_t1', 'flow_wide_node51node5_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_822_t1', 'variables': ['flow_wide_node52node11_t1', 'flow_wide_node52node10_t1', 'flow_wide_node52node23_t1', 'flow_wide_node52node25_t1', 'flow_wide_node52node33_t1', 'flow_wide_node52node16_t1', 'flow_wide_node52node40_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_852_t1', 'variables': ['flow_wide_node53node39_t1', 'flow_wide_node53node19_t1', 'flow_wide_node53node4_t1', 'flow_wide_node53node2_t1', 'flow_wide_node53node18_t1', 'flow_wide_node53node13_t1', 'flow_wide_node53node14_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_853_t1', 'variables': ['flow_wide_node54node2_t1', 'flow_wide_node54node41_t1', 'flow_wide_node54node13_t1', 'flow_wide_node54node24_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1231_t1', 'variables': ['flow_wide_node55node30_t1', 'flow_wide_node55node40_t1', 'flow_wide_node55node17_t1', 'flow_wide_node55node10_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1284_t1', 'variables': ['flow_wide_node56node3_t1', 'flow_wide_node56node19_t1', 'flow_wide_node56node18_t1', 'flow_wide_node56node34_t1', 'flow_wide_node56node9_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1424_t1', 'variables': ['flow_wide_node57node5_t1', 'flow_wide_node57node10_t1', 'flow_wide_node57node17_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1555_t1', 'variables': ['flow_wide_node58node7_t1', 'flow_wide_node58node28_t1', 'flow_wide_node58node25_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1423_t2', 'variables': ['flow_wide_node49node40_t2', 'flow_wide_node49node30_t2', 'flow_wide_node49node12_t2', 'flow_wide_node49node11_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_851_t2', 'variables': ['flow_wide_node50node11_t2', 'flow_wide_node50node16_t2', 'flow_wide_node50node12_t2', 'flow_wide_node50node39_t2', 'flow_wide_node50node4_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_821_t2', 'variables': ['flow_wide_node51node10_t2', 'flow_wide_node51node25_t2', 'flow_wide_node51node5_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_822_t2', 'variables': ['flow_wide_node52node11_t2', 'flow_wide_node52node10_t2', 'flow_wide_node52node23_t2', 'flow_wide_node52node25_t2', 'flow_wide_node52node33_t2', 'flow_wide_node52node16_t2', 'flow_wide_node52node40_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_852_t2', 'variables': ['flow_wide_node53node39_t2', 'flow_wide_node53node19_t2', 'flow_wide_node53node4_t2', 'flow_wide_node53node2_t2', 'flow_wide_node53node18_t2', 'flow_wide_node53node13_t2', 'flow_wide_node53node14_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_853_t2', 'variables': ['flow_wide_node54node2_t2', 'flow_wide_node54node41_t2', 'flow_wide_node54node13_t2', 'flow_wide_node54node24_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1231_t2', 'variables': ['flow_wide_node55node30_t2', 'flow_wide_node55node40_t2', 'flow_wide_node55node17_t2', 'flow_wide_node55node10_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1284_t2', 'variables': ['flow_wide_node56node3_t2', 'flow_wide_node56node19_t2', 'flow_wide_node56node18_t2', 'flow_wide_node56node34_t2', 'flow_wide_node56node9_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1424_t2', 'variables': ['flow_wide_node57node5_t2', 'flow_wide_node57node10_t2', 'flow_wide_node57node17_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1555_t2', 'variables': ['flow_wide_node58node7_t2', 'flow_wide_node58node28_t2', 'flow_wide_node58node25_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1423_t3', 'variables': ['flow_wide_node49node40_t3', 'flow_wide_node49node30_t3', 'flow_wide_node49node12_t3', 'flow_wide_node49node11_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_851_t3', 'variables': ['flow_wide_node50node11_t3', 'flow_wide_node50node16_t3', 'flow_wide_node50node12_t3', 'flow_wide_node50node39_t3', 'flow_wide_node50node4_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_821_t3', 'variables': ['flow_wide_node51node10_t3', 'flow_wide_node51node25_t3', 'flow_wide_node51node5_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_822_t3', 'variables': ['flow_wide_node52node11_t3', 'flow_wide_node52node10_t3', 'flow_wide_node52node23_t3', 'flow_wide_node52node25_t3', 'flow_wide_node52node33_t3', 'flow_wide_node52node16_t3', 'flow_wide_node52node40_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_852_t3', 'variables': ['flow_wide_node53node39_t3', 'flow_wide_node53node19_t3', 'flow_wide_node53node4_t3', 'flow_wide_node53node2_t3', 'flow_wide_node53node18_t3', 'flow_wide_node53node13_t3', 'flow_wide_node53node14_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_853_t3', 'variables': ['flow_wide_node54node2_t3', 'flow_wide_node54node41_t3', 'flow_wide_node54node13_t3', 'flow_wide_node54node24_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1231_t3', 'variables': ['flow_wide_node55node30_t3', 'flow_wide_node55node40_t3', 'flow_wide_node55node17_t3', 'flow_wide_node55node10_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1284_t3', 'variables': ['flow_wide_node56node3_t3', 'flow_wide_node56node19_t3', 'flow_wide_node56node18_t3', 'flow_wide_node56node34_t3', 'flow_wide_node56node9_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1424_t3', 'variables': ['flow_wide_node57node5_t3', 'flow_wide_node57node10_t3', 'flow_wide_node57node17_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1555_t3', 'variables': ['flow_wide_node58node7_t3', 'flow_wide_node58node28_t3', 'flow_wide_node58node25_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1423_t4', 'variables': ['flow_wide_node49node40_t4', 'flow_wide_node49node30_t4', 'flow_wide_node49node12_t4', 'flow_wide_node49node11_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_851_t4', 'variables': ['flow_wide_node50node11_t4', 'flow_wide_node50node16_t4', 'flow_wide_node50node12_t4', 'flow_wide_node50node39_t4', 'flow_wide_node50node4_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_821_t4', 'variables': ['flow_wide_node51node10_t4', 'flow_wide_node51node25_t4', 'flow_wide_node51node5_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_822_t4', 'variables': ['flow_wide_node52node11_t4', 'flow_wide_node52node10_t4', 'flow_wide_node52node23_t4', 'flow_wide_node52node25_t4', 'flow_wide_node52node33_t4', 'flow_wide_node52node16_t4', 'flow_wide_node52node40_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_852_t4', 'variables': ['flow_wide_node53node39_t4', 'flow_wide_node53node19_t4', 'flow_wide_node53node4_t4', 'flow_wide_node53node2_t4', 'flow_wide_node53node18_t4', 'flow_wide_node53node13_t4', 'flow_wide_node53node14_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_853_t4', 'variables': ['flow_wide_node54node2_t4', 'flow_wide_node54node41_t4', 'flow_wide_node54node13_t4', 'flow_wide_node54node24_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1231_t4', 'variables': ['flow_wide_node55node30_t4', 'flow_wide_node55node40_t4', 'flow_wide_node55node17_t4', 'flow_wide_node55node10_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1284_t4', 'variables': ['flow_wide_node56node3_t4', 'flow_wide_node56node19_t4', 'flow_wide_node56node18_t4', 'flow_wide_node56node34_t4', 'flow_wide_node56node9_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1424_t4', 'variables': ['flow_wide_node57node5_t4', 'flow_wide_node57node10_t4', 'flow_wide_node57node17_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1555_t4', 'variables': ['flow_wide_node58node7_t4', 'flow_wide_node58node28_t4', 'flow_wide_node58node25_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1423_t5', 'variables': ['flow_wide_node49node40_t5', 'flow_wide_node49node30_t5', 'flow_wide_node49node12_t5', 'flow_wide_node49node11_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_851_t5', 'variables': ['flow_wide_node50node11_t5', 'flow_wide_node50node16_t5', 'flow_wide_node50node12_t5', 'flow_wide_node50node39_t5', 'flow_wide_node50node4_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_821_t5', 'variables': ['flow_wide_node51node10_t5', 'flow_wide_node51node25_t5', 'flow_wide_node51node5_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_822_t5', 'variables': ['flow_wide_node52node11_t5', 'flow_wide_node52node10_t5', 'flow_wide_node52node23_t5', 'flow_wide_node52node25_t5', 'flow_wide_node52node33_t5', 'flow_wide_node52node16_t5', 'flow_wide_node52node40_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_852_t5', 'variables': ['flow_wide_node53node39_t5', 'flow_wide_node53node19_t5', 'flow_wide_node53node4_t5', 'flow_wide_node53node2_t5', 'flow_wide_node53node18_t5', 'flow_wide_node53node13_t5', 'flow_wide_node53node14_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_853_t5', 'variables': ['flow_wide_node54node2_t5', 'flow_wide_node54node41_t5', 'flow_wide_node54node13_t5', 'flow_wide_node54node24_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1231_t5', 'variables': ['flow_wide_node55node30_t5', 'flow_wide_node55node40_t5', 'flow_wide_node55node17_t5', 'flow_wide_node55node10_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1284_t5', 'variables': ['flow_wide_node56node3_t5', 'flow_wide_node56node19_t5', 'flow_wide_node56node18_t5', 'flow_wide_node56node34_t5', 'flow_wide_node56node9_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1424_t5', 'variables': ['flow_wide_node57node5_t5', 'flow_wide_node57node10_t5', 'flow_wide_node57node17_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1555_t5', 'variables': ['flow_wide_node58node7_t5', 'flow_wide_node58node28_t5', 'flow_wide_node58node25_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
