Constraint group: Constraint_outflow_iff_needroad
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_833_t1', 'variables': ['flow_timber_node16node8_t1', 'flow_timber_node16node4_t1', 'flow_timber_node16node2_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1247_t1', 'variables': ['flow_timber_node17node9_t1', 'flow_timber_node17node6_t1', 'flow_timber_node17node3_t1', 'flow_timber_node17node5_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1248_t1', 'variables': ['flow_timber_node18node3_t1', 'flow_timber_node18node5_t1', 'flow_timber_node18node6_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_833_t2', 'variables': ['flow_timber_node16node8_t2', 'flow_timber_node16node4_t2', 'flow_timber_node16node2_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1247_t2', 'variables': ['flow_timber_node17node9_t2', 'flow_timber_node17node6_t2', 'flow_timber_node17node3_t2', 'flow_timber_node17node5_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1248_t2', 'variables': ['flow_timber_node18node3_t2', 'flow_timber_node18node5_t2', 'flow_timber_node18node6_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_833_t3', 'variables': ['flow_timber_node16node8_t3', 'flow_timber_node16node4_t3', 'flow_timber_node16node2_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1247_t3', 'variables': ['flow_timber_node17node9_t3', 'flow_timber_node17node6_t3', 'flow_timber_node17node3_t3', 'flow_timber_node17node5_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1248_t3', 'variables': ['flow_timber_node18node3_t3', 'flow_timber_node18node5_t3', 'flow_timber_node18node6_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_833_t4', 'variables': ['flow_timber_node16node8_t4', 'flow_timber_node16node4_t4', 'flow_timber_node16node2_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1247_t4', 'variables': ['flow_timber_node17node9_t4', 'flow_timber_node17node6_t4', 'flow_timber_node17node3_t4', 'flow_timber_node17node5_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1248_t4', 'variables': ['flow_timber_node18node3_t4', 'flow_timber_node18node5_t4', 'flow_timber_node18node6_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_833_t5', 'variables': ['flow_timber_node16node8_t5', 'flow_timber_node16node4_t5', 'flow_timber_node16node2_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1247_t5', 'variables': ['flow_timber_node17node9_t5', 'flow_timber_node17node6_t5', 'flow_timber_node17node3_t5', 'flow_timber_node17node5_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1248_t5', 'variables': ['flow_timber_node18node3_t5', 'flow_timber_node18node5_t5', 'flow_timber_node18node6_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_833_t1', 'variables': ['flow_wide_node16node8_t1', 'flow_wide_node16node4_t1', 'flow_wide_node16node2_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1247_t1', 'variables': ['flow_wide_node17node9_t1', 'flow_wide_node17node6_t1', 'flow_wide_node17node3_t1', 'flow_wide_node17node5_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1248_t1', 'variables': ['flow_wide_node18node3_t1', 'flow_wide_node18node5_t1', 'flow_wide_node18node6_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_833_t2', 'variables': ['flow_wide_node16node8_t2', 'flow_wide_node16node4_t2', 'flow_wide_node16node2_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1247_t2', 'variables': ['flow_wide_node17node9_t2', 'flow_wide_node17node6_t2', 'flow_wide_node17node3_t2', 'flow_wide_node17node5_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1248_t2', 'variables': ['flow_wide_node18node3_t2', 'flow_wide_node18node5_t2', 'flow_wide_node18node6_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_833_t3', 'variables': ['flow_wide_node16node8_t3', 'flow_wide_node16node4_t3', 'flow_wide_node16node2_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1247_t3', 'variables': ['flow_wide_node17node9_t3', 'flow_wide_node17node6_t3', 'flow_wide_node17node3_t3', 'flow_wide_node17node5_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1248_t3', 'variables': ['flow_wide_node18node3_t3', 'flow_wide_node18node5_t3', 'flow_wide_node18node6_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_833_t4', 'variables': ['flow_wide_node16node8_t4', 'flow_wide_node16node4_t4', 'flow_wide_node16node2_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1247_t4', 'variables': ['flow_wide_node17node9_t4', 'flow_wide_node17node6_t4', 'flow_wide_node17node3_t4', 'flow_wide_node17node5_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1248_t4', 'variables': ['flow_wide_node18node3_t4', 'flow_wide_node18node5_t4', 'flow_wide_node18node6_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_833_t5', 'variables': ['flow_wide_node16node8_t5', 'flow_wide_node16node4_t5', 'flow_wide_node16node2_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1247_t5', 'variables': ['flow_wide_node17node9_t5', 'flow_wide_node17node6_t5', 'flow_wide_node17node3_t5', 'flow_wide_node17node5_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1248_t5', 'variables': ['flow_wide_node18node3_t5', 'flow_wide_node18node5_t5', 'flow_wide_node18node6_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
