Constraint group: Constraint_flow_conservation
Total in this group: 70
Expected: 70

Constraints:
{'constraint_name': 'Constraint_flow_conservation_timber_1_node1', 'variables': ['flow_timber_node14node1_t1', 'flow_timber_node8node1_t1', 'flow_timber_node6node1_t1', 'flow_timber_node3node1_t1', 'flow_timber_node1node3_t1', 'flow_timber_node1node8_t1', 'flow_timber_node1node14_t1', 'flow_timber_node1node6_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node8', 'variables': ['flow_timber_node4node8_t1', 'flow_timber_node1node8_t1', 'flow_timber_node5node8_t1', 'flow_timber_node8node4_t1', 'flow_timber_node8node1_t1', 'flow_timber_node8node5_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node7', 'variables': ['flow_timber_node2node7_t1', 'flow_timber_node4node7_t1', 'flow_timber_node12node7_t1', 'flow_timber_node7node4_t1', 'flow_timber_node7node2_t1', 'flow_timber_node7node12_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node9', 'variables': ['flow_timber_node10node9_t1', 'flow_timber_node3node9_t1', 'flow_timber_node14node9_t1', 'flow_timber_node6node9_t1', 'flow_timber_node13node9_t1', 'flow_timber_node9node10_t1', 'flow_timber_node9node14_t1', 'flow_timber_node9node13_t1', 'flow_timber_node9node6_t1', 'flow_timber_node9node3_t1'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node6', 'variables': ['flow_timber_node9node6_t1', 'flow_timber_node2node6_t1', 'flow_timber_node14node6_t1', 'flow_timber_node1node6_t1', 'flow_timber_node6node9_t1', 'flow_timber_node6node1_t1', 'flow_timber_node6node2_t1', 'flow_timber_node6node14_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node10', 'variables': ['flow_timber_node9node10_t1', 'flow_timber_node11node10_t1', 'flow_timber_node5node10_t1', 'flow_timber_node10node11_t1', 'flow_timber_node10node5_t1', 'flow_timber_node10node9_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node3', 'variables': ['flow_timber_node1node3_t1', 'flow_timber_node14node3_t1', 'flow_timber_node9node3_t1', 'flow_timber_node11node3_t1', 'flow_timber_node3node1_t1', 'flow_timber_node3node9_t1', 'flow_timber_node3node14_t1', 'flow_timber_node3node11_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node1', 'variables': ['flow_timber_node14node1_t2', 'flow_timber_node8node1_t2', 'flow_timber_node6node1_t2', 'flow_timber_node3node1_t2', 'flow_timber_node1node3_t2', 'flow_timber_node1node8_t2', 'flow_timber_node1node14_t2', 'flow_timber_node1node6_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node8', 'variables': ['flow_timber_node4node8_t2', 'flow_timber_node1node8_t2', 'flow_timber_node5node8_t2', 'flow_timber_node8node4_t2', 'flow_timber_node8node1_t2', 'flow_timber_node8node5_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node7', 'variables': ['flow_timber_node2node7_t2', 'flow_timber_node4node7_t2', 'flow_timber_node12node7_t2', 'flow_timber_node7node4_t2', 'flow_timber_node7node2_t2', 'flow_timber_node7node12_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node9', 'variables': ['flow_timber_node10node9_t2', 'flow_timber_node3node9_t2', 'flow_timber_node14node9_t2', 'flow_timber_node6node9_t2', 'flow_timber_node13node9_t2', 'flow_timber_node9node10_t2', 'flow_timber_node9node14_t2', 'flow_timber_node9node13_t2', 'flow_timber_node9node6_t2', 'flow_timber_node9node3_t2'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node6', 'variables': ['flow_timber_node9node6_t2', 'flow_timber_node2node6_t2', 'flow_timber_node14node6_t2', 'flow_timber_node1node6_t2', 'flow_timber_node6node9_t2', 'flow_timber_node6node1_t2', 'flow_timber_node6node2_t2', 'flow_timber_node6node14_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node10', 'variables': ['flow_timber_node9node10_t2', 'flow_timber_node11node10_t2', 'flow_timber_node5node10_t2', 'flow_timber_node10node11_t2', 'flow_timber_node10node5_t2', 'flow_timber_node10node9_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node3', 'variables': ['flow_timber_node1node3_t2', 'flow_timber_node14node3_t2', 'flow_timber_node9node3_t2', 'flow_timber_node11node3_t2', 'flow_timber_node3node1_t2', 'flow_timber_node3node9_t2', 'flow_timber_node3node14_t2', 'flow_timber_node3node11_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node1', 'variables': ['flow_timber_node14node1_t3', 'flow_timber_node8node1_t3', 'flow_timber_node6node1_t3', 'flow_timber_node3node1_t3', 'flow_timber_node1node3_t3', 'flow_timber_node1node8_t3', 'flow_timber_node1node14_t3', 'flow_timber_node1node6_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node8', 'variables': ['flow_timber_node4node8_t3', 'flow_timber_node1node8_t3', 'flow_timber_node5node8_t3', 'flow_timber_node8node4_t3', 'flow_timber_node8node1_t3', 'flow_timber_node8node5_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node7', 'variables': ['flow_timber_node2node7_t3', 'flow_timber_node4node7_t3', 'flow_timber_node12node7_t3', 'flow_timber_node7node4_t3', 'flow_timber_node7node2_t3', 'flow_timber_node7node12_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node9', 'variables': ['flow_timber_node10node9_t3', 'flow_timber_node3node9_t3', 'flow_timber_node14node9_t3', 'flow_timber_node6node9_t3', 'flow_timber_node13node9_t3', 'flow_timber_node9node10_t3', 'flow_timber_node9node14_t3', 'flow_timber_node9node13_t3', 'flow_timber_node9node6_t3', 'flow_timber_node9node3_t3'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node6', 'variables': ['flow_timber_node9node6_t3', 'flow_timber_node2node6_t3', 'flow_timber_node14node6_t3', 'flow_timber_node1node6_t3', 'flow_timber_node6node9_t3', 'flow_timber_node6node1_t3', 'flow_timber_node6node2_t3', 'flow_timber_node6node14_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node10', 'variables': ['flow_timber_node9node10_t3', 'flow_timber_node11node10_t3', 'flow_timber_node5node10_t3', 'flow_timber_node10node11_t3', 'flow_timber_node10node5_t3', 'flow_timber_node10node9_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node3', 'variables': ['flow_timber_node1node3_t3', 'flow_timber_node14node3_t3', 'flow_timber_node9node3_t3', 'flow_timber_node11node3_t3', 'flow_timber_node3node1_t3', 'flow_timber_node3node9_t3', 'flow_timber_node3node14_t3', 'flow_timber_node3node11_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node1', 'variables': ['flow_timber_node14node1_t4', 'flow_timber_node8node1_t4', 'flow_timber_node6node1_t4', 'flow_timber_node3node1_t4', 'flow_timber_node1node3_t4', 'flow_timber_node1node8_t4', 'flow_timber_node1node14_t4', 'flow_timber_node1node6_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node8', 'variables': ['flow_timber_node4node8_t4', 'flow_timber_node1node8_t4', 'flow_timber_node5node8_t4', 'flow_timber_node8node4_t4', 'flow_timber_node8node1_t4', 'flow_timber_node8node5_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node7', 'variables': ['flow_timber_node2node7_t4', 'flow_timber_node4node7_t4', 'flow_timber_node12node7_t4', 'flow_timber_node7node4_t4', 'flow_timber_node7node2_t4', 'flow_timber_node7node12_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node9', 'variables': ['flow_timber_node10node9_t4', 'flow_timber_node3node9_t4', 'flow_timber_node14node9_t4', 'flow_timber_node6node9_t4', 'flow_timber_node13node9_t4', 'flow_timber_node9node10_t4', 'flow_timber_node9node14_t4', 'flow_timber_node9node13_t4', 'flow_timber_node9node6_t4', 'flow_timber_node9node3_t4'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node6', 'variables': ['flow_timber_node9node6_t4', 'flow_timber_node2node6_t4', 'flow_timber_node14node6_t4', 'flow_timber_node1node6_t4', 'flow_timber_node6node9_t4', 'flow_timber_node6node1_t4', 'flow_timber_node6node2_t4', 'flow_timber_node6node14_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node10', 'variables': ['flow_timber_node9node10_t4', 'flow_timber_node11node10_t4', 'flow_timber_node5node10_t4', 'flow_timber_node10node11_t4', 'flow_timber_node10node5_t4', 'flow_timber_node10node9_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node3', 'variables': ['flow_timber_node1node3_t4', 'flow_timber_node14node3_t4', 'flow_timber_node9node3_t4', 'flow_timber_node11node3_t4', 'flow_timber_node3node1_t4', 'flow_timber_node3node9_t4', 'flow_timber_node3node14_t4', 'flow_timber_node3node11_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node1', 'variables': ['flow_timber_node14node1_t5', 'flow_timber_node8node1_t5', 'flow_timber_node6node1_t5', 'flow_timber_node3node1_t5', 'flow_timber_node1node3_t5', 'flow_timber_node1node8_t5', 'flow_timber_node1node14_t5', 'flow_timber_node1node6_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node8', 'variables': ['flow_timber_node4node8_t5', 'flow_timber_node1node8_t5', 'flow_timber_node5node8_t5', 'flow_timber_node8node4_t5', 'flow_timber_node8node1_t5', 'flow_timber_node8node5_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node7', 'variables': ['flow_timber_node2node7_t5', 'flow_timber_node4node7_t5', 'flow_timber_node12node7_t5', 'flow_timber_node7node4_t5', 'flow_timber_node7node2_t5', 'flow_timber_node7node12_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node9', 'variables': ['flow_timber_node10node9_t5', 'flow_timber_node3node9_t5', 'flow_timber_node14node9_t5', 'flow_timber_node6node9_t5', 'flow_timber_node13node9_t5', 'flow_timber_node9node10_t5', 'flow_timber_node9node14_t5', 'flow_timber_node9node13_t5', 'flow_timber_node9node6_t5', 'flow_timber_node9node3_t5'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node6', 'variables': ['flow_timber_node9node6_t5', 'flow_timber_node2node6_t5', 'flow_timber_node14node6_t5', 'flow_timber_node1node6_t5', 'flow_timber_node6node9_t5', 'flow_timber_node6node1_t5', 'flow_timber_node6node2_t5', 'flow_timber_node6node14_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node10', 'variables': ['flow_timber_node9node10_t5', 'flow_timber_node11node10_t5', 'flow_timber_node5node10_t5', 'flow_timber_node10node11_t5', 'flow_timber_node10node5_t5', 'flow_timber_node10node9_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node3', 'variables': ['flow_timber_node1node3_t5', 'flow_timber_node14node3_t5', 'flow_timber_node9node3_t5', 'flow_timber_node11node3_t5', 'flow_timber_node3node1_t5', 'flow_timber_node3node9_t5', 'flow_timber_node3node14_t5', 'flow_timber_node3node11_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node1', 'variables': ['flow_wide_node14node1_t1', 'flow_wide_node8node1_t1', 'flow_wide_node6node1_t1', 'flow_wide_node3node1_t1', 'flow_wide_node1node3_t1', 'flow_wide_node1node8_t1', 'flow_wide_node1node14_t1', 'flow_wide_node1node6_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node8', 'variables': ['flow_wide_node4node8_t1', 'flow_wide_node1node8_t1', 'flow_wide_node5node8_t1', 'flow_wide_node8node4_t1', 'flow_wide_node8node1_t1', 'flow_wide_node8node5_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node7', 'variables': ['flow_wide_node2node7_t1', 'flow_wide_node4node7_t1', 'flow_wide_node12node7_t1', 'flow_wide_node7node4_t1', 'flow_wide_node7node2_t1', 'flow_wide_node7node12_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node9', 'variables': ['flow_wide_node10node9_t1', 'flow_wide_node3node9_t1', 'flow_wide_node14node9_t1', 'flow_wide_node6node9_t1', 'flow_wide_node13node9_t1', 'flow_wide_node9node10_t1', 'flow_wide_node9node14_t1', 'flow_wide_node9node13_t1', 'flow_wide_node9node6_t1', 'flow_wide_node9node3_t1'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node6', 'variables': ['flow_wide_node9node6_t1', 'flow_wide_node2node6_t1', 'flow_wide_node14node6_t1', 'flow_wide_node1node6_t1', 'flow_wide_node6node9_t1', 'flow_wide_node6node1_t1', 'flow_wide_node6node2_t1', 'flow_wide_node6node14_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node10', 'variables': ['flow_wide_node9node10_t1', 'flow_wide_node11node10_t1', 'flow_wide_node5node10_t1', 'flow_wide_node10node11_t1', 'flow_wide_node10node5_t1', 'flow_wide_node10node9_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node3', 'variables': ['flow_wide_node1node3_t1', 'flow_wide_node14node3_t1', 'flow_wide_node9node3_t1', 'flow_wide_node11node3_t1', 'flow_wide_node3node1_t1', 'flow_wide_node3node9_t1', 'flow_wide_node3node14_t1', 'flow_wide_node3node11_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node1', 'variables': ['flow_wide_node14node1_t2', 'flow_wide_node8node1_t2', 'flow_wide_node6node1_t2', 'flow_wide_node3node1_t2', 'flow_wide_node1node3_t2', 'flow_wide_node1node8_t2', 'flow_wide_node1node14_t2', 'flow_wide_node1node6_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node8', 'variables': ['flow_wide_node4node8_t2', 'flow_wide_node1node8_t2', 'flow_wide_node5node8_t2', 'flow_wide_node8node4_t2', 'flow_wide_node8node1_t2', 'flow_wide_node8node5_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node7', 'variables': ['flow_wide_node2node7_t2', 'flow_wide_node4node7_t2', 'flow_wide_node12node7_t2', 'flow_wide_node7node4_t2', 'flow_wide_node7node2_t2', 'flow_wide_node7node12_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node9', 'variables': ['flow_wide_node10node9_t2', 'flow_wide_node3node9_t2', 'flow_wide_node14node9_t2', 'flow_wide_node6node9_t2', 'flow_wide_node13node9_t2', 'flow_wide_node9node10_t2', 'flow_wide_node9node14_t2', 'flow_wide_node9node13_t2', 'flow_wide_node9node6_t2', 'flow_wide_node9node3_t2'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node6', 'variables': ['flow_wide_node9node6_t2', 'flow_wide_node2node6_t2', 'flow_wide_node14node6_t2', 'flow_wide_node1node6_t2', 'flow_wide_node6node9_t2', 'flow_wide_node6node1_t2', 'flow_wide_node6node2_t2', 'flow_wide_node6node14_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node10', 'variables': ['flow_wide_node9node10_t2', 'flow_wide_node11node10_t2', 'flow_wide_node5node10_t2', 'flow_wide_node10node11_t2', 'flow_wide_node10node5_t2', 'flow_wide_node10node9_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node3', 'variables': ['flow_wide_node1node3_t2', 'flow_wide_node14node3_t2', 'flow_wide_node9node3_t2', 'flow_wide_node11node3_t2', 'flow_wide_node3node1_t2', 'flow_wide_node3node9_t2', 'flow_wide_node3node14_t2', 'flow_wide_node3node11_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node1', 'variables': ['flow_wide_node14node1_t3', 'flow_wide_node8node1_t3', 'flow_wide_node6node1_t3', 'flow_wide_node3node1_t3', 'flow_wide_node1node3_t3', 'flow_wide_node1node8_t3', 'flow_wide_node1node14_t3', 'flow_wide_node1node6_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node8', 'variables': ['flow_wide_node4node8_t3', 'flow_wide_node1node8_t3', 'flow_wide_node5node8_t3', 'flow_wide_node8node4_t3', 'flow_wide_node8node1_t3', 'flow_wide_node8node5_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node7', 'variables': ['flow_wide_node2node7_t3', 'flow_wide_node4node7_t3', 'flow_wide_node12node7_t3', 'flow_wide_node7node4_t3', 'flow_wide_node7node2_t3', 'flow_wide_node7node12_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node9', 'variables': ['flow_wide_node10node9_t3', 'flow_wide_node3node9_t3', 'flow_wide_node14node9_t3', 'flow_wide_node6node9_t3', 'flow_wide_node13node9_t3', 'flow_wide_node9node10_t3', 'flow_wide_node9node14_t3', 'flow_wide_node9node13_t3', 'flow_wide_node9node6_t3', 'flow_wide_node9node3_t3'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node6', 'variables': ['flow_wide_node9node6_t3', 'flow_wide_node2node6_t3', 'flow_wide_node14node6_t3', 'flow_wide_node1node6_t3', 'flow_wide_node6node9_t3', 'flow_wide_node6node1_t3', 'flow_wide_node6node2_t3', 'flow_wide_node6node14_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node10', 'variables': ['flow_wide_node9node10_t3', 'flow_wide_node11node10_t3', 'flow_wide_node5node10_t3', 'flow_wide_node10node11_t3', 'flow_wide_node10node5_t3', 'flow_wide_node10node9_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node3', 'variables': ['flow_wide_node1node3_t3', 'flow_wide_node14node3_t3', 'flow_wide_node9node3_t3', 'flow_wide_node11node3_t3', 'flow_wide_node3node1_t3', 'flow_wide_node3node9_t3', 'flow_wide_node3node14_t3', 'flow_wide_node3node11_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node1', 'variables': ['flow_wide_node14node1_t4', 'flow_wide_node8node1_t4', 'flow_wide_node6node1_t4', 'flow_wide_node3node1_t4', 'flow_wide_node1node3_t4', 'flow_wide_node1node8_t4', 'flow_wide_node1node14_t4', 'flow_wide_node1node6_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node8', 'variables': ['flow_wide_node4node8_t4', 'flow_wide_node1node8_t4', 'flow_wide_node5node8_t4', 'flow_wide_node8node4_t4', 'flow_wide_node8node1_t4', 'flow_wide_node8node5_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node7', 'variables': ['flow_wide_node2node7_t4', 'flow_wide_node4node7_t4', 'flow_wide_node12node7_t4', 'flow_wide_node7node4_t4', 'flow_wide_node7node2_t4', 'flow_wide_node7node12_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node9', 'variables': ['flow_wide_node10node9_t4', 'flow_wide_node3node9_t4', 'flow_wide_node14node9_t4', 'flow_wide_node6node9_t4', 'flow_wide_node13node9_t4', 'flow_wide_node9node10_t4', 'flow_wide_node9node14_t4', 'flow_wide_node9node13_t4', 'flow_wide_node9node6_t4', 'flow_wide_node9node3_t4'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node6', 'variables': ['flow_wide_node9node6_t4', 'flow_wide_node2node6_t4', 'flow_wide_node14node6_t4', 'flow_wide_node1node6_t4', 'flow_wide_node6node9_t4', 'flow_wide_node6node1_t4', 'flow_wide_node6node2_t4', 'flow_wide_node6node14_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node10', 'variables': ['flow_wide_node9node10_t4', 'flow_wide_node11node10_t4', 'flow_wide_node5node10_t4', 'flow_wide_node10node11_t4', 'flow_wide_node10node5_t4', 'flow_wide_node10node9_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node3', 'variables': ['flow_wide_node1node3_t4', 'flow_wide_node14node3_t4', 'flow_wide_node9node3_t4', 'flow_wide_node11node3_t4', 'flow_wide_node3node1_t4', 'flow_wide_node3node9_t4', 'flow_wide_node3node14_t4', 'flow_wide_node3node11_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node1', 'variables': ['flow_wide_node14node1_t5', 'flow_wide_node8node1_t5', 'flow_wide_node6node1_t5', 'flow_wide_node3node1_t5', 'flow_wide_node1node3_t5', 'flow_wide_node1node8_t5', 'flow_wide_node1node14_t5', 'flow_wide_node1node6_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node8', 'variables': ['flow_wide_node4node8_t5', 'flow_wide_node1node8_t5', 'flow_wide_node5node8_t5', 'flow_wide_node8node4_t5', 'flow_wide_node8node1_t5', 'flow_wide_node8node5_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node7', 'variables': ['flow_wide_node2node7_t5', 'flow_wide_node4node7_t5', 'flow_wide_node12node7_t5', 'flow_wide_node7node4_t5', 'flow_wide_node7node2_t5', 'flow_wide_node7node12_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node9', 'variables': ['flow_wide_node10node9_t5', 'flow_wide_node3node9_t5', 'flow_wide_node14node9_t5', 'flow_wide_node6node9_t5', 'flow_wide_node13node9_t5', 'flow_wide_node9node10_t5', 'flow_wide_node9node14_t5', 'flow_wide_node9node13_t5', 'flow_wide_node9node6_t5', 'flow_wide_node9node3_t5'], 'coefficients': [1, 1, 1, 1, 1, -1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node6', 'variables': ['flow_wide_node9node6_t5', 'flow_wide_node2node6_t5', 'flow_wide_node14node6_t5', 'flow_wide_node1node6_t5', 'flow_wide_node6node9_t5', 'flow_wide_node6node1_t5', 'flow_wide_node6node2_t5', 'flow_wide_node6node14_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node10', 'variables': ['flow_wide_node9node10_t5', 'flow_wide_node11node10_t5', 'flow_wide_node5node10_t5', 'flow_wide_node10node11_t5', 'flow_wide_node10node5_t5', 'flow_wide_node10node9_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node3', 'variables': ['flow_wide_node1node3_t5', 'flow_wide_node14node3_t5', 'flow_wide_node9node3_t5', 'flow_wide_node11node3_t5', 'flow_wide_node3node1_t5', 'flow_wide_node3node9_t5', 'flow_wide_node3node14_t5', 'flow_wide_node3node11_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
