Constraint group: Constraint_no_inflow_source
Total in this group: 25
Expected: 25

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_857_1', 'variables': ['flow_timber_node13node37_t1', 'flow_timber_node8node37_t1', 'flow_timber_node6node37_t1', 'flow_timber_node26node37_t1', 'flow_timber_node22node37_t1', 'flow_wide_node13node37_t1', 'flow_wide_node8node37_t1', 'flow_wide_node6node37_t1', 'flow_wide_node26node37_t1', 'flow_wide_node22node37_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_881_1', 'variables': ['flow_timber_node26node38_t1', 'flow_timber_node20node38_t1', 'flow_timber_node13node38_t1', 'flow_timber_node16node38_t1', 'flow_wide_node26node38_t1', 'flow_wide_node20node38_t1', 'flow_wide_node13node38_t1', 'flow_wide_node16node38_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_882_1', 'variables': ['flow_timber_node20node39_t1', 'flow_timber_node22node39_t1', 'flow_timber_node26node39_t1', 'flow_timber_node12node39_t1', 'flow_wide_node20node39_t1', 'flow_wide_node22node39_t1', 'flow_wide_node26node39_t1', 'flow_wide_node12node39_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1173_1', 'variables': ['flow_timber_node21node40_t1', 'flow_timber_node17node40_t1', 'flow_timber_node18node40_t1', 'flow_timber_node2node40_t1', 'flow_wide_node21node40_t1', 'flow_wide_node17node40_t1', 'flow_wide_node18node40_t1', 'flow_wide_node2node40_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1303_1', 'variables': ['flow_timber_node10node41_t1', 'flow_timber_node30node41_t1', 'flow_timber_node11node41_t1', 'flow_timber_node21node41_t1', 'flow_timber_node17node41_t1', 'flow_timber_node28node41_t1', 'flow_wide_node10node41_t1', 'flow_wide_node30node41_t1', 'flow_wide_node11node41_t1', 'flow_wide_node21node41_t1', 'flow_wide_node17node41_t1', 'flow_wide_node28node41_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_857_2', 'variables': ['flow_timber_node13node37_t2', 'flow_timber_node8node37_t2', 'flow_timber_node6node37_t2', 'flow_timber_node26node37_t2', 'flow_timber_node22node37_t2', 'flow_wide_node13node37_t2', 'flow_wide_node8node37_t2', 'flow_wide_node6node37_t2', 'flow_wide_node26node37_t2', 'flow_wide_node22node37_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_881_2', 'variables': ['flow_timber_node26node38_t2', 'flow_timber_node20node38_t2', 'flow_timber_node13node38_t2', 'flow_timber_node16node38_t2', 'flow_wide_node26node38_t2', 'flow_wide_node20node38_t2', 'flow_wide_node13node38_t2', 'flow_wide_node16node38_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_882_2', 'variables': ['flow_timber_node20node39_t2', 'flow_timber_node22node39_t2', 'flow_timber_node26node39_t2', 'flow_timber_node12node39_t2', 'flow_wide_node20node39_t2', 'flow_wide_node22node39_t2', 'flow_wide_node26node39_t2', 'flow_wide_node12node39_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1173_2', 'variables': ['flow_timber_node21node40_t2', 'flow_timber_node17node40_t2', 'flow_timber_node18node40_t2', 'flow_timber_node2node40_t2', 'flow_wide_node21node40_t2', 'flow_wide_node17node40_t2', 'flow_wide_node18node40_t2', 'flow_wide_node2node40_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1303_2', 'variables': ['flow_timber_node10node41_t2', 'flow_timber_node30node41_t2', 'flow_timber_node11node41_t2', 'flow_timber_node21node41_t2', 'flow_timber_node17node41_t2', 'flow_timber_node28node41_t2', 'flow_wide_node10node41_t2', 'flow_wide_node30node41_t2', 'flow_wide_node11node41_t2', 'flow_wide_node21node41_t2', 'flow_wide_node17node41_t2', 'flow_wide_node28node41_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_857_3', 'variables': ['flow_timber_node13node37_t3', 'flow_timber_node8node37_t3', 'flow_timber_node6node37_t3', 'flow_timber_node26node37_t3', 'flow_timber_node22node37_t3', 'flow_wide_node13node37_t3', 'flow_wide_node8node37_t3', 'flow_wide_node6node37_t3', 'flow_wide_node26node37_t3', 'flow_wide_node22node37_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_881_3', 'variables': ['flow_timber_node26node38_t3', 'flow_timber_node20node38_t3', 'flow_timber_node13node38_t3', 'flow_timber_node16node38_t3', 'flow_wide_node26node38_t3', 'flow_wide_node20node38_t3', 'flow_wide_node13node38_t3', 'flow_wide_node16node38_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_882_3', 'variables': ['flow_timber_node20node39_t3', 'flow_timber_node22node39_t3', 'flow_timber_node26node39_t3', 'flow_timber_node12node39_t3', 'flow_wide_node20node39_t3', 'flow_wide_node22node39_t3', 'flow_wide_node26node39_t3', 'flow_wide_node12node39_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1173_3', 'variables': ['flow_timber_node21node40_t3', 'flow_timber_node17node40_t3', 'flow_timber_node18node40_t3', 'flow_timber_node2node40_t3', 'flow_wide_node21node40_t3', 'flow_wide_node17node40_t3', 'flow_wide_node18node40_t3', 'flow_wide_node2node40_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1303_3', 'variables': ['flow_timber_node10node41_t3', 'flow_timber_node30node41_t3', 'flow_timber_node11node41_t3', 'flow_timber_node21node41_t3', 'flow_timber_node17node41_t3', 'flow_timber_node28node41_t3', 'flow_wide_node10node41_t3', 'flow_wide_node30node41_t3', 'flow_wide_node11node41_t3', 'flow_wide_node21node41_t3', 'flow_wide_node17node41_t3', 'flow_wide_node28node41_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_857_4', 'variables': ['flow_timber_node13node37_t4', 'flow_timber_node8node37_t4', 'flow_timber_node6node37_t4', 'flow_timber_node26node37_t4', 'flow_timber_node22node37_t4', 'flow_wide_node13node37_t4', 'flow_wide_node8node37_t4', 'flow_wide_node6node37_t4', 'flow_wide_node26node37_t4', 'flow_wide_node22node37_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_881_4', 'variables': ['flow_timber_node26node38_t4', 'flow_timber_node20node38_t4', 'flow_timber_node13node38_t4', 'flow_timber_node16node38_t4', 'flow_wide_node26node38_t4', 'flow_wide_node20node38_t4', 'flow_wide_node13node38_t4', 'flow_wide_node16node38_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_882_4', 'variables': ['flow_timber_node20node39_t4', 'flow_timber_node22node39_t4', 'flow_timber_node26node39_t4', 'flow_timber_node12node39_t4', 'flow_wide_node20node39_t4', 'flow_wide_node22node39_t4', 'flow_wide_node26node39_t4', 'flow_wide_node12node39_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1173_4', 'variables': ['flow_timber_node21node40_t4', 'flow_timber_node17node40_t4', 'flow_timber_node18node40_t4', 'flow_timber_node2node40_t4', 'flow_wide_node21node40_t4', 'flow_wide_node17node40_t4', 'flow_wide_node18node40_t4', 'flow_wide_node2node40_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1303_4', 'variables': ['flow_timber_node10node41_t4', 'flow_timber_node30node41_t4', 'flow_timber_node11node41_t4', 'flow_timber_node21node41_t4', 'flow_timber_node17node41_t4', 'flow_timber_node28node41_t4', 'flow_wide_node10node41_t4', 'flow_wide_node30node41_t4', 'flow_wide_node11node41_t4', 'flow_wide_node21node41_t4', 'flow_wide_node17node41_t4', 'flow_wide_node28node41_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_857_5', 'variables': ['flow_timber_node13node37_t5', 'flow_timber_node8node37_t5', 'flow_timber_node6node37_t5', 'flow_timber_node26node37_t5', 'flow_timber_node22node37_t5', 'flow_wide_node13node37_t5', 'flow_wide_node8node37_t5', 'flow_wide_node6node37_t5', 'flow_wide_node26node37_t5', 'flow_wide_node22node37_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_881_5', 'variables': ['flow_timber_node26node38_t5', 'flow_timber_node20node38_t5', 'flow_timber_node13node38_t5', 'flow_timber_node16node38_t5', 'flow_wide_node26node38_t5', 'flow_wide_node20node38_t5', 'flow_wide_node13node38_t5', 'flow_wide_node16node38_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_882_5', 'variables': ['flow_timber_node20node39_t5', 'flow_timber_node22node39_t5', 'flow_timber_node26node39_t5', 'flow_timber_node12node39_t5', 'flow_wide_node20node39_t5', 'flow_wide_node22node39_t5', 'flow_wide_node26node39_t5', 'flow_wide_node12node39_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1173_5', 'variables': ['flow_timber_node21node40_t5', 'flow_timber_node17node40_t5', 'flow_timber_node18node40_t5', 'flow_timber_node2node40_t5', 'flow_wide_node21node40_t5', 'flow_wide_node17node40_t5', 'flow_wide_node18node40_t5', 'flow_wide_node2node40_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1303_5', 'variables': ['flow_timber_node10node41_t5', 'flow_timber_node30node41_t5', 'flow_timber_node11node41_t5', 'flow_timber_node21node41_t5', 'flow_timber_node17node41_t5', 'flow_timber_node28node41_t5', 'flow_wide_node10node41_t5', 'flow_wide_node30node41_t5', 'flow_wide_node11node41_t5', 'flow_wide_node21node41_t5', 'flow_wide_node17node41_t5', 'flow_wide_node28node41_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
