Constraint group: Constraint_flow_conservation
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_flow_conservation_timber_1_node1', 'variables': ['flow_timber_node3node1_t1', 'flow_timber_node6node1_t1', 'flow_timber_node2node1_t1', 'flow_timber_node5node1_t1', 'flow_timber_node1node3_t1', 'flow_timber_node1node2_t1', 'flow_timber_node1node6_t1', 'flow_timber_node1node5_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node3', 'variables': ['flow_timber_node6node3_t1', 'flow_timber_node1node3_t1', 'flow_timber_node4node3_t1', 'flow_timber_node2node3_t1', 'flow_timber_node3node1_t1', 'flow_timber_node3node6_t1', 'flow_timber_node3node2_t1', 'flow_timber_node3node4_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_1_node2', 'variables': ['flow_timber_node3node2_t1', 'flow_timber_node1node2_t1', 'flow_timber_node6node2_t1', 'flow_timber_node2node6_t1', 'flow_timber_node2node1_t1', 'flow_timber_node2node3_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node1', 'variables': ['flow_timber_node3node1_t2', 'flow_timber_node6node1_t2', 'flow_timber_node2node1_t2', 'flow_timber_node5node1_t2', 'flow_timber_node1node3_t2', 'flow_timber_node1node2_t2', 'flow_timber_node1node6_t2', 'flow_timber_node1node5_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node3', 'variables': ['flow_timber_node6node3_t2', 'flow_timber_node1node3_t2', 'flow_timber_node4node3_t2', 'flow_timber_node2node3_t2', 'flow_timber_node3node1_t2', 'flow_timber_node3node6_t2', 'flow_timber_node3node2_t2', 'flow_timber_node3node4_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_2_node2', 'variables': ['flow_timber_node3node2_t2', 'flow_timber_node1node2_t2', 'flow_timber_node6node2_t2', 'flow_timber_node2node6_t2', 'flow_timber_node2node1_t2', 'flow_timber_node2node3_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node1', 'variables': ['flow_timber_node3node1_t3', 'flow_timber_node6node1_t3', 'flow_timber_node2node1_t3', 'flow_timber_node5node1_t3', 'flow_timber_node1node3_t3', 'flow_timber_node1node2_t3', 'flow_timber_node1node6_t3', 'flow_timber_node1node5_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node3', 'variables': ['flow_timber_node6node3_t3', 'flow_timber_node1node3_t3', 'flow_timber_node4node3_t3', 'flow_timber_node2node3_t3', 'flow_timber_node3node1_t3', 'flow_timber_node3node6_t3', 'flow_timber_node3node2_t3', 'flow_timber_node3node4_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_3_node2', 'variables': ['flow_timber_node3node2_t3', 'flow_timber_node1node2_t3', 'flow_timber_node6node2_t3', 'flow_timber_node2node6_t3', 'flow_timber_node2node1_t3', 'flow_timber_node2node3_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node1', 'variables': ['flow_timber_node3node1_t4', 'flow_timber_node6node1_t4', 'flow_timber_node2node1_t4', 'flow_timber_node5node1_t4', 'flow_timber_node1node3_t4', 'flow_timber_node1node2_t4', 'flow_timber_node1node6_t4', 'flow_timber_node1node5_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node3', 'variables': ['flow_timber_node6node3_t4', 'flow_timber_node1node3_t4', 'flow_timber_node4node3_t4', 'flow_timber_node2node3_t4', 'flow_timber_node3node1_t4', 'flow_timber_node3node6_t4', 'flow_timber_node3node2_t4', 'flow_timber_node3node4_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_4_node2', 'variables': ['flow_timber_node3node2_t4', 'flow_timber_node1node2_t4', 'flow_timber_node6node2_t4', 'flow_timber_node2node6_t4', 'flow_timber_node2node1_t4', 'flow_timber_node2node3_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node1', 'variables': ['flow_timber_node3node1_t5', 'flow_timber_node6node1_t5', 'flow_timber_node2node1_t5', 'flow_timber_node5node1_t5', 'flow_timber_node1node3_t5', 'flow_timber_node1node2_t5', 'flow_timber_node1node6_t5', 'flow_timber_node1node5_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node3', 'variables': ['flow_timber_node6node3_t5', 'flow_timber_node1node3_t5', 'flow_timber_node4node3_t5', 'flow_timber_node2node3_t5', 'flow_timber_node3node1_t5', 'flow_timber_node3node6_t5', 'flow_timber_node3node2_t5', 'flow_timber_node3node4_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_timber_5_node2', 'variables': ['flow_timber_node3node2_t5', 'flow_timber_node1node2_t5', 'flow_timber_node6node2_t5', 'flow_timber_node2node6_t5', 'flow_timber_node2node1_t5', 'flow_timber_node2node3_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node1', 'variables': ['flow_wide_node3node1_t1', 'flow_wide_node6node1_t1', 'flow_wide_node2node1_t1', 'flow_wide_node5node1_t1', 'flow_wide_node1node3_t1', 'flow_wide_node1node2_t1', 'flow_wide_node1node6_t1', 'flow_wide_node1node5_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node3', 'variables': ['flow_wide_node6node3_t1', 'flow_wide_node1node3_t1', 'flow_wide_node4node3_t1', 'flow_wide_node2node3_t1', 'flow_wide_node3node1_t1', 'flow_wide_node3node6_t1', 'flow_wide_node3node2_t1', 'flow_wide_node3node4_t1'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_1_node2', 'variables': ['flow_wide_node3node2_t1', 'flow_wide_node1node2_t1', 'flow_wide_node6node2_t1', 'flow_wide_node2node6_t1', 'flow_wide_node2node1_t1', 'flow_wide_node2node3_t1'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node1', 'variables': ['flow_wide_node3node1_t2', 'flow_wide_node6node1_t2', 'flow_wide_node2node1_t2', 'flow_wide_node5node1_t2', 'flow_wide_node1node3_t2', 'flow_wide_node1node2_t2', 'flow_wide_node1node6_t2', 'flow_wide_node1node5_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node3', 'variables': ['flow_wide_node6node3_t2', 'flow_wide_node1node3_t2', 'flow_wide_node4node3_t2', 'flow_wide_node2node3_t2', 'flow_wide_node3node1_t2', 'flow_wide_node3node6_t2', 'flow_wide_node3node2_t2', 'flow_wide_node3node4_t2'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_2_node2', 'variables': ['flow_wide_node3node2_t2', 'flow_wide_node1node2_t2', 'flow_wide_node6node2_t2', 'flow_wide_node2node6_t2', 'flow_wide_node2node1_t2', 'flow_wide_node2node3_t2'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node1', 'variables': ['flow_wide_node3node1_t3', 'flow_wide_node6node1_t3', 'flow_wide_node2node1_t3', 'flow_wide_node5node1_t3', 'flow_wide_node1node3_t3', 'flow_wide_node1node2_t3', 'flow_wide_node1node6_t3', 'flow_wide_node1node5_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node3', 'variables': ['flow_wide_node6node3_t3', 'flow_wide_node1node3_t3', 'flow_wide_node4node3_t3', 'flow_wide_node2node3_t3', 'flow_wide_node3node1_t3', 'flow_wide_node3node6_t3', 'flow_wide_node3node2_t3', 'flow_wide_node3node4_t3'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_3_node2', 'variables': ['flow_wide_node3node2_t3', 'flow_wide_node1node2_t3', 'flow_wide_node6node2_t3', 'flow_wide_node2node6_t3', 'flow_wide_node2node1_t3', 'flow_wide_node2node3_t3'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node1', 'variables': ['flow_wide_node3node1_t4', 'flow_wide_node6node1_t4', 'flow_wide_node2node1_t4', 'flow_wide_node5node1_t4', 'flow_wide_node1node3_t4', 'flow_wide_node1node2_t4', 'flow_wide_node1node6_t4', 'flow_wide_node1node5_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node3', 'variables': ['flow_wide_node6node3_t4', 'flow_wide_node1node3_t4', 'flow_wide_node4node3_t4', 'flow_wide_node2node3_t4', 'flow_wide_node3node1_t4', 'flow_wide_node3node6_t4', 'flow_wide_node3node2_t4', 'flow_wide_node3node4_t4'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_4_node2', 'variables': ['flow_wide_node3node2_t4', 'flow_wide_node1node2_t4', 'flow_wide_node6node2_t4', 'flow_wide_node2node6_t4', 'flow_wide_node2node1_t4', 'flow_wide_node2node3_t4'], 'coefficients': [1, 1, 1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node1', 'variables': ['flow_wide_node3node1_t5', 'flow_wide_node6node1_t5', 'flow_wide_node2node1_t5', 'flow_wide_node5node1_t5', 'flow_wide_node1node3_t5', 'flow_wide_node1node2_t5', 'flow_wide_node1node6_t5', 'flow_wide_node1node5_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node3', 'variables': ['flow_wide_node6node3_t5', 'flow_wide_node1node3_t5', 'flow_wide_node4node3_t5', 'flow_wide_node2node3_t5', 'flow_wide_node3node1_t5', 'flow_wide_node3node6_t5', 'flow_wide_node3node2_t5', 'flow_wide_node3node4_t5'], 'coefficients': [1, 1, 1, 1, -1, -1, -1, -1]}
{'constraint_name': 'Constraint_flow_conservation_wide_5_node2', 'variables': ['flow_wide_node3node2_t5', 'flow_wide_node1node2_t5', 'flow_wide_node6node2_t5', 'flow_wide_node2node6_t5', 'flow_wide_node2node1_t5', 'flow_wide_node2node3_t5'], 'coefficients': [1, 1, 1, -1, -1, -1]}
