Constraint group: Constraint_outflow_iff_needroad
Total in this group: 80
Expected: 80

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_827_t1', 'variables': ['flow_timber_node34node14_t1', 'flow_timber_node34node12_t1', 'flow_timber_node34node15_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1403_t1', 'variables': ['flow_timber_node35node8_t1', 'flow_timber_node35node12_t1', 'flow_timber_node35node14_t1', 'flow_timber_node35node3_t1', 'flow_timber_node35node4_t1', 'flow_timber_node35node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t1', 'variables': ['flow_timber_node36node19_t1', 'flow_timber_node36node3_t1', 'flow_timber_node36node17_t1', 'flow_timber_node36node6_t1', 'flow_timber_node36node21_t1', 'flow_timber_node36node8_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t1', 'variables': ['flow_timber_node37node9_t1', 'flow_timber_node37node5_t1', 'flow_timber_node37node2_t1', 'flow_timber_node37node23_t1', 'flow_timber_node37node22_t1', 'flow_timber_node37node6_t1', 'flow_timber_node37node19_t1', 'flow_timber_node37node21_t1', 'flow_timber_node37node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_825_t1', 'variables': ['flow_timber_node38node24_t1', 'flow_timber_node38node2_t1', 'flow_timber_node38node25_t1', 'flow_timber_node38node13_t1', 'flow_timber_node38node5_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1187_t1', 'variables': ['flow_timber_node39node13_t1', 'flow_timber_node39node1_t1', 'flow_timber_node39node27_t1', 'flow_timber_node39node9_t1', 'flow_timber_node39node24_t1', 'flow_timber_node39node25_t1', 'flow_timber_node39node7_t1', 'flow_timber_node39node10_t1', 'flow_timber_node39node5_t1', 'flow_timber_node39node16_t1', 'flow_timber_node39node11_t1', 'flow_timber_node39node26_t1', 'flow_timber_node39node18_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1348_t1', 'variables': ['flow_timber_node40node7_t1', 'flow_timber_node40node30_t1', 'flow_timber_node40node31_t1', 'flow_timber_node40node18_t1', 'flow_timber_node40node28_t1', 'flow_timber_node40node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1404_t1', 'variables': ['flow_timber_node41node32_t1', 'flow_timber_node41node16_t1', 'flow_timber_node41node33_t1', 'flow_timber_node41node10_t1', 'flow_timber_node41node26_t1', 'flow_timber_node41node1_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_827_t2', 'variables': ['flow_timber_node34node14_t2', 'flow_timber_node34node12_t2', 'flow_timber_node34node15_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1403_t2', 'variables': ['flow_timber_node35node8_t2', 'flow_timber_node35node12_t2', 'flow_timber_node35node14_t2', 'flow_timber_node35node3_t2', 'flow_timber_node35node4_t2', 'flow_timber_node35node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t2', 'variables': ['flow_timber_node36node19_t2', 'flow_timber_node36node3_t2', 'flow_timber_node36node17_t2', 'flow_timber_node36node6_t2', 'flow_timber_node36node21_t2', 'flow_timber_node36node8_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t2', 'variables': ['flow_timber_node37node9_t2', 'flow_timber_node37node5_t2', 'flow_timber_node37node2_t2', 'flow_timber_node37node23_t2', 'flow_timber_node37node22_t2', 'flow_timber_node37node6_t2', 'flow_timber_node37node19_t2', 'flow_timber_node37node21_t2', 'flow_timber_node37node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_825_t2', 'variables': ['flow_timber_node38node24_t2', 'flow_timber_node38node2_t2', 'flow_timber_node38node25_t2', 'flow_timber_node38node13_t2', 'flow_timber_node38node5_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1187_t2', 'variables': ['flow_timber_node39node13_t2', 'flow_timber_node39node1_t2', 'flow_timber_node39node27_t2', 'flow_timber_node39node9_t2', 'flow_timber_node39node24_t2', 'flow_timber_node39node25_t2', 'flow_timber_node39node7_t2', 'flow_timber_node39node10_t2', 'flow_timber_node39node5_t2', 'flow_timber_node39node16_t2', 'flow_timber_node39node11_t2', 'flow_timber_node39node26_t2', 'flow_timber_node39node18_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1348_t2', 'variables': ['flow_timber_node40node7_t2', 'flow_timber_node40node30_t2', 'flow_timber_node40node31_t2', 'flow_timber_node40node18_t2', 'flow_timber_node40node28_t2', 'flow_timber_node40node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1404_t2', 'variables': ['flow_timber_node41node32_t2', 'flow_timber_node41node16_t2', 'flow_timber_node41node33_t2', 'flow_timber_node41node10_t2', 'flow_timber_node41node26_t2', 'flow_timber_node41node1_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_827_t3', 'variables': ['flow_timber_node34node14_t3', 'flow_timber_node34node12_t3', 'flow_timber_node34node15_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1403_t3', 'variables': ['flow_timber_node35node8_t3', 'flow_timber_node35node12_t3', 'flow_timber_node35node14_t3', 'flow_timber_node35node3_t3', 'flow_timber_node35node4_t3', 'flow_timber_node35node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t3', 'variables': ['flow_timber_node36node19_t3', 'flow_timber_node36node3_t3', 'flow_timber_node36node17_t3', 'flow_timber_node36node6_t3', 'flow_timber_node36node21_t3', 'flow_timber_node36node8_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t3', 'variables': ['flow_timber_node37node9_t3', 'flow_timber_node37node5_t3', 'flow_timber_node37node2_t3', 'flow_timber_node37node23_t3', 'flow_timber_node37node22_t3', 'flow_timber_node37node6_t3', 'flow_timber_node37node19_t3', 'flow_timber_node37node21_t3', 'flow_timber_node37node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_825_t3', 'variables': ['flow_timber_node38node24_t3', 'flow_timber_node38node2_t3', 'flow_timber_node38node25_t3', 'flow_timber_node38node13_t3', 'flow_timber_node38node5_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1187_t3', 'variables': ['flow_timber_node39node13_t3', 'flow_timber_node39node1_t3', 'flow_timber_node39node27_t3', 'flow_timber_node39node9_t3', 'flow_timber_node39node24_t3', 'flow_timber_node39node25_t3', 'flow_timber_node39node7_t3', 'flow_timber_node39node10_t3', 'flow_timber_node39node5_t3', 'flow_timber_node39node16_t3', 'flow_timber_node39node11_t3', 'flow_timber_node39node26_t3', 'flow_timber_node39node18_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1348_t3', 'variables': ['flow_timber_node40node7_t3', 'flow_timber_node40node30_t3', 'flow_timber_node40node31_t3', 'flow_timber_node40node18_t3', 'flow_timber_node40node28_t3', 'flow_timber_node40node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1404_t3', 'variables': ['flow_timber_node41node32_t3', 'flow_timber_node41node16_t3', 'flow_timber_node41node33_t3', 'flow_timber_node41node10_t3', 'flow_timber_node41node26_t3', 'flow_timber_node41node1_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_827_t4', 'variables': ['flow_timber_node34node14_t4', 'flow_timber_node34node12_t4', 'flow_timber_node34node15_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1403_t4', 'variables': ['flow_timber_node35node8_t4', 'flow_timber_node35node12_t4', 'flow_timber_node35node14_t4', 'flow_timber_node35node3_t4', 'flow_timber_node35node4_t4', 'flow_timber_node35node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t4', 'variables': ['flow_timber_node36node19_t4', 'flow_timber_node36node3_t4', 'flow_timber_node36node17_t4', 'flow_timber_node36node6_t4', 'flow_timber_node36node21_t4', 'flow_timber_node36node8_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t4', 'variables': ['flow_timber_node37node9_t4', 'flow_timber_node37node5_t4', 'flow_timber_node37node2_t4', 'flow_timber_node37node23_t4', 'flow_timber_node37node22_t4', 'flow_timber_node37node6_t4', 'flow_timber_node37node19_t4', 'flow_timber_node37node21_t4', 'flow_timber_node37node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_825_t4', 'variables': ['flow_timber_node38node24_t4', 'flow_timber_node38node2_t4', 'flow_timber_node38node25_t4', 'flow_timber_node38node13_t4', 'flow_timber_node38node5_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1187_t4', 'variables': ['flow_timber_node39node13_t4', 'flow_timber_node39node1_t4', 'flow_timber_node39node27_t4', 'flow_timber_node39node9_t4', 'flow_timber_node39node24_t4', 'flow_timber_node39node25_t4', 'flow_timber_node39node7_t4', 'flow_timber_node39node10_t4', 'flow_timber_node39node5_t4', 'flow_timber_node39node16_t4', 'flow_timber_node39node11_t4', 'flow_timber_node39node26_t4', 'flow_timber_node39node18_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1348_t4', 'variables': ['flow_timber_node40node7_t4', 'flow_timber_node40node30_t4', 'flow_timber_node40node31_t4', 'flow_timber_node40node18_t4', 'flow_timber_node40node28_t4', 'flow_timber_node40node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1404_t4', 'variables': ['flow_timber_node41node32_t4', 'flow_timber_node41node16_t4', 'flow_timber_node41node33_t4', 'flow_timber_node41node10_t4', 'flow_timber_node41node26_t4', 'flow_timber_node41node1_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_827_t5', 'variables': ['flow_timber_node34node14_t5', 'flow_timber_node34node12_t5', 'flow_timber_node34node15_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1403_t5', 'variables': ['flow_timber_node35node8_t5', 'flow_timber_node35node12_t5', 'flow_timber_node35node14_t5', 'flow_timber_node35node3_t5', 'flow_timber_node35node4_t5', 'flow_timber_node35node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1402_t5', 'variables': ['flow_timber_node36node19_t5', 'flow_timber_node36node3_t5', 'flow_timber_node36node17_t5', 'flow_timber_node36node6_t5', 'flow_timber_node36node21_t5', 'flow_timber_node36node8_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_826_t5', 'variables': ['flow_timber_node37node9_t5', 'flow_timber_node37node5_t5', 'flow_timber_node37node2_t5', 'flow_timber_node37node23_t5', 'flow_timber_node37node22_t5', 'flow_timber_node37node6_t5', 'flow_timber_node37node19_t5', 'flow_timber_node37node21_t5', 'flow_timber_node37node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_825_t5', 'variables': ['flow_timber_node38node24_t5', 'flow_timber_node38node2_t5', 'flow_timber_node38node25_t5', 'flow_timber_node38node13_t5', 'flow_timber_node38node5_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1187_t5', 'variables': ['flow_timber_node39node13_t5', 'flow_timber_node39node1_t5', 'flow_timber_node39node27_t5', 'flow_timber_node39node9_t5', 'flow_timber_node39node24_t5', 'flow_timber_node39node25_t5', 'flow_timber_node39node7_t5', 'flow_timber_node39node10_t5', 'flow_timber_node39node5_t5', 'flow_timber_node39node16_t5', 'flow_timber_node39node11_t5', 'flow_timber_node39node26_t5', 'flow_timber_node39node18_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1348_t5', 'variables': ['flow_timber_node40node7_t5', 'flow_timber_node40node30_t5', 'flow_timber_node40node31_t5', 'flow_timber_node40node18_t5', 'flow_timber_node40node28_t5', 'flow_timber_node40node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1404_t5', 'variables': ['flow_timber_node41node32_t5', 'flow_timber_node41node16_t5', 'flow_timber_node41node33_t5', 'flow_timber_node41node10_t5', 'flow_timber_node41node26_t5', 'flow_timber_node41node1_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_827_t1', 'variables': ['flow_wide_node34node14_t1', 'flow_wide_node34node12_t1', 'flow_wide_node34node15_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1403_t1', 'variables': ['flow_wide_node35node8_t1', 'flow_wide_node35node12_t1', 'flow_wide_node35node14_t1', 'flow_wide_node35node3_t1', 'flow_wide_node35node4_t1', 'flow_wide_node35node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t1', 'variables': ['flow_wide_node36node19_t1', 'flow_wide_node36node3_t1', 'flow_wide_node36node17_t1', 'flow_wide_node36node6_t1', 'flow_wide_node36node21_t1', 'flow_wide_node36node8_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t1', 'variables': ['flow_wide_node37node9_t1', 'flow_wide_node37node5_t1', 'flow_wide_node37node2_t1', 'flow_wide_node37node23_t1', 'flow_wide_node37node22_t1', 'flow_wide_node37node6_t1', 'flow_wide_node37node19_t1', 'flow_wide_node37node21_t1', 'flow_wide_node37node17_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_825_t1', 'variables': ['flow_wide_node38node24_t1', 'flow_wide_node38node2_t1', 'flow_wide_node38node25_t1', 'flow_wide_node38node13_t1', 'flow_wide_node38node5_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1187_t1', 'variables': ['flow_wide_node39node13_t1', 'flow_wide_node39node1_t1', 'flow_wide_node39node27_t1', 'flow_wide_node39node9_t1', 'flow_wide_node39node24_t1', 'flow_wide_node39node25_t1', 'flow_wide_node39node7_t1', 'flow_wide_node39node10_t1', 'flow_wide_node39node5_t1', 'flow_wide_node39node16_t1', 'flow_wide_node39node11_t1', 'flow_wide_node39node26_t1', 'flow_wide_node39node18_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1348_t1', 'variables': ['flow_wide_node40node7_t1', 'flow_wide_node40node30_t1', 'flow_wide_node40node31_t1', 'flow_wide_node40node18_t1', 'flow_wide_node40node28_t1', 'flow_wide_node40node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1404_t1', 'variables': ['flow_wide_node41node32_t1', 'flow_wide_node41node16_t1', 'flow_wide_node41node33_t1', 'flow_wide_node41node10_t1', 'flow_wide_node41node26_t1', 'flow_wide_node41node1_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_827_t2', 'variables': ['flow_wide_node34node14_t2', 'flow_wide_node34node12_t2', 'flow_wide_node34node15_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1403_t2', 'variables': ['flow_wide_node35node8_t2', 'flow_wide_node35node12_t2', 'flow_wide_node35node14_t2', 'flow_wide_node35node3_t2', 'flow_wide_node35node4_t2', 'flow_wide_node35node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t2', 'variables': ['flow_wide_node36node19_t2', 'flow_wide_node36node3_t2', 'flow_wide_node36node17_t2', 'flow_wide_node36node6_t2', 'flow_wide_node36node21_t2', 'flow_wide_node36node8_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t2', 'variables': ['flow_wide_node37node9_t2', 'flow_wide_node37node5_t2', 'flow_wide_node37node2_t2', 'flow_wide_node37node23_t2', 'flow_wide_node37node22_t2', 'flow_wide_node37node6_t2', 'flow_wide_node37node19_t2', 'flow_wide_node37node21_t2', 'flow_wide_node37node17_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_825_t2', 'variables': ['flow_wide_node38node24_t2', 'flow_wide_node38node2_t2', 'flow_wide_node38node25_t2', 'flow_wide_node38node13_t2', 'flow_wide_node38node5_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1187_t2', 'variables': ['flow_wide_node39node13_t2', 'flow_wide_node39node1_t2', 'flow_wide_node39node27_t2', 'flow_wide_node39node9_t2', 'flow_wide_node39node24_t2', 'flow_wide_node39node25_t2', 'flow_wide_node39node7_t2', 'flow_wide_node39node10_t2', 'flow_wide_node39node5_t2', 'flow_wide_node39node16_t2', 'flow_wide_node39node11_t2', 'flow_wide_node39node26_t2', 'flow_wide_node39node18_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1348_t2', 'variables': ['flow_wide_node40node7_t2', 'flow_wide_node40node30_t2', 'flow_wide_node40node31_t2', 'flow_wide_node40node18_t2', 'flow_wide_node40node28_t2', 'flow_wide_node40node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1404_t2', 'variables': ['flow_wide_node41node32_t2', 'flow_wide_node41node16_t2', 'flow_wide_node41node33_t2', 'flow_wide_node41node10_t2', 'flow_wide_node41node26_t2', 'flow_wide_node41node1_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_827_t3', 'variables': ['flow_wide_node34node14_t3', 'flow_wide_node34node12_t3', 'flow_wide_node34node15_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1403_t3', 'variables': ['flow_wide_node35node8_t3', 'flow_wide_node35node12_t3', 'flow_wide_node35node14_t3', 'flow_wide_node35node3_t3', 'flow_wide_node35node4_t3', 'flow_wide_node35node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t3', 'variables': ['flow_wide_node36node19_t3', 'flow_wide_node36node3_t3', 'flow_wide_node36node17_t3', 'flow_wide_node36node6_t3', 'flow_wide_node36node21_t3', 'flow_wide_node36node8_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t3', 'variables': ['flow_wide_node37node9_t3', 'flow_wide_node37node5_t3', 'flow_wide_node37node2_t3', 'flow_wide_node37node23_t3', 'flow_wide_node37node22_t3', 'flow_wide_node37node6_t3', 'flow_wide_node37node19_t3', 'flow_wide_node37node21_t3', 'flow_wide_node37node17_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_825_t3', 'variables': ['flow_wide_node38node24_t3', 'flow_wide_node38node2_t3', 'flow_wide_node38node25_t3', 'flow_wide_node38node13_t3', 'flow_wide_node38node5_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1187_t3', 'variables': ['flow_wide_node39node13_t3', 'flow_wide_node39node1_t3', 'flow_wide_node39node27_t3', 'flow_wide_node39node9_t3', 'flow_wide_node39node24_t3', 'flow_wide_node39node25_t3', 'flow_wide_node39node7_t3', 'flow_wide_node39node10_t3', 'flow_wide_node39node5_t3', 'flow_wide_node39node16_t3', 'flow_wide_node39node11_t3', 'flow_wide_node39node26_t3', 'flow_wide_node39node18_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1348_t3', 'variables': ['flow_wide_node40node7_t3', 'flow_wide_node40node30_t3', 'flow_wide_node40node31_t3', 'flow_wide_node40node18_t3', 'flow_wide_node40node28_t3', 'flow_wide_node40node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1404_t3', 'variables': ['flow_wide_node41node32_t3', 'flow_wide_node41node16_t3', 'flow_wide_node41node33_t3', 'flow_wide_node41node10_t3', 'flow_wide_node41node26_t3', 'flow_wide_node41node1_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_827_t4', 'variables': ['flow_wide_node34node14_t4', 'flow_wide_node34node12_t4', 'flow_wide_node34node15_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1403_t4', 'variables': ['flow_wide_node35node8_t4', 'flow_wide_node35node12_t4', 'flow_wide_node35node14_t4', 'flow_wide_node35node3_t4', 'flow_wide_node35node4_t4', 'flow_wide_node35node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t4', 'variables': ['flow_wide_node36node19_t4', 'flow_wide_node36node3_t4', 'flow_wide_node36node17_t4', 'flow_wide_node36node6_t4', 'flow_wide_node36node21_t4', 'flow_wide_node36node8_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t4', 'variables': ['flow_wide_node37node9_t4', 'flow_wide_node37node5_t4', 'flow_wide_node37node2_t4', 'flow_wide_node37node23_t4', 'flow_wide_node37node22_t4', 'flow_wide_node37node6_t4', 'flow_wide_node37node19_t4', 'flow_wide_node37node21_t4', 'flow_wide_node37node17_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_825_t4', 'variables': ['flow_wide_node38node24_t4', 'flow_wide_node38node2_t4', 'flow_wide_node38node25_t4', 'flow_wide_node38node13_t4', 'flow_wide_node38node5_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1187_t4', 'variables': ['flow_wide_node39node13_t4', 'flow_wide_node39node1_t4', 'flow_wide_node39node27_t4', 'flow_wide_node39node9_t4', 'flow_wide_node39node24_t4', 'flow_wide_node39node25_t4', 'flow_wide_node39node7_t4', 'flow_wide_node39node10_t4', 'flow_wide_node39node5_t4', 'flow_wide_node39node16_t4', 'flow_wide_node39node11_t4', 'flow_wide_node39node26_t4', 'flow_wide_node39node18_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1348_t4', 'variables': ['flow_wide_node40node7_t4', 'flow_wide_node40node30_t4', 'flow_wide_node40node31_t4', 'flow_wide_node40node18_t4', 'flow_wide_node40node28_t4', 'flow_wide_node40node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1404_t4', 'variables': ['flow_wide_node41node32_t4', 'flow_wide_node41node16_t4', 'flow_wide_node41node33_t4', 'flow_wide_node41node10_t4', 'flow_wide_node41node26_t4', 'flow_wide_node41node1_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_827_t5', 'variables': ['flow_wide_node34node14_t5', 'flow_wide_node34node12_t5', 'flow_wide_node34node15_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1403_t5', 'variables': ['flow_wide_node35node8_t5', 'flow_wide_node35node12_t5', 'flow_wide_node35node14_t5', 'flow_wide_node35node3_t5', 'flow_wide_node35node4_t5', 'flow_wide_node35node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1402_t5', 'variables': ['flow_wide_node36node19_t5', 'flow_wide_node36node3_t5', 'flow_wide_node36node17_t5', 'flow_wide_node36node6_t5', 'flow_wide_node36node21_t5', 'flow_wide_node36node8_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_826_t5', 'variables': ['flow_wide_node37node9_t5', 'flow_wide_node37node5_t5', 'flow_wide_node37node2_t5', 'flow_wide_node37node23_t5', 'flow_wide_node37node22_t5', 'flow_wide_node37node6_t5', 'flow_wide_node37node19_t5', 'flow_wide_node37node21_t5', 'flow_wide_node37node17_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_825_t5', 'variables': ['flow_wide_node38node24_t5', 'flow_wide_node38node2_t5', 'flow_wide_node38node25_t5', 'flow_wide_node38node13_t5', 'flow_wide_node38node5_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1187_t5', 'variables': ['flow_wide_node39node13_t5', 'flow_wide_node39node1_t5', 'flow_wide_node39node27_t5', 'flow_wide_node39node9_t5', 'flow_wide_node39node24_t5', 'flow_wide_node39node25_t5', 'flow_wide_node39node7_t5', 'flow_wide_node39node10_t5', 'flow_wide_node39node5_t5', 'flow_wide_node39node16_t5', 'flow_wide_node39node11_t5', 'flow_wide_node39node26_t5', 'flow_wide_node39node18_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1348_t5', 'variables': ['flow_wide_node40node7_t5', 'flow_wide_node40node30_t5', 'flow_wide_node40node31_t5', 'flow_wide_node40node18_t5', 'flow_wide_node40node28_t5', 'flow_wide_node40node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1404_t5', 'variables': ['flow_wide_node41node32_t5', 'flow_wide_node41node16_t5', 'flow_wide_node41node33_t5', 'flow_wide_node41node10_t5', 'flow_wide_node41node26_t5', 'flow_wide_node41node1_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
