Constraint group: Constraint_outflow_iff_needroad
Total in this group: 10
Expected: 10

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_549_t1', 'variables': ['flow_timber_node4node3_t1', 'flow_timber_node4node2_t1', 'flow_timber_node4node1_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_549_t2', 'variables': ['flow_timber_node4node3_t2', 'flow_timber_node4node2_t2', 'flow_timber_node4node1_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_549_t3', 'variables': ['flow_timber_node4node3_t3', 'flow_timber_node4node2_t3', 'flow_timber_node4node1_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_549_t4', 'variables': ['flow_timber_node4node3_t4', 'flow_timber_node4node2_t4', 'flow_timber_node4node1_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_549_t5', 'variables': ['flow_timber_node4node3_t5', 'flow_timber_node4node2_t5', 'flow_timber_node4node1_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_549_t1', 'variables': ['flow_wide_node4node3_t1', 'flow_wide_node4node2_t1', 'flow_wide_node4node1_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_549_t2', 'variables': ['flow_wide_node4node3_t2', 'flow_wide_node4node2_t2', 'flow_wide_node4node1_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_549_t3', 'variables': ['flow_wide_node4node3_t3', 'flow_wide_node4node2_t3', 'flow_wide_node4node1_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_549_t4', 'variables': ['flow_wide_node4node3_t4', 'flow_wide_node4node2_t4', 'flow_wide_node4node1_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_549_t5', 'variables': ['flow_wide_node4node3_t5', 'flow_wide_node4node2_t5', 'flow_wide_node4node1_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
