Constraint group: Constraint_outflow_iff_needroad
Total in this group: 40
Expected: 40

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1554_t1', 'variables': ['flow_timber_node28node19_t1', 'flow_timber_node28node16_t1', 'flow_timber_node28node1_t1', 'flow_timber_node28node10_t1', 'flow_timber_node28node23_t1', 'flow_timber_node28node22_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1569_t1', 'variables': ['flow_timber_node29node17_t1', 'flow_timber_node29node7_t1', 'flow_timber_node29node16_t1', 'flow_timber_node29node22_t1', 'flow_timber_node29node4_t1', 'flow_timber_node29node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1586_t1', 'variables': ['flow_timber_node30node24_t1', 'flow_timber_node30node3_t1', 'flow_timber_node30node12_t1', 'flow_timber_node30node11_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1587_t1', 'variables': ['flow_timber_node31node12_t1', 'flow_timber_node31node24_t1', 'flow_timber_node31node23_t1', 'flow_timber_node31node19_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1554_t2', 'variables': ['flow_timber_node28node19_t2', 'flow_timber_node28node16_t2', 'flow_timber_node28node1_t2', 'flow_timber_node28node10_t2', 'flow_timber_node28node23_t2', 'flow_timber_node28node22_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1569_t2', 'variables': ['flow_timber_node29node17_t2', 'flow_timber_node29node7_t2', 'flow_timber_node29node16_t2', 'flow_timber_node29node22_t2', 'flow_timber_node29node4_t2', 'flow_timber_node29node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1586_t2', 'variables': ['flow_timber_node30node24_t2', 'flow_timber_node30node3_t2', 'flow_timber_node30node12_t2', 'flow_timber_node30node11_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1587_t2', 'variables': ['flow_timber_node31node12_t2', 'flow_timber_node31node24_t2', 'flow_timber_node31node23_t2', 'flow_timber_node31node19_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1554_t3', 'variables': ['flow_timber_node28node19_t3', 'flow_timber_node28node16_t3', 'flow_timber_node28node1_t3', 'flow_timber_node28node10_t3', 'flow_timber_node28node23_t3', 'flow_timber_node28node22_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1569_t3', 'variables': ['flow_timber_node29node17_t3', 'flow_timber_node29node7_t3', 'flow_timber_node29node16_t3', 'flow_timber_node29node22_t3', 'flow_timber_node29node4_t3', 'flow_timber_node29node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1586_t3', 'variables': ['flow_timber_node30node24_t3', 'flow_timber_node30node3_t3', 'flow_timber_node30node12_t3', 'flow_timber_node30node11_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1587_t3', 'variables': ['flow_timber_node31node12_t3', 'flow_timber_node31node24_t3', 'flow_timber_node31node23_t3', 'flow_timber_node31node19_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1554_t4', 'variables': ['flow_timber_node28node19_t4', 'flow_timber_node28node16_t4', 'flow_timber_node28node1_t4', 'flow_timber_node28node10_t4', 'flow_timber_node28node23_t4', 'flow_timber_node28node22_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1569_t4', 'variables': ['flow_timber_node29node17_t4', 'flow_timber_node29node7_t4', 'flow_timber_node29node16_t4', 'flow_timber_node29node22_t4', 'flow_timber_node29node4_t4', 'flow_timber_node29node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1586_t4', 'variables': ['flow_timber_node30node24_t4', 'flow_timber_node30node3_t4', 'flow_timber_node30node12_t4', 'flow_timber_node30node11_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1587_t4', 'variables': ['flow_timber_node31node12_t4', 'flow_timber_node31node24_t4', 'flow_timber_node31node23_t4', 'flow_timber_node31node19_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1554_t5', 'variables': ['flow_timber_node28node19_t5', 'flow_timber_node28node16_t5', 'flow_timber_node28node1_t5', 'flow_timber_node28node10_t5', 'flow_timber_node28node23_t5', 'flow_timber_node28node22_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1569_t5', 'variables': ['flow_timber_node29node17_t5', 'flow_timber_node29node7_t5', 'flow_timber_node29node16_t5', 'flow_timber_node29node22_t5', 'flow_timber_node29node4_t5', 'flow_timber_node29node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1586_t5', 'variables': ['flow_timber_node30node24_t5', 'flow_timber_node30node3_t5', 'flow_timber_node30node12_t5', 'flow_timber_node30node11_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1587_t5', 'variables': ['flow_timber_node31node12_t5', 'flow_timber_node31node24_t5', 'flow_timber_node31node23_t5', 'flow_timber_node31node19_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1554_t1', 'variables': ['flow_wide_node28node19_t1', 'flow_wide_node28node16_t1', 'flow_wide_node28node1_t1', 'flow_wide_node28node10_t1', 'flow_wide_node28node23_t1', 'flow_wide_node28node22_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1569_t1', 'variables': ['flow_wide_node29node17_t1', 'flow_wide_node29node7_t1', 'flow_wide_node29node16_t1', 'flow_wide_node29node22_t1', 'flow_wide_node29node4_t1', 'flow_wide_node29node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1586_t1', 'variables': ['flow_wide_node30node24_t1', 'flow_wide_node30node3_t1', 'flow_wide_node30node12_t1', 'flow_wide_node30node11_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1587_t1', 'variables': ['flow_wide_node31node12_t1', 'flow_wide_node31node24_t1', 'flow_wide_node31node23_t1', 'flow_wide_node31node19_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1554_t2', 'variables': ['flow_wide_node28node19_t2', 'flow_wide_node28node16_t2', 'flow_wide_node28node1_t2', 'flow_wide_node28node10_t2', 'flow_wide_node28node23_t2', 'flow_wide_node28node22_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1569_t2', 'variables': ['flow_wide_node29node17_t2', 'flow_wide_node29node7_t2', 'flow_wide_node29node16_t2', 'flow_wide_node29node22_t2', 'flow_wide_node29node4_t2', 'flow_wide_node29node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1586_t2', 'variables': ['flow_wide_node30node24_t2', 'flow_wide_node30node3_t2', 'flow_wide_node30node12_t2', 'flow_wide_node30node11_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1587_t2', 'variables': ['flow_wide_node31node12_t2', 'flow_wide_node31node24_t2', 'flow_wide_node31node23_t2', 'flow_wide_node31node19_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1554_t3', 'variables': ['flow_wide_node28node19_t3', 'flow_wide_node28node16_t3', 'flow_wide_node28node1_t3', 'flow_wide_node28node10_t3', 'flow_wide_node28node23_t3', 'flow_wide_node28node22_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1569_t3', 'variables': ['flow_wide_node29node17_t3', 'flow_wide_node29node7_t3', 'flow_wide_node29node16_t3', 'flow_wide_node29node22_t3', 'flow_wide_node29node4_t3', 'flow_wide_node29node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1586_t3', 'variables': ['flow_wide_node30node24_t3', 'flow_wide_node30node3_t3', 'flow_wide_node30node12_t3', 'flow_wide_node30node11_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1587_t3', 'variables': ['flow_wide_node31node12_t3', 'flow_wide_node31node24_t3', 'flow_wide_node31node23_t3', 'flow_wide_node31node19_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1554_t4', 'variables': ['flow_wide_node28node19_t4', 'flow_wide_node28node16_t4', 'flow_wide_node28node1_t4', 'flow_wide_node28node10_t4', 'flow_wide_node28node23_t4', 'flow_wide_node28node22_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1569_t4', 'variables': ['flow_wide_node29node17_t4', 'flow_wide_node29node7_t4', 'flow_wide_node29node16_t4', 'flow_wide_node29node22_t4', 'flow_wide_node29node4_t4', 'flow_wide_node29node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1586_t4', 'variables': ['flow_wide_node30node24_t4', 'flow_wide_node30node3_t4', 'flow_wide_node30node12_t4', 'flow_wide_node30node11_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1587_t4', 'variables': ['flow_wide_node31node12_t4', 'flow_wide_node31node24_t4', 'flow_wide_node31node23_t4', 'flow_wide_node31node19_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1554_t5', 'variables': ['flow_wide_node28node19_t5', 'flow_wide_node28node16_t5', 'flow_wide_node28node1_t5', 'flow_wide_node28node10_t5', 'flow_wide_node28node23_t5', 'flow_wide_node28node22_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1569_t5', 'variables': ['flow_wide_node29node17_t5', 'flow_wide_node29node7_t5', 'flow_wide_node29node16_t5', 'flow_wide_node29node22_t5', 'flow_wide_node29node4_t5', 'flow_wide_node29node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1586_t5', 'variables': ['flow_wide_node30node24_t5', 'flow_wide_node30node3_t5', 'flow_wide_node30node12_t5', 'flow_wide_node30node11_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1587_t5', 'variables': ['flow_wide_node31node12_t5', 'flow_wide_node31node24_t5', 'flow_wide_node31node23_t5', 'flow_wide_node31node19_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
