Constraint group: Constraint_outflow_iff_needroad
Total in this group: 60
Expected: 60

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_975_t1', 'variables': ['flow_timber_node49node28_t1', 'flow_timber_node49node26_t1', 'flow_timber_node49node17_t1', 'flow_timber_node49node24_t1', 'flow_timber_node49node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1032_t1', 'variables': ['flow_timber_node50node11_t1', 'flow_timber_node50node3_t1', 'flow_timber_node50node8_t1', 'flow_timber_node50node13_t1', 'flow_timber_node50node19_t1', 'flow_timber_node50node16_t1', 'flow_timber_node50node15_t1', 'flow_timber_node50node22_t1', 'flow_timber_node50node4_t1', 'flow_timber_node50node23_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1033_t1', 'variables': ['flow_timber_node51node10_t1', 'flow_timber_node51node21_t1', 'flow_timber_node51node22_t1', 'flow_timber_node51node14_t1', 'flow_timber_node51node3_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1036_t1', 'variables': ['flow_timber_node52node29_t1', 'flow_timber_node52node21_t1', 'flow_timber_node52node5_t1', 'flow_timber_node52node14_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1377_t1', 'variables': ['flow_timber_node53node30_t1', 'flow_timber_node53node4_t1', 'flow_timber_node53node16_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1378_t1', 'variables': ['flow_timber_node54node2_t1', 'flow_timber_node54node17_t1', 'flow_timber_node54node24_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_975_t2', 'variables': ['flow_timber_node49node28_t2', 'flow_timber_node49node26_t2', 'flow_timber_node49node17_t2', 'flow_timber_node49node24_t2', 'flow_timber_node49node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1032_t2', 'variables': ['flow_timber_node50node11_t2', 'flow_timber_node50node3_t2', 'flow_timber_node50node8_t2', 'flow_timber_node50node13_t2', 'flow_timber_node50node19_t2', 'flow_timber_node50node16_t2', 'flow_timber_node50node15_t2', 'flow_timber_node50node22_t2', 'flow_timber_node50node4_t2', 'flow_timber_node50node23_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1033_t2', 'variables': ['flow_timber_node51node10_t2', 'flow_timber_node51node21_t2', 'flow_timber_node51node22_t2', 'flow_timber_node51node14_t2', 'flow_timber_node51node3_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1036_t2', 'variables': ['flow_timber_node52node29_t2', 'flow_timber_node52node21_t2', 'flow_timber_node52node5_t2', 'flow_timber_node52node14_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1377_t2', 'variables': ['flow_timber_node53node30_t2', 'flow_timber_node53node4_t2', 'flow_timber_node53node16_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1378_t2', 'variables': ['flow_timber_node54node2_t2', 'flow_timber_node54node17_t2', 'flow_timber_node54node24_t2'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_975_t3', 'variables': ['flow_timber_node49node28_t3', 'flow_timber_node49node26_t3', 'flow_timber_node49node17_t3', 'flow_timber_node49node24_t3', 'flow_timber_node49node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1032_t3', 'variables': ['flow_timber_node50node11_t3', 'flow_timber_node50node3_t3', 'flow_timber_node50node8_t3', 'flow_timber_node50node13_t3', 'flow_timber_node50node19_t3', 'flow_timber_node50node16_t3', 'flow_timber_node50node15_t3', 'flow_timber_node50node22_t3', 'flow_timber_node50node4_t3', 'flow_timber_node50node23_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1033_t3', 'variables': ['flow_timber_node51node10_t3', 'flow_timber_node51node21_t3', 'flow_timber_node51node22_t3', 'flow_timber_node51node14_t3', 'flow_timber_node51node3_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1036_t3', 'variables': ['flow_timber_node52node29_t3', 'flow_timber_node52node21_t3', 'flow_timber_node52node5_t3', 'flow_timber_node52node14_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1377_t3', 'variables': ['flow_timber_node53node30_t3', 'flow_timber_node53node4_t3', 'flow_timber_node53node16_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1378_t3', 'variables': ['flow_timber_node54node2_t3', 'flow_timber_node54node17_t3', 'flow_timber_node54node24_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_975_t4', 'variables': ['flow_timber_node49node28_t4', 'flow_timber_node49node26_t4', 'flow_timber_node49node17_t4', 'flow_timber_node49node24_t4', 'flow_timber_node49node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1032_t4', 'variables': ['flow_timber_node50node11_t4', 'flow_timber_node50node3_t4', 'flow_timber_node50node8_t4', 'flow_timber_node50node13_t4', 'flow_timber_node50node19_t4', 'flow_timber_node50node16_t4', 'flow_timber_node50node15_t4', 'flow_timber_node50node22_t4', 'flow_timber_node50node4_t4', 'flow_timber_node50node23_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1033_t4', 'variables': ['flow_timber_node51node10_t4', 'flow_timber_node51node21_t4', 'flow_timber_node51node22_t4', 'flow_timber_node51node14_t4', 'flow_timber_node51node3_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1036_t4', 'variables': ['flow_timber_node52node29_t4', 'flow_timber_node52node21_t4', 'flow_timber_node52node5_t4', 'flow_timber_node52node14_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1377_t4', 'variables': ['flow_timber_node53node30_t4', 'flow_timber_node53node4_t4', 'flow_timber_node53node16_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1378_t4', 'variables': ['flow_timber_node54node2_t4', 'flow_timber_node54node17_t4', 'flow_timber_node54node24_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_975_t5', 'variables': ['flow_timber_node49node28_t5', 'flow_timber_node49node26_t5', 'flow_timber_node49node17_t5', 'flow_timber_node49node24_t5', 'flow_timber_node49node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1032_t5', 'variables': ['flow_timber_node50node11_t5', 'flow_timber_node50node3_t5', 'flow_timber_node50node8_t5', 'flow_timber_node50node13_t5', 'flow_timber_node50node19_t5', 'flow_timber_node50node16_t5', 'flow_timber_node50node15_t5', 'flow_timber_node50node22_t5', 'flow_timber_node50node4_t5', 'flow_timber_node50node23_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1033_t5', 'variables': ['flow_timber_node51node10_t5', 'flow_timber_node51node21_t5', 'flow_timber_node51node22_t5', 'flow_timber_node51node14_t5', 'flow_timber_node51node3_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1036_t5', 'variables': ['flow_timber_node52node29_t5', 'flow_timber_node52node21_t5', 'flow_timber_node52node5_t5', 'flow_timber_node52node14_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1377_t5', 'variables': ['flow_timber_node53node30_t5', 'flow_timber_node53node4_t5', 'flow_timber_node53node16_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1378_t5', 'variables': ['flow_timber_node54node2_t5', 'flow_timber_node54node17_t5', 'flow_timber_node54node24_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_975_t1', 'variables': ['flow_wide_node49node28_t1', 'flow_wide_node49node26_t1', 'flow_wide_node49node17_t1', 'flow_wide_node49node24_t1', 'flow_wide_node49node27_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1032_t1', 'variables': ['flow_wide_node50node11_t1', 'flow_wide_node50node3_t1', 'flow_wide_node50node8_t1', 'flow_wide_node50node13_t1', 'flow_wide_node50node19_t1', 'flow_wide_node50node16_t1', 'flow_wide_node50node15_t1', 'flow_wide_node50node22_t1', 'flow_wide_node50node4_t1', 'flow_wide_node50node23_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1033_t1', 'variables': ['flow_wide_node51node10_t1', 'flow_wide_node51node21_t1', 'flow_wide_node51node22_t1', 'flow_wide_node51node14_t1', 'flow_wide_node51node3_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1036_t1', 'variables': ['flow_wide_node52node29_t1', 'flow_wide_node52node21_t1', 'flow_wide_node52node5_t1', 'flow_wide_node52node14_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1377_t1', 'variables': ['flow_wide_node53node30_t1', 'flow_wide_node53node4_t1', 'flow_wide_node53node16_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1378_t1', 'variables': ['flow_wide_node54node2_t1', 'flow_wide_node54node17_t1', 'flow_wide_node54node24_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_975_t2', 'variables': ['flow_wide_node49node28_t2', 'flow_wide_node49node26_t2', 'flow_wide_node49node17_t2', 'flow_wide_node49node24_t2', 'flow_wide_node49node27_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1032_t2', 'variables': ['flow_wide_node50node11_t2', 'flow_wide_node50node3_t2', 'flow_wide_node50node8_t2', 'flow_wide_node50node13_t2', 'flow_wide_node50node19_t2', 'flow_wide_node50node16_t2', 'flow_wide_node50node15_t2', 'flow_wide_node50node22_t2', 'flow_wide_node50node4_t2', 'flow_wide_node50node23_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1033_t2', 'variables': ['flow_wide_node51node10_t2', 'flow_wide_node51node21_t2', 'flow_wide_node51node22_t2', 'flow_wide_node51node14_t2', 'flow_wide_node51node3_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1036_t2', 'variables': ['flow_wide_node52node29_t2', 'flow_wide_node52node21_t2', 'flow_wide_node52node5_t2', 'flow_wide_node52node14_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1377_t2', 'variables': ['flow_wide_node53node30_t2', 'flow_wide_node53node4_t2', 'flow_wide_node53node16_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1378_t2', 'variables': ['flow_wide_node54node2_t2', 'flow_wide_node54node17_t2', 'flow_wide_node54node24_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_975_t3', 'variables': ['flow_wide_node49node28_t3', 'flow_wide_node49node26_t3', 'flow_wide_node49node17_t3', 'flow_wide_node49node24_t3', 'flow_wide_node49node27_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1032_t3', 'variables': ['flow_wide_node50node11_t3', 'flow_wide_node50node3_t3', 'flow_wide_node50node8_t3', 'flow_wide_node50node13_t3', 'flow_wide_node50node19_t3', 'flow_wide_node50node16_t3', 'flow_wide_node50node15_t3', 'flow_wide_node50node22_t3', 'flow_wide_node50node4_t3', 'flow_wide_node50node23_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1033_t3', 'variables': ['flow_wide_node51node10_t3', 'flow_wide_node51node21_t3', 'flow_wide_node51node22_t3', 'flow_wide_node51node14_t3', 'flow_wide_node51node3_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1036_t3', 'variables': ['flow_wide_node52node29_t3', 'flow_wide_node52node21_t3', 'flow_wide_node52node5_t3', 'flow_wide_node52node14_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1377_t3', 'variables': ['flow_wide_node53node30_t3', 'flow_wide_node53node4_t3', 'flow_wide_node53node16_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1378_t3', 'variables': ['flow_wide_node54node2_t3', 'flow_wide_node54node17_t3', 'flow_wide_node54node24_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_975_t4', 'variables': ['flow_wide_node49node28_t4', 'flow_wide_node49node26_t4', 'flow_wide_node49node17_t4', 'flow_wide_node49node24_t4', 'flow_wide_node49node27_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1032_t4', 'variables': ['flow_wide_node50node11_t4', 'flow_wide_node50node3_t4', 'flow_wide_node50node8_t4', 'flow_wide_node50node13_t4', 'flow_wide_node50node19_t4', 'flow_wide_node50node16_t4', 'flow_wide_node50node15_t4', 'flow_wide_node50node22_t4', 'flow_wide_node50node4_t4', 'flow_wide_node50node23_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1033_t4', 'variables': ['flow_wide_node51node10_t4', 'flow_wide_node51node21_t4', 'flow_wide_node51node22_t4', 'flow_wide_node51node14_t4', 'flow_wide_node51node3_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1036_t4', 'variables': ['flow_wide_node52node29_t4', 'flow_wide_node52node21_t4', 'flow_wide_node52node5_t4', 'flow_wide_node52node14_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1377_t4', 'variables': ['flow_wide_node53node30_t4', 'flow_wide_node53node4_t4', 'flow_wide_node53node16_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1378_t4', 'variables': ['flow_wide_node54node2_t4', 'flow_wide_node54node17_t4', 'flow_wide_node54node24_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_975_t5', 'variables': ['flow_wide_node49node28_t5', 'flow_wide_node49node26_t5', 'flow_wide_node49node17_t5', 'flow_wide_node49node24_t5', 'flow_wide_node49node27_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1032_t5', 'variables': ['flow_wide_node50node11_t5', 'flow_wide_node50node3_t5', 'flow_wide_node50node8_t5', 'flow_wide_node50node13_t5', 'flow_wide_node50node19_t5', 'flow_wide_node50node16_t5', 'flow_wide_node50node15_t5', 'flow_wide_node50node22_t5', 'flow_wide_node50node4_t5', 'flow_wide_node50node23_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1033_t5', 'variables': ['flow_wide_node51node10_t5', 'flow_wide_node51node21_t5', 'flow_wide_node51node22_t5', 'flow_wide_node51node14_t5', 'flow_wide_node51node3_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1036_t5', 'variables': ['flow_wide_node52node29_t5', 'flow_wide_node52node21_t5', 'flow_wide_node52node5_t5', 'flow_wide_node52node14_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1377_t5', 'variables': ['flow_wide_node53node30_t5', 'flow_wide_node53node4_t5', 'flow_wide_node53node16_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1378_t5', 'variables': ['flow_wide_node54node2_t5', 'flow_wide_node54node17_t5', 'flow_wide_node54node24_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
