Constraint group: Constraint_outflow_iff_needroad
Total in this group: 50
Expected: 50

Constraints:
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_846_t1', 'variables': ['flow_timber_node26node20_t1', 'flow_timber_node26node10_t1', 'flow_timber_node26node11_t1', 'flow_timber_node26node17_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_847_t1', 'variables': ['flow_timber_node27node13_t1', 'flow_timber_node27node20_t1', 'flow_timber_node27node8_t1', 'flow_timber_node27node9_t1', 'flow_timber_node27node10_t1', 'flow_timber_node27node14_t1', 'flow_timber_node27node6_t1', 'flow_timber_node27node3_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_848_t1', 'variables': ['flow_timber_node28node1_t1', 'flow_timber_node28node20_t1', 'flow_timber_node28node17_t1', 'flow_timber_node28node14_t1', 'flow_timber_node28node15_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1299_t1', 'variables': ['flow_timber_node29node16_t1', 'flow_timber_node29node4_t1', 'flow_timber_node29node5_t1'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1556_t1', 'variables': ['flow_timber_node30node8_t1', 'flow_timber_node30node10_t1', 'flow_timber_node30node11_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_846_t2', 'variables': ['flow_timber_node26node20_t2', 'flow_timber_node26node10_t2', 'flow_timber_node26node11_t2', 'flow_timber_node26node17_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_847_t2', 'variables': ['flow_timber_node27node13_t2', 'flow_timber_node27node20_t2', 'flow_timber_node27node8_t2', 'flow_timber_node27node9_t2', 'flow_timber_node27node10_t2', 'flow_timber_node27node14_t2', 'flow_timber_node27node6_t2', 'flow_timber_node27node3_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_848_t2', 'variables': ['flow_timber_node28node1_t2', 'flow_timber_node28node20_t2', 'flow_timber_node28node17_t2', 'flow_timber_node28node14_t2', 'flow_timber_node28node15_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1299_t2', 'variables': ['flow_timber_node29node16_t2', 'flow_timber_node29node4_t2', 'flow_timber_node29node5_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1556_t2', 'variables': ['flow_timber_node30node8_t2', 'flow_timber_node30node10_t2', 'flow_timber_node30node11_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_846_t3', 'variables': ['flow_timber_node26node20_t3', 'flow_timber_node26node10_t3', 'flow_timber_node26node11_t3', 'flow_timber_node26node17_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_847_t3', 'variables': ['flow_timber_node27node13_t3', 'flow_timber_node27node20_t3', 'flow_timber_node27node8_t3', 'flow_timber_node27node9_t3', 'flow_timber_node27node10_t3', 'flow_timber_node27node14_t3', 'flow_timber_node27node6_t3', 'flow_timber_node27node3_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_848_t3', 'variables': ['flow_timber_node28node1_t3', 'flow_timber_node28node20_t3', 'flow_timber_node28node17_t3', 'flow_timber_node28node14_t3', 'flow_timber_node28node15_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1299_t3', 'variables': ['flow_timber_node29node16_t3', 'flow_timber_node29node4_t3', 'flow_timber_node29node5_t3'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1556_t3', 'variables': ['flow_timber_node30node8_t3', 'flow_timber_node30node10_t3', 'flow_timber_node30node11_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_846_t4', 'variables': ['flow_timber_node26node20_t4', 'flow_timber_node26node10_t4', 'flow_timber_node26node11_t4', 'flow_timber_node26node17_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_847_t4', 'variables': ['flow_timber_node27node13_t4', 'flow_timber_node27node20_t4', 'flow_timber_node27node8_t4', 'flow_timber_node27node9_t4', 'flow_timber_node27node10_t4', 'flow_timber_node27node14_t4', 'flow_timber_node27node6_t4', 'flow_timber_node27node3_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_848_t4', 'variables': ['flow_timber_node28node1_t4', 'flow_timber_node28node20_t4', 'flow_timber_node28node17_t4', 'flow_timber_node28node14_t4', 'flow_timber_node28node15_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1299_t4', 'variables': ['flow_timber_node29node16_t4', 'flow_timber_node29node4_t4', 'flow_timber_node29node5_t4'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1556_t4', 'variables': ['flow_timber_node30node8_t4', 'flow_timber_node30node10_t4', 'flow_timber_node30node11_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_846_t5', 'variables': ['flow_timber_node26node20_t5', 'flow_timber_node26node10_t5', 'flow_timber_node26node11_t5', 'flow_timber_node26node17_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_847_t5', 'variables': ['flow_timber_node27node13_t5', 'flow_timber_node27node20_t5', 'flow_timber_node27node8_t5', 'flow_timber_node27node9_t5', 'flow_timber_node27node10_t5', 'flow_timber_node27node14_t5', 'flow_timber_node27node6_t5', 'flow_timber_node27node3_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_848_t5', 'variables': ['flow_timber_node28node1_t5', 'flow_timber_node28node20_t5', 'flow_timber_node28node17_t5', 'flow_timber_node28node14_t5', 'flow_timber_node28node15_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1299_t5', 'variables': ['flow_timber_node29node16_t5', 'flow_timber_node29node4_t5', 'flow_timber_node29node5_t5'], 'coefficients': [1, 1, 1], 'rhs': 1}
{'constraint_name': 'Constraint_outflow_iff_needroad_timber_1556_t5', 'variables': ['flow_timber_node30node8_t5', 'flow_timber_node30node10_t5', 'flow_timber_node30node11_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_846_t1', 'variables': ['flow_wide_node26node20_t1', 'flow_wide_node26node10_t1', 'flow_wide_node26node11_t1', 'flow_wide_node26node17_t1'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_847_t1', 'variables': ['flow_wide_node27node13_t1', 'flow_wide_node27node20_t1', 'flow_wide_node27node8_t1', 'flow_wide_node27node9_t1', 'flow_wide_node27node10_t1', 'flow_wide_node27node14_t1', 'flow_wide_node27node6_t1', 'flow_wide_node27node3_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_848_t1', 'variables': ['flow_wide_node28node1_t1', 'flow_wide_node28node20_t1', 'flow_wide_node28node17_t1', 'flow_wide_node28node14_t1', 'flow_wide_node28node15_t1'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1299_t1', 'variables': ['flow_wide_node29node16_t1', 'flow_wide_node29node4_t1', 'flow_wide_node29node5_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1556_t1', 'variables': ['flow_wide_node30node8_t1', 'flow_wide_node30node10_t1', 'flow_wide_node30node11_t1'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_846_t2', 'variables': ['flow_wide_node26node20_t2', 'flow_wide_node26node10_t2', 'flow_wide_node26node11_t2', 'flow_wide_node26node17_t2'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_847_t2', 'variables': ['flow_wide_node27node13_t2', 'flow_wide_node27node20_t2', 'flow_wide_node27node8_t2', 'flow_wide_node27node9_t2', 'flow_wide_node27node10_t2', 'flow_wide_node27node14_t2', 'flow_wide_node27node6_t2', 'flow_wide_node27node3_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_848_t2', 'variables': ['flow_wide_node28node1_t2', 'flow_wide_node28node20_t2', 'flow_wide_node28node17_t2', 'flow_wide_node28node14_t2', 'flow_wide_node28node15_t2'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1299_t2', 'variables': ['flow_wide_node29node16_t2', 'flow_wide_node29node4_t2', 'flow_wide_node29node5_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1556_t2', 'variables': ['flow_wide_node30node8_t2', 'flow_wide_node30node10_t2', 'flow_wide_node30node11_t2'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_846_t3', 'variables': ['flow_wide_node26node20_t3', 'flow_wide_node26node10_t3', 'flow_wide_node26node11_t3', 'flow_wide_node26node17_t3'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_847_t3', 'variables': ['flow_wide_node27node13_t3', 'flow_wide_node27node20_t3', 'flow_wide_node27node8_t3', 'flow_wide_node27node9_t3', 'flow_wide_node27node10_t3', 'flow_wide_node27node14_t3', 'flow_wide_node27node6_t3', 'flow_wide_node27node3_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_848_t3', 'variables': ['flow_wide_node28node1_t3', 'flow_wide_node28node20_t3', 'flow_wide_node28node17_t3', 'flow_wide_node28node14_t3', 'flow_wide_node28node15_t3'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1299_t3', 'variables': ['flow_wide_node29node16_t3', 'flow_wide_node29node4_t3', 'flow_wide_node29node5_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1556_t3', 'variables': ['flow_wide_node30node8_t3', 'flow_wide_node30node10_t3', 'flow_wide_node30node11_t3'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_846_t4', 'variables': ['flow_wide_node26node20_t4', 'flow_wide_node26node10_t4', 'flow_wide_node26node11_t4', 'flow_wide_node26node17_t4'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_847_t4', 'variables': ['flow_wide_node27node13_t4', 'flow_wide_node27node20_t4', 'flow_wide_node27node8_t4', 'flow_wide_node27node9_t4', 'flow_wide_node27node10_t4', 'flow_wide_node27node14_t4', 'flow_wide_node27node6_t4', 'flow_wide_node27node3_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_848_t4', 'variables': ['flow_wide_node28node1_t4', 'flow_wide_node28node20_t4', 'flow_wide_node28node17_t4', 'flow_wide_node28node14_t4', 'flow_wide_node28node15_t4'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1299_t4', 'variables': ['flow_wide_node29node16_t4', 'flow_wide_node29node4_t4', 'flow_wide_node29node5_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1556_t4', 'variables': ['flow_wide_node30node8_t4', 'flow_wide_node30node10_t4', 'flow_wide_node30node11_t4'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_846_t5', 'variables': ['flow_wide_node26node20_t5', 'flow_wide_node26node10_t5', 'flow_wide_node26node11_t5', 'flow_wide_node26node17_t5'], 'coefficients': [1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_847_t5', 'variables': ['flow_wide_node27node13_t5', 'flow_wide_node27node20_t5', 'flow_wide_node27node8_t5', 'flow_wide_node27node9_t5', 'flow_wide_node27node10_t5', 'flow_wide_node27node14_t5', 'flow_wide_node27node6_t5', 'flow_wide_node27node3_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_848_t5', 'variables': ['flow_wide_node28node1_t5', 'flow_wide_node28node20_t5', 'flow_wide_node28node17_t5', 'flow_wide_node28node14_t5', 'flow_wide_node28node15_t5'], 'coefficients': [1, 1, 1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1299_t5', 'variables': ['flow_wide_node29node16_t5', 'flow_wide_node29node4_t5', 'flow_wide_node29node5_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
{'constraint_name': 'Constraint_outflow_iff_needroad_wide_1556_t5', 'variables': ['flow_wide_node30node8_t5', 'flow_wide_node30node10_t5', 'flow_wide_node30node11_t5'], 'coefficients': [1, 1, 1], 'rhs': 0}
