Constraint group: Constraint_no_inflow_source
Total in this group: 10
Expected: 10

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1508_1', 'variables': ['flow_timber_node7node19_t1', 'flow_timber_node10node19_t1', 'flow_timber_node4node19_t1', 'flow_timber_node9node19_t1', 'flow_wide_node7node19_t1', 'flow_wide_node10node19_t1', 'flow_wide_node4node19_t1', 'flow_wide_node9node19_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1318_1', 'variables': ['flow_timber_node4node20_t1', 'flow_timber_node3node20_t1', 'flow_timber_node6node20_t1', 'flow_timber_node10node20_t1', 'flow_wide_node4node20_t1', 'flow_wide_node3node20_t1', 'flow_wide_node6node20_t1', 'flow_wide_node10node20_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1508_2', 'variables': ['flow_timber_node7node19_t2', 'flow_timber_node10node19_t2', 'flow_timber_node4node19_t2', 'flow_timber_node9node19_t2', 'flow_wide_node7node19_t2', 'flow_wide_node10node19_t2', 'flow_wide_node4node19_t2', 'flow_wide_node9node19_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1318_2', 'variables': ['flow_timber_node4node20_t2', 'flow_timber_node3node20_t2', 'flow_timber_node6node20_t2', 'flow_timber_node10node20_t2', 'flow_wide_node4node20_t2', 'flow_wide_node3node20_t2', 'flow_wide_node6node20_t2', 'flow_wide_node10node20_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1508_3', 'variables': ['flow_timber_node7node19_t3', 'flow_timber_node10node19_t3', 'flow_timber_node4node19_t3', 'flow_timber_node9node19_t3', 'flow_wide_node7node19_t3', 'flow_wide_node10node19_t3', 'flow_wide_node4node19_t3', 'flow_wide_node9node19_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1318_3', 'variables': ['flow_timber_node4node20_t3', 'flow_timber_node3node20_t3', 'flow_timber_node6node20_t3', 'flow_timber_node10node20_t3', 'flow_wide_node4node20_t3', 'flow_wide_node3node20_t3', 'flow_wide_node6node20_t3', 'flow_wide_node10node20_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1508_4', 'variables': ['flow_timber_node7node19_t4', 'flow_timber_node10node19_t4', 'flow_timber_node4node19_t4', 'flow_timber_node9node19_t4', 'flow_wide_node7node19_t4', 'flow_wide_node10node19_t4', 'flow_wide_node4node19_t4', 'flow_wide_node9node19_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1318_4', 'variables': ['flow_timber_node4node20_t4', 'flow_timber_node3node20_t4', 'flow_timber_node6node20_t4', 'flow_timber_node10node20_t4', 'flow_wide_node4node20_t4', 'flow_wide_node3node20_t4', 'flow_wide_node6node20_t4', 'flow_wide_node10node20_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1508_5', 'variables': ['flow_timber_node7node19_t5', 'flow_timber_node10node19_t5', 'flow_timber_node4node19_t5', 'flow_timber_node9node19_t5', 'flow_wide_node7node19_t5', 'flow_wide_node10node19_t5', 'flow_wide_node4node19_t5', 'flow_wide_node9node19_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1318_5', 'variables': ['flow_timber_node4node20_t5', 'flow_timber_node3node20_t5', 'flow_timber_node6node20_t5', 'flow_timber_node10node20_t5', 'flow_wide_node4node20_t5', 'flow_wide_node3node20_t5', 'flow_wide_node6node20_t5', 'flow_wide_node10node20_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
