Constraint group: Constraint_no_inflow_source
Total in this group: 30
Expected: 30

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_1412_1', 'variables': ['flow_timber_node34node63_t1', 'flow_timber_node22node63_t1', 'flow_timber_node17node63_t1', 'flow_timber_node45node63_t1', 'flow_timber_node8node63_t1', 'flow_timber_node19node63_t1', 'flow_wide_node34node63_t1', 'flow_wide_node22node63_t1', 'flow_wide_node17node63_t1', 'flow_wide_node45node63_t1', 'flow_wide_node8node63_t1', 'flow_wide_node19node63_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1413_1', 'variables': ['flow_timber_node6node64_t1', 'flow_timber_node31node64_t1', 'flow_timber_node27node64_t1', 'flow_wide_node6node64_t1', 'flow_wide_node31node64_t1', 'flow_wide_node27node64_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1061_1', 'variables': ['flow_timber_node47node65_t1', 'flow_timber_node31node65_t1', 'flow_timber_node13node65_t1', 'flow_timber_node12node65_t1', 'flow_timber_node27node65_t1', 'flow_wide_node47node65_t1', 'flow_wide_node31node65_t1', 'flow_wide_node13node65_t1', 'flow_wide_node12node65_t1', 'flow_wide_node27node65_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1176_1', 'variables': ['flow_timber_node10node66_t1', 'flow_timber_node35node66_t1', 'flow_timber_node32node66_t1', 'flow_timber_node34node66_t1', 'flow_timber_node9node66_t1', 'flow_timber_node45node66_t1', 'flow_timber_node2node66_t1', 'flow_wide_node10node66_t1', 'flow_wide_node35node66_t1', 'flow_wide_node32node66_t1', 'flow_wide_node34node66_t1', 'flow_wide_node9node66_t1', 'flow_wide_node45node66_t1', 'flow_wide_node2node66_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1359_1', 'variables': ['flow_timber_node6node67_t1', 'flow_timber_node24node67_t1', 'flow_timber_node7node67_t1', 'flow_timber_node8node67_t1', 'flow_timber_node37node67_t1', 'flow_timber_node32node67_t1', 'flow_timber_node14node67_t1', 'flow_timber_node16node67_t1', 'flow_timber_node34node67_t1', 'flow_timber_node27node67_t1', 'flow_timber_node1node67_t1', 'flow_timber_node12node67_t1', 'flow_wide_node6node67_t1', 'flow_wide_node24node67_t1', 'flow_wide_node7node67_t1', 'flow_wide_node8node67_t1', 'flow_wide_node37node67_t1', 'flow_wide_node32node67_t1', 'flow_wide_node14node67_t1', 'flow_wide_node16node67_t1', 'flow_wide_node34node67_t1', 'flow_wide_node27node67_t1', 'flow_wide_node1node67_t1', 'flow_wide_node12node67_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1360_1', 'variables': ['flow_timber_node24node68_t1', 'flow_timber_node8node68_t1', 'flow_timber_node22node68_t1', 'flow_wide_node24node68_t1', 'flow_wide_node8node68_t1', 'flow_wide_node22node68_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1412_2', 'variables': ['flow_timber_node34node63_t2', 'flow_timber_node22node63_t2', 'flow_timber_node17node63_t2', 'flow_timber_node45node63_t2', 'flow_timber_node8node63_t2', 'flow_timber_node19node63_t2', 'flow_wide_node34node63_t2', 'flow_wide_node22node63_t2', 'flow_wide_node17node63_t2', 'flow_wide_node45node63_t2', 'flow_wide_node8node63_t2', 'flow_wide_node19node63_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1413_2', 'variables': ['flow_timber_node6node64_t2', 'flow_timber_node31node64_t2', 'flow_timber_node27node64_t2', 'flow_wide_node6node64_t2', 'flow_wide_node31node64_t2', 'flow_wide_node27node64_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1061_2', 'variables': ['flow_timber_node47node65_t2', 'flow_timber_node31node65_t2', 'flow_timber_node13node65_t2', 'flow_timber_node12node65_t2', 'flow_timber_node27node65_t2', 'flow_wide_node47node65_t2', 'flow_wide_node31node65_t2', 'flow_wide_node13node65_t2', 'flow_wide_node12node65_t2', 'flow_wide_node27node65_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1176_2', 'variables': ['flow_timber_node10node66_t2', 'flow_timber_node35node66_t2', 'flow_timber_node32node66_t2', 'flow_timber_node34node66_t2', 'flow_timber_node9node66_t2', 'flow_timber_node45node66_t2', 'flow_timber_node2node66_t2', 'flow_wide_node10node66_t2', 'flow_wide_node35node66_t2', 'flow_wide_node32node66_t2', 'flow_wide_node34node66_t2', 'flow_wide_node9node66_t2', 'flow_wide_node45node66_t2', 'flow_wide_node2node66_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1359_2', 'variables': ['flow_timber_node6node67_t2', 'flow_timber_node24node67_t2', 'flow_timber_node7node67_t2', 'flow_timber_node8node67_t2', 'flow_timber_node37node67_t2', 'flow_timber_node32node67_t2', 'flow_timber_node14node67_t2', 'flow_timber_node16node67_t2', 'flow_timber_node34node67_t2', 'flow_timber_node27node67_t2', 'flow_timber_node1node67_t2', 'flow_timber_node12node67_t2', 'flow_wide_node6node67_t2', 'flow_wide_node24node67_t2', 'flow_wide_node7node67_t2', 'flow_wide_node8node67_t2', 'flow_wide_node37node67_t2', 'flow_wide_node32node67_t2', 'flow_wide_node14node67_t2', 'flow_wide_node16node67_t2', 'flow_wide_node34node67_t2', 'flow_wide_node27node67_t2', 'flow_wide_node1node67_t2', 'flow_wide_node12node67_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1360_2', 'variables': ['flow_timber_node24node68_t2', 'flow_timber_node8node68_t2', 'flow_timber_node22node68_t2', 'flow_wide_node24node68_t2', 'flow_wide_node8node68_t2', 'flow_wide_node22node68_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1412_3', 'variables': ['flow_timber_node34node63_t3', 'flow_timber_node22node63_t3', 'flow_timber_node17node63_t3', 'flow_timber_node45node63_t3', 'flow_timber_node8node63_t3', 'flow_timber_node19node63_t3', 'flow_wide_node34node63_t3', 'flow_wide_node22node63_t3', 'flow_wide_node17node63_t3', 'flow_wide_node45node63_t3', 'flow_wide_node8node63_t3', 'flow_wide_node19node63_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1413_3', 'variables': ['flow_timber_node6node64_t3', 'flow_timber_node31node64_t3', 'flow_timber_node27node64_t3', 'flow_wide_node6node64_t3', 'flow_wide_node31node64_t3', 'flow_wide_node27node64_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1061_3', 'variables': ['flow_timber_node47node65_t3', 'flow_timber_node31node65_t3', 'flow_timber_node13node65_t3', 'flow_timber_node12node65_t3', 'flow_timber_node27node65_t3', 'flow_wide_node47node65_t3', 'flow_wide_node31node65_t3', 'flow_wide_node13node65_t3', 'flow_wide_node12node65_t3', 'flow_wide_node27node65_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1176_3', 'variables': ['flow_timber_node10node66_t3', 'flow_timber_node35node66_t3', 'flow_timber_node32node66_t3', 'flow_timber_node34node66_t3', 'flow_timber_node9node66_t3', 'flow_timber_node45node66_t3', 'flow_timber_node2node66_t3', 'flow_wide_node10node66_t3', 'flow_wide_node35node66_t3', 'flow_wide_node32node66_t3', 'flow_wide_node34node66_t3', 'flow_wide_node9node66_t3', 'flow_wide_node45node66_t3', 'flow_wide_node2node66_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1359_3', 'variables': ['flow_timber_node6node67_t3', 'flow_timber_node24node67_t3', 'flow_timber_node7node67_t3', 'flow_timber_node8node67_t3', 'flow_timber_node37node67_t3', 'flow_timber_node32node67_t3', 'flow_timber_node14node67_t3', 'flow_timber_node16node67_t3', 'flow_timber_node34node67_t3', 'flow_timber_node27node67_t3', 'flow_timber_node1node67_t3', 'flow_timber_node12node67_t3', 'flow_wide_node6node67_t3', 'flow_wide_node24node67_t3', 'flow_wide_node7node67_t3', 'flow_wide_node8node67_t3', 'flow_wide_node37node67_t3', 'flow_wide_node32node67_t3', 'flow_wide_node14node67_t3', 'flow_wide_node16node67_t3', 'flow_wide_node34node67_t3', 'flow_wide_node27node67_t3', 'flow_wide_node1node67_t3', 'flow_wide_node12node67_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1360_3', 'variables': ['flow_timber_node24node68_t3', 'flow_timber_node8node68_t3', 'flow_timber_node22node68_t3', 'flow_wide_node24node68_t3', 'flow_wide_node8node68_t3', 'flow_wide_node22node68_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1412_4', 'variables': ['flow_timber_node34node63_t4', 'flow_timber_node22node63_t4', 'flow_timber_node17node63_t4', 'flow_timber_node45node63_t4', 'flow_timber_node8node63_t4', 'flow_timber_node19node63_t4', 'flow_wide_node34node63_t4', 'flow_wide_node22node63_t4', 'flow_wide_node17node63_t4', 'flow_wide_node45node63_t4', 'flow_wide_node8node63_t4', 'flow_wide_node19node63_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1413_4', 'variables': ['flow_timber_node6node64_t4', 'flow_timber_node31node64_t4', 'flow_timber_node27node64_t4', 'flow_wide_node6node64_t4', 'flow_wide_node31node64_t4', 'flow_wide_node27node64_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1061_4', 'variables': ['flow_timber_node47node65_t4', 'flow_timber_node31node65_t4', 'flow_timber_node13node65_t4', 'flow_timber_node12node65_t4', 'flow_timber_node27node65_t4', 'flow_wide_node47node65_t4', 'flow_wide_node31node65_t4', 'flow_wide_node13node65_t4', 'flow_wide_node12node65_t4', 'flow_wide_node27node65_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1176_4', 'variables': ['flow_timber_node10node66_t4', 'flow_timber_node35node66_t4', 'flow_timber_node32node66_t4', 'flow_timber_node34node66_t4', 'flow_timber_node9node66_t4', 'flow_timber_node45node66_t4', 'flow_timber_node2node66_t4', 'flow_wide_node10node66_t4', 'flow_wide_node35node66_t4', 'flow_wide_node32node66_t4', 'flow_wide_node34node66_t4', 'flow_wide_node9node66_t4', 'flow_wide_node45node66_t4', 'flow_wide_node2node66_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1359_4', 'variables': ['flow_timber_node6node67_t4', 'flow_timber_node24node67_t4', 'flow_timber_node7node67_t4', 'flow_timber_node8node67_t4', 'flow_timber_node37node67_t4', 'flow_timber_node32node67_t4', 'flow_timber_node14node67_t4', 'flow_timber_node16node67_t4', 'flow_timber_node34node67_t4', 'flow_timber_node27node67_t4', 'flow_timber_node1node67_t4', 'flow_timber_node12node67_t4', 'flow_wide_node6node67_t4', 'flow_wide_node24node67_t4', 'flow_wide_node7node67_t4', 'flow_wide_node8node67_t4', 'flow_wide_node37node67_t4', 'flow_wide_node32node67_t4', 'flow_wide_node14node67_t4', 'flow_wide_node16node67_t4', 'flow_wide_node34node67_t4', 'flow_wide_node27node67_t4', 'flow_wide_node1node67_t4', 'flow_wide_node12node67_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1360_4', 'variables': ['flow_timber_node24node68_t4', 'flow_timber_node8node68_t4', 'flow_timber_node22node68_t4', 'flow_wide_node24node68_t4', 'flow_wide_node8node68_t4', 'flow_wide_node22node68_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1412_5', 'variables': ['flow_timber_node34node63_t5', 'flow_timber_node22node63_t5', 'flow_timber_node17node63_t5', 'flow_timber_node45node63_t5', 'flow_timber_node8node63_t5', 'flow_timber_node19node63_t5', 'flow_wide_node34node63_t5', 'flow_wide_node22node63_t5', 'flow_wide_node17node63_t5', 'flow_wide_node45node63_t5', 'flow_wide_node8node63_t5', 'flow_wide_node19node63_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1413_5', 'variables': ['flow_timber_node6node64_t5', 'flow_timber_node31node64_t5', 'flow_timber_node27node64_t5', 'flow_wide_node6node64_t5', 'flow_wide_node31node64_t5', 'flow_wide_node27node64_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1061_5', 'variables': ['flow_timber_node47node65_t5', 'flow_timber_node31node65_t5', 'flow_timber_node13node65_t5', 'flow_timber_node12node65_t5', 'flow_timber_node27node65_t5', 'flow_wide_node47node65_t5', 'flow_wide_node31node65_t5', 'flow_wide_node13node65_t5', 'flow_wide_node12node65_t5', 'flow_wide_node27node65_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1176_5', 'variables': ['flow_timber_node10node66_t5', 'flow_timber_node35node66_t5', 'flow_timber_node32node66_t5', 'flow_timber_node34node66_t5', 'flow_timber_node9node66_t5', 'flow_timber_node45node66_t5', 'flow_timber_node2node66_t5', 'flow_wide_node10node66_t5', 'flow_wide_node35node66_t5', 'flow_wide_node32node66_t5', 'flow_wide_node34node66_t5', 'flow_wide_node9node66_t5', 'flow_wide_node45node66_t5', 'flow_wide_node2node66_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1359_5', 'variables': ['flow_timber_node6node67_t5', 'flow_timber_node24node67_t5', 'flow_timber_node7node67_t5', 'flow_timber_node8node67_t5', 'flow_timber_node37node67_t5', 'flow_timber_node32node67_t5', 'flow_timber_node14node67_t5', 'flow_timber_node16node67_t5', 'flow_timber_node34node67_t5', 'flow_timber_node27node67_t5', 'flow_timber_node1node67_t5', 'flow_timber_node12node67_t5', 'flow_wide_node6node67_t5', 'flow_wide_node24node67_t5', 'flow_wide_node7node67_t5', 'flow_wide_node8node67_t5', 'flow_wide_node37node67_t5', 'flow_wide_node32node67_t5', 'flow_wide_node14node67_t5', 'flow_wide_node16node67_t5', 'flow_wide_node34node67_t5', 'flow_wide_node27node67_t5', 'flow_wide_node1node67_t5', 'flow_wide_node12node67_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1360_5', 'variables': ['flow_timber_node24node68_t5', 'flow_timber_node8node68_t5', 'flow_timber_node22node68_t5', 'flow_wide_node24node68_t5', 'flow_wide_node8node68_t5', 'flow_wide_node22node68_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
