Constraint group: Constraint_no_inflow_source
Total in this group: 40
Expected: 40

Constraints:
{'constraint_name': 'Constraint_no_inflow_source_887_1', 'variables': ['flow_timber_node23node28_t1', 'flow_timber_node6node28_t1', 'flow_timber_node12node28_t1', 'flow_timber_node4node28_t1', 'flow_wide_node23node28_t1', 'flow_wide_node6node28_t1', 'flow_wide_node12node28_t1', 'flow_wide_node4node28_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_890_1', 'variables': ['flow_timber_node11node29_t1', 'flow_timber_node20node29_t1', 'flow_timber_node22node29_t1', 'flow_wide_node11node29_t1', 'flow_wide_node20node29_t1', 'flow_wide_node22node29_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_891_1', 'variables': ['flow_timber_node11node30_t1', 'flow_timber_node1node30_t1', 'flow_timber_node10node30_t1', 'flow_timber_node21node30_t1', 'flow_timber_node3node30_t1', 'flow_timber_node22node30_t1', 'flow_timber_node6node30_t1', 'flow_timber_node4node30_t1', 'flow_wide_node11node30_t1', 'flow_wide_node1node30_t1', 'flow_wide_node10node30_t1', 'flow_wide_node21node30_t1', 'flow_wide_node3node30_t1', 'flow_wide_node22node30_t1', 'flow_wide_node6node30_t1', 'flow_wide_node4node30_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_892_1', 'variables': ['flow_timber_node20node31_t1', 'flow_timber_node7node31_t1', 'flow_timber_node22node31_t1', 'flow_timber_node3node31_t1', 'flow_wide_node20node31_t1', 'flow_wide_node7node31_t1', 'flow_wide_node22node31_t1', 'flow_wide_node3node31_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_897_1', 'variables': ['flow_timber_node16node32_t1', 'flow_timber_node14node32_t1', 'flow_timber_node5node32_t1', 'flow_timber_node13node32_t1', 'flow_timber_node9node32_t1', 'flow_wide_node16node32_t1', 'flow_wide_node14node32_t1', 'flow_wide_node5node32_t1', 'flow_wide_node13node32_t1', 'flow_wide_node9node32_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1188_1', 'variables': ['flow_timber_node9node33_t1', 'flow_timber_node7node33_t1', 'flow_timber_node13node33_t1', 'flow_timber_node15node33_t1', 'flow_wide_node9node33_t1', 'flow_wide_node7node33_t1', 'flow_wide_node13node33_t1', 'flow_wide_node15node33_t1'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1499_1', 'variables': ['flow_timber_node5node34_t1', 'flow_timber_node14node34_t1', 'flow_timber_node18node34_t1', 'flow_wide_node5node34_t1', 'flow_wide_node14node34_t1', 'flow_wide_node18node34_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1500_1', 'variables': ['flow_timber_node18node35_t1', 'flow_timber_node5node35_t1', 'flow_timber_node16node35_t1', 'flow_wide_node18node35_t1', 'flow_wide_node5node35_t1', 'flow_wide_node16node35_t1'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_887_2', 'variables': ['flow_timber_node23node28_t2', 'flow_timber_node6node28_t2', 'flow_timber_node12node28_t2', 'flow_timber_node4node28_t2', 'flow_wide_node23node28_t2', 'flow_wide_node6node28_t2', 'flow_wide_node12node28_t2', 'flow_wide_node4node28_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_890_2', 'variables': ['flow_timber_node11node29_t2', 'flow_timber_node20node29_t2', 'flow_timber_node22node29_t2', 'flow_wide_node11node29_t2', 'flow_wide_node20node29_t2', 'flow_wide_node22node29_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_891_2', 'variables': ['flow_timber_node11node30_t2', 'flow_timber_node1node30_t2', 'flow_timber_node10node30_t2', 'flow_timber_node21node30_t2', 'flow_timber_node3node30_t2', 'flow_timber_node22node30_t2', 'flow_timber_node6node30_t2', 'flow_timber_node4node30_t2', 'flow_wide_node11node30_t2', 'flow_wide_node1node30_t2', 'flow_wide_node10node30_t2', 'flow_wide_node21node30_t2', 'flow_wide_node3node30_t2', 'flow_wide_node22node30_t2', 'flow_wide_node6node30_t2', 'flow_wide_node4node30_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_892_2', 'variables': ['flow_timber_node20node31_t2', 'flow_timber_node7node31_t2', 'flow_timber_node22node31_t2', 'flow_timber_node3node31_t2', 'flow_wide_node20node31_t2', 'flow_wide_node7node31_t2', 'flow_wide_node22node31_t2', 'flow_wide_node3node31_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_897_2', 'variables': ['flow_timber_node16node32_t2', 'flow_timber_node14node32_t2', 'flow_timber_node5node32_t2', 'flow_timber_node13node32_t2', 'flow_timber_node9node32_t2', 'flow_wide_node16node32_t2', 'flow_wide_node14node32_t2', 'flow_wide_node5node32_t2', 'flow_wide_node13node32_t2', 'flow_wide_node9node32_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1188_2', 'variables': ['flow_timber_node9node33_t2', 'flow_timber_node7node33_t2', 'flow_timber_node13node33_t2', 'flow_timber_node15node33_t2', 'flow_wide_node9node33_t2', 'flow_wide_node7node33_t2', 'flow_wide_node13node33_t2', 'flow_wide_node15node33_t2'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1499_2', 'variables': ['flow_timber_node5node34_t2', 'flow_timber_node14node34_t2', 'flow_timber_node18node34_t2', 'flow_wide_node5node34_t2', 'flow_wide_node14node34_t2', 'flow_wide_node18node34_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1500_2', 'variables': ['flow_timber_node18node35_t2', 'flow_timber_node5node35_t2', 'flow_timber_node16node35_t2', 'flow_wide_node18node35_t2', 'flow_wide_node5node35_t2', 'flow_wide_node16node35_t2'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_887_3', 'variables': ['flow_timber_node23node28_t3', 'flow_timber_node6node28_t3', 'flow_timber_node12node28_t3', 'flow_timber_node4node28_t3', 'flow_wide_node23node28_t3', 'flow_wide_node6node28_t3', 'flow_wide_node12node28_t3', 'flow_wide_node4node28_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_890_3', 'variables': ['flow_timber_node11node29_t3', 'flow_timber_node20node29_t3', 'flow_timber_node22node29_t3', 'flow_wide_node11node29_t3', 'flow_wide_node20node29_t3', 'flow_wide_node22node29_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_891_3', 'variables': ['flow_timber_node11node30_t3', 'flow_timber_node1node30_t3', 'flow_timber_node10node30_t3', 'flow_timber_node21node30_t3', 'flow_timber_node3node30_t3', 'flow_timber_node22node30_t3', 'flow_timber_node6node30_t3', 'flow_timber_node4node30_t3', 'flow_wide_node11node30_t3', 'flow_wide_node1node30_t3', 'flow_wide_node10node30_t3', 'flow_wide_node21node30_t3', 'flow_wide_node3node30_t3', 'flow_wide_node22node30_t3', 'flow_wide_node6node30_t3', 'flow_wide_node4node30_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_892_3', 'variables': ['flow_timber_node20node31_t3', 'flow_timber_node7node31_t3', 'flow_timber_node22node31_t3', 'flow_timber_node3node31_t3', 'flow_wide_node20node31_t3', 'flow_wide_node7node31_t3', 'flow_wide_node22node31_t3', 'flow_wide_node3node31_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_897_3', 'variables': ['flow_timber_node16node32_t3', 'flow_timber_node14node32_t3', 'flow_timber_node5node32_t3', 'flow_timber_node13node32_t3', 'flow_timber_node9node32_t3', 'flow_wide_node16node32_t3', 'flow_wide_node14node32_t3', 'flow_wide_node5node32_t3', 'flow_wide_node13node32_t3', 'flow_wide_node9node32_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1188_3', 'variables': ['flow_timber_node9node33_t3', 'flow_timber_node7node33_t3', 'flow_timber_node13node33_t3', 'flow_timber_node15node33_t3', 'flow_wide_node9node33_t3', 'flow_wide_node7node33_t3', 'flow_wide_node13node33_t3', 'flow_wide_node15node33_t3'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1499_3', 'variables': ['flow_timber_node5node34_t3', 'flow_timber_node14node34_t3', 'flow_timber_node18node34_t3', 'flow_wide_node5node34_t3', 'flow_wide_node14node34_t3', 'flow_wide_node18node34_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1500_3', 'variables': ['flow_timber_node18node35_t3', 'flow_timber_node5node35_t3', 'flow_timber_node16node35_t3', 'flow_wide_node18node35_t3', 'flow_wide_node5node35_t3', 'flow_wide_node16node35_t3'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_887_4', 'variables': ['flow_timber_node23node28_t4', 'flow_timber_node6node28_t4', 'flow_timber_node12node28_t4', 'flow_timber_node4node28_t4', 'flow_wide_node23node28_t4', 'flow_wide_node6node28_t4', 'flow_wide_node12node28_t4', 'flow_wide_node4node28_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_890_4', 'variables': ['flow_timber_node11node29_t4', 'flow_timber_node20node29_t4', 'flow_timber_node22node29_t4', 'flow_wide_node11node29_t4', 'flow_wide_node20node29_t4', 'flow_wide_node22node29_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_891_4', 'variables': ['flow_timber_node11node30_t4', 'flow_timber_node1node30_t4', 'flow_timber_node10node30_t4', 'flow_timber_node21node30_t4', 'flow_timber_node3node30_t4', 'flow_timber_node22node30_t4', 'flow_timber_node6node30_t4', 'flow_timber_node4node30_t4', 'flow_wide_node11node30_t4', 'flow_wide_node1node30_t4', 'flow_wide_node10node30_t4', 'flow_wide_node21node30_t4', 'flow_wide_node3node30_t4', 'flow_wide_node22node30_t4', 'flow_wide_node6node30_t4', 'flow_wide_node4node30_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_892_4', 'variables': ['flow_timber_node20node31_t4', 'flow_timber_node7node31_t4', 'flow_timber_node22node31_t4', 'flow_timber_node3node31_t4', 'flow_wide_node20node31_t4', 'flow_wide_node7node31_t4', 'flow_wide_node22node31_t4', 'flow_wide_node3node31_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_897_4', 'variables': ['flow_timber_node16node32_t4', 'flow_timber_node14node32_t4', 'flow_timber_node5node32_t4', 'flow_timber_node13node32_t4', 'flow_timber_node9node32_t4', 'flow_wide_node16node32_t4', 'flow_wide_node14node32_t4', 'flow_wide_node5node32_t4', 'flow_wide_node13node32_t4', 'flow_wide_node9node32_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1188_4', 'variables': ['flow_timber_node9node33_t4', 'flow_timber_node7node33_t4', 'flow_timber_node13node33_t4', 'flow_timber_node15node33_t4', 'flow_wide_node9node33_t4', 'flow_wide_node7node33_t4', 'flow_wide_node13node33_t4', 'flow_wide_node15node33_t4'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1499_4', 'variables': ['flow_timber_node5node34_t4', 'flow_timber_node14node34_t4', 'flow_timber_node18node34_t4', 'flow_wide_node5node34_t4', 'flow_wide_node14node34_t4', 'flow_wide_node18node34_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1500_4', 'variables': ['flow_timber_node18node35_t4', 'flow_timber_node5node35_t4', 'flow_timber_node16node35_t4', 'flow_wide_node18node35_t4', 'flow_wide_node5node35_t4', 'flow_wide_node16node35_t4'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_887_5', 'variables': ['flow_timber_node23node28_t5', 'flow_timber_node6node28_t5', 'flow_timber_node12node28_t5', 'flow_timber_node4node28_t5', 'flow_wide_node23node28_t5', 'flow_wide_node6node28_t5', 'flow_wide_node12node28_t5', 'flow_wide_node4node28_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_890_5', 'variables': ['flow_timber_node11node29_t5', 'flow_timber_node20node29_t5', 'flow_timber_node22node29_t5', 'flow_wide_node11node29_t5', 'flow_wide_node20node29_t5', 'flow_wide_node22node29_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_891_5', 'variables': ['flow_timber_node11node30_t5', 'flow_timber_node1node30_t5', 'flow_timber_node10node30_t5', 'flow_timber_node21node30_t5', 'flow_timber_node3node30_t5', 'flow_timber_node22node30_t5', 'flow_timber_node6node30_t5', 'flow_timber_node4node30_t5', 'flow_wide_node11node30_t5', 'flow_wide_node1node30_t5', 'flow_wide_node10node30_t5', 'flow_wide_node21node30_t5', 'flow_wide_node3node30_t5', 'flow_wide_node22node30_t5', 'flow_wide_node6node30_t5', 'flow_wide_node4node30_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_892_5', 'variables': ['flow_timber_node20node31_t5', 'flow_timber_node7node31_t5', 'flow_timber_node22node31_t5', 'flow_timber_node3node31_t5', 'flow_wide_node20node31_t5', 'flow_wide_node7node31_t5', 'flow_wide_node22node31_t5', 'flow_wide_node3node31_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_897_5', 'variables': ['flow_timber_node16node32_t5', 'flow_timber_node14node32_t5', 'flow_timber_node5node32_t5', 'flow_timber_node13node32_t5', 'flow_timber_node9node32_t5', 'flow_wide_node16node32_t5', 'flow_wide_node14node32_t5', 'flow_wide_node5node32_t5', 'flow_wide_node13node32_t5', 'flow_wide_node9node32_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1188_5', 'variables': ['flow_timber_node9node33_t5', 'flow_timber_node7node33_t5', 'flow_timber_node13node33_t5', 'flow_timber_node15node33_t5', 'flow_wide_node9node33_t5', 'flow_wide_node7node33_t5', 'flow_wide_node13node33_t5', 'flow_wide_node15node33_t5'], 'coefficients': [1, 1, 1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1499_5', 'variables': ['flow_timber_node5node34_t5', 'flow_timber_node14node34_t5', 'flow_timber_node18node34_t5', 'flow_wide_node5node34_t5', 'flow_wide_node14node34_t5', 'flow_wide_node18node34_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
{'constraint_name': 'Constraint_no_inflow_source_1500_5', 'variables': ['flow_timber_node18node35_t5', 'flow_timber_node5node35_t5', 'flow_timber_node16node35_t5', 'flow_wide_node18node35_t5', 'flow_wide_node5node35_t5', 'flow_wide_node16node35_t5'], 'coefficients': [1, 1, 1, 1, 1, 1]}
